In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../scraping/scrape2020final_team_allrnd.csv')

In [3]:
df

,rank,team,vault,unevenbars,bb,floor,Total
0,NaN,roc,43.799 (1),44.699 (1),39.532 (4),41.498 (1),169.528
1,NaN,Lilia Akhaimova(ROC),14.733,NaN,NaN,NaN,NaN
2,NaN,Viktoria Listunova(ROC),NaN,14.9,14.333,14.166,NaN
3,NaN,Angelina Melnikova(ROC),14.6,14.933,12.566,13.966,NaN
4,NaN,Vladislava Urazova(ROC),14.466,14.866,12.633,13.366,NaN
5,NaN,usa,42.732 (4),43.266 (2),41.232 (2),38.866 (8),166.096
6,NaN,Simone Biles(USA),13.766,NaN,NaN,NaN,NaN
7,NaN,Jordan Chiles(USA),14.666,14.166,13.433,11.7,NaN
8,NaN,Sunisa Lee(USA),NaN,15.4,14.133,13.666,NaN
9,NaN,Grace McCallum(USA),14.3,13.7,13.666,13.5,NaN
10,NaN,uk,43.132 (3),41.765 (3),38.866 (6),40.333 (3),164.096
11,NaN,Jennifer Gadirova(GBR),14.433,NaN,13.3,13.7,NaN
12,NaN,Jessica Gadirova(GBR),14.433,13.566,NaN,13.833,NaN
13,NaN,Alice Kinsella(GBR),14.266,14.166,13.333,12.8,NaN
14,NaN,Amelie Morgan(GBR),NaN,14.033,12.233,NaN,NaN
15,4.0,italy,42.665 (5),41.499 (5),39.108 (5),40.366 (2),163.638
16,NaN,Alice D'Amato(ITA),14.166,14.166,13.133,13.1,NaN
17,NaN,Asia D'Amato(ITA),14.266,13.9,12.9,13.166,NaN
18,NaN,Vanessa Ferrari(ITA),14.233,NaN,NaN,14.1,NaN
19,NaN,Martina Maggio(ITA),NaN,13.433,13.075,NaN,NaN
20,5.0,japan,42.349 (6),40.133 (8),40.732 (3),40.066 (4),163.280
21,NaN,Hitomi Hatakeda(JPN),NaN,14.1,13.333,12.8,NaN
22,NaN,Yuna Hiraiwa(JPN),13.9,NaN,13.566,NaN,NaN
23,NaN,Mai Murakami(JPN),14.266,12.7,13.833,14.066,NaN
24,NaN,Aiko Sugihara(JPN),14.183,13.333,NaN,13.2,NaN
25,6.0,france,43.600 (2),41.399 (6),38.465 (7),39.800 (5),163.264
26,NaN,Marine Boyer(FRA),NaN,NaN,12.066,13,NaN
27,NaN,Mélanie de Jesus dos Santos(FRA),14.5,14.2,13.566,13.7,NaN
28,NaN,Aline Friess(FRA),14.9,13.733,NaN,NaN,NaN
29,NaN,Carolann Héduit(FRA),14.2,13.466,12.833,13.1,NaN
30,7.0,china,39.366 (8),41.066 (7),41.599 (1),39.165 (7),161.196
31,NaN,Lu Yufei(CHN),NaN,13.333,13.966,13.166,NaN
32,NaN,Ou Yushan(CHN),12.7,13.233,NaN,NaN,NaN
33,NaN,Tang Xijing(CHN),12.6,14.5,13.733,12.866,NaN
34,NaN,Zhang Jin(CHN),14.066,NaN,13.9,13.133,NaN
35,8.0,belgium,41.732 (7),41.632 (4),36.999 (8),39.332 (6),159.965
36,NaN,Maellyse Brassart(BEL),14.033,NaN,10.933,NaN,NaN
37,NaN,Nina Derwael(BEL),NaN,15.4,13.866,13.366,NaN
38,NaN,Lisa Vaelen(BEL),14.233,13.766,NaN,12.9,NaN
39,NaN,Jutta Verkest(BEL),13.466,12.466,12.2,13.066,NaN

In [5]:
# Select rows 0 and 5 and create a new DataFrame
new_df = pd.concat([df.iloc[0], df.iloc[5], df.iloc[10], df.iloc[15], df.iloc[20],
                    df.iloc[25], df.iloc[30], df.iloc[35]], axis=1).transpose()

# Drop rows 0 and 5 from original DataFrame
df = df.drop([0, 5, 10, 15, 20, 25, 30, 35])

df = df.reset_index(drop=True)

df

,rank,team,vault,unevenbars,bb,floor,Total
0,NaN,Lilia Akhaimova(ROC),14.733,NaN,NaN,NaN,NaN
1,NaN,Viktoria Listunova(ROC),NaN,14.9,14.333,14.166,NaN
2,NaN,Angelina Melnikova(ROC),14.6,14.933,12.566,13.966,NaN
3,NaN,Vladislava Urazova(ROC),14.466,14.866,12.633,13.366,NaN
4,NaN,Simone Biles(USA),13.766,NaN,NaN,NaN,NaN
5,NaN,Jordan Chiles(USA),14.666,14.166,13.433,11.7,NaN
6,NaN,Sunisa Lee(USA),NaN,15.4,14.133,13.666,NaN
7,NaN,Grace McCallum(USA),14.3,13.7,13.666,13.5,NaN
8,NaN,Jennifer Gadirova(GBR),14.433,NaN,13.3,13.7,NaN
9,NaN,Jessica Gadirova(GBR),14.433,13.566,NaN,13.833,NaN
10,NaN,Alice Kinsella(GBR),14.266,14.166,13.333,12.8,NaN
11,NaN,Amelie Morgan(GBR),NaN,14.033,12.233,NaN,NaN
12,NaN,Alice D'Amato(ITA),14.166,14.166,13.133,13.1,NaN
13,NaN,Asia D'Amato(ITA),14.266,13.9,12.9,13.166,NaN
14,NaN,Vanessa Ferrari(ITA),14.233,NaN,NaN,14.1,NaN
15,NaN,Martina Maggio(ITA),NaN,13.433,13.075,NaN,NaN
16,NaN,Hitomi Hatakeda(JPN),NaN,14.1,13.333,12.8,NaN
17,NaN,Yuna Hiraiwa(JPN),13.9,NaN,13.566,NaN,NaN
18,NaN,Mai Murakami(JPN),14.266,12.7,13.833,14.066,NaN
19,NaN,Aiko Sugihara(JPN),14.183,13.333,NaN,13.2,NaN
20,NaN,Marine Boyer(FRA),NaN,NaN,12.066,13,NaN
21,NaN,Mélanie de Jesus dos Santos(FRA),14.5,14.2,13.566,13.7,NaN
22,NaN,Aline Friess(FRA),14.9,13.733,NaN,NaN,NaN
23,NaN,Carolann Héduit(FRA),14.2,13.466,12.833,13.1,NaN
24,NaN,Lu Yufei(CHN),NaN,13.333,13.966,13.166,NaN
25,NaN,Ou Yushan(CHN),12.7,13.233,NaN,NaN,NaN
26,NaN,Tang Xijing(CHN),12.6,14.5,13.733,12.866,NaN
27,NaN,Zhang Jin(CHN),14.066,NaN,13.9,13.133,NaN
28,NaN,Maellyse Brassart(BEL),14.033,NaN,10.933,NaN,NaN
29,NaN,Nina Derwael(BEL),NaN,15.4,13.866,13.366,NaN
30,NaN,Lisa Vaelen(BEL),14.233,13.766,NaN,12.9,NaN
31,NaN,Jutta Verkest(BEL),13.466,12.466,12.2,13.066,NaN

In [6]:
df.fillna(0, inplace=True)

In [7]:
df

,rank,team,vault,unevenbars,bb,floor,Total
0,0.0,Lilia Akhaimova(ROC),14.733,0,0,0,0.0
1,0.0,Viktoria Listunova(ROC),0,14.9,14.333,14.166,0.0
2,0.0,Angelina Melnikova(ROC),14.6,14.933,12.566,13.966,0.0
3,0.0,Vladislava Urazova(ROC),14.466,14.866,12.633,13.366,0.0
4,0.0,Simone Biles(USA),13.766,0,0,0,0.0
5,0.0,Jordan Chiles(USA),14.666,14.166,13.433,11.7,0.0
6,0.0,Sunisa Lee(USA),0,15.4,14.133,13.666,0.0
7,0.0,Grace McCallum(USA),14.3,13.7,13.666,13.5,0.0
8,0.0,Jennifer Gadirova(GBR),14.433,0,13.3,13.7,0.0
9,0.0,Jessica Gadirova(GBR),14.433,13.566,0,13.833,0.0
10,0.0,Alice Kinsella(GBR),14.266,14.166,13.333,12.8,0.0
11,0.0,Amelie Morgan(GBR),0,14.033,12.233,0,0.0
12,0.0,Alice D'Amato(ITA),14.166,14.166,13.133,13.1,0.0
13,0.0,Asia D'Amato(ITA),14.266,13.9,12.9,13.166,0.0
14,0.0,Vanessa Ferrari(ITA),14.233,0,0,14.1,0.0
15,0.0,Martina Maggio(ITA),0,13.433,13.075,0,0.0
16,0.0,Hitomi Hatakeda(JPN),0,14.1,13.333,12.8,0.0
17,0.0,Yuna Hiraiwa(JPN),13.9,0,13.566,0,0.0
18,0.0,Mai Murakami(JPN),14.266,12.7,13.833,14.066,0.0
19,0.0,Aiko Sugihara(JPN),14.183,13.333,0,13.2,0.0
20,0.0,Marine Boyer(FRA),0,0,12.066,13,0.0
21,0.0,Mélanie de Jesus dos Santos(FRA),14.5,14.2,13.566,13.7,0.0
22,0.0,Aline Friess(FRA),14.9,13.733,0,0,0.0
23,0.0,Carolann Héduit(FRA),14.2,13.466,12.833,13.1,0.0
24,0.0,Lu Yufei(CHN),0,13.333,13.966,13.166,0.0
25,0.0,Ou Yushan(CHN),12.7,13.233,0,0,0.0
26,0.0,Tang Xijing(CHN),12.6,14.5,13.733,12.866,0.0
27,0.0,Zhang Jin(CHN),14.066,0,13.9,13.133,0.0
28,0.0,Maellyse Brassart(BEL),14.033,0,10.933,0,0.0
29,0.0,Nina Derwael(BEL),0,15.4,13.866,13.366,0.0
30,0.0,Lisa Vaelen(BEL),14.233,13.766,0,12.9,0.0
31,0.0,Jutta Verkest(BEL),13.466,12.466,12.2,13.066,0.0

In [9]:
# Extract data within parentheses and store it in a new column
df["Country"] = df['team'].str.extract(r'\((.*?)\)')
df['team'] = df['team'].apply(lambda x: x.split('(')[0].strip())
df

,rank,team,vault,unevenbars,bb,floor,Total,Country
0,0.0,Lilia Akhaimova,14.733,0,0,0,0.0,ROC
1,0.0,Viktoria Listunova,0,14.9,14.333,14.166,0.0,ROC
2,0.0,Angelina Melnikova,14.6,14.933,12.566,13.966,0.0,ROC
3,0.0,Vladislava Urazova,14.466,14.866,12.633,13.366,0.0,ROC
4,0.0,Simone Biles,13.766,0,0,0,0.0,USA
5,0.0,Jordan Chiles,14.666,14.166,13.433,11.7,0.0,USA
6,0.0,Sunisa Lee,0,15.4,14.133,13.666,0.0,USA
7,0.0,Grace McCallum,14.3,13.7,13.666,13.5,0.0,USA
8,0.0,Jennifer Gadirova,14.433,0,13.3,13.7,0.0,GBR
9,0.0,Jessica Gadirova,14.433,13.566,0,13.833,0.0,GBR
10,0.0,Alice Kinsella,14.266,14.166,13.333,12.8,0.0,GBR
11,0.0,Amelie Morgan,0,14.033,12.233,0,0.0,GBR
12,0.0,Alice D'Amato,14.166,14.166,13.133,13.1,0.0,ITA
13,0.0,Asia D'Amato,14.266,13.9,12.9,13.166,0.0,ITA
14,0.0,Vanessa Ferrari,14.233,0,0,14.1,0.0,ITA
15,0.0,Martina Maggio,0,13.433,13.075,0,0.0,ITA
16,0.0,Hitomi Hatakeda,0,14.1,13.333,12.8,0.0,JPN
17,0.0,Yuna Hiraiwa,13.9,0,13.566,0,0.0,JPN
18,0.0,Mai Murakami,14.266,12.7,13.833,14.066,0.0,JPN
19,0.0,Aiko Sugihara,14.183,13.333,0,13.2,0.0,JPN
20,0.0,Marine Boyer,0,0,12.066,13,0.0,FRA
21,0.0,Mélanie de Jesus dos Santos,14.5,14.2,13.566,13.7,0.0,FRA
22,0.0,Aline Friess,14.9,13.733,0,0,0.0,FRA
23,0.0,Carolann Héduit,14.2,13.466,12.833,13.1,0.0,FRA
24,0.0,Lu Yufei,0,13.333,13.966,13.166,0.0,CHN
25,0.0,Ou Yushan,12.7,13.233,0,0,0.0,CHN
26,0.0,Tang Xijing,12.6,14.5,13.733,12.866,0.0,CHN
27,0.0,Zhang Jin,14.066,0,13.9,13.133,0.0,CHN
28,0.0,Maellyse Brassart,14.033,0,10.933,0,0.0,BEL
29,0.0,Nina Derwael,0,15.4,13.866,13.366,0.0,BEL
30,0.0,Lisa Vaelen,14.233,13.766,0,12.9,0.0,BEL
31,0.0,Jutta Verkest,13.466,12.466,12.2,13.066,0.0,BEL

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        32 non-null     float64
 1   team        32 non-null     object
 2   vault       32 non-null     object
 3   unevenbars  32 non-null     object
 4   bb          32 non-null     object
 5   floor       32 non-null     object
 6   Total       32 non-null     float64
 7   Country     32 non-null     object
dtypes: float64(2), object(6)
memory usage: 2.1+ KB

In [12]:
df['vault'] = df['vault'].astype(float)
df['unevenbars'] = df['unevenbars'].astype(float)
df['bb'] = df['bb'].astype(float)
df['floor'] = df['floor'].astype(float)

In [13]:
# function calculate 'Total'
def calculate_total(row):
    return row['vault'] + row['unevenbars'] + row['bb'] + row['floor']

# Apply function to each row and update  'Total' column
df['Total'] = df.apply(lambda row: calculate_total(row), axis=1)

df

,rank,team,vault,unevenbars,bb,floor,Total,Country
0,0.0,Lilia Akhaimova,14.733,0.000,0.000,0.000,14.733,ROC
1,0.0,Viktoria Listunova,0.000,14.900,14.333,14.166,43.399,ROC
2,0.0,Angelina Melnikova,14.600,14.933,12.566,13.966,56.065,ROC
3,0.0,Vladislava Urazova,14.466,14.866,12.633,13.366,55.331,ROC
4,0.0,Simone Biles,13.766,0.000,0.000,0.000,13.766,USA
5,0.0,Jordan Chiles,14.666,14.166,13.433,11.700,53.965,USA
6,0.0,Sunisa Lee,0.000,15.400,14.133,13.666,43.199,USA
7,0.0,Grace McCallum,14.300,13.700,13.666,13.500,55.166,USA
8,0.0,Jennifer Gadirova,14.433,0.000,13.300,13.700,41.433,GBR
9,0.0,Jessica Gadirova,14.433,13.566,0.000,13.833,41.832,GBR
10,0.0,Alice Kinsella,14.266,14.166,13.333,12.800,54.565,GBR
11,0.0,Amelie Morgan,0.000,14.033,12.233,0.000,26.266,GBR
12,0.0,Alice D'Amato,14.166,14.166,13.133,13.100,54.565,ITA
13,0.0,Asia D'Amato,14.266,13.900,12.900,13.166,54.232,ITA
14,0.0,Vanessa Ferrari,14.233,0.000,0.000,14.100,28.333,ITA
15,0.0,Martina Maggio,0.000,13.433,13.075,0.000,26.508,ITA
16,0.0,Hitomi Hatakeda,0.000,14.100,13.333,12.800,40.233,JPN
17,0.0,Yuna Hiraiwa,13.900,0.000,13.566,0.000,27.466,JPN
18,0.0,Mai Murakami,14.266,12.700,13.833,14.066,54.865,JPN
19,0.0,Aiko Sugihara,14.183,13.333,0.000,13.200,40.716,JPN
20,0.0,Marine Boyer,0.000,0.000,12.066,13.000,25.066,FRA
21,0.0,Mélanie de Jesus dos Santos,14.500,14.200,13.566,13.700,55.966,FRA
22,0.0,Aline Friess,14.900,13.733,0.000,0.000,28.633,FRA
23,0.0,Carolann Héduit,14.200,13.466,12.833,13.100,53.599,FRA
24,0.0,Lu Yufei,0.000,13.333,13.966,13.166,40.465,CHN
25,0.0,Ou Yushan,12.700,13.233,0.000,0.000,25.933,CHN
26,0.0,Tang Xijing,12.600,14.500,13.733,12.866,53.699,CHN
27,0.0,Zhang Jin,14.066,0.000,13.900,13.133,41.099,CHN
28,0.0,Maellyse Brassart,14.033,0.000,10.933,0.000,24.966,BEL
29,0.0,Nina Derwael,0.000,15.400,13.866,13.366,42.632,BEL
30,0.0,Lisa Vaelen,14.233,13.766,0.000,12.900,40.899,BEL
31,0.0,Jutta Verkest,13.466,12.466,12.200,13.066,51.198,BEL

In [17]:
df["Country"].unique()

array(['ROC', 'USA', 'GBR', 'ITA', 'JPN', 'FRA', 'CHN', 'BEL'],
      dtype=object)

In [18]:
# ap 'Country' to 'rank'
country_rank_mapping = {
    'ROC': 1,
    'USA': 2,
    'GBR': 3,
    'ITA': 4,
    'JPN': 5,
    'FRA': 6,
    'CHN': 7,
    'BEL': 8
}

# Replace 'Country' values with corresponding ranks
df['rank'] = df['Country'].replace(country_rank_mapping)
df

,rank,team,vault,unevenbars,bb,floor,Total,Country
0,1,Lilia Akhaimova,14.733,0.000,0.000,0.000,14.733,ROC
1,1,Viktoria Listunova,0.000,14.900,14.333,14.166,43.399,ROC
2,1,Angelina Melnikova,14.600,14.933,12.566,13.966,56.065,ROC
3,1,Vladislava Urazova,14.466,14.866,12.633,13.366,55.331,ROC
4,2,Simone Biles,13.766,0.000,0.000,0.000,13.766,USA
5,2,Jordan Chiles,14.666,14.166,13.433,11.700,53.965,USA
6,2,Sunisa Lee,0.000,15.400,14.133,13.666,43.199,USA
7,2,Grace McCallum,14.300,13.700,13.666,13.500,55.166,USA
8,3,Jennifer Gadirova,14.433,0.000,13.300,13.700,41.433,GBR
9,3,Jessica Gadirova,14.433,13.566,0.000,13.833,41.832,GBR
10,3,Alice Kinsella,14.266,14.166,13.333,12.800,54.565,GBR
11,3,Amelie Morgan,0.000,14.033,12.233,0.000,26.266,GBR
12,4,Alice D'Amato,14.166,14.166,13.133,13.100,54.565,ITA
13,4,Asia D'Amato,14.266,13.900,12.900,13.166,54.232,ITA
14,4,Vanessa Ferrari,14.233,0.000,0.000,14.100,28.333,ITA
15,4,Martina Maggio,0.000,13.433,13.075,0.000,26.508,ITA
16,5,Hitomi Hatakeda,0.000,14.100,13.333,12.800,40.233,JPN
17,5,Yuna Hiraiwa,13.900,0.000,13.566,0.000,27.466,JPN
18,5,Mai Murakami,14.266,12.700,13.833,14.066,54.865,JPN
19,5,Aiko Sugihara,14.183,13.333,0.000,13.200,40.716,JPN
20,6,Marine Boyer,0.000,0.000,12.066,13.000,25.066,FRA
21,6,Mélanie de Jesus dos Santos,14.500,14.200,13.566,13.700,55.966,FRA
22,6,Aline Friess,14.900,13.733,0.000,0.000,28.633,FRA
23,6,Carolann Héduit,14.200,13.466,12.833,13.100,53.599,FRA
24,7,Lu Yufei,0.000,13.333,13.966,13.166,40.465,CHN
25,7,Ou Yushan,12.700,13.233,0.000,0.000,25.933,CHN
26,7,Tang Xijing,12.600,14.500,13.733,12.866,53.699,CHN
27,7,Zhang Jin,14.066,0.000,13.900,13.133,41.099,CHN
28,8,Maellyse Brassart,14.033,0.000,10.933,0.000,24.966,BEL
29,8,Nina Derwael,0.000,15.400,13.866,13.366,42.632,BEL
30,8,Lisa Vaelen,14.233,13.766,0.000,12.900,40.899,BEL
31,8,Jutta Verkest,13.466,12.466,12.200,13.066,51.198,BEL

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        32 non-null     int64
 1   team        32 non-null     object
 2   vault       32 non-null     float64
 3   unevenbars  32 non-null     float64
 4   bb          32 non-null     float64
 5   floor       32 non-null     float64
 6   Total       32 non-null     float64
 7   Country     32 non-null     object
dtypes: float64(5), int64(1), object(2)
memory usage: 2.1+ KB

In [20]:
# df.to_csv('clean2020final_team_allrnd.csv', index=False)  # Set index=False to exclude index column