In [3]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("../../Data/cleandata22-23/data_2017_2021.csv")

In [7]:
df.head()

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,AAqual,"Tokyo, Japan",BB,76.0,4.8,6.766,NaN,11.566
1,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,AAqual,"Tokyo, Japan",FX,64.0,4.6,7.633,NaN,12.233
2,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,AAqual,"Tokyo, Japan",UE,74.0,5.1,6.500,NaN,11.600
3,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,AAqual,"Tokyo, Japan",VT,72.0,4.6,8.566,NaN,13.166
4,ABDUL HADI,Farah Ann,w,MAS,25 July 2021,Olympic Games,qual,"Tokyo, Japan",BB,76.0,4.8,6.766,NaN,11.566

In [8]:
df["Gender"].value_counts()

Gender
w    1049
Name: count, dtype: int64

In [9]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_14254/579959469.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049 entries, 0 to 1048
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     1049 non-null   object
 1   FirstName    1041 non-null   object
 2   Gender       1049 non-null   object
 3   Country      1049 non-null   object
 4   Date         1049 non-null   datetime64[ns]
 5   Competition  1049 non-null   object
 6   Round        1049 non-null   object
 7   Location     1049 non-null   object
 8   Apparatus    1049 non-null   object
 9   Rank         761 non-null    float64
 10  D_Score      1045 non-null   float64
 11  E_Score      1045 non-null   float64
 12  Penalty      115 non-null    float64
 13  Score        1042 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(8)
memory usage: 114.9+ KB

In [11]:
df.head()

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",BB,76.0,4.8,6.766,NaN,11.566
1,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",FX,64.0,4.6,7.633,NaN,12.233
2,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",UE,74.0,5.1,6.500,NaN,11.600
3,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",VT,72.0,4.6,8.566,NaN,13.166
4,ABDUL HADI,Farah Ann,w,MAS,2021-07-25,Olympic Games,qual,"Tokyo, Japan",BB,76.0,4.8,6.766,NaN,11.566

In [12]:
df["Competition"].value_counts()

Competition
Olympic Games    1049
Name: count, dtype: int64

In [13]:
df["Apparatus"].value_counts()

Apparatus
BB     276
FX     270
UE     203
VT     175
UB      71
VT1     27
VT2     27
Name: count, dtype: int64

In [14]:
# # Define the values to be replaced and their replacements
# replace_dict = {'VT1': 'VT', 'VT2': 'VT'}

# # Use .replace() with the defined dictionary
# df['Apparatus'] = df['Apparatus'].replace(replace_dict)

In [15]:
df["Apparatus"].value_counts()

Apparatus
BB     276
FX     270
UE     203
VT     175
UB      71
VT1     27
VT2     27
Name: count, dtype: int64

In [16]:
df["FirstName"].nunique()

101

In [17]:
df["LastName"].nunique()

102

In [18]:
df["FirstName"].isnull().sum()

8

In [19]:
df["LastName"].isnull().sum()

0

In [20]:
df["Name"] = df["FirstName"] + ' ' + df['LastName']

In [21]:
df = df.drop(columns=["FirstName", "LastName"])

In [22]:
df["Competition"].value_counts()

Competition
Olympic Games    1049
Name: count, dtype: int64

In [23]:
df["Round"].value_counts()

Round
AAqual       320
qual         309
TeamQual     188
TeamFinal     96
AAfinal       96
final         40
Name: count, dtype: int64

In [24]:
df["Location"].value_counts()

Location
Tokyo, Japan    1049
Name: count, dtype: int64

In [25]:
df.head()

,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Name
0,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",BB,76.0,4.8,6.766,NaN,11.566,HADI ABDUL
1,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",FX,64.0,4.6,7.633,NaN,12.233,HADI ABDUL
2,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",UE,74.0,5.1,6.500,NaN,11.600,HADI ABDUL
3,w,MAS,2021-07-25,Olympic Games,AAqual,"Tokyo, Japan",VT,72.0,4.6,8.566,NaN,13.166,HADI ABDUL
4,w,MAS,2021-07-25,Olympic Games,qual,"Tokyo, Japan",BB,76.0,4.8,6.766,NaN,11.566,Farah Ann ABDUL HADI

In [26]:
df["Date"].value_counts()

Date
2021-07-25    817
2021-08-01    136
2021-07-29     96
Name: count, dtype: int64

In [27]:
df = df.drop(columns=["Competition", "Location"])

In [28]:
# df = df.drop(columns=["Gender"])

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049 entries, 0 to 1048
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Gender     1049 non-null   object
 1   Country    1049 non-null   object
 2   Date       1049 non-null   datetime64[ns]
 3   Round      1049 non-null   object
 4   Apparatus  1049 non-null   object
 5   Rank       761 non-null    float64
 6   D_Score    1045 non-null   float64
 7   E_Score    1045 non-null   float64
 8   Penalty    115 non-null    float64
 9   Score      1042 non-null   float64
 10  Name       1041 non-null   object
dtypes: datetime64[ns](1), float64(5), object(5)
memory usage: 90.3+ KB

In [30]:
df.columns

Index(['Gender', 'Country', 'Date', 'Round', 'Apparatus', 'Rank', 'D_Score',
       'E_Score', 'Penalty', 'Score', 'Name'],
      dtype='object')

In [31]:
df = df[[ 'Name','Country', 'Gender',  'Date', 'Round', 'Apparatus', 'Rank', 'D_Score',
       'E_Score', 'Penalty', 'Score',]]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049 entries, 0 to 1048
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       1041 non-null   object
 1   Country    1049 non-null   object
 2   Gender     1049 non-null   object
 3   Date       1049 non-null   datetime64[ns]
 4   Round      1049 non-null   object
 5   Apparatus  1049 non-null   object
 6   Rank       761 non-null    float64
 7   D_Score    1045 non-null   float64
 8   E_Score    1045 non-null   float64
 9   Penalty    115 non-null    float64
 10  Score      1042 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(5)
memory usage: 90.3+ KB

In [33]:
df['Penalty'].fillna(0, inplace=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049 entries, 0 to 1048
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       1041 non-null   object
 1   Country    1049 non-null   object
 2   Gender     1049 non-null   object
 3   Date       1049 non-null   datetime64[ns]
 4   Round      1049 non-null   object
 5   Apparatus  1049 non-null   object
 6   Rank       761 non-null    float64
 7   D_Score    1045 non-null   float64
 8   E_Score    1045 non-null   float64
 9   Penalty    1049 non-null   float64
 10  Score      1042 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(5)
memory usage: 90.3+ KB

In [35]:
df.dropna(inplace=True)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 758 entries, 0 to 1048
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       758 non-null    object
 1   Country    758 non-null    object
 2   Gender     758 non-null    object
 3   Date       758 non-null    datetime64[ns]
 4   Round      758 non-null    object
 5   Apparatus  758 non-null    object
 6   Rank       758 non-null    float64
 7   D_Score    758 non-null    float64
 8   E_Score    758 non-null    float64
 9   Penalty    758 non-null    float64
 10  Score      758 non-null    float64
dtypes: datetime64[ns](1), float64(5), object(5)
memory usage: 71.1+ KB

In [45]:
# df.to_csv('usopc_clean_women_olympic.csv', index=False)

In [43]:
usa=df[df["Country"]=="USA"]

In [44]:
# usa.to_csv('usopc_usa_women_olympic.csv', index=False)