In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
df = pd.read_csv('../../scraping/women/gymnasts_results/blakely/blakely21.csv')

In [4]:
df

,Date,Competition,Unnamed: 2,VT,UB,BB,FX,AA
0,Jun 3-6,U.S. Championships,AA,14.55,13.60,14.25,13.30,55.70
1,Jun 3-6,U.S. Championships,QF,14.70,12.95,12.75,13.45,53.85
2,May 21-22,U.S. Classic,AA,14.00,14.05,12.65,13.30,54.00
3,24-Apr,American Classic,AA,13.85,14.10,14.30,13.10,55.35
4,13-Mar,March National Team Camp,AA,14.35,0.00,14.60,11.95,0.00
5,Feb 26-28,Winter Cup,AA,0.00,0.00,14.50,12.65,0.00

In [5]:
df["Year"] = 2021

In [6]:
df["Name"] = "Skye Blakely"

In [7]:
df

,Date,Competition,Unnamed: 2,VT,UB,BB,FX,AA,Year,Name
0,Jun 3-6,U.S. Championships,AA,14.55,13.60,14.25,13.30,55.70,2021,Skye Blakely
1,Jun 3-6,U.S. Championships,QF,14.70,12.95,12.75,13.45,53.85,2021,Skye Blakely
2,May 21-22,U.S. Classic,AA,14.00,14.05,12.65,13.30,54.00,2021,Skye Blakely
3,24-Apr,American Classic,AA,13.85,14.10,14.30,13.10,55.35,2021,Skye Blakely
4,13-Mar,March National Team Camp,AA,14.35,0.00,14.60,11.95,0.00,2021,Skye Blakely
5,Feb 26-28,Winter Cup,AA,0.00,0.00,14.50,12.65,0.00,2021,Skye Blakely

In [4]:
df2 = pd.read_csv('../../scraping/women/gymnasts_results/blakely/blakely22.csv')

In [9]:
df2

,Date,Competition,Unnamed: 2,VT,UB,BB,FX,AA
0,Oct 29-Nov 6,World Championships,EF,0.000,0.000,13.300,0.000,0.000
1,Oct 29-Nov 6,World Championships,TF,0.000,0.000,13.266,0.000,0.000
2,Oct 29-Nov 6,World Championships,QF,0.000,12.566,13.733,13.600,0.000
3,Oct 21-22,U.S. Worlds Trials,EF,0.000,14.200,14.550,0.000,0.000
4,Oct 21-22,U.S. Worlds Trials,AA,14.200,13.450,13.550,13.450,54.650
5,Aug 18-21,U.S. Championships,AA,14.300,13.900,12.950,13.450,54.600
6,Aug 18-21,U.S. Championships,QF,14.100,13.850,13.450,13.300,54.700
7,Jul 14-17,Pan American Championships,TF,13.867,13.900,13.067,13.100,53.934
8,Jul 14-17,Pan American Championships,AA,13.433,13.933,12.300,13.267,52.933
9,Jul 4-5,U.S. Pan Ams Trials,EF,0.000,12.266,0.000,0.000,0.000
10,Jul 4-5,U.S. Pan Ams Trials,AA,14.000,13.400,14.300,13.550,55.250
11,Mar 18-20,DTB Pokal Team Challenge,AA,14.266,12.000,12.900,13.366,52.532
12,Feb 24-27,Winter Cup,AA,13.800,13.150,13.500,13.250,53.700
13,12-Feb,WOGA Classic,AA,0.000,0.000,14.250,13.250,0.000

In [10]:
df2["Year"] = 2022

In [11]:
df2["Name"] = "Skye Blakely"

In [5]:
df3 = pd.read_csv('../../scraping/women/gymnasts_results/blakely/blakely23.csv')

In [13]:
df3

,Date,Competition,Unnamed: 2,VT,UB,BB,FX,AA
0,Aug 24-27,U.S. Championships,AA,14.25,14.40,14.20,12.2,55.05
1,Aug 24-27,U.S. Championships,QF,14.35,14.40,14.05,12.9,55.70
2,Aug 4-6,U.S. Classic,AA,14.10,14.35,14.30,0.0,0.00
3,Jul 9-12,July National Team Camp,AA,14.25,14.35,14.05,0.0,0.00
4,Feb 23-26,Winter Cup,AA,0.00,13.15,13.40,0.0,0.00
5,Feb 17-19,WOGA Classic,AA,0.00,14.70,13.45,0.0,0.00

In [14]:
df3["Year"] = 2023

In [15]:
df3["Name"] = "Skye Blakely"

In [16]:
result = pd.concat([df, df2, df3], ignore_index=True)

In [37]:
df = result.copy()

In [38]:
df.rename(columns={'Unnamed: 2': 'Round'}, inplace=True)

In [39]:
df

,Date,Competition,Round,VT,UB,BB,FX,AA,Year,Name
0,Jun 3-6,U.S. Championships,AA,14.550,13.600,14.250,13.300,55.700,2021,Skye Blakely
1,Jun 3-6,U.S. Championships,QF,14.700,12.950,12.750,13.450,53.850,2021,Skye Blakely
2,May 21-22,U.S. Classic,AA,14.000,14.050,12.650,13.300,54.000,2021,Skye Blakely
3,24-Apr,American Classic,AA,13.850,14.100,14.300,13.100,55.350,2021,Skye Blakely
4,13-Mar,March National Team Camp,AA,14.350,0.000,14.600,11.950,0.000,2021,Skye Blakely
5,Feb 26-28,Winter Cup,AA,0.000,0.000,14.500,12.650,0.000,2021,Skye Blakely
6,Oct 29-Nov 6,World Championships,EF,0.000,0.000,13.300,0.000,0.000,2022,Skye Blakely
7,Oct 29-Nov 6,World Championships,TF,0.000,0.000,13.266,0.000,0.000,2022,Skye Blakely
8,Oct 29-Nov 6,World Championships,QF,0.000,12.566,13.733,13.600,0.000,2022,Skye Blakely
9,Oct 21-22,U.S. Worlds Trials,EF,0.000,14.200,14.550,0.000,0.000,2022,Skye Blakely
10,Oct 21-22,U.S. Worlds Trials,AA,14.200,13.450,13.550,13.450,54.650,2022,Skye Blakely
11,Aug 18-21,U.S. Championships,AA,14.300,13.900,12.950,13.450,54.600,2022,Skye Blakely
12,Aug 18-21,U.S. Championships,QF,14.100,13.850,13.450,13.300,54.700,2022,Skye Blakely
13,Jul 14-17,Pan American Championships,TF,13.867,13.900,13.067,13.100,53.934,2022,Skye Blakely
14,Jul 14-17,Pan American Championships,AA,13.433,13.933,12.300,13.267,52.933,2022,Skye Blakely
15,Jul 4-5,U.S. Pan Ams Trials,EF,0.000,12.266,0.000,0.000,0.000,2022,Skye Blakely
16,Jul 4-5,U.S. Pan Ams Trials,AA,14.000,13.400,14.300,13.550,55.250,2022,Skye Blakely
17,Mar 18-20,DTB Pokal Team Challenge,AA,14.266,12.000,12.900,13.366,52.532,2022,Skye Blakely
18,Feb 24-27,Winter Cup,AA,13.800,13.150,13.500,13.250,53.700,2022,Skye Blakely
19,12-Feb,WOGA Classic,AA,0.000,0.000,14.250,13.250,0.000,2022,Skye Blakely
20,Aug 24-27,U.S. Championships,AA,14.250,14.400,14.200,12.200,55.050,2023,Skye Blakely
21,Aug 24-27,U.S. Championships,QF,14.350,14.400,14.050,12.900,55.700,2023,Skye Blakely
22,Aug 4-6,U.S. Classic,AA,14.100,14.350,14.300,0.000,0.000,2023,Skye Blakely
23,Jul 9-12,July National Team Camp,AA,14.250,14.350,14.050,0.000,0.000,2023,Skye Blakely
24,Feb 23-26,Winter Cup,AA,0.000,13.150,13.400,0.000,0.000,2023,Skye Blakely
25,Feb 17-19,WOGA Classic,AA,0.000,14.700,13.450,0.000,0.000,2023,Skye Blakely

In [40]:
from dateutil import parser

In [47]:
# Function to parse date entries
def parse_date(entry):
    try:
        return parser.parse(entry).strftime("%b %d")
    except ValueError:
        return entry

# Apply the parse_date function to the "Date" column
df["Date"] = df["Date"].apply(parse_date)

In [49]:
def extract_month_day(entry):
    parts = entry.split('-')
    return parts[0]

# Apply the extract_month_day function to the "Date" column
df["Date"] = df["Date"].apply(extract_month_day)

# Now, the "Date

In [51]:
df["Date"] = pd.to_datetime(df["Date"] + " " + df["Year"].astype(str), format="%b %d %Y")

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         26 non-null     datetime64[ns]
 1   Competition  26 non-null     object
 2   Round        26 non-null     object
 3   VT           26 non-null     float64
 4   UB           26 non-null     float64
 5   BB           26 non-null     float64
 6   FX           26 non-null     float64
 7   AA           26 non-null     float64
 8   Year         26 non-null     int64
 9   Name         26 non-null     object
dtypes: datetime64[ns](1), float64(5), int64(1), object(3)
memory usage: 2.2+ KB

In [55]:
df.head()

,Date,Competition,Round,VT,UB,BB,FX,AA,Year,Name
0,2021-06-03,U.S. Championships,AA,14.55,13.60,14.25,13.30,55.70,2021,Skye Blakely
1,2021-06-03,U.S. Championships,QF,14.70,12.95,12.75,13.45,53.85,2021,Skye Blakely
2,2021-05-21,U.S. Classic,AA,14.00,14.05,12.65,13.30,54.00,2021,Skye Blakely
3,2021-04-24,American Classic,AA,13.85,14.10,14.30,13.10,55.35,2021,Skye Blakely
4,2021-03-13,March National Team Camp,AA,14.35,0.00,14.60,11.95,0.00,2021,Skye Blakely

In [56]:
df = df.drop(columns=["Year"])

In [58]:
df.columns

Index(['Date', 'Competition', 'Round', 'VT', 'UB', 'BB', 'FX', 'AA', 'Name'], dtype='object')

In [60]:
# Specify the desired column order
desired_order = ['Name', 'Date', 'Competition', 'Round', 'VT', 'UB', 'BB', 'FX', 'AA',
       ]

# Create a new DataFrame with columns in the desired order
df_reordered = df[desired_order]

In [61]:
df_reordered

,Name,Date,Competition,Round,VT,UB,BB,FX,AA
0,Skye Blakely,2021-06-03,U.S. Championships,AA,14.550,13.600,14.250,13.300,55.700
1,Skye Blakely,2021-06-03,U.S. Championships,QF,14.700,12.950,12.750,13.450,53.850
2,Skye Blakely,2021-05-21,U.S. Classic,AA,14.000,14.050,12.650,13.300,54.000
3,Skye Blakely,2021-04-24,American Classic,AA,13.850,14.100,14.300,13.100,55.350
4,Skye Blakely,2021-03-13,March National Team Camp,AA,14.350,0.000,14.600,11.950,0.000
5,Skye Blakely,2021-02-26,Winter Cup,AA,0.000,0.000,14.500,12.650,0.000
6,Skye Blakely,2022-10-29,World Championships,EF,0.000,0.000,13.300,0.000,0.000
7,Skye Blakely,2022-10-29,World Championships,TF,0.000,0.000,13.266,0.000,0.000
8,Skye Blakely,2022-10-29,World Championships,QF,0.000,12.566,13.733,13.600,0.000
9,Skye Blakely,2022-10-21,U.S. Worlds Trials,EF,0.000,14.200,14.550,0.000,0.000
10,Skye Blakely,2022-10-21,U.S. Worlds Trials,AA,14.200,13.450,13.550,13.450,54.650
11,Skye Blakely,2022-08-18,U.S. Championships,AA,14.300,13.900,12.950,13.450,54.600
12,Skye Blakely,2022-08-18,U.S. Championships,QF,14.100,13.850,13.450,13.300,54.700
13,Skye Blakely,2022-07-14,Pan American Championships,TF,13.867,13.900,13.067,13.100,53.934
14,Skye Blakely,2022-07-14,Pan American Championships,AA,13.433,13.933,12.300,13.267,52.933
15,Skye Blakely,2022-07-04,U.S. Pan Ams Trials,EF,0.000,12.266,0.000,0.000,0.000
16,Skye Blakely,2022-07-04,U.S. Pan Ams Trials,AA,14.000,13.400,14.300,13.550,55.250
17,Skye Blakely,2022-03-18,DTB Pokal Team Challenge,AA,14.266,12.000,12.900,13.366,52.532
18,Skye Blakely,2022-02-24,Winter Cup,AA,13.800,13.150,13.500,13.250,53.700
19,Skye Blakely,2022-02-12,WOGA Classic,AA,0.000,0.000,14.250,13.250,0.000
20,Skye Blakely,2023-08-24,U.S. Championships,AA,14.250,14.400,14.200,12.200,55.050
21,Skye Blakely,2023-08-24,U.S. Championships,QF,14.350,14.400,14.050,12.900,55.700
22,Skye Blakely,2023-08-04,U.S. Classic,AA,14.100,14.350,14.300,0.000,0.000
23,Skye Blakely,2023-07-09,July National Team Camp,AA,14.250,14.350,14.050,0.000,0.000
24,Skye Blakely,2023-02-23,Winter Cup,AA,0.000,13.150,13.400,0.000,0.000
25,Skye Blakely,2023-02-17,WOGA Classic,AA,0.000,14.700,13.450,0.000,0.000

In [62]:
# df_reordered.to_csv('blakely.csv', index=False)