In [7]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil import parser

In [8]:
df = pd.read_csv('../../scraping/women/gymnasts_results/lincoln/lincoln23.csv')

In [9]:
df

,Date,Competition,Unnamed: 2,VT,UB,BB,FX,AA
0,Sep 19-20,U.S. Worlds Trials,EF,0.00,12.60,13.10,0.00,0.00
1,Sep 19-20,U.S. Worlds Trials,AA,14.25,12.45,13.80,13.85,54.35
2,Aug 24-27,U.S. Championships,AA,13.90,9.90,12.95,14.05,50.80
3,Aug 24-27,U.S. Championships,QF,14.10,12.30,13.25,14.35,54.00
4,Aug 4-6,U.S. Classic,AA,14.15,0.00,12.95,14.00,0.00
5,Feb 23-26,Winter Cup,AA,13.50,12.95,11.00,13.60,51.05
6,Feb 17-19,WOGA Classic,AA,0.00,13.30,0.00,0.00,0.00
7,Jan 27-29,Vegas Cup National Qualifier,AA,13.55,12.35,12.90,14.10,52.90

In [10]:
df['year'] = 2023

In [11]:
df = df.drop(columns=['Date'])

In [12]:
df['Name'] = 'Kaliya Lincoln'

In [14]:
df.rename(columns={'Unnamed: 2': 'Round'}, inplace=True)

In [15]:
# Specify the desired column order
desired_order = ['Name', 'year', 'Competition', 'Round', 'VT', 'UB', 'BB', 'FX', 'AA',
       ]

# Create a new DataFrame with columns in the desired order
df_reordered = df[desired_order]

In [18]:
df=df_reordered.copy()

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         8 non-null      object
 1   year         8 non-null      int64
 2   Competition  8 non-null      object
 3   Round        8 non-null      object
 4   VT           8 non-null      float64
 5   UB           8 non-null      float64
 6   BB           8 non-null      float64
 7   FX           8 non-null      float64
 8   AA           8 non-null      float64
dtypes: float64(5), int64(1), object(3)
memory usage: 704.0+ bytes

In [20]:
# df.to_csv('lincoln.csv', index=False)