In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil import parser

In [2]:
df = pd.read_csv('../../scraping/women/gymnasts_results/jones/jones21.csv')

In [5]:
df["Year"] = 2021

In [3]:
df2 = pd.read_csv('../../scraping/women/gymnasts_results/jones/jones22.csv')

In [7]:
df2["Year"] = 2022

In [4]:
df3 = pd.read_csv('../../scraping/women/gymnasts_results/jones/jones23.csv')

In [9]:
df3["Year"] = 2023

In [10]:
result = pd.concat([df,df2, df3], ignore_index=True)

In [11]:
df = result.copy()

In [12]:
df["Name"] = "Shilese Jones"

In [13]:
df.rename(columns={'Unnamed: 2': 'Round'}, inplace=True)

In [14]:
# Function to parse date entries
def parse_date(entry):
    try:
        return parser.parse(entry).strftime("%b %d")
    except ValueError:
        return entry

# Apply the parse_date function to the "Date" column
df["Date"] = df["Date"].apply(parse_date)

In [15]:
def extract_month_day(entry):
    parts = entry.split('-')
    return parts[0]

# Apply the extract_month_day function to the "Date" column
df["Date"] = df["Date"].apply(extract_month_day)

# Now, the "Date

In [16]:
df["Date"] = pd.to_datetime(df["Date"] + " " + df["Year"].astype(str), format="%b %d %Y")

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         22 non-null     datetime64[ns]
 1   Competition  22 non-null     object
 2   Round        22 non-null     object
 3   VT           22 non-null     float64
 4   UB           22 non-null     float64
 5   BB           22 non-null     float64
 6   FX           22 non-null     float64
 7   AA           22 non-null     float64
 8   Year         22 non-null     int64
 9   Name         22 non-null     object
dtypes: datetime64[ns](1), float64(5), int64(1), object(3)
memory usage: 1.8+ KB

In [18]:
df = df.drop(columns=["Year"])

In [19]:
# Specify the desired column order
desired_order = ['Name', 'Date', 'Competition', 'Round', 'VT', 'UB', 'BB', 'FX', 'AA',
       ]

# Create a new DataFrame with columns in the desired order
df_reordered = df[desired_order]

In [20]:
df_reordered.head()

,Name,Date,Competition,Round,VT,UB,BB,FX,AA
0,Shilese Jones,2021-06-24,U.S. Olympic Trials,AA,14.90,12.900,13.300,13.533,54.633
1,Shilese Jones,2021-06-24,U.S. Olympic Trials,QF,14.90,13.166,13.533,13.400,54.999
2,Shilese Jones,2021-06-03,U.S. Championships,AA,15.00,14.400,11.750,13.250,54.400
3,Shilese Jones,2021-06-03,U.S. Championships,QF,14.85,14.300,12.450,12.500,54.100
4,Shilese Jones,2021-05-21,U.S. Classic,AA,14.85,12.950,12.100,0.000,0.000

In [21]:
# df_reordered.to_csv('jones.csv', index=False)