In [1]:
import pandas as pd
import numpy as np

In [2]:
fx19 = pd.read_csv('../../scraping/women/top2019scores/fx.csv')
fx20 = pd.read_csv('../../scraping/women/top2020scores/fx.csv')

ub19 = pd.read_csv('../../scraping/women/top2019scores/uneven_bars.csv')
ub20 = pd.read_csv('../../scraping/women/top2020scores/ub.csv')

vt19 = pd.read_csv('../../scraping/women/top2019scores/vault.csv')
vt20 = pd.read_csv('../../scraping/women/top2020scores/vt.csv')

vta19 = pd.read_csv('../../scraping/women/top2019scores/vault_avg.csv')
vta20 = pd.read_csv('../../scraping/women/top2020scores/vt_avg.csv')


iaa19 = pd.read_csv('../../scraping/women/top2019scores/iaa.csv')
iaa20 = pd.read_csv('../../scraping/women/top2020scores/iaa.csv')

bb19 = pd.read_csv('../../scraping/women/top2019scores/bb.csv')
bb20 = pd.read_csv('../../scraping/women/top2020scores/bb.csv')

In [49]:
fx19['year']=2019
ub19['year']=2019
bb19['year']=2019
vt19['year']=2019
vta19['year']=2019
iaa19['year']=2019

fx20['year']=2020
bb20['year']=2020
ub20['year']=2020
vt20['year']=2020
vta20['year']=2020
iaa20['year']=2020

In [50]:
fx = pd.concat([fx19, fx20], axis=0) 
ub = pd.concat([ub19, ub20], axis=0) 
vt = pd.concat([vt19, vt20], axis=0) 
vta = pd.concat([vta19, vta20], axis=0) 
iaa = pd.concat([iaa19, iaa20], axis=0) 
bb = pd.concat([bb19, bb20], axis=0)

In [51]:
fx['Athlete'] = fx['Athlete'].str.lower()
ub['Athlete'] = ub['Athlete'].str.lower()
vt['Athlete'] = vt['Athlete'].str.lower()
vta['Athlete'] = vta['Athlete'].str.lower()
iaa['Athlete'] = iaa['Athlete'].str.lower()
bb['Athlete'] = bb['Athlete'].str.lower()

In [61]:
bb

,Rank,Athlete,Nation,Meet,Score,year
0,1,kara eaker,United States,U.S. Classic,15.400,2019
1,2,ou yushan*,China,Chinese National Youth Games EF,15.300,2019
2,3,riley mccusker,United States,U.S. Classic,15.100,2019
3,4,simone biles,United States,World Championships EF,15.066,2019
4,5,guan chenchen*,China,Chinese Championships AA,15.050,2019
5,5,li shijia,China,Zhaoqing Challenge Cup EF,15.050,2019
6,7,mya witte*,United States,World Championâ€™s National Qualifier,15.000,2019
7,8,liu tingting,China,City of Jesolo Trophy AA,14.967,2019
8,9,yana vorona*,Russia,Russian Junior Championships QF,14.900,2019
9,10,ana padurariu,Canada,Elite Canada EF,14.875,2019
0,1,guan chenchen,China,Chinese Championships QF,15.400,2020
1,2,zhou yaqin,China,Chinese Individual Championships EF,15.066,2020
2,3,wei xiaoyuan,China,Chinese Individual Championships EF,14.900,2020
3,4,tang xijing,China,Chinese Championships AA,14.850,2020
4,5,ana padurariu,Canada,Elite Canada QF,14.600,2020
5,6,daniela batrona*,Ukraine,Ukrainian Youth Championships,14.550,2020
6,6,li qi,China,Chinese Championships QF,14.550,2020
7,8,liu tingting,China,Chinese Championships EF,14.533,2020
8,9,he licheng,China,Chinese Individual Championships EF,14.500,2020
9,10,chen yanfei,China,Chinese Individual Championships QF,14.450,2020

In [53]:
fx['Athlete'].unique()

array(['simone biles', 'jade carey', 'amalia puflea*',
       'viktoriia listunova*', 'sunisa lee', 'vladislava urazova*',
       'grace mccallum', 'emma malabuyo', 'mai murakami',
       'mÃ©lanie de jesus dos santos', 'skye blakely*',
       'angelina radivilova', 'qi qi', 'mykayla skinner', 'sophia butler',
       'karis german', 'katelyn rosen*', 'murakami mai', 'giorgia villa'],
      dtype=object)

In [54]:
ub['Athlete'].unique()

array(['nina derwael', 'fan yilin', 'sunisa lee', 'daria spiridonova',
       'becky downie', 'anastasia agafonova', 'ana padurariu',
       'elisabeth seitz', 'juliette bossu', 'riley mccusker',
       'diana kustova*', 'cheng shiyi', 'giorgia villa',
       'anastasia iliankova', 'elisa iorio', 'wei xiaoyuan',
       'liu tingting', 'lu yufei', 'alice dâ€™amato'], dtype=object)

In [55]:
bb['Athlete'].unique()

array(['kara eaker', 'ou yushan*', 'riley mccusker', 'simone biles',
       'guan chenchen*', 'li shijia', 'mya witte*', 'liu tingting',
       'yana vorona*', 'ana padurariu', 'guan chenchen', 'zhou yaqin',
       'wei xiaoyuan', 'tang xijing', 'daniela batrona*', 'li qi',
       'he licheng', 'chen yanfei'], dtype=object)

In [56]:
vta['Athlete'].unique()

array(['simone biles', 'jade carey', 'maria paseka', 'yeo seo-jeong',
       'alexa moreno', 'ellie downie', 'mykayla skinner', 'shallon olsen',
       'yu linmin', 'qi qi', 'asia dâ€™amato', 'coline devillard',
       'boglarka devai', 'teja belak', 'miyata shoko', 'marina nekrasova',
       'carolina james'], dtype=object)

In [57]:
vt['Athlete'].unique()

array(['simone biles', 'jade carey', 'coline devillard', 'yeo seo-jeong',
       'maria paseka', 'giulia steingruber', 'mykayla skinner',
       'ellie downie', 'aline friess', 'mÃ©lanie de jesus dos santos',
       'murakami mai', 'miyakawa sae', 'alice dâ€™amato', 'amari drayton',
       'shilese jones', 'sakaguchi ayaka', 'asia dâ€™amato',
       'alizÃ©e letrange-mouakit'], dtype=object)

In [58]:
iaa['Athlete'].unique()

array(['simone biles', 'sunisa lee', 'riley mccusker',
       'vladislava urazova*', 'grace mccallum',
       'mÃ©lanie de jesus dos santos', 'kara eaker', 'rebeca andrade',
       'tang xijing', 'leanne wong', 'morgan hurd', 'ellie black',
       'kayla dicello*', 'angelina melnikova', 'giorgia villa',
       'skye blakely*', 'konnor mcclain*', 'ou yushan*', 'ana padurariu',
       'jade carey', 'mykayla skinner', 'nina derwael',
       'viktoria listunova*', 'asuka teramoto', 'elisabeth seitz',
       'mai murakami', 'liu tingting', 'silvia sfiringu*',
       'emma malabuyo', 'ana maria barbosu*', 'flavia saraiva',
       'li shijia', 'yana vorona*', 'ioana stanciulescu*',
       'olivia greaves*', 'trinity thomas', 'wei xiaoyuan*',
       'aleah finnegan', 'ellie downie', 'jordan chiles',
       'georgia godwin', 'luo huan', 'amelie morgan', 'faith torrez',
       'angelina radivilova', 'asia dâ€™amato', 'sydney barros*',
       'alyona shchennikova', 'shilese jones', 'brooklyn moors',
       'murakami mai', 'angela andreoli*', 'guan chenchen',
       'kaylia nemour*', 'wei xiaoyuan', 'desiree carofiglio',
       'alizÃ©e letrange-mouakit', 'lu yufei', 'qi qi', 'kayla dicello',
       'martina maggio', 'zhang jin', 'he licheng', 'amari drayton',
       'daniela batrona*', 'lorette charpy', 'hiraiwa yuna',
       'larisa iordache', 'hatakeda chiaki', 'kaylen morgan',
       'hatakeda hitomi', 'anastasiia motak', 'daria lyska*',
       'sugihara aiko', 'anna lashchevska*', 'soma ui*',
       'silviana sfiringu', 'chen yanfei', 'sakaguchi ayaka', 'emily lee',
       'kim bui', 'sophia butler', 'marta pihan-kulesza', 'wang jingying',
       'karis german', 'katelyn jong*', 'giorgia leone*', 'zhou ruiyu',
       'jennifer gadirova'], dtype=object)

# fx - 2

In [20]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'jade carey':
        return 1
    elif name_lower == 'vanessa ferrari':
        return 1
    elif name_lower == 'mai murakami':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
fx['medal'] = fx['Athlete'].apply(assign_medal)

In [22]:
fx[fx['medal'] == 1]

,Rank,Athlete,Nation,Meet,Score,medal
1,2,jade carey,United States,Baku World Cup EF,14.600,1
8,9,mai murakami,Japan,All-Japan Championships AA,14.200,1
1,2,jade carey,United States,Melbourne World Cup EF,14.366,1

# bb - 3
guan chenchen (CHN) 	
tang xijing (CHN)
simone biles (USA)

In [25]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'guan chenchen':
        return 1
    elif name_lower == 'tang xijing':
        return 1
    elif name_lower == 'simone biles':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
bb['medal'] = bb['Athlete'].apply(assign_medal)

In [27]:
bb[bb['medal'] == 1]

   Rank        Athlete         Nation                      Meet   Score  medal
3     4   simone biles  United States    World Championships EF  15.066      1
0     1  guan chenchen          China  Chinese Championships QF  15.400      1
3     4    tang xijing          China  Chinese Championships AA  14.850      1

# ub - 3
nina derwael (BEL) 
anastasia ilyankova (ROC)
sunisa lee (USA)

In [23]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'nina derwael':
        return 1
    elif name_lower == 'anastasia ilyankova':
        return 1
    elif name_lower == 'sunisa lee':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
ub['medal'] = ub['Athlete'].apply(assign_medal)

In [28]:
ub[ub['medal'] == 1]

   Rank       Athlete         Nation                      Meet  Score  medal
0     1  nina derwael        Belgium            Worms Friendly  15.30      1
2     3    sunisa lee  United States  U.S. Championships Day 2  15.05      1

# iaa - 3

sunisa lee (USA) 
rebeca andrade (BRA) 	
angelina melnikova (ROC)

In [29]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'sunisa lee':
        return 1
    elif name_lower == 'rebeca andrade':
        return 1
    elif name_lower == 'angelina melnikova':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
iaa['medal'] = iaa['Athlete'].apply(assign_medal)

In [30]:
iaa[iaa['medal'] == 1]

,Rank,Athlete,Nation,Meet,Score,medal
1,2,sunisa lee,United States,U.S. Worlds Trials,58.200,1
7,8,rebeca andrade,Brazil,DTB Team Challenge TF,56.932,1
13,14,angelina melnikova,Russia,World Championships QF,56.599,1
3,4,angelina melnikova,Russia,Friendship & Solidarity Meet,56.700,1

# vt - 1

rebeca andrade (BRA) 
myKayla skinner (USA) 
yeo seo-eong (KOR)

In [44]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'rebeca andrade':
        return 1
    elif name_lower == 'mykayla skinner':
        return 1
    elif name_lower == 'yeo seo-eong ':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
vt['medal'] = vt['Athlete'].apply(assign_medal)

In [45]:
vt[vt['medal'] == 1]

   Rank          Athlete         Nation                Meet  Score  medal
6     7  mykayla skinner  United States  U.S. Worlds Trials  15.05      1

# vt avg - 1

rebeca andrade (BRA) 
myKayla skinner (USA) 
yeo seo-eong (KOR)

In [42]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'rebeca andrade':
        return 1
    elif name_lower == 'mykayla skinner':
        return 1
    elif name_lower == 'yeo seo-eong ':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
vta['medal'] = vta['Athlete'].apply(assign_medal)

In [43]:
vta[vta['medal'] == 1]

,Rank,Athlete,Nation,Meet,Score,medal
6,7,mykayla skinner,United States,U.S. Championships Day 1,14.800,1
2,3,mykayla skinner,United States,International Gymnix AA,14.517,1