Balance Beam
- simone biles
- joscelyn roberson

Vault
- simone biles

Uneven Bars
- Shilese Jones
- Zoe Miller

IAA
- Jordan chiles

Floor
- Simone Biles
- Ashlee Sullivan

Balance Beam
- simone biles
- joscelyn roberson

In [2]:
import pandas as pd

In [3]:

data = {
    'Event': ['Balance Beam', 'Balance Beam', 'Vault', 'Uneven Bars', 'Uneven Bars', 'IAA', 'Floor', 'Floor'],
    'Gymnast': ['Simone Biles', 'Joscelyn Roberson', 'Simone Biles', 'Shilese Jones', 'Zoe Miller', 'Jordan Chiles', 'Simone Biles', 'Ashlee Sullivan']
}

gymnastics_df = pd.DataFrame(data)

gymnastics_df

          Event            Gymnast
0  Balance Beam       Simone Biles
1  Balance Beam  Joscelyn Roberson
2         Vault       Simone Biles
3   Uneven Bars      Shilese Jones
4   Uneven Bars         Zoe Miller
5           IAA      Jordan Chiles
6         Floor       Simone Biles
7         Floor    Ashlee Sullivan

In [4]:
gymnastics_df['Gymnast'].value_counts()

Gymnast
Simone Biles         3
Joscelyn Roberson    1
Shilese Jones        1
Zoe Miller           1
Jordan Chiles        1
Ashlee Sullivan      1
Name: count, dtype: int64

In [6]:
# gymnastics_df.to_csv('womens_individuals.csv', index=False)