In [1]:
import pandas as pd 
import numpy as np

In [2]:
bb = pd.read_csv('../../../scraping/women/worldcup14doha/worldcup2014doha_bb.csv')
bbq = pd.read_csv('../../../scraping/women/worldcup14doha/worldcup2014doha_bb_qual.csv')

In [3]:
bb['round']='final'

In [4]:
bbq['round']='qual'

In [5]:
combined_df = pd.concat([bb, bbq])

In [6]:
bb = combined_df.copy()

In [7]:
bb['year']=2014

In [8]:
bb['ND'].fillna(0, inplace=True)

In [9]:
bb['Nation'].unique()

array(['Romania', 'Australia', 'Vietnam', 'Hungary', 'Czech Republic',
       'Singapore', 'Qatar', 'Kazakhstan', 'New Zealand', 'Switzerland',
       'Slovenia', 'Belarus', 'Canada', 'Hong Kong', 'Turkey',
       'Uzbekistan'], dtype=object)

In [10]:
nations_to_noc = {
    'Romania': 'ROU',
    'Australia': 'AUS',
    'Vietnam': 'VIE',
    'Hungary': 'HUN',
    'Czech Republic': 'CZE',
    'Singapore': 'SGP',
    'Qatar': 'QAT',
    'Kazakhstan': 'KAZ',
    'New Zealand': 'NZL',
    'Switzerland': 'SUI',
    'Slovenia': 'SLO',
    'Belarus': 'BLR',
    'Canada': 'CAN',
    'Hong Kong': 'HKG',
    'Turkey': 'TUR',
    'Uzbekistan': 'UZB',
}

# Use the replace method to replace values in the "nations" column with the provided NOC codes
bb['Nation'] = bb['Nation'].replace(nations_to_noc)

In [11]:
bb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 0 to 28
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     38 non-null     int64
 1   Athlete  38 non-null     object
 2   Nation   38 non-null     object
 3   D        38 non-null     float64
 4   E        38 non-null     float64
 5   ND       38 non-null     float64
 6   Score    38 non-null     float64
 7   round    38 non-null     object
 8   year     38 non-null     int64
dtypes: float64(4), int64(2), object(3)
memory usage: 3.0+ KB

In [12]:
ub = pd.read_csv('../../../scraping/women/worldcup14doha/worldcup2014doha_ub.csv')
ubq = pd.read_csv('../../../scraping/women/worldcup14doha/worldcup2014doha_ub_qual.csv')

In [13]:
ub['round']='final'

In [14]:
ubq['round']='qual'

In [15]:
combined_df = pd.concat([bb, bbq])

In [16]:
ub = combined_df.copy()

In [17]:
ub['year']=2014

In [18]:
ub['ND'].fillna(0, inplace=True)

In [19]:
ub['Nation'].unique()

array(['ROU', 'AUS', 'VIE', 'HUN', 'CZE', 'SGP', 'QAT', 'KAZ', 'NZL',
       'SUI', 'SLO', 'BLR', 'CAN', 'HKG', 'TUR', 'UZB', 'Romania',
       'Singapore', 'Australia', 'Vietnam', 'Hungary', 'Kazakhstan',
       'Czech Republic', 'New Zealand', 'Switzerland', 'Slovenia',
       'Belarus', 'Canada', 'Hong Kong', 'Qatar', 'Turkey', 'Uzbekistan'],
      dtype=object)

In [20]:
# Define a mapping dictionary for the provided values and their corresponding nations
values_to_nations = {
    'ROU': 'Romania',
    'AUS': 'Australia',
    'VIE': 'Vietnam',
    'HUN': 'Hungary',
    'CZE': 'Czech Republic',
    'SGP': 'Singapore',
    'QAT': 'Qatar',
    'KAZ': 'Kazakhstan',
    'NZL': 'New Zealand',
    'SUI': 'Switzerland',
    'SLO': 'Slovenia',
    'BLR': 'Belarus',
    'CAN': 'Canada',
    'HKG': 'Hong Kong',
    'TUR': 'Turkey',
    'UZB': 'Uzbekistan'
}

# Use the replace method to replace values in the "nations" column with the corresponding nations
ub['Nation'] = ub['Nation'].replace(values_to_nations)

In [21]:
ub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, 0 to 28
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     67 non-null     int64
 1   Athlete  67 non-null     object
 2   Nation   67 non-null     object
 3   D        67 non-null     float64
 4   E        67 non-null     float64
 5   ND       67 non-null     float64
 6   Score    67 non-null     float64
 7   round    67 non-null     object
 8   year     67 non-null     int64
dtypes: float64(4), int64(2), object(3)
memory usage: 5.2+ KB

In [22]:
fx = pd.read_csv('../../../scraping/women/worldcup14doha/worldcup2014doha_fx.csv')
fxq = pd.read_csv('../../../scraping/women/worldcup14doha/worldcup2014doha_fx_qual.csv')

In [23]:
fx['round']='final'

In [24]:
fxq['round']='qual'

In [25]:
combined_df = pd.concat([fx, fxq])

In [26]:
fx = combined_df.copy()

In [27]:
fx['year']=2014

In [28]:
fx['ND'].fillna(0, inplace=True)

In [29]:
fx['Nation'].unique()

array(['Romania', 'Canada', 'Australia', 'New Zealand', 'Hungary',
       'Slovenia', 'Switzerland', 'Latvia', 'Czech Republic', 'Singapore',
       'Uzbekistan', 'Turkey', 'Belarus', 'Qatar', 'Vietnam',
       'Kazakhstan'], dtype=object)

In [30]:
# Define a mapping dictionary for the provided nations and their NOC codes
nations_to_noc = {
    'Romania': 'ROU',
    'Canada': 'CAN',
    'Australia': 'AUS',
    'New Zealand': 'NZL',
    'Hungary': 'HUN',
    'Slovenia': 'SLO',
    'Switzerland': 'SUI',
    'Latvia': 'LAT',
    'Czech Republic': 'CZE',
    'Singapore': 'SGP',
    'Uzbekistan': 'UZB',
    'Turkey': 'TUR',
    'Belarus': 'BLR',
    'Qatar': 'QAT',
    'Vietnam': 'VIE',
    'Kazakhstan': 'KAZ',
}

# Use the replace method to replace values in the "nations" column with the provided NOC codes
fx['Nation'] = fx['Nation'].replace(nations_to_noc)

In [31]:
fx.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 0 to 25
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     34 non-null     int64
 1   Athlete  34 non-null     object
 2   Nation   34 non-null     object
 3   D        34 non-null     float64
 4   E        34 non-null     float64
 5   ND       34 non-null     float64
 6   Score    34 non-null     float64
 7   round    34 non-null     object
 8   year     34 non-null     int64
dtypes: float64(4), int64(2), object(3)
memory usage: 2.7+ KB

In [32]:
vt = pd.read_csv('../../../scraping/women/worldcup14doha/worldcup2014doha_vt.csv')

In [33]:
vt['ND'].fillna(0, inplace=True)
vt['nd2'].fillna(0, inplace=True)

In [34]:
vt['year']=2014

In [35]:
vt['round']='final'

In [36]:
vt['Nation'].unique()

array(['Romania', 'Slovenia', 'Hong Kong', 'New Zealand', 'Latvia',
       'Hungary', 'Vietnam'], dtype=object)

In [37]:
# Define a mapping dictionary for the provided nations and their NOC codes
nations_to_noc = {
    'Romania': 'ROU',
    'Slovenia': 'SLO',
    'Hong Kong': 'HKG',
    'New Zealand': 'NZL',
    'Latvia': 'LAT',
    'Hungary': 'HUN',
    'Vietnam': 'VIE',
}

# Use the replace method to replace values in the "nations" column with the provided NOC codes
vt['Nation'] = vt['Nation'].replace(nations_to_noc)

In [38]:
vt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     8 non-null      int64
 1   Athlete  8 non-null      object
 2   Nation   8 non-null      object
 3   D        8 non-null      float64
 4   E        8 non-null      float64
 5   ND       8 non-null      float64
 6   Score    8 non-null      float64
 7   d2       8 non-null      float64
 8   e2       8 non-null      float64
 9   nd2      8 non-null      float64
 10  score2   8 non-null      float64
 11  Total    8 non-null      float64
 12  year     8 non-null      int64
 13  round    8 non-null      object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.0+ KB

In [39]:
fx.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 0 to 25
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     34 non-null     int64
 1   Athlete  34 non-null     object
 2   Nation   34 non-null     object
 3   D        34 non-null     float64
 4   E        34 non-null     float64
 5   ND       34 non-null     float64
 6   Score    34 non-null     float64
 7   round    34 non-null     object
 8   year     34 non-null     int64
dtypes: float64(4), int64(2), object(3)
memory usage: 2.7+ KB

In [40]:
ub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, 0 to 28
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     67 non-null     int64
 1   Athlete  67 non-null     object
 2   Nation   67 non-null     object
 3   D        67 non-null     float64
 4   E        67 non-null     float64
 5   ND       67 non-null     float64
 6   Score    67 non-null     float64
 7   round    67 non-null     object
 8   year     67 non-null     int64
dtypes: float64(4), int64(2), object(3)
memory usage: 5.2+ KB

In [41]:
bb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 0 to 28
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     38 non-null     int64
 1   Athlete  38 non-null     object
 2   Nation   38 non-null     object
 3   D        38 non-null     float64
 4   E        38 non-null     float64
 5   ND       38 non-null     float64
 6   Score    38 non-null     float64
 7   round    38 non-null     object
 8   year     38 non-null     int64
dtypes: float64(4), int64(2), object(3)
memory usage: 3.0+ KB

In [42]:
# vt.to_csv('clean_wc14doha_vt.csv', index=False)
# fx.to_csv('clean_wc14doha_fx.csv', index=False)
# ub.to_csv('clean_wc14doha_ub.csv', index=False)
# bb.to_csv('clean_wc14doha_bb.csv', index=False)