In [ ]:
# df 381 to 520

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sr.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     520 non-null    int64
 1   Athlete  520 non-null    object
 2   Nation   517 non-null    object
 3   D        520 non-null    float64
 4   E        520 non-null    float64
 5   ND       520 non-null    float64
 6   Total    520 non-null    float64
 7   year     493 non-null    float64
 8   round    493 non-null    object
dtypes: float64(5), int64(1), object(3)
memory usage: 36.7+ KB

In [4]:
# liu yang China
# you hao China
# eleftherios petrounias Greece

In [5]:
df['year'].value_counts()

year
2019.0    257
2018.0    202
2020.0     34
Name: count, dtype: int64

In [6]:
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'liu yang':
        return 1
    elif name_lower == 'you hao ':
        return 1
    elif name_lower == 'eleftherios petrounias':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df['medal'] = df['Athlete'].apply(assign_medal)

In [7]:
df['medal'].value_counts()

medal
0    510
1     10
Name: count, dtype: int64

In [8]:
df[df['medal'] == 1]

,Rank,Athlete,Nation,D,E,ND,Total,year,round,medal
0,1,liu yang,CHN,6.4,8.766,0.0,15.166,2019.0,final,1
8,1,liu yang,CHN,6.4,8.600,0.0,15.000,2019.0,qual,1
24,1,eleftherios petrounias,GRE,6.3,8.800,0.0,15.100,NaN,NaN,1
25,2,liu yang,CHN,6.4,8.600,0.0,15.000,NaN,NaN,1
51,1,eleftherios petrounias,GRE,6.3,9.066,0.0,15.366,2018.0,final,1
59,1,eleftherios petrounias,GRE,6.3,8.966,0.0,15.266,2018.0,qual,1
256,4,eleftherios petrounias,GRE,6.3,8.433,0.0,14.733,2019.0,final,1
264,4,eleftherios petrounias,GRE,6.3,8.400,0.0,14.700,2019.0,qual,1
462,1,liu yang,CHN,6.4,8.766,0.0,15.166,2019.0,final,1
470,1,liu yang,CHN,6.4,8.600,0.0,15.000,2019.0,qual,1

In [9]:
df['round'] = df['round'].str.lower()

In [10]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['Name_encoded'] = le.fit_transform(df['Athlete'])

# Store the mapping between integers and original objects
label_mapping = dict(zip(le.transform(df['Athlete']), df['Athlete']))

In [11]:
df=df.drop(columns=["Athlete"])
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [12]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['nation_encoded'] = le.fit_transform(df['Nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(df['Nation']), df['Nation']))

In [13]:
df=df.drop(columns=["Nation"])
df.rename(columns={'nation_encoded': 'Nation'}, inplace=True)

In [14]:
df_encoded = pd.get_dummies(df, columns=['round'], prefix='round')

In [15]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         520 non-null    int64
 1   D            520 non-null    float64
 2   E            520 non-null    float64
 3   ND           520 non-null    float64
 4   Total        520 non-null    float64
 5   year         493 non-null    float64
 6   medal        520 non-null    int64
 7   Name         520 non-null    int64
 8   Nation       520 non-null    int64
 9   round_final  520 non-null    bool
 10  round_qual   520 non-null    bool
dtypes: bool(2), float64(5), int64(4)
memory usage: 37.7 KB

In [16]:
# df_encoded.to_csv('sr_encoded.csv', index=False)