In [ ]:
# df 414 to 561

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ph.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535 entries, 0 to 534
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     535 non-null    int64
 1   Athlete  535 non-null    object
 2   Nation   534 non-null    object
 3   D        535 non-null    float64
 4   E        535 non-null    float64
 5   ND       535 non-null    float64
 6   Total    535 non-null    float64
 7   year     535 non-null    int64
 8   round    535 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 37.7+ KB

In [4]:
# max whitlock Great Britain
# lee chih-kai Chinese Taipei
# kazuma kaya Japan

In [5]:
df['year'].value_counts()

year
2019    240
2018    210
2020     85
Name: count, dtype: int64

In [6]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'max whitlock':
        return 1
    elif name_lower == 'lee chih-kai':
        return 1
    elif name_lower == 'kazuma kaya':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df['medal'] = df['Athlete'].apply(assign_medal)

In [7]:
df['medal'].value_counts()

medal
0    525
1     10
Name: count, dtype: int64

In [8]:
df[df['medal'] == 1]

     Rank       Athlete Nation    D      E   ND   Total  year  round  medal
0       1  lee chih-kai   none  6.5  8.766  0.0  15.266  2019  final      1
9       2  lee chih-kai   none  6.2  8.700  0.0  14.900  2019   qual      1
60      2  max whitlock   none  6.8  8.366  0.0  15.166  2018  final      1
67      1  max whitlock   none  6.7  8.266  0.0  14.966  2018   qual      1
74      8  lee chih-kai   none  5.7  8.000  0.0  13.700  2018   qual      1
107    41   kazuma kaya    JPN  6.4  6.025  0.0  12.425  2018   qual      1
269     1  max whitlock   none  7.0  8.500  0.0  15.500  2019  final      1
273     5   kazuma kaya    JPN  6.6  8.266  0.0  14.866  2019  final      1
278     1  max whitlock   none  6.9  8.366  0.0  15.266  2019   qual      1
285     8   kazuma kaya    JPN  6.4  8.233  0.0  14.633  2019   qual      1

In [9]:
df['round'] = df['round'].str.lower()

In [10]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['Name_encoded'] = le.fit_transform(df['Athlete'])

# Store the mapping between integers and original objects
label_mapping = dict(zip(le.transform(df['Athlete']), df['Athlete']))

In [11]:
df=df.drop(columns=["Athlete"])
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [12]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['nation_encoded'] = le.fit_transform(df['Nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(df['Nation']), df['Nation']))

In [13]:
df=df.drop(columns=["Nation"])
df.rename(columns={'nation_encoded': 'Nation'}, inplace=True)

In [14]:
df_encoded = pd.get_dummies(df, columns=['round'], prefix='round')

In [15]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535 entries, 0 to 534
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         535 non-null    int64
 1   D            535 non-null    float64
 2   E            535 non-null    float64
 3   ND           535 non-null    float64
 4   Total        535 non-null    float64
 5   year         535 non-null    int64
 6   medal        535 non-null    int64
 7   Name         535 non-null    int64
 8   Nation       535 non-null    int64
 9   round_final  535 non-null    bool
 10  round_qual   535 non-null    bool
dtypes: bool(2), float64(4), int64(5)
memory usage: 38.8 KB

In [17]:
# df_encoded.to_csv('ph_encoded.csv', index=False)