In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ph.csv')

In [3]:
# max whitlock Great Britain
# lee chih-kai Chinese Taipei
# kazuma kaya Japan

In [4]:
df['year'].value_counts()

year
2019    329
2020     85
Name: count, dtype: int64

In [5]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'max whitlock':
        return 1
    elif name_lower == 'lee chih-kai':
        return 1
    elif name_lower == 'kazuma kaya':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df['medal'] = df['Athlete'].apply(assign_medal)

In [6]:
df['medal'].value_counts()

medal
0    402
1     12
Name: count, dtype: int64

In [7]:
df[df['medal'] == 1]

     Rank       Athlete Nation    D      E   ND   Total  year  round  medal
0       1  lee chih-kai   none  6.5  8.766  0.0  15.266  2019  final      1
9       2  lee chih-kai   none  6.2  8.700  0.0  14.900  2019   qual      1
59      1  lee chih-kai   none  6.2  9.200  0.0  15.400  2019  final      1
61      3   kazuma kaya    JPN  6.6  7.900  0.0  14.500  2019  final      1
67      1  lee chih-kai   none  6.2  8.950  0.0  15.150  2019   qual      1
68      2   kazuma kaya    JPN  6.1  8.700  0.0  14.800  2019   qual      1
122     1  max whitlock   none  7.0  8.500  0.0  15.500  2019  final      1
126     5   kazuma kaya    JPN  6.6  8.266  0.0  14.866  2019  final      1
131     1  max whitlock   none  6.9  8.366  0.0  15.266  2019   qual      1
138     8   kazuma kaya    JPN  6.4  8.233  0.0  14.633  2019   qual      1
336     1  lee chih-kai   none  6.5  8.766  0.0  15.266  2019  final      1
345     2  lee chih-kai   none  6.2  8.700  0.0  14.900  2019   qual      1

In [8]:
df['round'] = df['round'].str.lower()

In [9]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['Name_encoded'] = le.fit_transform(df['Athlete'])

# Store the mapping between integers and original objects
label_mapping = dict(zip(le.transform(df['Athlete']), df['Athlete']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [10]:
df=df.drop(columns=["Athlete"])
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [11]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['nation_encoded'] = le.fit_transform(df['Nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(df['Nation']), df['Nation']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [12]:
df=df.drop(columns=["Nation"])
df.rename(columns={'nation_encoded': 'Nation'}, inplace=True)

In [13]:
df_encoded = pd.get_dummies(df, columns=['round'], prefix='round')

In [14]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         414 non-null    int64
 1   D            414 non-null    float64
 2   E            414 non-null    float64
 3   ND           414 non-null    float64
 4   Total        414 non-null    float64
 5   year         414 non-null    int64
 6   medal        414 non-null    int64
 7   Name         414 non-null    int64
 8   Nation       414 non-null    int64
 9   round_final  414 non-null    bool
 10  round_qual   414 non-null    bool
dtypes: bool(2), float64(4), int64(5)
memory usage: 30.0 KB

In [15]:
# df_encoded.to_csv('ph_encoded.csv', index=False)