In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('hb.csv')

In [4]:
df['year'].value_counts()

year
2019    316
2020     65
Name: count, dtype: int64

In [5]:
df.head()

   Rank           Athlete Nation    D      E   ND   Total  year  round
0     1  hidetaka miyachi    JPN  6.2  8.533  0.0  14.733  2019  final
1     2   epke zonderland    NED  6.5  8.233  0.0  14.733  2019  final
2     3   zhang chenglong    CHN  6.5  7.833  0.0  14.333  2019  final
3     4  mitchell morgans    AUS  6.0  8.033  0.0  14.033  2019  final
4     5        tyson bull    AUS  5.8  8.166  0.0  13.966  2019  final

In [7]:
# artem dolgopyat (ISR) 
# rayderley zapata (ESP) 
# xiao ruoteng (CHN)

In [12]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'daiki hashimoto':
        return 1
    elif name_lower == 'tin srbic':
        return 1
    elif name_lower == 'nikita nagornyy':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df['medal'] = df['Athlete'].apply(assign_medal)

In [13]:
df['medal'].value_counts()

medal
0    372
1      9
Name: count, dtype: int64

In [14]:
df[df['medal'] == 1]

     Rank          Athlete Nation    D      E   ND   Total  year  round  medal
6       7        tin srbic    CRO  6.1  7.466 -0.3  13.266  2019  final      1
9       2        tin srbic    CRO  5.9  8.733  0.0  14.633  2019   qual      1
110     2        tin srbic    CRO  6.2  8.466  0.0  14.666  2019  final      1
112     4  daiki hashimoto    JPN  6.2  8.033  0.0  14.233  2019  final      1
119     3        tin srbic    CRO  6.2  8.633  0.0  14.833  2019   qual      1
124     8  daiki hashimoto    JPN  6.1  8.266  0.0  14.366  2019   qual      1
127    11  nikita nagornyy    RUS  5.9  8.400  0.0  14.300  2019   qual      1
322     7        tin srbic    CRO  6.1  7.466 -0.3  13.266  2019  final      1
325     2        tin srbic    CRO  5.9  8.733  0.0  14.633  2019   qual      1

In [15]:
df['round'] = df['round'].str.lower()

In [16]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['Name_encoded'] = le.fit_transform(df['Athlete'])

# Store the mapping between integers and original objects
label_mapping = dict(zip(le.transform(df['Athlete']), df['Athlete']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [17]:
df=df.drop(columns=["Athlete"])
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [18]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['nation_encoded'] = le.fit_transform(df['Nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(df['Nation']), df['Nation']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [19]:
df=df.drop(columns=["Nation"])
df.rename(columns={'nation_encoded': 'Nation'}, inplace=True)

In [20]:
df_encoded = pd.get_dummies(df, columns=['round'], prefix='round')

In [21]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         381 non-null    int64
 1   D            381 non-null    float64
 2   E            381 non-null    float64
 3   ND           381 non-null    float64
 4   Total        381 non-null    float64
 5   year         381 non-null    int64
 6   medal        381 non-null    int64
 7   Name         381 non-null    int64
 8   Nation       381 non-null    int64
 9   round_final  381 non-null    bool
 10  round_qual   381 non-null    bool
dtypes: bool(2), float64(4), int64(5)
memory usage: 27.7 KB

In [22]:
# df_encoded.to_csv('hb_encoded.csv', index=False)