In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('iaa2020.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     512 non-null    object
 1   Athlete  512 non-null    object
 2   Nation   512 non-null    object
 3   FX       512 non-null    object
 4   PH       512 non-null    object
 5   SR       512 non-null    object
 6   VT       512 non-null    object
 7   PB       512 non-null    object
 8   HB       512 non-null    object
 9   AA       512 non-null    object
 10  round    512 non-null    object
 11  year     471 non-null    float64
dtypes: float64(1), object(11)
memory usage: 48.1+ KB

In [4]:
# daiki hashimoto (JPN) 
# xiao ruoteng (CHN) 
# nikita nagornyy (ROC)

In [5]:
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'daiki hashimoto':
        return 1
    elif name_lower == 'xiao ruoteng':
        return 1
    elif name_lower == 'nikita nagornyy':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df['medal'] = df['Athlete'].apply(assign_medal)

In [6]:
df['medal'].value_counts()

medal
0    502
1     10
Name: count, dtype: int64

In [7]:
df[df['medal'] == 1]

,Rank,Athlete,Nation,FX,PH,SR,VT,PB,HB,AA,round,year,medal
1,2,xiao ruoteng,CHN,14.133,14.7,14.333,14.866,15.333,14.233,87.598,final,2018.0,1
2,3,nikita nagornyy,RUS,14.733,13.566,14.5,14.766,14.866,13.9,86.331,final,2018.0,1
24,1,xiao ruoteng,CHN,14.2,14.633,14.133,14.933,15,14.433,87.332,qual,2018.0,1
25,2,nikita nagornyy,RUS,14.8,14,14.633,14.733,14.966,13.966,87.098,qual,2018.0,1
145,1,nikita nagornyy,RUS,14.366,13.233,14.433,14.9,14.933,13.2,85.065,final,2019.0,1
189,1,nikita nagornyy,RUS,15.041,14.566,14.633,15.066,15.3,14.166,88.772,final,2019.0,1
192,4,xiao ruoteng,CHN,15.025,15.0,13.933,14.8,15.266,12.666,86.69,final,2019.0,1
213,1,nikita nagornyy,RUS,14.9,14.033,14.4,14.9,14.8,14.3,87.333,qual,2019.0,1
215,3,xiao ruoteng,CHN,14.833,13.4,13.833,14.766,14.966,14.033,85.831,qual,2019.0,1
374,—,daiki hashimoto,JPN,14.433,14.883,——,14.766,——,14.366,58.448,qual,2019.0,1

In [8]:
df['round'] = df['round'].str.lower()

In [9]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['Name_encoded'] = le.fit_transform(df['Athlete'])

# Store the mapping between integers and original objects
label_mapping = dict(zip(le.transform(df['Athlete']), df['Athlete']))

In [10]:
df=df.drop(columns=["Athlete"])
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['nation_encoded'] = le.fit_transform(df['Nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(df['Nation']), df['Nation']))

In [12]:
df=df.drop(columns=["Nation"])
df.rename(columns={'nation_encoded': 'Nation'}, inplace=True)

In [13]:
df_encoded = pd.get_dummies(df, columns=['round'], prefix='round')

In [14]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         512 non-null    object
 1   FX           512 non-null    object
 2   PH           512 non-null    object
 3   SR           512 non-null    object
 4   VT           512 non-null    object
 5   PB           512 non-null    object
 6   HB           512 non-null    object
 7   AA           512 non-null    object
 8   year         471 non-null    float64
 9   medal        512 non-null    int64
 10  Name         512 non-null    int64
 11  Nation       512 non-null    int64
 12  round_final  512 non-null    bool
 13  round_qual   512 non-null    bool
dtypes: bool(2), float64(1), int64(3), object(8)
memory usage: 49.1+ KB

In [15]:
columns_to_convert_to_float = ['FX', 'PH', 'SR', 'VT', 'PB', 'HB', 'AA']
columns_to_convert_to_int = ['Rank']

# Convert columns to float
df_encoded[columns_to_convert_to_float] = df_encoded[columns_to_convert_to_float].apply(pd.to_numeric, errors='coerce')

# Convert 'Rank' column to int
df_encoded['Rank'] = df_encoded['Rank'].apply(pd.to_numeric, downcast='integer', errors='coerce')

In [16]:
# df_encoded.to_csv('iaa_encoded.csv', index=False)