In [16]:
# df went from 367 to 506

In [1]:
506-367

139

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('pb.csv')

In [4]:
# zou jingyuan China
# lukas dauser Germany 
# ferhat arican Turkey

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     485 non-null    int64
 1   Athlete  485 non-null    object
 2   Nation   484 non-null    object
 3   D        485 non-null    float64
 4   E        485 non-null    float64
 5   ND       485 non-null    float64
 6   Total    485 non-null    float64
 7   year     485 non-null    int64
 8   round    485 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 34.2+ KB

In [6]:
df['year'].value_counts()

year
2019    221
2018    197
2020     67
Name: count, dtype: int64

In [7]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'zou jingyuan':
        return 1
    elif name_lower == 'lukas dauser':
        return 1
    elif name_lower == 'ferhat arican':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df['medal'] = df['Athlete'].apply(assign_medal)

In [8]:
df['medal'].value_counts()

medal
0    472
1     13
Name: count, dtype: int64

In [9]:
df[df['medal'] == 1]

     Rank        Athlete Nation    D      E   ND   Total  year  round  medal
2       3  ferhat arican    TUR  6.5  7.866  0.0  14.366  2019  final      1
11      4  ferhat arican    TUR  6.5  7.733  0.0  14.233  2019   qual      1
23      3  ferhat arican    TUR  6.6  7.875  0.0  14.475  2020   qual      1
52      1   zou jingyuan    CHN  7.0  9.433  0.0  16.433  2018  final      1
59      8   lukas dauser   none  6.0  7.700  0.0  13.700  2018  final      1
60      1   zou jingyuan    CHN  6.6  9.200  0.0  15.800  2018   qual      1
69     10   lukas dauser   none  6.3  8.633  0.0  14.933  2018   qual      1
70     11  ferhat arican    TUR  6.6  8.266  0.0  14.866  2018   qual      1
253     5  ferhat arican    TUR  6.5  8.400  0.0  14.900  2019  final      1
256     8   lukas dauser   none  6.3  7.533  0.0  13.833  2019  final      1
257     1   lukas dauser   none  6.3  8.733  0.0  15.033  2019   qual      1
261     5  ferhat arican    TUR  6.5  8.433  0.0  14.933  2019   qual      1
272    16   zou jingyuan    CHN  6.3  8.333  0.0  14.633  2019   qual      1

In [10]:
df['round'] = df['round'].str.lower()

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['Name_encoded'] = le.fit_transform(df['Athlete'])

# Store the mapping between integers and original objects
label_mapping = dict(zip(le.transform(df['Athlete']), df['Athlete']))

In [12]:
df=df.drop(columns=["Athlete"])
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [13]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['nation_encoded'] = le.fit_transform(df['Nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(df['Nation']), df['Nation']))

In [14]:
df=df.drop(columns=["Nation"])
df.rename(columns={'nation_encoded': 'Nation'}, inplace=True)

In [15]:
df_encoded = pd.get_dummies(df, columns=['round'], prefix='round')

In [16]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         485 non-null    int64
 1   D            485 non-null    float64
 2   E            485 non-null    float64
 3   ND           485 non-null    float64
 4   Total        485 non-null    float64
 5   year         485 non-null    int64
 6   medal        485 non-null    int64
 7   Name         485 non-null    int64
 8   Nation       485 non-null    int64
 9   round_final  485 non-null    bool
 10  round_qual   485 non-null    bool
dtypes: bool(2), float64(4), int64(5)
memory usage: 35.2 KB

In [18]:
# df_encoded.to_csv('pb_encoded.csv', index=False)