In [1]:
import pandas as pd

In [6]:
fx=pd.read_csv('fx.csv')
vt=pd.read_csv('vt.csv')
hb=pd.read_csv('hb.csv')
ph=pd.read_csv('ph.csv')
pb=pd.read_csv('pb.csv')
sr=pd.read_csv('sr.csv')
# iaa=pd.read_csv('iaa.csv')

In [4]:
fx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 538 entries, 0 to 537
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     538 non-null    int64
 1   Athlete  538 non-null    object
 2   Nation   536 non-null    object
 3   D        538 non-null    float64
 4   E        538 non-null    float64
 5   ND       538 non-null    float64
 6   year     538 non-null    int64
 7   round    538 non-null    object
 8   Total    538 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 38.0+ KB

In [7]:
vt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     126 non-null    object
 1   Athlete  126 non-null    object
 2   Nation   126 non-null    object
 3   D        126 non-null    float64
 4   E        126 non-null    float64
 5   ND       126 non-null    float64
 6   Total    126 non-null    float64
 7   D.1      126 non-null    float64
 8   E.1      126 non-null    float64
 9   ND.1     126 non-null    float64
 10  Total.1  126 non-null    float64
 11  year     126 non-null    int64
 12  Average  126 non-null    float64
dtypes: float64(9), int64(1), object(3)
memory usage: 12.9+ KB