In [1]:
import pandas as pd
import numpy as np

In [2]:
pac16ub = pd.read_csv('../Cleaning/qual_events/clean_pacific_rim2016ub.csv')
bc15ub = pd.read_csv('../Cleaning/qual_events/clean_british_championship2015ub.csv')
jesolo15ub = pd.read_csv('../Cleaning/qual_events/clean_jesolo2015ub.csv')
wc13cott_ub = pd.read_csv('../Cleaning/qual_events/clean_wc13cott_ub.csv')
wc13doha_ub = pd.read_csv('../Cleaning/qual_events/clean_wc14doha_ub.csv')
wc15cott_ub = pd.read_csv('../Cleaning/qual_events/clean_worldcup2015cott_ub.csv')
wc19doha_ub = pd.read_csv('../Cleaning/qual_events/clean_worldcup2019doha_ub.csv')
eu20_ub = pd.read_csv('../Cleaning/qual_events/euro2020ub.csv')
uni19_ub = pd.read_csv('../Cleaning/qual_events/uni2019ub.csv')
wc19melb_ub = pd.read_csv('../Cleaning/qual_events/clean_worldcup2019melbourne_ub.csv')
wc18jeso_ub = pd.read_csv('../Cleaning/qual_events/clean_worldcup2018jesolo_ub.csv')
ub_world_championship_w = pd.read_csv('../Cleaning/World_Championships/ub_world_championship_w.csv')
usopc_ub = pd.read_csv('../Cleaning/USOPC/usopc_women_ub_october.csv')
ub_euro_championship18 = pd.read_csv('../Cleaning/qual_events/clean_european_championship2018ub.csv')
ub_euro_championship21 = pd.read_csv('../Cleaning/qual_events/clean_european_championship2021ub.csv')

pam14am_ub = pd.read_csv('../Cleaning/qual_events/clean_pan_american2014ub.csv')
euro19games_ub= pd.read_csv('../Cleaning/qual_events/clean_european_games2019ub.csv')

clean_universiade2015ub= pd.read_csv('../Cleaning/qual_events/clean_universiade2015ub.csv')
clean_euro15champ_ub= pd.read_csv('../Cleaning/qual_events/clean_euro15champ_ub.csv')

In [3]:
ub_world_championship_w

,Position,Gymnast,D Score,E Score,Pen.,Total,year,Nation,round
0,1,Viktoria Komova,6.7,8.800,0.0,15.500,2011,RUS,final
1,2,Tatiana Nabieva,6.6,8.400,0.0,15.000,2011,RUS,final
2,3,Huang Qiushuang,6.7,8.133,0.0,14.833,2011,CHN,final
3,4,Jordyn Wieber,6.3,8.200,0.0,14.500,2011,USA,final
4,5,Gabby Douglas,6.3,7.900,0.0,14.200,2011,USA,final
5,5,Asuka Teramoto,6.3,7.900,0.0,14.200,2011,JPN,final
6,7,Koko Tsurumi,6.4,7.666,0.0,14.066,2011,JPN,final
7,8,Youna Dufournet,6.3,6.341,0.0,12.641,2011,FRA,final
8,1,Huang Huidan,6.6,8.800,0.0,15.400,2013,CHN,final
9,2,Kyla Ross,6.4,8.866,0.0,15.266,2013,USA,final
10,3,Aliya Mustafina,6.5,8.533,0.0,15.033,2013,RUS,final
11,4,Simone Biles,6.1,8.616,0.0,14.716,2013,USA,final
12,5,Sophie Scheder,6.4,8.283,0.0,14.683,2013,GER,final
13,6,Yao Jinnan,6.9,7.733,0.0,14.633,2013,CHN,final
14,7,Ruby Harrold,6.3,8.033,0.0,14.333,2013,GBR,final
15,8,Becky Downie,6.4,7.400,0.0,13.800,2013,GBR,final
16,1,Yao Jinnan,6.9,8.733,0.0,15.633,2014,CHN,final
17,2,Huang Huidan,6.8,8.766,0.0,15.566,2014,CHN,final
18,3,Daria Spiridonova,6.4,8.883,0.0,15.283,2014,RUS,final
19,4,Ashton Locklear,6.5,8.766,0.0,15.266,2014,USA,final
20,5,Becky Downie,6.6,8.566,0.0,15.166,2014,GBR,final
21,6,Aliya Mustafina,6.3,8.800,0.0,15.100,2014,RUS,final
22,7,Lisa Katharina Hill,6.3,8.033,0.0,14.333,2014,GER,final
23,8,Ruby Harrold,6.1,7.566,0.0,13.666,2014,GBR,final
24,1,Fan Yilin,6.9,8.466,0.0,15.366,2015,CHN,final
25,1,Viktoria Komova,6.6,8.766,0.0,15.366,2015,RUS,final
26,1,Daria Spiridonova,6.7,8.666,0.0,15.366,2015,RUS,final
27,1,Madison Kocian,6.6,8.766,0.0,15.366,2015,USA,final
28,5,Gabby Douglas,6.4,8.733,0.0,15.133,2015,USA,final
29,6,Shang Chunsong,6.7,8.200,0.0,14.900,2015,CHN,final
30,7,Ruby Harrold,6.3,8.466,0.0,14.766,2015,GBR,final
31,8,Sophie Scheder,6.6,8.000,0.0,14.600,2015,GER,final
32,1,Fan Yilin,6.5,8.666,0.0,15.166,2017,NaN,final
33,2,Elena Eremina,6.3,8.800,0.0,15.100,2017,NaN,final
34,3,Nina Derwael,6.3,8.733,0.0,15.033,2017,NaN,final
35,4,Anastasia Ilyankova,6.2,8.700,0.0,14.900,2017,NaN,final
36,5,Elisabeth Seitz,6.1,8.666,0.0,14.766,2017,NaN,final
37,6,Diana Varinska,6.0,8.583,0.0,14.583,2017,NaN,final
38,7,Luo Huan,6.2,8.366,0.0,14.566,2017,NaN,final
39,8,Ashton Locklear,5.4,7.366,0.0,12.766,2017,NaN,final
40,1,Nina Derwael,6.5,8.700,0.0,15.200,2018,NaN,final
41,2,Simone Biles,6.2,8.500,0.0,14.700,2018,NaN,final
42,3,Elisabeth Seitz,6.2,8.400,0.0,14.600,2018,NaN,final
43,4,Luo Huan,6.0,8.500,0.0,14.500,2018,NaN,final
44,5,Aliya Mustafina,5.8,8.633,0.0,14.433,2018,NaN,final
45,6,Morgan Hurd,6.1,8.333,0.0,14.433,2018,NaN,final
46,7,Becky Downie,6.1,7.233,0.0,13.333,2018,NaN,final
47,8,Jonna Adlerteg,6.2,6.966,0.0,13.166,2018,NaN,final
48,1,Nina Derwael,6.5,8.733,0.0,15.233,2019,NaN,final
49,2,Becky Downie,6.5,8.500,0.0,15.000,2019,NaN,final
50,3,Sunisa Lee,6.4,8.400,0.0,14.800,2019,NaN,final
51,4,Angelina Melnikova,6.3,8.433,0.0,14.733,2019,NaN,final
52,5,Simone Biles,6.2,8.500,0.0,14.700,2019,NaN,final
53,6,Daria Spiridonova,6.3,8.333,0.0,14.633,2019,NaN,final
54,7,Liu Tingting,5.9,8.500,0.0,14.400,2019,NaN,final
55,8,Elisabeth Seitz,6.0,7.566,0.0,13.566,2019,NaN,final

In [4]:
eu20_ub.rename(columns={'Gymnast': 'Name', 'Position': 'Rank', 'Penalty': 'Pen.'}, inplace=True)
uni19_ub['nation'] = uni19_ub['Athlete'].str.extract(r'\((.*?)\)')
uni19_ub['Athlete'] = uni19_ub['Athlete'].str.replace(r'\(.*?\)', '', regex=True)
uni19_ub['year']=2019
eu20_ub['year']=2020
eu20_ub['nation']='eu'
uni19_ub.rename(columns={'Athlete': 'Name', }, inplace=True)
uni19_ub['round']='final'
eu20_ub['round']='final'

In [5]:
eu20_ub=eu20_ub[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year']]
uni19_ub = uni19_ub[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year']]

In [6]:
wc19doha_ub.rename(columns={'Athlete': 'Name', 
                            'Nation': 'nation', 'D': 'D Score',
                           'E': 'E Score', 'ND': 'Pen.'}, inplace=True)

wc19doha_ub=wc19doha_ub[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [7]:
wc15cott_ub.rename(columns={'Athlete': 'Name', 
                            'Nation': 'nation', 'D': 'D Score',
                           'E': 'E Score', 'ND': 'Pen.'}, inplace=True)
wc15cott_ub=wc15cott_ub[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [8]:
usopc_ub=usopc_ub.drop(columns=["Gender", 'Competition', 'Apparatus', ])
usopc_ub['year'] = usopc_ub['Date'].str[:4]
usopc_ub=usopc_ub.drop(columns=["Date"])

In [9]:
usopc_ub.rename(columns={'Country': 'nation', 'Round': 'round',
                           'E_Score': 'E Score','D_Score': 'D Score', 'Penalty': 'Pen.',
                        'Score': 'Total'}, inplace=True)

usopc_ub=usopc_ub[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [10]:
eu20_ub.head(1)

   Rank           Name nation  D Score  E Score  Pen.  Total  year
0     1  Zsófia Kóvacs     eu      5.7     8.15   0.0  13.85  2020

In [11]:
combined_df = pd.concat([usopc_ub, wc15cott_ub, wc19doha_ub, eu20_ub, uni19_ub], axis=0)

In [12]:
ub = combined_df.copy()

In [13]:
# Create a dictionary to specify the column name changes
column_name_mapping = {
    'Athlete': 'Name',
    'Nation': 'nation',
    'D': 'D Score',
    'E': 'E Score',
    'ND': 'Pen.',
    'Score': 'Total'
    # Add more columns as needed
}

# Use the rename method to rename the columns
wc13doha_ub.rename(columns=column_name_mapping, inplace=True)

In [14]:
# Define the desired column order
desired_column_order = ['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year',
       'round']

# Create a new DataFrame with the columns rearranged
wc13doha_ub = wc13doha_ub[desired_column_order]

In [15]:
# Create a dictionary to specify the column name changes
column_name_mapping = {
    'Athlete': 'Name',
    'Nation': 'nation',
    'D': 'D Score',
    'E': 'E Score',
    'ND': 'Pen.',
    'Score': 'Total'
    # Add more columns as needed
}

# Use the rename method to rename the columns
wc13cott_ub.rename(columns=column_name_mapping, inplace=True)

In [16]:
# Define the desired column order
desired_column_order = ['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year',
       'round']

# Create a new DataFrame with the columns rearranged
wc13cott_ub = wc13cott_ub[desired_column_order]

In [17]:
ub = pd.concat([ub, wc13doha_ub,wc13cott_ub])

In [18]:
def rename_columns(dataframe):
    # Define the column name mapping
    column_name_mapping = {
        'Athlete': 'Name',
        'Gymnast': 'Name',
        'Nation': 'nation',
        'D': 'D Score',
        'E': 'E Score',
        'ND': 'Pen.',
        'Score': 'Total',
        'Position': 'Rank'
        # Add more columns as needed
    }

    return dataframe.rename(columns=column_name_mapping, inplace=True)

In [19]:
rename_columns(wc19melb_ub)

In [20]:
def reorder_columns(dataframe):
    # Define the desired column order
    desired_column_order = ['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year', 'round']

    return dataframe[desired_column_order]

In [21]:
wc19melb_ub = reorder_columns(wc19melb_ub)

# Functions


- rename_columns(wc19melb_ub)

- wc19melb_ub = reorder_columns(wc19melb_ub)

In [22]:
wc18jeso_ub['year']=2018
wc18jeso_ub['round']='final'

In [23]:
wc18jeso_ub

   Rank              Athlete Nation    D      E   ND   Total  year  round
0     1  Anastasia Iliankova    RUS  6.1  8.500  0.0  14.600  2018  final
1     2          Ragan Smith    USA  6.0  8.567  0.0  14.567  2018  final
2     3   Angelina Melnikova    RUS  5.9  8.433  0.0  14.333  2018  final
3     4  Alyona Shchennikova    USA  6.0  8.167  0.0  14.167  2018  final
4     5       Lorette Charpy    FRA  5.5  8.100  0.0  13.600  2018  final
5     6         Jade Barbosa    BRA  5.5  8.033  0.0  13.533  2018  final
6     7       Giada Grisetti    ITA  5.7  7.800  0.0  13.500  2018  final
7     8         Guo Fangting    CHN  4.7  8.033  0.0  12.733  2018  final

In [24]:
rename_columns(wc18jeso_ub)

In [25]:
wc18jeso_ub = reorder_columns(wc18jeso_ub)

In [26]:
combined_df = pd.concat([ub, wc19melb_ub,wc18jeso_ub])

In [27]:
ub = combined_df.copy()

In [28]:
rename_columns(ub_world_championship_w)

In [29]:
ub_world_championship_w = reorder_columns(ub_world_championship_w)

In [30]:
rename_columns(pac16ub)

In [31]:
pac16ub = reorder_columns(pac16ub)

In [32]:
rename_columns(jesolo15ub)

In [33]:
jesolo15ub = reorder_columns(jesolo15ub)

In [34]:
rename_columns(bc15ub)

In [35]:
bc15ub = reorder_columns(bc15ub)

In [36]:
combined_df = pd.concat([ub, ub_world_championship_w,pac16ub,jesolo15ub,bc15ub])

In [37]:
ub=combined_df.copy()

In [38]:
ub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1538 entries, 0 to 7
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1538 non-null   float64
 1   Name     1538 non-null   object
 2   nation   1500 non-null   object
 3   D Score  1538 non-null   float64
 4   E Score  1538 non-null   float64
 5   Pen.     1530 non-null   float64
 6   Total    1538 non-null   float64
 7   year     1538 non-null   object
 8   round    1522 non-null   object
dtypes: float64(5), object(4)
memory usage: 120.2+ KB

In [39]:
ub.duplicated().sum()

36

In [40]:
# Find and display all duplicate rows
duplicates =ub[ub.duplicated(keep=False)]

In [41]:
ub = ub.drop_duplicates()

In [42]:
ub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1502 entries, 0 to 7
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1502 non-null   float64
 1   Name     1502 non-null   object
 2   nation   1464 non-null   object
 3   D Score  1502 non-null   float64
 4   E Score  1502 non-null   float64
 5   Pen.     1494 non-null   float64
 6   Total    1502 non-null   float64
 7   year     1502 non-null   object
 8   round    1486 non-null   object
dtypes: float64(5), object(4)
memory usage: 117.3+ KB

In [43]:
ub['Pen.'].fillna(0, inplace=True)

In [44]:
ub['round'].fillna('unknown', inplace=True)
ub['nation'].fillna('unknown', inplace=True)

In [45]:
ub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1502 entries, 0 to 7
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1502 non-null   float64
 1   Name     1502 non-null   object
 2   nation   1502 non-null   object
 3   D Score  1502 non-null   float64
 4   E Score  1502 non-null   float64
 5   Pen.     1502 non-null   float64
 6   Total    1502 non-null   float64
 7   year     1502 non-null   object
 8   round    1502 non-null   object
dtypes: float64(5), object(4)
memory usage: 117.3+ KB

In [46]:
ub.head(1)

   Rank             Name nation  D Score  E Score  Pen.  Total  year round
0  52.0  Jana ABDELSALAM    EGY      4.8      8.0   0.0   12.8  2022  qual

In [47]:
ub_euro_championship18.head(1)

   Rank             Athlete Nation    D    E   ND  Total  year  round
0     1  Angelina Melnikova    RUS  6.2  8.3  0.0   14.5  2021  final

In [48]:
rename_columns(ub_euro_championship18)

In [49]:
ub_euro_championship18 = reorder_columns(ub_euro_championship18)

In [50]:
rename_columns(ub_euro_championship21)

In [51]:
ub_euro_championship21 = reorder_columns(ub_euro_championship21)

In [52]:
combined_df = pd.concat([ub, ub_euro_championship21,ub_euro_championship18])

In [53]:
ub = combined_df.copy()

In [54]:
ub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1702 entries, 0 to 103
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1702 non-null   float64
 1   Name     1702 non-null   object
 2   nation   1702 non-null   object
 3   D Score  1702 non-null   float64
 4   E Score  1702 non-null   float64
 5   Pen.     1521 non-null   float64
 6   Total    1702 non-null   float64
 7   year     1702 non-null   object
 8   round    1702 non-null   object
dtypes: float64(5), object(4)
memory usage: 133.0+ KB

In [55]:
ub['Pen.'].fillna(0,inplace=True)

In [56]:
ub[ub['Name']== 'Aliya Mustafina']

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
10,3.0,Aliya Mustafina,RUS,6.5,8.533,0.0,15.033,2013,final
21,6.0,Aliya Mustafina,RUS,6.3,8.800,0.0,15.100,2014,final
44,5.0,Aliya Mustafina,unknown,5.8,8.633,0.0,14.433,2018,final

In [57]:
rename_columns(pam14am_ub)
pam14am_ub = reorder_columns(pam14am_ub)

In [58]:
rename_columns(euro19games_ub)
euro19games_ub = reorder_columns(euro19games_ub)

In [59]:
combined_df = pd.concat([ub, pam14am_ub, euro19games_ub])

In [60]:
ub = combined_df.copy()

In [61]:
ub.duplicated().sum()

0

In [62]:
# clean_universiade2015ub
# clean_euro15champ_ub

In [63]:
rename_columns(clean_universiade2015ub)
clean_universiade2015ub = reorder_columns(clean_universiade2015ub)

In [64]:
rename_columns(clean_euro15champ_ub)
clean_euro15champ_ub = reorder_columns(clean_euro15champ_ub)

In [65]:
combined_df = pd.concat([ub, clean_universiade2015ub, clean_euro15champ_ub])

In [66]:
ub = combined_df.copy()

In [67]:
ub.duplicated().sum()

0

In [68]:
# ub.to_csv('ub_w.csv', index=False)

In [69]:
ub

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
0,52.0,Jana ABDELSALAM,EGY,4.8,8.000,0.0,12.800,2022,qual
1,29.0,Jana ABDELSALAM,EGY,4.5,6.266,0.0,10.766,2023,qual
2,21.0,Jana ABDELSALAM,EGY,3.8,5.533,0.0,9.333,2023,qual
3,45.0,Ayesha ABDULLAHI,GBR,3.5,6.700,0.0,10.200,2022,qual
4,39.0,Kumudi Imanya ABEYRATNE,SRI,1.2,4.300,0.0,5.500,2022,qual
...,...,...,...,...,...,...,...,...,...
88,81.0,Mia Haerum,NOR,1.2,7.566,0.0,8.766,2015,qual
89,82.0,Andrea Orradottir,ISL,2.5,5.700,0.0,8.200,2015,qual
90,83.0,Albena Zlatkova,BUL,3.2,4.600,0.0,7.800,2015,qual
91,84.0,Linnea Wang,DEN,3.5,3.933,0.0,7.433,2015,qual
92,85.0,Gabriele Blazyte,LTU,3.0,3.800,0.0,6.800,2015,qual