In [1]:
import pandas as pd
import numpy as np

In [17]:
clean_universiade2015fx= pd.read_csv('../../Cleaning/qual_events/women/clean_universiade2015fx.csv')
pac16ub = pd.read_csv('../../Cleaning/qual_events/women/clean_pacific_rim2016ub.csv')
bc15ub = pd.read_csv('../../Cleaning/qual_events/women/clean_british_championship2015ub.csv')
jesolo15ub = pd.read_csv('../../Cleaning/qual_events/women/clean_jesolo2015ub.csv')
wc13cott_ub = pd.read_csv('../../Cleaning/qual_events/women/clean_wc13cott_ub.csv')
wc13doha_ub = pd.read_csv('../../Cleaning/qual_events/women/clean_wc14doha_ub.csv')
wc15cott_ub = pd.read_csv('../../Cleaning/qual_events/women/clean_worldcup2015cott_ub.csv')
wc19doha_ub = pd.read_csv('../../Cleaning/qual_events/women/clean_worldcup2019doha_ub.csv')
eu20_ub = pd.read_csv('../../Cleaning/qual_events/women/euro2020ub.csv')
uni19_ub = pd.read_csv('../../Cleaning/qual_events/women/uni2019ub.csv')
# wc19melb_ub = pd.read_csv('../../Cleaning/qual_events/women/clean_worldcup2019melbourne_ub.csv')
wc18jeso_ub = pd.read_csv('../../Cleaning/qual_events/women/clean_worldcup2018jesolo_ub.csv')
ub_world_championship_w = pd.read_csv('../../Cleaning/World_Championships/ub_world_championship_w.csv')
usopc_ub = pd.read_csv('../../Cleaning/USOPC/usopc_women_ub_october.csv')
ub_euro_championship18 = pd.read_csv('../../Cleaning/qual_events/women/clean_european_championship2018ub.csv')
ub_euro_championship21 = pd.read_csv('../../Cleaning/qual_events/women/clean_european_championship2021ub.csv')

pam14am_ub = pd.read_csv('../../Cleaning/qual_events/women/clean_pan_american2014ub.csv')
euro19games_ub= pd.read_csv('../../Cleaning/qual_events/women/clean_european_games2019ub.csv')

clean_universiade2015ub= pd.read_csv('../../Cleaning/qual_events/women/clean_universiade2015ub.csv')
clean_euro15champ_ub= pd.read_csv('../../Cleaning/qual_events/women/clean_euro15champ_ub.csv')

In [19]:
eu20_ub.rename(columns={'Gymnast': 'Name', 'Position': 'Rank', 'Penalty': 'Pen.'}, inplace=True)
uni19_ub['nation'] = uni19_ub['Athlete'].str.extract(r'\((.*?)\)')
uni19_ub['Athlete'] = uni19_ub['Athlete'].str.replace(r'\(.*?\)', '', regex=True)
uni19_ub['year']=2019
eu20_ub['year']=2020
eu20_ub['nation']='eu'
uni19_ub.rename(columns={'Athlete': 'Name', }, inplace=True)
uni19_ub['round']='final'
eu20_ub['round']='final'

In [20]:
eu20_ub=eu20_ub[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year']]
uni19_ub = uni19_ub[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year']]

In [21]:
wc19doha_ub.rename(columns={'Athlete': 'Name', 
                            'Nation': 'nation', 'D': 'D Score',
                           'E': 'E Score', 'ND': 'Pen.'}, inplace=True)

wc19doha_ub=wc19doha_ub[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [22]:
wc15cott_ub.rename(columns={'Athlete': 'Name', 
                            'Nation': 'nation', 'D': 'D Score',
                           'E': 'E Score', 'ND': 'Pen.'}, inplace=True)
wc15cott_ub=wc15cott_ub[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [23]:
usopc_ub=usopc_ub.drop(columns=["Gender", 'Competition', 'Apparatus', ])
usopc_ub['year'] = usopc_ub['Date'].str[:4]
usopc_ub=usopc_ub.drop(columns=["Date"])

In [24]:
usopc_ub.rename(columns={'Country': 'nation', 'Round': 'round',
                           'E_Score': 'E Score','D_Score': 'D Score', 'Penalty': 'Pen.',
                        'Score': 'Total'}, inplace=True)

usopc_ub=usopc_ub[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [25]:
eu20_ub.head(1)

   Rank           Name nation  D Score  E Score  Pen.  Total  year
0     1  Zsófia Kóvacs     eu      5.7     8.15   0.0  13.85  2020

In [26]:
combined_df = pd.concat([usopc_ub, wc15cott_ub, wc19doha_ub, eu20_ub, uni19_ub], axis=0)

In [27]:
ub = combined_df.copy()

In [28]:
column_name_mapping = {
    'Athlete': 'Name',
    'Nation': 'nation',
    'D': 'D Score',
    'E': 'E Score',
    'ND': 'Pen.',
    'Score': 'Total'
}

wc13doha_ub.rename(columns=column_name_mapping, inplace=True)

In [29]:
desired_column_order = ['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year',
       'round']

wc13doha_ub = wc13doha_ub[desired_column_order]

In [30]:
column_name_mapping = {
    'Athlete': 'Name',
    'Nation': 'nation',
    'D': 'D Score',
    'E': 'E Score',
    'ND': 'Pen.',
    'Score': 'Total'
}

wc13cott_ub.rename(columns=column_name_mapping, inplace=True)

In [31]:
desired_column_order = ['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year',
       'round']

wc13cott_ub = wc13cott_ub[desired_column_order]

In [32]:
ub = pd.concat([ub, wc13doha_ub,wc13cott_ub])

In [33]:
def rename_columns(dataframe):
    column_name_mapping = {
        'Athlete': 'Name',
        'Gymnast': 'Name',
        'Nation': 'nation',
        'D': 'D Score',
        'E': 'E Score',
        'ND': 'Pen.',
        'Score': 'Total',
        'Position': 'Rank'
    }

    return dataframe.rename(columns=column_name_mapping, inplace=True)

In [34]:
rename_columns(wc19melb_ub)

In [35]:
def reorder_columns(dataframe):
    desired_column_order = ['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year', 'round']

    return dataframe[desired_column_order]

In [36]:
wc19melb_ub = reorder_columns(wc19melb_ub)

# Functions


- rename_columns(wc19melb_ub)

- wc19melb_ub = reorder_columns(wc19melb_ub)

In [37]:
wc18jeso_ub['year']=2018
wc18jeso_ub['round']='final'

In [38]:
wc18jeso_ub

   Rank              Athlete Nation    D      E   ND   Total  year  round
0     1  Anastasia Iliankova    RUS  6.1  8.500  0.0  14.600  2018  final
1     2          Ragan Smith    USA  6.0  8.567  0.0  14.567  2018  final
2     3   Angelina Melnikova    RUS  5.9  8.433  0.0  14.333  2018  final
3     4  Alyona Shchennikova    USA  6.0  8.167  0.0  14.167  2018  final
4     5       Lorette Charpy    FRA  5.5  8.100  0.0  13.600  2018  final
5     6         Jade Barbosa    BRA  5.5  8.033  0.0  13.533  2018  final
6     7       Giada Grisetti    ITA  5.7  7.800  0.0  13.500  2018  final
7     8         Guo Fangting    CHN  4.7  8.033  0.0  12.733  2018  final

In [39]:
rename_columns(wc18jeso_ub)

In [40]:
wc18jeso_ub = reorder_columns(wc18jeso_ub)

In [41]:
combined_df = pd.concat([ub, wc19melb_ub,wc18jeso_ub])

In [42]:
ub = combined_df.copy()

In [43]:
rename_columns(ub_world_championship_w)

In [44]:
ub_world_championship_w = reorder_columns(ub_world_championship_w)

In [45]:
rename_columns(pac16ub)

In [46]:
pac16ub = reorder_columns(pac16ub)

In [47]:
rename_columns(jesolo15ub)

In [48]:
jesolo15ub = reorder_columns(jesolo15ub)

In [49]:
rename_columns(bc15ub)

In [50]:
bc15ub = reorder_columns(bc15ub)

In [51]:
combined_df = pd.concat([ub, ub_world_championship_w,pac16ub,jesolo15ub,bc15ub])

In [52]:
ub=combined_df.copy()

In [53]:
ub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1977 entries, 0 to 7
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1977 non-null   float64
 1   Name     1977 non-null   object
 2   nation   1953 non-null   object
 3   D Score  1977 non-null   float64
 4   E Score  1977 non-null   float64
 5   Pen.     1969 non-null   float64
 6   Total    1977 non-null   float64
 7   year     1977 non-null   object
 8   round    1961 non-null   object
dtypes: float64(5), object(4)
memory usage: 154.5+ KB

In [54]:
ub.duplicated().sum()

40

In [55]:
# Find and display all duplicate rows
duplicates =ub[ub.duplicated(keep=False)]

In [56]:
ub = ub.drop_duplicates()

In [57]:
ub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1937 entries, 0 to 7
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1937 non-null   float64
 1   Name     1937 non-null   object
 2   nation   1913 non-null   object
 3   D Score  1937 non-null   float64
 4   E Score  1937 non-null   float64
 5   Pen.     1929 non-null   float64
 6   Total    1937 non-null   float64
 7   year     1937 non-null   object
 8   round    1921 non-null   object
dtypes: float64(5), object(4)
memory usage: 151.3+ KB

In [58]:
ub['Pen.'].fillna(0, inplace=True)

In [59]:
ub['round'].fillna('unknown', inplace=True)
ub['nation'].fillna('unknown', inplace=True)

In [60]:
ub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1937 entries, 0 to 7
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1937 non-null   float64
 1   Name     1937 non-null   object
 2   nation   1937 non-null   object
 3   D Score  1937 non-null   float64
 4   E Score  1937 non-null   float64
 5   Pen.     1937 non-null   float64
 6   Total    1937 non-null   float64
 7   year     1937 non-null   object
 8   round    1937 non-null   object
dtypes: float64(5), object(4)
memory usage: 151.3+ KB

In [61]:
ub.head(1)

   Rank             Name nation  D Score  E Score  Pen.  Total  year round
0  52.0  Jana ABDELSALAM    EGY      4.8      8.0   0.0   12.8  2022  qual

In [62]:
ub_euro_championship18.head(1)

   Rank             Athlete Nation    D    E   ND  Total  year  round
0     1  Angelina Melnikova    RUS  6.2  8.3  0.0   14.5  2021  final

In [63]:
rename_columns(ub_euro_championship18)

In [64]:
ub_euro_championship18 = reorder_columns(ub_euro_championship18)

In [65]:
rename_columns(ub_euro_championship21)

In [66]:
ub_euro_championship21 = reorder_columns(ub_euro_championship21)

In [67]:
combined_df = pd.concat([ub, ub_euro_championship21,ub_euro_championship18])

In [68]:
ub = combined_df.copy()

In [69]:
ub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2137 entries, 0 to 103
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     2137 non-null   float64
 1   Name     2137 non-null   object
 2   nation   2137 non-null   object
 3   D Score  2137 non-null   float64
 4   E Score  2137 non-null   float64
 5   Pen.     1956 non-null   float64
 6   Total    2137 non-null   float64
 7   year     2137 non-null   object
 8   round    2137 non-null   object
dtypes: float64(5), object(4)
memory usage: 167.0+ KB

In [70]:
ub['Pen.'].fillna(0,inplace=True)

In [71]:
ub[ub['Name']== 'Aliya Mustafina']

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
10,3.0,Aliya Mustafina,RUS,6.5,8.533,0.0,15.033,2013,final
21,6.0,Aliya Mustafina,RUS,6.3,8.800,0.0,15.100,2014,final
44,5.0,Aliya Mustafina,unknown,5.8,8.633,0.0,14.433,2018,final

In [72]:
rename_columns(pam14am_ub)
pam14am_ub = reorder_columns(pam14am_ub)

In [73]:
rename_columns(euro19games_ub)
euro19games_ub = reorder_columns(euro19games_ub)

In [74]:
combined_df = pd.concat([ub, pam14am_ub, euro19games_ub])

In [75]:
ub = combined_df.copy()

In [76]:
ub.duplicated().sum()

0

In [77]:
# clean_universiade2015ub
# clean_euro15champ_ub

In [78]:
rename_columns(clean_universiade2015ub)
clean_universiade2015ub = reorder_columns(clean_universiade2015ub)

In [79]:
rename_columns(clean_euro15champ_ub)
clean_euro15champ_ub = reorder_columns(clean_euro15champ_ub)

In [80]:
combined_df = pd.concat([ub, clean_universiade2015ub, clean_euro15champ_ub])

In [81]:
ub = combined_df.copy()

In [82]:
ub.duplicated().sum()

0

In [83]:
# ub.to_csv('ub_w.csv', index=False)

In [84]:
ub

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
0,52.0,Jana ABDELSALAM,EGY,4.8,8.000,0.0,12.800,2022,qual
1,6.0,Jana ABDELSALAM,EGY,4.6,6.266,0.0,10.866,2022,final
2,7.0,Jana ABDELSALAM,EGY,4.6,6.633,0.0,11.233,2022,qual
3,152.0,Jana ABDELSALAM,EGY,3.8,4.433,0.0,8.233,2023,qual
4,29.0,Jana ABDELSALAM,EGY,4.5,6.266,0.0,10.766,2023,qual
...,...,...,...,...,...,...,...,...,...
88,81.0,Mia Haerum,NOR,1.2,7.566,0.0,8.766,2015,qual
89,82.0,Andrea Orradottir,ISL,2.5,5.700,0.0,8.200,2015,qual
90,83.0,Albena Zlatkova,BUL,3.2,4.600,0.0,7.800,2015,qual
91,84.0,Linnea Wang,DEN,3.5,3.933,0.0,7.433,2015,qual
92,85.0,Gabriele Blazyte,LTU,3.0,3.800,0.0,6.800,2015,qual