### Total: 14



2016
- 11

2020
- 3

# 2016
1. simone biles (USA) 	
2. maria paseka (RUS) 
3. giulia steingruber (SUI)

# 2020
1. rebeca andrade (BRA) - no comps	
2. mykayla skinner (USA) - no comps	
3. yeo seo-jeong (KOR)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('vt_w.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2308 entries, 0 to 2307
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     2308 non-null   float64
 1   Athlete  2308 non-null   object
 2   Nation   2308 non-null   object
 3   D        2308 non-null   float64
 4   E        2308 non-null   float64
 5   ND       2308 non-null   float64
 6   Total    2308 non-null   float64
 7   D2       2308 non-null   float64
 8   E2       2308 non-null   float64
 9   ND2      2308 non-null   float64
 10  Total2   2308 non-null   float64
 11  Average  2308 non-null   float64
 12  year     2308 non-null   float64
 13  round    2308 non-null   object
dtypes: float64(11), object(3)
memory usage: 252.6+ KB

In [4]:
df['Athlete'] = df['Athlete'].str.lower()

In [5]:
df = df.rename(columns={'Athlete': 'Name'})

In [6]:
df16 = df[df['year'].isin([2013, 2014, 2015, 2016])].copy()
df20 = df[df['year'].isin([2017, 2018, 2019, 2020])].copy()
df24 = df[df['year'].isin([2022, 2023])].copy()

In [7]:
df1 = df20.copy()

In [8]:
df1

,Rank,Name,Nation,D,E,ND,Total,D2,E2,ND2,Total2,Average,year,round
0,1.0,liu jinru,CHN,5.6,8.733,0.0,14.333,5.8,8.433,0.0,14.233,14.283,2018.0,final
1,2.0,angelina melnikova,RUS,5.4,9.133,0.0,14.533,5.2,8.900,-0.1,14.000,14.267,2018.0,final
2,3.0,eleonora afanasyeva,RUS,5.4,9.233,0.0,14.633,4.8,9.000,0.0,13.800,14.217,2018.0,final
3,4.0,denisa golgota,ROU,5.4,9.067,0.0,14.467,4.8,8.867,0.0,13.667,14.067,2018.0,final
4,5.0,grace mccallum,USA,5.4,9.267,0.0,14.667,4.6,8.767,0.0,13.367,14.017,2018.0,final
5,6.0,desiree carofiglio,ITA,5.0,9.367,0.0,14.367,4.2,9.333,0.0,13.533,13.950,2018.0,final
6,7.0,sara ricciardi,ITA,4.6,9.000,0.0,13.600,4.0,9.067,0.0,13.067,13.334,2018.0,final
7,1.0,yeo seo-jeong,KOR,5.8,8.666,0.0,14.466,5.4,8.666,0.0,14.066,14.266,2019.0,final
8,2.0,oksana chusovitina,UZB,5.4,8.900,0.0,14.300,5.2,8.900,0.0,14.100,14.200,2019.0,final
9,3.0,yu linmin,CHN,5.4,8.833,0.0,14.233,5.2,8.733,0.0,13.933,14.083,2019.0,final
10,4.0,alexa moreno,MEX,5.8,8.633,0.0,14.433,4.8,8.900,0.0,13.700,14.066,2019.0,final
11,5.0,ayaka sakaguchi,JPN,5.4,8.700,0.0,14.100,4.8,8.766,0.0,13.566,13.833,2019.0,final
12,6.0,tjasa kysselef,SLO,4.8,8.833,0.0,13.633,5.0,9.033,0.0,14.033,13.833,2019.0,final
13,7.0,paula mejias,PUR,4.8,8.766,0.0,13.566,4.8,8.700,0.0,13.500,13.533,2019.0,final
14,8.0,asuka ogawa,JPN,5.4,7.758,-0.3,12.858,4.8,8.366,-0.1,13.066,12.962,2019.0,final
48,1.0,zsófia kóvacs,eu,5.4,8.950,0.0,14.350,4.8,8.950,0.0,13.750,14.050,2020.0,final
49,2.0,larisa iordache,eu,5.4,8.800,0.0,14.200,4.8,8.750,0.0,13.550,13.875,2020.0,final
50,3.0,anastasiia motak,eu,5.4,8.850,0.0,14.250,4.8,8.650,0.0,13.450,13.850,2020.0,final
51,4.0,csenge bácksay,eu,5.0,8.700,0.0,13.700,4.8,8.800,0.0,13.600,13.650,2020.0,final
52,5.0,ioana stănciulescu,eu,5.4,8.750,0.0,14.150,4.2,8.800,0.0,13.000,13.575,2020.0,final
53,6.0,dilara yurtdaş,eu,4.6,9.000,0.0,13.600,4.6,8.750,0.0,13.350,13.475,2020.0,final
54,7.0,elina vihrova,eu,4.6,8.800,0.0,13.400,4.6,8.500,0.0,13.100,13.250,2020.0,final
55,8.0,tijana korent,eu,4.6,8.600,0.0,13.200,4.6,8.650,0.0,13.250,13.225,2020.0,final
2227,1.0,maria paseka,none,6.0,8.700,0.0,14.700,5.8,9.200,0.0,15.000,14.850,2017.0,final
2228,2.0,jade carey,none,5.8,9.000,0.0,14.800,5.6,9.133,0.0,14.733,14.766,2017.0,final
2229,3.0,giulia steingruber,none,5.8,8.933,-0.1,14.633,5.4,8.900,0.0,14.300,14.466,2017.0,final
2230,4.0,ellie black,none,5.4,9.166,0.0,14.566,5.2,9.066,0.0,14.266,14.416,2017.0,final
2231,5.0,oksana chusovitina,none,5.4,9.033,0.0,14.433,5.2,9.100,0.0,14.300,14.366,2017.0,final
2232,6.0,wang yan,none,5.6,8.900,0.0,14.500,5.8,8.500,-0.1,14.200,14.350,2017.0,final
2233,7.0,shallon olsen,none,5.8,7.833,-0.1,13.533,6.0,8.933,0.0,14.933,14.233,2017.0,final
2234,8.0,sae miyakawa,none,5.8,8.700,0.0,14.500,5.4,7.700,0.0,13.100,13.800,2017.0,final
2235,4.0,oksana chusovitina,none,5.8,8.600,0.0,14.400,5.2,9.000,0.0,14.200,14.300,2018.0,final
2236,5.0,yeo seo-jeong,none,5.8,8.833,0.1,14.533,5.4,8.533,0.0,13.933,14.233,2018.0,final
2237,6.0,liu jinru,none,5.6,8.600,0.1,14.100,5.8,8.400,0.0,14.200,14.150,2018.0,final
2238,7.0,ellie black,none,5.4,8.600,0.0,14.000,5.2,9.033,0.0,14.233,14.116,2018.0,final
2239,8.0,pyon rye-yong,none,5.8,7.566,0.3,13.066,5.8,8.366,0.0,14.166,13.616,2018.0,final
2240,1.0,simone biles,none,6.0,9.333,0.0,15.333,5.8,9.666,0.0,15.466,15.399,2019.0,final
2241,2.0,jade carey,none,6.0,9.166,0.0,15.166,5.8,9.100,0.3,14.600,14.883,2019.0,final
2242,3.0,ellie downie,none,5.4,9.200,0.0,14.600,6.0,9.033,0.0,15.033,14.816,2019.0,final
2243,4.0,shallon olsen,none,5.4,9.200,0.0,14.600,6.0,8.866,0.0,14.866,14.733,2019.0,final
2244,5.0,qi qi,none,5.4,9.200,0.0,14.600,5.8,8.900,0.0,14.700,14.650,2019.0,final
2245,6.0,alexa moreno,none,5.8,8.766,0.1,14.466,5.6,9.200,0.0,14.800,14.633,2019.0,final
2246,7.0,lilia akhaimova,none,5.8,8.900,0.0,14.700,5.6,8.733,0.3,14.033,14.366,2019.0,final
2247,8.0,yeo seo-jeong,none,6.2,8.033,0.3,13.933,5.4,9.033,0.0,14.433,14.183,2019.0,final
2272,1.0,teja belak,SLO,5.4,9.033,0.0,14.433,0.0,0.000,0.0,0.000,14.283,2019.0,final
2273,1.0,teja belak,SLO,5.0,9.133,0.0,14.133,0.0,0.000,0.0,0.000,14.283,2019.0,final
2274,2.0,angelina melnikova,RUS,5.4,8.800,-0.1,14.100,0.0,0.000,0.0,0.000,14.133,2019.0,final
2275,2.0,angelina melnikova,RUS,5.2,8.966,0.0,14.166,0.0,0.000,0.0,0.000,14.133,2019.0,final
2276,3.0,sara peter,HUN,5.4,8.933,0.0,14.333,0.0,0.000,0.0,0.000,14.066,2019.0,final
2277,3.0,sara peter,HUN,5.0,8.800,0.0,13.800,0.0,0.000,0.0,0.000,14.066,2019.0,final
2278,4.0,gabriela janik,POL,4.8,8.833,0.0,13.633,0.0,0.000,0.0,0.000,13.699,2019.0,final
2279,4.0,gabriela janik,POL,4.8,8.966,0.0,13.766,0.0,0.000,0.0,0.000,13.699,2019.0,final
2280,5.0,ofir netzer,ISR,4.8,8.900,0.0,13.700,0.0,0.000,0.0,0.000,13.666,2019.0,final
2281,5.0,ofir netzer,ISR,4.8,8.833,0.0,13.633,0.0,0.000,0.0,0.000,13.666,2019.0,final
2282,6.0,marina nekrasova,AZE,5.4,7.600,-0.1,12.900,0.0,0.000,0.0,0.000,13.466,2019.0,final
2283,6.0,marina nekrasova,AZE,5.2,8.833,0.0,14.033,0.0,0.000,0.0,0.000,13.466,2019.0,final

In [9]:
# def assign_medal(name):
#     name_lower = name.lower()
#     if name_lower == 'simone biles':
#         return 3
#     elif name_lower == 'maria paseka':
#         return 2
#     elif name_lower == 'giulia steingruber':
#         return 1
#     else:
#         return 0

# df16['medal'] = df16['Name'].apply(assign_medal)

In [10]:
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'simone biles':
        return 1
    elif name_lower == 'maria paseka':
        return 1
    elif name_lower == 'giulia steingruber':
        return 1
    else:
        return 0

df16['medal'] = df16['Name'].apply(assign_medal)

In [11]:
df16['medal'].value_counts()

medal
0    78
1    11
Name: count, dtype: int64

In [12]:
df16[df16["Name"]=="simone biles"]

,Rank,Name,Nation,D,E,ND,Total,D2,E2,ND2,Total2,Average,year,round,medal
43,1.0,simone biles,USA,6.3,9.600,0.0,15.900,5.6,9.550,0.0,15.150,15.525,2015.0,final,1
2204,2.0,simone biles,USA,6.3,9.633,0.0,15.933,5.6,9.658,0.0,15.258,15.595,2013.0,final,1
2212,2.0,simone biles,USA,6.3,9.600,0.0,15.900,5.6,9.608,0.0,15.208,15.554,2014.0,final,1
2221,3.0,simone biles,USA,6.3,9.600,0.0,15.900,5.6,9.583,0.0,15.183,15.541,2015.0,final,1

In [13]:
df16[df16["Name"]=="maria paseka"]

,Rank,Name,Nation,D,E,ND,Total,D2,E2,ND2,Total2,Average,year,round,medal
2219,1.0,maria paseka,RUS,6.4,9.233,0.0,15.633,6.3,9.4,0.0,15.7,15.666,2015.0,final,1
2292,1.0,maria paseka,RUS,6.3,9.100,0.0,15.400,5.6,8.8,-0.3,14.1,14.750,2015.0,final,1
2300,1.0,maria paseka,RUS,6.4,8.700,0.0,15.100,6.3,9.1,0.0,15.4,15.250,2015.0,final,1

In [14]:
df16[df16["Name"]=="giulia steingruber"]

,Rank,Name,Nation,D,E,ND,Total,D2,E2,ND2,Total2,Average,year,round,medal
2206,4.0,giulia steingruber,SUI,6.2,9.300,0.0,15.500,5.8,9.166,0.0,14.966,15.233,2013.0,final,1
2215,5.0,giulia steingruber,SUI,6.2,9.033,0.0,15.233,5.0,9.200,0.0,14.200,14.716,2014.0,final,1
2225,7.0,giulia steingruber,SUI,6.2,9.400,-0.1,15.500,5.3,8.333,0.0,13.633,14.566,2015.0,final,1
2301,2.0,giulia steingruber,SUI,6.2,9.133,0.0,15.333,5.8,9.166,0.0,14.966,15.149,2015.0,final,1

In [15]:

#     rebeca andrade (BRA)
#     mykayla skinner (USA)
#     yeo seo-jeong (KOR)

In [16]:
# def assign_medal(name):
#     name_lower = name.lower()
#     if name_lower == 'rebeca andrade':
#         return 3
#     elif name_lower == 'mykayla skinner':
#         return 2
#     elif name_lower == 'yeo seo-jeong':
#         return 1
#     else:
#         return 0

# df20['medal'] = df20['Name'].apply(assign_medal)

In [17]:
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'rebeca andrade':
        return 1
    elif name_lower == 'mykayla skinner':
        return 1
    elif name_lower == 'yeo seo-jeong':
        return 1
    else:
        return 0

df20['medal'] = df20['Name'].apply(assign_medal)

In [18]:
df20['medal'].value_counts()

medal
0    53
1     3
Name: count, dtype: int64

In [19]:
df20[df20['Name']=='rebeca andrade']

Empty DataFrame
Columns: [Rank, Name, Nation, D, E, ND, Total, D2, E2, ND2, Total2, Average, year, round, medal]
Index: []

In [20]:
df20[df20['Name']=='mykayla skinner']

Empty DataFrame
Columns: [Rank, Name, Nation, D, E, ND, Total, D2, E2, ND2, Total2, Average, year, round, medal]
Index: []

In [21]:
df20[df20['Name']=='yeo seo-jeong']

,Rank,Name,Nation,D,E,ND,Total,D2,E2,ND2,Total2,Average,year,round,medal
7,1.0,yeo seo-jeong,KOR,5.8,8.666,0.0,14.466,5.4,8.666,0.0,14.066,14.266,2019.0,final,1
2236,5.0,yeo seo-jeong,none,5.8,8.833,0.1,14.533,5.4,8.533,0.0,13.933,14.233,2018.0,final,1
2247,8.0,yeo seo-jeong,none,6.2,8.033,0.3,13.933,5.4,9.033,0.0,14.433,14.183,2019.0,final,1

In [22]:
combined_df = pd.concat([df20, df16], axis=0)
df = combined_df.copy()

In [23]:
df['medal'].value_counts()

medal
0    131
1     14
Name: count, dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 145 entries, 0 to 2307
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     145 non-null    float64
 1   Name     145 non-null    object
 2   Nation   145 non-null    object
 3   D        145 non-null    float64
 4   E        145 non-null    float64
 5   ND       145 non-null    float64
 6   Total    145 non-null    float64
 7   D2       145 non-null    float64
 8   E2       145 non-null    float64
 9   ND2      145 non-null    float64
 10  Total2   145 non-null    float64
 11  Average  145 non-null    float64
 12  year     145 non-null    float64
 13  round    145 non-null    object
 14  medal    145 non-null    int64
dtypes: float64(11), int64(1), object(3)
memory usage: 18.1+ KB

In [25]:
df.nunique()

Rank         8
Name        83
Nation      39
D           17
E           72
ND           5
Total       93
D2          19
E2          61
ND2          6
Total2      82
Average    113
year         8
round        2
medal        2
dtype: int64

In [26]:
df['round'] = df['round'].str.lower()

In [27]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['Name_encoded'] = le.fit_transform(df['Name'])

# Store the mapping between integers and original objects
label_mapping = dict(zip(le.transform(df['Name']), df['Name']))

In [28]:
df=df.drop(columns=["Name"])
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [29]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['nation_encoded'] = le.fit_transform(df['Nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(df['Nation']), df['Nation']))

In [30]:
df=df.drop(columns=["Nation"])
df.rename(columns={'nation_encoded': 'Nation'}, inplace=True)

In [31]:
df_encoded = pd.get_dummies(df, columns=['round'], prefix='round')

In [32]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 145 entries, 0 to 2307
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         145 non-null    float64
 1   D            145 non-null    float64
 2   E            145 non-null    float64
 3   ND           145 non-null    float64
 4   Total        145 non-null    float64
 5   D2           145 non-null    float64
 6   E2           145 non-null    float64
 7   ND2          145 non-null    float64
 8   Total2       145 non-null    float64
 9   Average      145 non-null    float64
 10  year         145 non-null    float64
 11  medal        145 non-null    int64
 12  Name         145 non-null    int64
 13  Nation       145 non-null    int64
 14  round_2015   145 non-null    bool
 15  round_final  145 non-null    bool
dtypes: bool(2), float64(11), int64(3)
memory usage: 17.3 KB

In [33]:
correlations = df_encoded.corrwith(df['medal'])

correlations.sort_values(ascending=False)

medal          1.000000
Total          0.433392
D              0.405137
Average        0.290484
E              0.240838
Nation         0.223166
Name           0.187326
D2             0.166492
Total2         0.160278
E2             0.149456
ND             0.094747
round_final    0.078997
ND2            0.008550
round_2015    -0.078997
year          -0.105722
Rank          -0.181674
dtype: float64

In [34]:
# medal 0 or 1
# medal          1.000000
# Total          0.433392
# D              0.405137
# Average        0.290484
# E              0.240838
# Nation         0.223166
# Name           0.187326
# D2             0.166492
# Total2         0.160278
# E2             0.149456
# ND             0.094747
# round_final    0.078997
# ND2            0.008550
# round_2015    -0.078997
# year          -0.105722
# Rank          -0.181674
# dtype: float64

In [35]:
# # medal 3,2,1,0
# medal          1.000000
# Total          0.463714
# D              0.387158
# Average        0.312243
# E              0.304129
# Nation         0.205074
# Name           0.204034
# D2             0.156780
# Total2         0.156262
# E2             0.149686
# round_final    0.070466
# ND             0.052483
# ND2            0.003522
# round_2015    -0.070466
# year          -0.146415
# Rank          -0.239848
# dtype: float64

In [36]:
# df_encoded.to_csv('vt_encoded.csv', index=False)

In [37]:
df1

,Rank,Name,Nation,D,E,ND,Total,D2,E2,ND2,Total2,Average,year,round
0,1.0,liu jinru,CHN,5.6,8.733,0.0,14.333,5.8,8.433,0.0,14.233,14.283,2018.0,final
1,2.0,angelina melnikova,RUS,5.4,9.133,0.0,14.533,5.2,8.900,-0.1,14.000,14.267,2018.0,final
2,3.0,eleonora afanasyeva,RUS,5.4,9.233,0.0,14.633,4.8,9.000,0.0,13.800,14.217,2018.0,final
3,4.0,denisa golgota,ROU,5.4,9.067,0.0,14.467,4.8,8.867,0.0,13.667,14.067,2018.0,final
4,5.0,grace mccallum,USA,5.4,9.267,0.0,14.667,4.6,8.767,0.0,13.367,14.017,2018.0,final
5,6.0,desiree carofiglio,ITA,5.0,9.367,0.0,14.367,4.2,9.333,0.0,13.533,13.950,2018.0,final
6,7.0,sara ricciardi,ITA,4.6,9.000,0.0,13.600,4.0,9.067,0.0,13.067,13.334,2018.0,final
7,1.0,yeo seo-jeong,KOR,5.8,8.666,0.0,14.466,5.4,8.666,0.0,14.066,14.266,2019.0,final
8,2.0,oksana chusovitina,UZB,5.4,8.900,0.0,14.300,5.2,8.900,0.0,14.100,14.200,2019.0,final
9,3.0,yu linmin,CHN,5.4,8.833,0.0,14.233,5.2,8.733,0.0,13.933,14.083,2019.0,final
10,4.0,alexa moreno,MEX,5.8,8.633,0.0,14.433,4.8,8.900,0.0,13.700,14.066,2019.0,final
11,5.0,ayaka sakaguchi,JPN,5.4,8.700,0.0,14.100,4.8,8.766,0.0,13.566,13.833,2019.0,final
12,6.0,tjasa kysselef,SLO,4.8,8.833,0.0,13.633,5.0,9.033,0.0,14.033,13.833,2019.0,final
13,7.0,paula mejias,PUR,4.8,8.766,0.0,13.566,4.8,8.700,0.0,13.500,13.533,2019.0,final
14,8.0,asuka ogawa,JPN,5.4,7.758,-0.3,12.858,4.8,8.366,-0.1,13.066,12.962,2019.0,final
48,1.0,zsófia kóvacs,eu,5.4,8.950,0.0,14.350,4.8,8.950,0.0,13.750,14.050,2020.0,final
49,2.0,larisa iordache,eu,5.4,8.800,0.0,14.200,4.8,8.750,0.0,13.550,13.875,2020.0,final
50,3.0,anastasiia motak,eu,5.4,8.850,0.0,14.250,4.8,8.650,0.0,13.450,13.850,2020.0,final
51,4.0,csenge bácksay,eu,5.0,8.700,0.0,13.700,4.8,8.800,0.0,13.600,13.650,2020.0,final
52,5.0,ioana stănciulescu,eu,5.4,8.750,0.0,14.150,4.2,8.800,0.0,13.000,13.575,2020.0,final
53,6.0,dilara yurtdaş,eu,4.6,9.000,0.0,13.600,4.6,8.750,0.0,13.350,13.475,2020.0,final
54,7.0,elina vihrova,eu,4.6,8.800,0.0,13.400,4.6,8.500,0.0,13.100,13.250,2020.0,final
55,8.0,tijana korent,eu,4.6,8.600,0.0,13.200,4.6,8.650,0.0,13.250,13.225,2020.0,final
2227,1.0,maria paseka,none,6.0,8.700,0.0,14.700,5.8,9.200,0.0,15.000,14.850,2017.0,final
2228,2.0,jade carey,none,5.8,9.000,0.0,14.800,5.6,9.133,0.0,14.733,14.766,2017.0,final
2229,3.0,giulia steingruber,none,5.8,8.933,-0.1,14.633,5.4,8.900,0.0,14.300,14.466,2017.0,final
2230,4.0,ellie black,none,5.4,9.166,0.0,14.566,5.2,9.066,0.0,14.266,14.416,2017.0,final
2231,5.0,oksana chusovitina,none,5.4,9.033,0.0,14.433,5.2,9.100,0.0,14.300,14.366,2017.0,final
2232,6.0,wang yan,none,5.6,8.900,0.0,14.500,5.8,8.500,-0.1,14.200,14.350,2017.0,final
2233,7.0,shallon olsen,none,5.8,7.833,-0.1,13.533,6.0,8.933,0.0,14.933,14.233,2017.0,final
2234,8.0,sae miyakawa,none,5.8,8.700,0.0,14.500,5.4,7.700,0.0,13.100,13.800,2017.0,final
2235,4.0,oksana chusovitina,none,5.8,8.600,0.0,14.400,5.2,9.000,0.0,14.200,14.300,2018.0,final
2236,5.0,yeo seo-jeong,none,5.8,8.833,0.1,14.533,5.4,8.533,0.0,13.933,14.233,2018.0,final
2237,6.0,liu jinru,none,5.6,8.600,0.1,14.100,5.8,8.400,0.0,14.200,14.150,2018.0,final
2238,7.0,ellie black,none,5.4,8.600,0.0,14.000,5.2,9.033,0.0,14.233,14.116,2018.0,final
2239,8.0,pyon rye-yong,none,5.8,7.566,0.3,13.066,5.8,8.366,0.0,14.166,13.616,2018.0,final
2240,1.0,simone biles,none,6.0,9.333,0.0,15.333,5.8,9.666,0.0,15.466,15.399,2019.0,final
2241,2.0,jade carey,none,6.0,9.166,0.0,15.166,5.8,9.100,0.3,14.600,14.883,2019.0,final
2242,3.0,ellie downie,none,5.4,9.200,0.0,14.600,6.0,9.033,0.0,15.033,14.816,2019.0,final
2243,4.0,shallon olsen,none,5.4,9.200,0.0,14.600,6.0,8.866,0.0,14.866,14.733,2019.0,final
2244,5.0,qi qi,none,5.4,9.200,0.0,14.600,5.8,8.900,0.0,14.700,14.650,2019.0,final
2245,6.0,alexa moreno,none,5.8,8.766,0.1,14.466,5.6,9.200,0.0,14.800,14.633,2019.0,final
2246,7.0,lilia akhaimova,none,5.8,8.900,0.0,14.700,5.6,8.733,0.3,14.033,14.366,2019.0,final
2247,8.0,yeo seo-jeong,none,6.2,8.033,0.3,13.933,5.4,9.033,0.0,14.433,14.183,2019.0,final
2272,1.0,teja belak,SLO,5.4,9.033,0.0,14.433,0.0,0.000,0.0,0.000,14.283,2019.0,final
2273,1.0,teja belak,SLO,5.0,9.133,0.0,14.133,0.0,0.000,0.0,0.000,14.283,2019.0,final
2274,2.0,angelina melnikova,RUS,5.4,8.800,-0.1,14.100,0.0,0.000,0.0,0.000,14.133,2019.0,final
2275,2.0,angelina melnikova,RUS,5.2,8.966,0.0,14.166,0.0,0.000,0.0,0.000,14.133,2019.0,final
2276,3.0,sara peter,HUN,5.4,8.933,0.0,14.333,0.0,0.000,0.0,0.000,14.066,2019.0,final
2277,3.0,sara peter,HUN,5.0,8.800,0.0,13.800,0.0,0.000,0.0,0.000,14.066,2019.0,final
2278,4.0,gabriela janik,POL,4.8,8.833,0.0,13.633,0.0,0.000,0.0,0.000,13.699,2019.0,final
2279,4.0,gabriela janik,POL,4.8,8.966,0.0,13.766,0.0,0.000,0.0,0.000,13.699,2019.0,final
2280,5.0,ofir netzer,ISR,4.8,8.900,0.0,13.700,0.0,0.000,0.0,0.000,13.666,2019.0,final
2281,5.0,ofir netzer,ISR,4.8,8.833,0.0,13.633,0.0,0.000,0.0,0.000,13.666,2019.0,final
2282,6.0,marina nekrasova,AZE,5.4,7.600,-0.1,12.900,0.0,0.000,0.0,0.000,13.466,2019.0,final
2283,6.0,marina nekrasova,AZE,5.2,8.833,0.0,14.033,0.0,0.000,0.0,0.000,13.466,2019.0,final

In [38]:
usa=df1[df1['Nation']=='USA']

In [39]:
usa

,Rank,Name,Nation,D,E,ND,Total,D2,E2,ND2,Total2,Average,year,round
4,5.0,grace mccallum,USA,5.4,9.267,0.0,14.667,4.6,8.767,0.0,13.367,14.017,2018.0,final