In [1]:
import pandas as pd
import numpy as np

In [2]:
iaa = pd.read_csv('../../../scraping/women/wc13w/wc13w_iaa.csv')
vt = pd.read_csv('../../../scraping/women/wc13w/wc13w_vt.csv')
fx = pd.read_csv('../../../scraping/women/wc13w/wc13w_fx.csv')
ub = pd.read_csv('../../../scraping/women/wc13w/wc13w_ub.csv')
bb = pd.read_csv('../../../scraping/women/wc13w/wc13w_bb.csv')

In [3]:
fx = fx.fillna(0)
vt = vt.fillna(0)
ub = ub.fillna(0)
bb = bb.fillna(0)

In [4]:
fx["year"]=2013
vt["year"]=2013
ub["year"]=2013
bb["year"]=2013
iaa["year"]=2013

In [5]:
bb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  8 non-null      int64
 1   Gymnast   8 non-null      object
 2   D Score   8 non-null      float64
 3   E Score   8 non-null      float64
 4   Penalty   8 non-null      float64
 5   Total     8 non-null      float64
 6   year      8 non-null      int64
dtypes: float64(4), int64(2), object(1)
memory usage: 576.0+ bytes

In [6]:
vt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      8 non-null      int64
 1   Gymnast   8 non-null      object
 2   D Score1  8 non-null      float64
 3   E Score1  8 non-null      float64
 4   Pen.1     8 non-null      float64
 5   Score 1   8 non-null      float64
 6   D Score2  8 non-null      float64
 7   E Score2  8 non-null      float64
 8   Pen.2     8 non-null      float64
 9   Score 2   8 non-null      float64
 10  Total     8 non-null      float64
 11  year      8 non-null      int64
dtypes: float64(9), int64(2), object(1)
memory usage: 896.0+ bytes

In [7]:
ub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  8 non-null      int64
 1   Gymnast   8 non-null      object
 2   D Score   8 non-null      float64
 3   E Score   8 non-null      float64
 4   Penalty   8 non-null      float64
 5   Total     8 non-null      float64
 6   year      8 non-null      int64
dtypes: float64(4), int64(2), object(1)
memory usage: 576.0+ bytes

In [8]:
fx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  8 non-null      int64
 1   Gymnast   8 non-null      object
 2   D Score   8 non-null      float64
 3   E Score   8 non-null      float64
 4   Penalty   8 non-null      float64
 5   Total     8 non-null      float64
 6   year      8 non-null      int64
dtypes: float64(4), int64(2), object(1)
memory usage: 576.0+ bytes

In [9]:
iaa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     24 non-null     int64
 1   Gymnast  24 non-null     object
 2   vt       24 non-null     float64
 3   ub       24 non-null     float64
 4   bb       24 non-null     float64
 5   fx       24 non-null     float64
 6   Total    24 non-null     float64
 7   year     24 non-null     int64
dtypes: float64(5), int64(2), object(1)
memory usage: 1.6+ KB

In [10]:
# fx.to_csv('wc13fx.csv', index=False)
# vt.to_csv('wc13vt.csv', index=False)
# ub.to_csv('wc13ub.csv', index=False)
# bb.to_csv('wc13bb.csv', index=False)
# iaa.to_csv('wc13iaa.csv', index=False)