In [1]:
import pandas as pd
import numpy as np

In [2]:
wc11 = pd.read_csv('wc11ub.csv')
wc13 = pd.read_csv('wc13ub.csv')
wc14 = pd.read_csv('wc14ub.csv')
wc15 = pd.read_csv('wc15ub.csv')
wc17 = pd.read_csv('wc17ub.csv')
wc18 = pd.read_csv('wc18ub.csv')
wc19 = pd.read_csv('wc19ub.csv')

In [23]:
wc11.rename(columns={ 'Pen.': 'Penalty'}, inplace=True)

In [25]:
wc11 =wc11.drop(columns=["Qual Rk"])

In [26]:
wc11.head(1)

   Position               Gymnast  D Score  E Score  Penalty  Total  year
0         1  Viktoria Komova(RUS)      6.7      8.8      0.0   15.5  2011

In [7]:
wc13.head(1)

   Position            Gymnast  D Score  E Score  Penalty  Total  year
0         1  Huang Huidan(CHN)      6.6      8.8      0.0   15.4  2013

In [8]:
wc14.head(1)

   Position          Gymnast  D Score  E Score  Penalty   Total  year
0         1  Yao Jinnan(CHN)      6.9    8.733      0.0  15.633  2014

In [9]:
wc15.head(1)

   Position         Gymnast  D Score  E Score  Penalty   Total  year
0         1  Fan Yilin(CHN)      6.9    8.466      0.0  15.366  2015

In [10]:
wc17.head(1)

   Position    Gymnast  D Score  E Score  Penalty   Total  year
0         1  Fan Yilin      6.5    8.666      0.0  15.166  2017

In [13]:
wc18.rename(columns={'Rank': 'Position', 'Pen.': 'Penalty'}, inplace=True)

In [14]:
wc18.head(1)

   Position       Gymnast  D Score  E Score  Penalty  Total  year
0         1  Nina Derwael      6.5      8.7      0.0   15.2  2018

In [17]:
wc19.rename(columns={'Rank': 'Position',  'Pen.': 'Penalty'}, inplace=True)

In [18]:
wc19.head(1)

   Position       Gymnast  D Score  E Score  Penalty   Total  year
0         1  Nina Derwael      6.5    8.733      0.0  15.233  2019

In [27]:
combined_df = pd.concat([wc11, wc13, wc14, wc15, wc17, wc18, wc19], axis=0)

In [28]:
combined_df

   Position                   Gymnast  D Score  E Score  Penalty   Total  year
0         1      Viktoria Komova(RUS)      6.7    8.800      0.0  15.500  2011
1         2      Tatiana Nabieva(RUS)      6.6    8.400      0.0  15.000  2011
2         3      Huang Qiushuang(CHN)      6.7    8.133      0.0  14.833  2011
3         4        Jordyn Wieber(USA)      6.3    8.200      0.0  14.500  2011
4         5        Gabby Douglas(USA)      6.3    7.900      0.0  14.200  2011
5         5       Asuka Teramoto(JPN)      6.3    7.900      0.0  14.200  2011
6         7         Koko Tsurumi(JPN)      6.4    7.666      0.0  14.066  2011
7         8      Youna Dufournet(FRA)      6.3    6.341      0.0  12.641  2011
0         1         Huang Huidan(CHN)      6.6    8.800      0.0  15.400  2013
1         2            Kyla Ross(USA)      6.4    8.866      0.0  15.266  2013
2         3      Aliya Mustafina(RUS)      6.5    8.533      0.0  15.033  2013
3         4         Simone Biles(USA)      6.1    8.616      0.0  14.716  2013
4         5       Sophie Scheder(GER)      6.4    8.283      0.0  14.683  2013
5         6           Yao Jinnan(CHN)      6.9    7.733      0.0  14.633  2013
6         7         Ruby Harrold(GBR)      6.3    8.033      0.0  14.333  2013
7         8         Becky Downie(GBR)      6.4    7.400      0.0  13.800  2013
0         1           Yao Jinnan(CHN)      6.9    8.733      0.0  15.633  2014
1         2         Huang Huidan(CHN)      6.8    8.766      0.0  15.566  2014
2         3    Daria Spiridonova(RUS)      6.4    8.883      0.0  15.283  2014
3         4      Ashton Locklear(USA)      6.5    8.766      0.0  15.266  2014
4         5         Becky Downie(GBR)      6.6    8.566      0.0  15.166  2014
5         6      Aliya Mustafina(RUS)      6.3    8.800      0.0  15.100  2014
6         7  Lisa Katharina Hill(GER)      6.3    8.033      0.0  14.333  2014
7         8         Ruby Harrold(GBR)      6.1    7.566      0.0  13.666  2014
0         1            Fan Yilin(CHN)      6.9    8.466      0.0  15.366  2015
1         1      Viktoria Komova(RUS)      6.6    8.766      0.0  15.366  2015
2         1    Daria Spiridonova(RUS)      6.7    8.666      0.0  15.366  2015
3         1       Madison Kocian(USA)      6.6    8.766      0.0  15.366  2015
4         5        Gabby Douglas(USA)      6.4    8.733      0.0  15.133  2015
5         6       Shang Chunsong(CHN)      6.7    8.200      0.0  14.900  2015
6         7         Ruby Harrold(GBR)      6.3    8.466      0.0  14.766  2015
7         8       Sophie Scheder(GER)      6.6    8.000      0.0  14.600  2015
0         1                 Fan Yilin      6.5    8.666      0.0  15.166  2017
1         2             Elena Eremina      6.3    8.800      0.0  15.100  2017
2         3              Nina Derwael      6.3    8.733      0.0  15.033  2017
3         4       Anastasia Ilyankova      6.2    8.700      0.0  14.900  2017
4         5           Elisabeth Seitz      6.1    8.666      0.0  14.766  2017
5         6            Diana Varinska      6.0    8.583      0.0  14.583  2017
6         7                  Luo Huan      6.2    8.366      0.0  14.566  2017
7         8           Ashton Locklear      5.4    7.366      0.0  12.766  2017
0         1              Nina Derwael      6.5    8.700      0.0  15.200  2018
1         2              Simone Biles      6.2    8.500      0.0  14.700  2018
2         3           Elisabeth Seitz      6.2    8.400      0.0  14.600  2018
3         4                  Luo Huan      6.0    8.500      0.0  14.500  2018
4         5           Aliya Mustafina      5.8    8.633      0.0  14.433  2018
5         6               Morgan Hurd      6.1    8.333      0.0  14.433  2018
6         7              Becky Downie      6.1    7.233      0.0  13.333  2018
7         8            Jonna Adlerteg      6.2    6.966      0.0  13.166  2018
0         1              Nina Derwael      6.5    8.733      0.0  15.233  2019
1         2              Becky Downie      6.5    8.500      0.0  15.000  2019
2         3                Sunisa Lee      6.4    8.400      0.0  14.800  2019
3         4        Angelina Melnikova      6.3    8.433      0.0  14.733  2019
4         5              Simone Biles      6.2    8.500      0.0  14.700  2019
5         6         Daria Spiridonova      6.3    8.333      0.0  14.633  2019
6         7              Liu Tingting      5.9    8.500      0.0  14.400  2019
7         8           Elisabeth Seitz      6.0    7.566      0.0  13.566  2019

In [30]:
df =combined_df.copy()

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56 entries, 0 to 7
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  56 non-null     int64
 1   Gymnast   56 non-null     object
 2   D Score   56 non-null     float64
 3   E Score   56 non-null     float64
 4   Penalty   56 non-null     float64
 5   Total     56 non-null     float64
 6   year      56 non-null     int64
dtypes: float64(4), int64(2), object(1)
memory usage: 3.5+ KB

In [32]:
df['Gymnast'] = df['Gymnast'].str.replace(r'\(.*\)', '', regex=True)

In [33]:
df

   Position              Gymnast  D Score  E Score  Penalty   Total  year
0         1      Viktoria Komova      6.7    8.800      0.0  15.500  2011
1         2      Tatiana Nabieva      6.6    8.400      0.0  15.000  2011
2         3      Huang Qiushuang      6.7    8.133      0.0  14.833  2011
3         4        Jordyn Wieber      6.3    8.200      0.0  14.500  2011
4         5        Gabby Douglas      6.3    7.900      0.0  14.200  2011
5         5       Asuka Teramoto      6.3    7.900      0.0  14.200  2011
6         7         Koko Tsurumi      6.4    7.666      0.0  14.066  2011
7         8      Youna Dufournet      6.3    6.341      0.0  12.641  2011
0         1         Huang Huidan      6.6    8.800      0.0  15.400  2013
1         2            Kyla Ross      6.4    8.866      0.0  15.266  2013
2         3      Aliya Mustafina      6.5    8.533      0.0  15.033  2013
3         4         Simone Biles      6.1    8.616      0.0  14.716  2013
4         5       Sophie Scheder      6.4    8.283      0.0  14.683  2013
5         6           Yao Jinnan      6.9    7.733      0.0  14.633  2013
6         7         Ruby Harrold      6.3    8.033      0.0  14.333  2013
7         8         Becky Downie      6.4    7.400      0.0  13.800  2013
0         1           Yao Jinnan      6.9    8.733      0.0  15.633  2014
1         2         Huang Huidan      6.8    8.766      0.0  15.566  2014
2         3    Daria Spiridonova      6.4    8.883      0.0  15.283  2014
3         4      Ashton Locklear      6.5    8.766      0.0  15.266  2014
4         5         Becky Downie      6.6    8.566      0.0  15.166  2014
5         6      Aliya Mustafina      6.3    8.800      0.0  15.100  2014
6         7  Lisa Katharina Hill      6.3    8.033      0.0  14.333  2014
7         8         Ruby Harrold      6.1    7.566      0.0  13.666  2014
0         1            Fan Yilin      6.9    8.466      0.0  15.366  2015
1         1      Viktoria Komova      6.6    8.766      0.0  15.366  2015
2         1    Daria Spiridonova      6.7    8.666      0.0  15.366  2015
3         1       Madison Kocian      6.6    8.766      0.0  15.366  2015
4         5        Gabby Douglas      6.4    8.733      0.0  15.133  2015
5         6       Shang Chunsong      6.7    8.200      0.0  14.900  2015
6         7         Ruby Harrold      6.3    8.466      0.0  14.766  2015
7         8       Sophie Scheder      6.6    8.000      0.0  14.600  2015
0         1            Fan Yilin      6.5    8.666      0.0  15.166  2017
1         2        Elena Eremina      6.3    8.800      0.0  15.100  2017
2         3         Nina Derwael      6.3    8.733      0.0  15.033  2017
3         4  Anastasia Ilyankova      6.2    8.700      0.0  14.900  2017
4         5      Elisabeth Seitz      6.1    8.666      0.0  14.766  2017
5         6       Diana Varinska      6.0    8.583      0.0  14.583  2017
6         7             Luo Huan      6.2    8.366      0.0  14.566  2017
7         8      Ashton Locklear      5.4    7.366      0.0  12.766  2017
0         1         Nina Derwael      6.5    8.700      0.0  15.200  2018
1         2         Simone Biles      6.2    8.500      0.0  14.700  2018
2         3      Elisabeth Seitz      6.2    8.400      0.0  14.600  2018
3         4             Luo Huan      6.0    8.500      0.0  14.500  2018
4         5      Aliya Mustafina      5.8    8.633      0.0  14.433  2018
5         6          Morgan Hurd      6.1    8.333      0.0  14.433  2018
6         7         Becky Downie      6.1    7.233      0.0  13.333  2018
7         8       Jonna Adlerteg      6.2    6.966      0.0  13.166  2018
0         1         Nina Derwael      6.5    8.733      0.0  15.233  2019
1         2         Becky Downie      6.5    8.500      0.0  15.000  2019
2         3           Sunisa Lee      6.4    8.400      0.0  14.800  2019
3         4   Angelina Melnikova      6.3    8.433      0.0  14.733  2019
4         5         Simone Biles      6.2    8.500      0.0  14.700  2019
5         6    Daria Spiridonova      6.3    8.333      0.0  14.633  2019
6         7         Liu Tingting      5.9    8.500      0.0  14.400  2019
7         8      Elisabeth Seitz      6.0    7.566      0.0  13.566  2019

In [34]:
# df.to_csv('wc11_19w_ub.csv', index=False)