In [9]:
import pandas as pd
import numpy as np

In [10]:
gb = pd.read_csv('great_britain.csv')

fra= pd.read_csv('france.csv')

chn = pd.read_csv('china.csv')

can = pd.read_csv('canada.csv')

bra= pd.read_csv('brazil.csv')

In [5]:
gb_sorted = gb.sort_values(by='Score', ascending=False)
fra_sorted = fra.sort_values(by='Score', ascending=False)
chn_sorted = chn.sort_values(by='Score', ascending=False)
can_sorted = can.sort_values(by='Score', ascending=False)
bra_sorted = bra.sort_values(by='Score', ascending=False)

In [6]:
top_row_gb = gb.head(1)
top_row_fra = fra.head(1)
top_row_chn = chn.head(1)
top_row_can = can.head(1)
top_row_bra = bra.head(1)

# Create a new DataFrame with selected columns from the top rows
df = pd.DataFrame({
    'Country': ['Great Britain', 'France', 'China', 'Canada', 'Brazil'],
    'Algorithm': [top_row_gb['Algorithm'].values[0], top_row_fra['Algorithm'].values[0], top_row_chn['Algorithm'].values[0], top_row_can['Algorithm'].values[0], top_row_bra['Algorithm'].values[0]],
    'Athletes': [top_row_gb['Athletes'].values[0], top_row_fra['Athletes'].values[0], top_row_chn['Athletes'].values[0], top_row_can['Athletes'].values[0], top_row_bra['Athletes'].values[0]],
    'Score': [top_row_gb['Score'].values[0], top_row_fra['Score'].values[0], top_row_chn['Score'].values[0], top_row_can['Score'].values[0], top_row_bra['Score'].values[0]],
})

In [7]:
df

,Country,Algorithm,Athletes,Score
0,Great Britain,VNS,"['ondine achampong', 'alice kinsella', 'jessic...",167.763
1,France,vns,"['aline friess', 'mélanie de jesus dos santos'...",164.763
2,China,vns,"['ou yushan', 'qiu qiyuan', 'tang xijing', 'zh...",166.965
3,Canada,VNS,"['ava stewart', 'ellie black', 'laurie denommé...",159.562
4,Brazil,vns,"['rebeca andrade', 'julia soares', 'flavia sar...",164.995

In [8]:
# df.to_csv('top_countries.csv', index=False)

In [6]:
df=df.drop(columns=['Algorithm', 'Athletes'])

In [7]:
df

         Country    Score
0  Great Britain  167.763
1         France  164.763
2          China  166.965
3         Canada  159.562
4         Brazil  164.995