In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('../../scraping/final2020/scrape2020final_indv_bb.csv')

In [9]:
df

   Rank                  Gymnast  D Score  E Score  Pen.   Total
0     1       Guan Chenchen(CHN)      6.6    8.033   NaN  14.633
1     2         Tang Xijing(CHN)      6.0    8.233   NaN  14.233
2     3        Simone Biles(USA)      6.1    7.900   NaN  14.000
3     4         Ellie Black(CAN)      6.2    7.666   NaN  13.866
4     5          Sunisa Lee(USA)      6.4    7.466   NaN  13.866
5     6      Urara Ashikawa(JPN)      5.9    7.833   NaN  13.733
6     7      Flávia Saraiva(BRA)      5.7    7.433   NaN  13.133
7     8  Vladislava Urazova(ROC)      5.0    7.733   NaN  12.733

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     8 non-null      int64
 1   Gymnast  8 non-null      object
 2   D Score  8 non-null      float64
 3   E Score  8 non-null      float64
 4   Pen.     0 non-null      float64
 5   Total    8 non-null      float64
dtypes: float64(4), int64(1), object(1)
memory usage: 512.0+ bytes

In [11]:
# Extract data within parentheses and store it in a new column
df["Country"] = df['Gymnast'].str.extract(r'\((.*?)\)')

df['Gymnast'] = df['Gymnast'].apply(lambda x: x.split('(')[0].strip())
df.head()

   Rank        Gymnast  D Score  E Score  Pen.   Total Country
0     1  Guan Chenchen      6.6    8.033   NaN  14.633     CHN
1     2    Tang Xijing      6.0    8.233   NaN  14.233     CHN
2     3   Simone Biles      6.1    7.900   NaN  14.000     USA
3     4    Ellie Black      6.2    7.666   NaN  13.866     CAN
4     5     Sunisa Lee      6.4    7.466   NaN  13.866     USA

In [12]:
df['Pen.'].fillna(0, inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     8 non-null      int64
 1   Gymnast  8 non-null      object
 2   D Score  8 non-null      float64
 3   E Score  8 non-null      float64
 4   Pen.     8 non-null      float64
 5   Total    8 non-null      float64
 6   Country  8 non-null      object
dtypes: float64(4), int64(1), object(2)
memory usage: 576.0+ bytes

In [14]:
# df.to_csv('clean2020final_indv_bb.csv', index=False)  # Set index=False to exclude index column