In [2]:
import pandas as pd

parallel bars
- yul moldauer 
- curran phillips

In [3]:
data = {
    'Event': ['Parallel Bars', 'Parallel Bars'],
    'Gymnast': ['Yul Moldauer ', 'Curran Phillips']
}

gymnastics_df = pd.DataFrame(data)

gymnastics_df

           Event          Gymnast
0  Parallel Bars    Yul Moldauer
1  Parallel Bars  Curran Phillips

In [4]:
# gymnastics_df.to_csv('mens_individuals.csv', index=False)