# Top 3: ?

VNS
 Athletes:
['ava stewart' 'ellie black' 'laurie denommée' 'sydney turner']
Total Score:
159.562


Hyper-Heuristics
Athletes: ['ellie black' 'laurie denommée' 'ava stewart' 'aurélie tran']
Best Score: 145.53


TAbu Search
 Athletes:
['ellie black' 'sydney turner' 'denelle pedrick' 'emma spence']
Total Score:
160.197

Brute force
 Athletes:
['aurélie tran', 'ava stewart', 'ellie black', 'laurie denommée']
Maximum Score:
145.53

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../../Combine_Data/women/iaa2024.csv')

In [5]:
names=['ellie black',
'laurie denommée',
'jessica dowling',
'rébéka groulx',
'amy jorgensen',
'jenna lalonde',
'cassie lee',
'sophie marois',
'shallon olsen',
'denelle pedrick',
'clara raposo',
'audrey rousseau',
'ava sorrento',
'emma spence',
'ava stewart',
'jenna timmons',
'aurélie tran',
'sydney turner',
'rose-kaying woo']

In [6]:
filtered_df = df[df['Athlete'].str.lower().isin(names)]

In [7]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 10 to 779
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     15 non-null     int64
 1   Athlete  15 non-null     object
 2   Nation   15 non-null     object
 3   VT       15 non-null     float64
 4   UB       15 non-null     float64
 5   BB       15 non-null     float64
 6   FX       15 non-null     float64
 7   AA       15 non-null     float64
 8   round    15 non-null     object
 9   year     15 non-null     int64
dtypes: float64(5), int64(2), object(3)
memory usage: 1.3+ KB

In [8]:
can=df[df['Nation']=='CAN']

In [9]:
can.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 10 to 779
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     16 non-null     int64
 1   Athlete  16 non-null     object
 2   Nation   16 non-null     object
 3   VT       16 non-null     float64
 4   UB       16 non-null     float64
 5   BB       16 non-null     float64
 6   FX       16 non-null     float64
 7   AA       16 non-null     float64
 8   round    16 non-null     object
 9   year     16 non-null     int64
dtypes: float64(5), int64(2), object(3)
memory usage: 1.4+ KB

In [10]:
df=can.copy()

In [17]:
df.duplicated().sum()

0

In [20]:
df=df.drop(columns=['Rank', 'Nation', 'AA', 'round', 'year'])

In [21]:
# Group by 'Athlete' and get the index of the maximum score for each apparatus
idx_max = df.groupby('Athlete').idxmax()

# Create a new DataFrame with the highest scores for each athlete
df_max_scores = pd.DataFrame({
    'Athlete': df.loc[idx_max['VT'], 'Athlete'].values,
    'VT': df.loc[idx_max['VT'], 'VT'].values,
    'UB': df.loc[idx_max['UB'], 'UB'].values,
    'BB': df.loc[idx_max['BB'], 'BB'].values,
    'FX': df.loc[idx_max['FX'], 'FX'].values
})

In [23]:
df = df_max_scores.copy()

Variable Neighborhood Search (VNS):

In [24]:
import pandas as pd
import numpy as np


# Define the number of athletes to select
num_athletes_to_select = 4

# Define the apparatuses
apparatuses = ['FX', 'UB', 'BB', 'VT']

# Define the neighborhood size
neighborhood_size = 2  # Adjust as needed

# Initialize the solution randomly
selected_athletes = np.random.choice(df['Athlete'], num_athletes_to_select, replace=False)

# Define a function to calculate the total score for a given solution
def calculate_total_score(selected_athletes):
    selected_scores = df[df['Athlete'].isin(selected_athletes)][apparatuses].values
    top_3_scores = np.sum(np.partition(selected_scores, -3)[:, -3:])
    return top_3_scores

# Define the main VNS algorithm
def variable_neighborhood_search(df, num_athletes_to_select, apparatuses, neighborhood_size, num_iterations):
    best_solution = None
    best_score = float('-inf')

    for iteration in range(num_iterations):
        # Shake: Generate a new solution by randomly changing athletes
        current_solution = np.random.choice(df['Athlete'], num_athletes_to_select, replace=False)
        
        for _ in range(neighborhood_size):
            # Local Search: Optimize the solution locally
            current_score = calculate_total_score(current_solution)
            
            # Perturb: Randomly change some athletes in the current solution
            perturbed_solution = np.random.choice(df['Athlete'], num_athletes_to_select, replace=False)
            perturbed_score = calculate_total_score(perturbed_solution)
            
            # Acceptance Criterion: Accept the perturbed solution if it improves the score
            if perturbed_score > current_score:
                current_solution = perturbed_solution
                current_score = perturbed_score

        # Update the best solution if the current one is better
        if current_score > best_score:
            best_solution = current_solution
            best_score = current_score

    return best_solution, best_score

# Run the VNS algorithm
best_solution, best_score = variable_neighborhood_search(df, num_athletes_to_select, apparatuses, neighborhood_size, num_iterations=1000)

# Print the result
print('Selected Athletes:')
print(best_solution)
print('Total Score:')
print(best_score)

Selected Athletes:
['ava stewart' 'ellie black' 'laurie denommée' 'sydney turner']
Total Score:
159.562

Hyper-Heuristics

In [1]:
import pandas as pd
import numpy as np



# Define the number of athletes to select
num_athletes_to_select = 4

# Define the apparatuses
apparatuses = ['FX', 'VT', 'BB', 'UB']

# Initialize variables to store the best solution
best_score = 0
best_selection = None

# Define the number of iterations for the hyper-heuristic
num_iterations = 1000

for _ in range(num_iterations):
    # Randomly select 4 athletes
    selected_athletes = np.random.choice(df['Athlete'], size=num_athletes_to_select, replace=False)

    # Calculate the score for the current selection
    scores = df[df['Athlete'].isin(selected_athletes)][apparatuses].sum(axis=1).nlargest(3).sum()

    # Update the best solution if the current one is better
    if scores > best_score:
        best_score = scores
        best_selection = selected_athletes

# Print the best selection and score
print("Best Selection:", best_selection)
print("Best Score:", best_score)

NameError: name 'df' is not defined

TAbu Search

In [26]:
import pandas as pd
import numpy as np

def calculate_score(selected_athletes, df):
    """
    Calculate the total score for a given set of selected athletes.
    """
    # Select rows corresponding to the chosen athletes
    selected_df = df[df['Athlete'].isin(selected_athletes)]

    # Calculate the sum of the top 3 scores for each apparatus
    apparatus_scores = selected_df.drop(['Athlete'], axis=1)
    top_3_sum = apparatus_scores.apply(lambda row: sum(sorted(row, reverse=True)[:3]), axis=0)

    # Calculate the total score
    total_score = top_3_sum.sum()

    return total_score




def tabu_search(df, num_athletes_to_select, tabu_size, max_iterations):
    # Initialize the solution with a random set of athletes
    available_athletes = df['Athlete'].tolist()
    current_solution = np.random.choice(available_athletes, size=num_athletes_to_select, replace=False)
    best_solution = current_solution.copy()
    best_score = calculate_score(best_solution, df)

    # Initialize tabu list
    tabu_list = []

    # Main Tabu Search loop
    for iteration in range(max_iterations):
        # Generate neighbors by swapping athletes
        neighbors = []
        for i in range(num_athletes_to_select):
            for athlete in df['Athlete']:
                if athlete not in current_solution:
                    neighbor = current_solution.copy()
                    neighbor[i] = athlete
                    neighbors.append(neighbor)

                    
                    
                best_neighbor = None
        best_neighbor_score = float('-inf')

        for neighbor in neighbors:
            neighbor_score = calculate_score(neighbor, df)

            # Convert the NumPy array to a tuple
            neighbor_tuple = tuple(neighbor)

            if neighbor_score > best_neighbor_score and neighbor_tuple not in tabu_list:
                best_neighbor = neighbor
                best_neighbor_score = neighbor_score

        # Update current solution and tabu list
        current_solution = best_neighbor
        tabu_list.append(tuple(best_neighbor))

        # Keep the tabu list size within the specified limit
        if len(tabu_list) > tabu_size:
            tabu_list.pop(0)

        # Update the best solution if a better one is found
        if best_neighbor_score > best_score:
            best_solution = best_neighbor
            best_score = best_neighbor_score

        # Print progress
        print(f"Iteration {iteration + 1}, Best Score: {best_score}")

    return best_solution, best_score


# Set parameters
num_athletes_to_select = 4
tabu_size = 10
max_iterations = 100

# Perform Tabu Search
best_solution, best_score = tabu_search(df, num_athletes_to_select, tabu_size, max_iterations)

# Print the selected athletes and the corresponding score
print('Selected Athletes:')
print(best_solution)
print('Total Score:')
print(best_score)

Iteration 1, Best Score: 155.963
Iteration 2, Best Score: 160.12900000000002
Iteration 3, Best Score: 160.197
Iteration 4, Best Score: 160.197
Iteration 5, Best Score: 160.197
Iteration 6, Best Score: 160.197
Iteration 7, Best Score: 160.197
Iteration 8, Best Score: 160.197
Iteration 9, Best Score: 160.197
Iteration 10, Best Score: 160.197
Iteration 11, Best Score: 160.197
Iteration 12, Best Score: 160.197
Iteration 13, Best Score: 160.197
Iteration 14, Best Score: 160.197
Iteration 15, Best Score: 160.197
Iteration 16, Best Score: 160.197
Iteration 17, Best Score: 160.197
Iteration 18, Best Score: 160.197
Iteration 19, Best Score: 160.197
Iteration 20, Best Score: 160.197
Iteration 21, Best Score: 160.197
Iteration 22, Best Score: 160.197
Iteration 23, Best Score: 160.197
Iteration 24, Best Score: 160.197
Iteration 25, Best Score: 160.197
Iteration 26, Best Score: 160.197
Iteration 27, Best Score: 160.197
Iteration 28, Best Score: 160.197
Iteration 29, Best Score: 160.197
Iteration 30, Best Score: 160.197
Iteration 31, Best Score: 160.197
Iteration 32, Best Score: 160.197
Iteration 33, Best Score: 160.197
Iteration 34, Best Score: 160.197
Iteration 35, Best Score: 160.197
Iteration 36, Best Score: 160.197
Iteration 37, Best Score: 160.197
Iteration 38, Best Score: 160.197
Iteration 39, Best Score: 160.197
Iteration 40, Best Score: 160.197
Iteration 41, Best Score: 160.197
Iteration 42, Best Score: 160.197
Iteration 43, Best Score: 160.197
Iteration 44, Best Score: 160.197
Iteration 45, Best Score: 160.197
Iteration 46, Best Score: 160.197
Iteration 47, Best Score: 160.197
Iteration 48, Best Score: 160.197
Iteration 49, Best Score: 160.197
Iteration 50, Best Score: 160.197
Iteration 51, Best Score: 160.197
Iteration 52, Best Score: 160.197
Iteration 53, Best Score: 160.197
Iteration 54, Best Score: 160.197
Iteration 55, Best Score: 160.197
Iteration 56, Best Score: 160.197
Iteration 57, Best Score: 160.197
Iteration 58, Best Score: 160.197
Iteration 59, Best Score: 160.197
Iteration 60, Best Score: 160.197
Iteration 61, Best Score: 160.197
Iteration 62, Best Score: 160.197
Iteration 63, Best Score: 160.197
Iteration 64, Best Score: 160.197
Iteration 65, Best Score: 160.197
Iteration 66, Best Score: 160.197
Iteration 67, Best Score: 160.197
Iteration 68, Best Score: 160.197
Iteration 69, Best Score: 160.197
Iteration 70, Best Score: 160.197
Iteration 71, Best Score: 160.197
Iteration 72, Best Score: 160.197
Iteration 73, Best Score: 160.197
Iteration 74, Best Score: 160.197
Iteration 75, Best Score: 160.197
Iteration 76, Best Score: 160.197
Iteration 77, Best Score: 160.197
Iteration 78, Best Score: 160.197
Iteration 79, Best Score: 160.197
Iteration 80, Best Score: 160.197
Iteration 81, Best Score: 160.197
Iteration 82, Best Score: 160.197
Iteration 83, Best Score: 160.197
Iteration 84, Best Score: 160.197
Iteration 85, Best Score: 160.197
Iteration 86, Best Score: 160.197
Iteration 87, Best Score: 160.197
Iteration 88, Best Score: 160.197
Iteration 89, Best Score: 160.197
Iteration 90, Best Score: 160.197
Iteration 91, Best Score: 160.197
Iteration 92, Best Score: 160.197
Iteration 93, Best Score: 160.197
Iteration 94, Best Score: 160.197
Iteration 95, Best Score: 160.197
Iteration 96, Best Score: 160.197
Iteration 97, Best Score: 160.197
Iteration 98, Best Score: 160.197
Iteration 99, Best Score: 160.197
Iteration 100, Best Score: 160.197
Selected Athletes:
['ellie black' 'sydney turner' 'denelle pedrick' 'emma spence']
Total Score:
160.197

Brute Force

In [27]:
import pandas as pd
import itertools
from tqdm import tqdm

num_athletes = 4
apparatuses = ['VT', 'UB', 'BB', 'FX']

# Generate all combinations of athletes
athlete_combinations = list(itertools.combinations(df['Athlete'], num_athletes))

# variables to store maximum score and athletes
max_score = 0
selected_athletes = []

# tqdm progress bar
progress_bar = tqdm(total=len(athlete_combinations))

# Iterate through combination of athletes
for combination in athlete_combinations:
    # Generate all possible combinations of apparatuses for current athlete combination
    apparatus_combinations = list(itertools.permutations(apparatuses, num_athletes))

    # Iterate through each combination of apparatuses
    for apparatus_combination in apparatus_combinations:
        # Calculate the sum of top three scores for current apparatus combination
        score = df[df['Athlete'].isin(combination)][list(apparatus_combination)].sum(axis=1).nlargest(3).sum()

        # Update maximum score and selected athletes if a higher score is found
        if score > max_score:
            max_score = score
            selected_athletes = list(combination)

    # Update progress bar
    progress_bar.update(1)

progress_bar.close()

print('Selected Athletes:')
print(selected_athletes)
print('Maximum Score:')
print(max_score)

100%|█████████████████████████████████████████| 126/126 [00:08<00:00, 15.69it/s]

Selected Athletes:
['aurélie tran', 'ava stewart', 'ellie black', 'laurie denommée']
Maximum Score:
145.53

In [28]:

data = {
    'Algorithm': ['VNS', 'Hyper-Heuristics', 'TAbu Search', 'Brute force'],
    'Athletes': [
        ['ava stewart', 'ellie black', 'laurie denommée', 'sydney turner'],
        ['ellie black', 'laurie denommée', 'ava stewart', 'aurélie tran'],
        ['ellie black', 'sydney turner', 'denelle pedrick', 'emma spence'],
        ['aurélie tran', 'ava stewart', 'ellie black', 'laurie denommée']
    ],
    'Score': [159.562, 145.53, 160.197, 145.53]
}

# Create DataFrame
dfs = pd.DataFrame(data)


dfs

,Algorithm,Athletes,Score
0,VNS,"[ava stewart, ellie black, laurie denommée, sy...",159.562
1,Hyper-Heuristics,"[ellie black, laurie denommée, ava stewart, au...",145.530
2,TAbu Search,"[ellie black, sydney turner, denelle pedrick, ...",160.197
3,Brute force,"[aurélie tran, ava stewart, ellie black, lauri...",145.530

In [29]:
dfs['nation']='CAN'

In [30]:
dfs

,Algorithm,Athletes,Score,nation
0,VNS,"[ava stewart, ellie black, laurie denommée, sy...",159.562,CAN
1,Hyper-Heuristics,"[ellie black, laurie denommée, ava stewart, au...",145.530,CAN
2,TAbu Search,"[ellie black, sydney turner, denelle pedrick, ...",160.197,CAN
3,Brute force,"[aurélie tran, ava stewart, ellie black, lauri...",145.530,CAN

In [31]:
# dfs.to_csv('canada.csv', index=False)

In [10]:

df = pd.read_csv('../../Combine_Data/women/iaa2024.csv')

In [11]:
names=['ellie black',
'laurie denommée',
'jessica dowling',
'rébéka groulx',
'amy jorgensen',
'jenna lalonde',
'cassie lee',
'sophie marois',
'shallon olsen',
'denelle pedrick',
'clara raposo',
'audrey rousseau',
'ava sorrento',
'emma spence',
'ava stewart',
'jenna timmons',
'aurélie tran',
'sydney turner',
'rose-kaying woo']

In [12]:
filtered_df = df[df['Athlete'].str.lower().isin(names)]

In [13]:
df=filtered_df.copy()

In [14]:
df = df.drop(columns=['Nation', 'round', 'year', 'AA'])

In [15]:
df.duplicated().sum()

5

In [16]:
df = df.drop_duplicates()

In [17]:
idx_max = df.groupby('Athlete').idxmax()

# Create a new DataFrame with the highest scores for each athlete
df_max_scores = pd.DataFrame({
    'Athlete': df.loc[idx_max['VT'], 'Athlete'].values,
    'VT': df.loc[idx_max['VT'], 'VT'].values,
    'UB': df.loc[idx_max['UB'], 'UB'].values,
    'BB': df.loc[idx_max['BB'], 'BB'].values,
    'FX': df.loc[idx_max['FX'], 'FX'].values
})

In [18]:
df=df_max_scores.copy()

In [19]:
df['AA'] = df.select_dtypes(include='number').sum(axis=1)

In [20]:
df=df.sort_values(by='AA', ascending=False)

In [21]:
df

           Athlete      VT      UB      BB      FX      AA
4      ellie black  14.000  14.133  13.566  13.400  55.099
0     aurélie tran  13.233  13.133  11.933  12.600  50.899
6  laurie denommée  13.400  12.866   0.000  13.266  39.532
7    sydney turner   0.000  13.166  12.866  13.300  39.332
1      ava stewart  13.466  12.800   0.000  12.733  38.999
5      emma spence  13.633  12.800  12.533   0.000  38.966
3  denelle pedrick  13.900   0.000  11.700  12.900  38.500
2       cassie lee  13.100   0.000   9.700  12.666  35.466

In [22]:
55.099+50.899

154.998

In [11]:

df=df.drop(columns=['Rank', 'Nation', 'round', 'year'])
# Group by 'Athlete' and get the index of the maximum score for each apparatus
idx_max = df.groupby('Athlete').idxmax()

# Create a new DataFrame with the highest scores for each athlete
df_max_scores = pd.DataFrame({
    'Athlete': df.loc[idx_max['VT'], 'Athlete'].values,
    'VT': df.loc[idx_max['VT'], 'VT'].values,
    'UB': df.loc[idx_max['UB'], 'UB'].values,
    'BB': df.loc[idx_max['BB'], 'BB'].values,
    'FX': df.loc[idx_max['FX'], 'FX'].values,
    'AA': df.loc[idx_max['AA'], 'AA'].values

})

In [12]:
df=df_max_scores.copy()

In [13]:
df.sort_values(by='AA', ascending=False)

           Athlete      VT      UB      BB      FX      AA
4      ellie black  14.000  14.133  13.566  13.400  55.065
0     aurélie tran  13.233  13.133  11.933  12.600  50.899
6  laurie denommée  13.400  12.866   0.000  13.266  39.532
8    sydney turner   0.000  13.166  12.866  13.300  39.332
1      ava stewart  13.466  12.800   0.000  12.733  38.999
5      emma spence  13.633  12.800  12.533   0.000  38.966
3  denelle pedrick  13.900   0.000  11.700  12.900  38.500
2       cassie lee  13.100   0.000   9.700  12.666  35.466
7         rose woo   0.000  12.166  12.200   0.000  24.366

In [ ]:
55.065+50.899