In [33]:
import pandas as pd

In [34]:
fx=pd.read_csv('wrld15champ_fx.csv')
hb=pd.read_csv('wrld15champ_hb.csv')
pb=pd.read_csv('wrld15champ_pb.csv')
ph=pd.read_csv('wrld15champ_ph.csv')
sr=pd.read_csv('wrld15champ_sr.csv')
vt=pd.read_csv('wrld15champ_vt.csv')

In [35]:
fx.columns

Index(['Rank', 'NOC', 'D', 'E', 'Pen.', 'Total', 'Name'], dtype='object')

In [36]:
new_column_order = ['Name', 'Rank', 'NOC', 'D', 'E', 'Pen.', 'Total']
fx = fx[new_column_order]

In [37]:
fx['Name']=fx['Name'].str.lower()

In [38]:
new_column_order = ['Name', 'Rank', 'NOC', 'D', 'E', 'Pen.', 'Total']
pb = pb[new_column_order]

In [39]:
new_column_order = ['Name', 'Rank', 'NOC', 'D', 'E', 'Pen.', 'Total']
ph = ph[new_column_order]

In [40]:
new_column_order = ['Name', 'Rank', 'NOC', 'D', 'E', 'Pen.', 'Total']
hb = hb[new_column_order]

In [41]:
new_column_order = ['Name', 'Rank', 'NOC', 'D', 'E', 'Pen.', 'Total']
sr = sr[new_column_order]

In [42]:
new_column_order = ['Name', 'Rank', 'NOC', 'D', 'E', 'Pen.', 'Total']
vt = vt[new_column_order]

In [43]:
pb['Name']=pb['Name'].str.lower()
ph['Name']=ph['Name'].str.lower()
vt['Name']=vt['Name'].str.lower()
sr['Name']=sr['Name'].str.lower()
hb['Name']=hb['Name'].str.lower()

In [44]:
fx['Total'] = fx['Total'].str[:-1]

In [46]:
pb['Total'] = pb['Total'].str[:-1]
ph['Total'] = ph['Total'].str[:-1]
vt['Total'] = vt['Total'].str[:-1]
sr['Total'] = sr['Total'].str[:-1]
hb['Total'] = hb['Total'].str[:-1]

In [48]:
hb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221 entries, 0 to 220
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    209 non-null    object
 1   Rank    209 non-null    object
 2   NOC     209 non-null    object
 3   D       209 non-null    object
 4   E       209 non-null    object
 5   Pen.    221 non-null    object
 6   Total   217 non-null    object
dtypes: object(7)
memory usage: 12.2+ KB

In [53]:
fx['Total'] = fx['Total'].str.rstrip('R')

In [54]:
fx['Name'] = fx['Name'].astype(str)
fx['Rank'] = fx['Rank'].astype(int)
fx['NOC'] = fx['NOC'].astype(str)
fx['D'] = fx['D'].astype(float)
fx['E'] = fx['E'].astype(float)
fx['Pen.'] = fx['Pen.'].astype(float)
fx['Total'] = fx['Total'].astype(float)

In [58]:
pb['Total'] = pb['Total'].str.rstrip('R')
ph['Total'] = ph['Total'].str.rstrip('R')
hb['Total'] = hb['Total'].str.rstrip('R')
sr['Total'] = sr['Total'].str.rstrip('R')
vt['Total'] = vt['Total'].str.rstrip('R')

In [59]:
ph['Name'] = ph['Name'].astype(str)
ph['Rank'] = ph['Rank'].astype(int)
ph['NOC'] = ph['NOC'].astype(str)
ph['D'] = ph['D'].astype(float)
ph['E'] = ph['E'].astype(float)
ph['Pen.'] = ph['Pen.'].astype(float)
ph['Total'] = ph['Total'].astype(float)

In [65]:
vt = vt.dropna(subset=['Rank'])
sr = sr.dropna(subset=['Rank'])
hb = hb.dropna(subset=['Rank'])
pb = pb.dropna(subset=['Rank'])

In [72]:
vt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209 entries, 0 to 220
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    209 non-null    object
 1   Rank    209 non-null    object
 2   NOC     205 non-null    object
 3   D       205 non-null    object
 4   E       205 non-null    object
 5   Pen.    209 non-null    object
 6   Total   209 non-null    object
dtypes: object(7)
memory usage: 13.1+ KB

In [76]:
print(vt['Rank'].unique())

['1' '2' '4' '5' '7' '10' '14' '16' '18' '19' '20' '22' '25' '27' '29'
 '34' '35' '37' '38' '41' 'Rank' '48' '54' '55' '57' '59' '62' '64' '71'
 '76' '79' '80' '84' '88' '94' '95' '103' '107' '113' '116' '125' '134'
 '139' '140' '144' '148' '149' '152' '153' '154' '157' '161' '162' '165'
 '166' '168' '170' '175' '179' '184' '187' '191' '193' '195' '196' '199'
 '200' '201' '205']

In [77]:
# Remove rows where 'Rank' is present in the 'Rank' column
vt = vt[vt['Rank'] != 'Rank']

# Convert the 'Rank' column to integers
vt['Rank'] = vt['Rank'].astype(int)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_69855/935527393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vt['Rank'] = vt['Rank'].astype(int)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205 entries, 0 to 220
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    205 non-null    object
 1   Rank    205 non-null    int64
 2   NOC     205 non-null    object
 3   D       205 non-null    object
 4   E       205 non-null    object
 5   Pen.    205 non-null    object
 6   Total   205 non-null    object
dtypes: int64(1), object(6)
memory usage: 12.8+ KB

In [80]:
vt['Name'] = vt['Name'].astype(str)
vt['Rank'] = vt['Rank'].astype(int)
vt['NOC'] = vt['NOC'].astype(str)
vt['D'] = vt['D'].astype(float)
vt['E'] = vt['E'].astype(float)
vt['Pen.'] = vt['Pen.'].astype(float)
vt['Total'] = vt['Total'].astype(float)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_69855/556699801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vt['Name'] = vt['Name'].astype(str)
/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_69855/556699801.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vt['Rank'] = vt['Rank'].astype(int)
/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_69855/556699801.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vt['NOC'] = vt['NOC'].astype(str)
/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_69855/556699801.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vt['D'] = vt['D'].astype(float)
/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_69855/556699801.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vt['E'] = vt['E'].astype(float)
/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_69855/556699801.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vt['Pen.'] = vt['Pen.'].astype(float)
/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_69855/556699801.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vt['Total'] = vt['Total'].astype(float)

In [81]:
# Remove rows where 'Rank' is present in the 'Rank' column
sr = sr[sr['Rank'] != 'Rank']

# Convert the 'Rank' column to integers
sr['Rank'] = sr['Rank'].astype(int)

In [82]:
sr['Name'] = sr['Name'].astype(str)
sr['Rank'] = sr['Rank'].astype(int)
sr['NOC'] = sr['NOC'].astype(str)
sr['D'] = sr['D'].astype(float)
sr['E'] = sr['E'].astype(float)
sr['Pen.'] = sr['Pen.'].astype(float)
sr['Total'] = sr['Total'].astype(float)

In [83]:
# Remove rows where 'Rank' is present in the 'Rank' column
hb = hb[hb['Rank'] != 'Rank']

# Convert the 'Rank' column to integers
hb['Rank'] = hb['Rank'].astype(int)

In [84]:
hb['Name'] = hb['Name'].astype(str)
hb['Rank'] = hb['Rank'].astype(int)
hb['NOC'] = hb['NOC'].astype(str)
hb['D'] = hb['D'].astype(float)
hb['E'] = hb['E'].astype(float)
hb['Pen.'] = hb['Pen.'].astype(float)
hb['Total'] = hb['Total'].astype(float)

In [85]:
# Remove rows where 'Rank' is present in the 'Rank' column
pb = pb[pb['Rank'] != 'Rank']

# Convert the 'Rank' column to integers
pb['Rank'] = pb['Rank'].astype(int)

In [86]:
pb['Name'] = pb['Name'].astype(str)
pb['Rank'] = pb['Rank'].astype(int)
pb['NOC'] = pb['NOC'].astype(str)
pb['D'] = pb['D'].astype(float)
pb['E'] = pb['E'].astype(float)
pb['Pen.'] = pb['Pen.'].astype(float)
pb['Total'] = pb['Total'].astype(float)

In [87]:
pb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205 entries, 0 to 220
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    205 non-null    object
 1   Rank    205 non-null    int64
 2   NOC     205 non-null    object
 3   D       205 non-null    float64
 4   E       205 non-null    float64
 5   Pen.    205 non-null    float64
 6   Total   205 non-null    float64
dtypes: float64(4), int64(1), object(2)
memory usage: 12.8+ KB

In [88]:
pb

                       Name  Rank  NOC    D      E  Pen.   Total
0            oleg verniaiev     1  UKR  7.1  9.033   0.0  16.133
1             yusuke tanaka     2  JPN  6.6  9.158   0.0  15.758
2               oleg stepko     3  AZE  7.0  8.700   0.0  15.700
3                   hao you     4  CHN  7.3  8.400   0.0  15.700
4          manrique larduet     5  CUB  6.7  8.966   0.0  15.666
..                      ...   ...  ...  ...    ...   ...     ...
216          mohamed reghib   201  ALG  5.1  7.466   0.0  12.560
217        slavomir michnak   202  SVK  5.3  7.200   0.0  12.500
218         jonathan vrolix   203  BEL  5.0  7.466   0.0  12.460
219  nomondalai jamiyankhuu   204  MGL  4.6  7.833   0.0  12.430
220          anderson loran   205  CAN  5.3  7.133   0.0  12.430

[205 rows x 7 columns]

In [89]:
pb.columns

Index(['Name', 'Rank', 'NOC', 'D', 'E', 'Pen.', 'Total'], dtype='object')

In [91]:
column_order = ['Rank','Name',  'NOC', 'D', 'E', 'Pen.', 'Total']

# Assign the reordered DataFrame to the original DataFrame
vt = vt[column_order]
sr = sr[column_order]
fx = fx[column_order]
hb = hb[column_order]
pb = pb[column_order]
ph = ph[column_order]

In [93]:
pb['year']=2015
ph['year']=2015
sr['year']=2015
fx['year']=2015
vt['year']=2015
hb['year']=2015

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_69855/2438153119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pb['year']=2015
/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_69855/2438153119.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fx['year']=2015

In [95]:
pb

     Rank                    Name  NOC    D      E  Pen.   Total  year
0       1          oleg verniaiev  UKR  7.1  9.033   0.0  16.133  2015
1       2           yusuke tanaka  JPN  6.6  9.158   0.0  15.758  2015
2       3             oleg stepko  AZE  7.0  8.700   0.0  15.700  2015
3       4                 hao you  CHN  7.3  8.400   0.0  15.700  2015
4       5        manrique larduet  CUB  6.7  8.966   0.0  15.666  2015
..    ...                     ...  ...  ...    ...   ...     ...   ...
216   201          mohamed reghib  ALG  5.1  7.466   0.0  12.560  2015
217   202        slavomir michnak  SVK  5.3  7.200   0.0  12.500  2015
218   203         jonathan vrolix  BEL  5.0  7.466   0.0  12.460  2015
219   204  nomondalai jamiyankhuu  MGL  4.6  7.833   0.0  12.430  2015
220   205          anderson loran  CAN  5.3  7.133   0.0  12.430  2015

[205 rows x 8 columns]

In [98]:
# fx
#     Artem dolgopyat
#     Rayderley zapata
#     Xiao ruoteng
ruoteng
zapata
dolgopyat

In [102]:
fx[fx['Name']=='artem dolgopyat']

     Rank             Name  NOC    D      E  Pen.  Total  year
132   133  artem dolgopyat  ISR  6.4  7.133   0.0  13.53  2015

In [107]:
contains_dolgopyat=fx['Name'].str.contains('ruoteng')

print(fx[contains_dolgopyat])

    Rank          Name  NOC    D    E  Pen.  Total  year
27    28  ruoteng xiao  CHN  6.1  8.5   0.0   14.6  2015

In [108]:
import numpy as np

# Define the list of names
target_names = ['ruoteng', 'zapata', 'dolgopyat']

# Create a new column "Medal" and set the values based on the condition
fx['Medal'] = np.where(fx['Name'].str.contains('|'.join(target_names)), 1, 0)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_69855/3476972283.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fx['Medal'] = np.where(fx['Name'].str.contains('|'.join(target_names)), 1, 0)

In [111]:
fx['Medal'].value_counts()

0    202
1      3
Name: Medal, dtype: int64

In [112]:
# ph
#     Max Whitlock
#     Lee Chih-Kai
#     Kaya Kazuma

# whitlock
# chih-kai
# kazuma

In [115]:
import numpy as np

# Define the list of names
target_names = ['whitlock', 'chih', 'kazuma']

# Create a new column "Medal" and set the values based on the condition
ph['Medal'] = np.where(ph['Name'].str.contains('|'.join(target_names)), 1, 0)

In [116]:
ph['Medal'].value_counts()

0    202
1      3
Name: Medal, dtype: int64

In [ ]:
# Rings Final Results

#     Liu Yang China
#     You Hao China
#     Eleftherios Petrounias Greece

# yang
# hao
# petrounias

In [120]:
import numpy as np

# Define the list of names
target_names = ['yang liu', 'hao you', 'petrounias']

# Create a new column "Medal" and set the values based on the condition
sr['Medal'] = np.where(sr['Name'].str.contains('|'.join(target_names)), 1, 0)

In [121]:
sr['Medal'].value_counts()

0    202
1      3
Name: Medal, dtype: int64

In [122]:
sr[sr['Medal']==1]

   Rank                    Name  NOC    D      E  Pen.   Total  year  Medal
0     1  eleftherios petrounias  GRE  6.8  9.100   0.0  15.900  2015      1
1     2                yang liu  CHN  6.9  8.966   0.0  15.866  2015      1
6     7                 hao you  CHN  7.0  8.500   0.0  15.500  2015      1

In [123]:
# Vault Final Results:

#     Shin Jea-hwan South Korea
#     Denis Abliazin Russia
#     Artur Davtyan Armenia

# jea-hwan
# abliazin
# davtyan

In [129]:
import numpy as np

# Define the list of names
target_names = ['jea', 'abliazin', 'davtyan']

# Create a new column "Medal" and set the values based on the condition
vt['Medal'] = np.where(vt['Name'].str.contains('|'.join(target_names)), 1, 0)

In [130]:
vt['Medal'].value_counts()

0    203
1      2
Name: Medal, dtype: int64

In [131]:
vt[vt['Medal']==1]

    Rank            Name  NOC    D      E  Pen.  Total  year  Medal
2      2  denis abliazin  RUS  6.4  9.133   0.0  15.53  2015      1
57    54   artur davtyan  ARM  5.2  9.500   0.0  14.70  2015      1

<!-- Parallel Bars Final Results:

    Zou Jingyuan China
    Lukas Dauser Germany
    Ferhat Arican Turkey

jingyuan
dauser
arican -->

In [132]:
import numpy as np

# Define the list of names
target_names = ['jingyuan', 'dauser', 'arican']

# Create a new column "Medal" and set the values based on the condition
pb['Medal'] = np.where(pb['Name'].str.contains('|'.join(target_names)), 1, 0)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_69855/463776769.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pb['Medal'] = np.where(pb['Name'].str.contains('|'.join(target_names)), 1, 0)

In [133]:
pb['Medal'].value_counts()

0    204
1      1
Name: Medal, dtype: int64

In [134]:
pb[pb['Medal']==1]

    Rank           Name  NOC    D      E  Pen.  Total  year  Medal
20    19  ferhat arican  TUR  6.6  8.733   0.0  15.33  2015      1

In [136]:
# # High Bar Final Results

# #     Hashimoto Daiki Japan
# #     Tin Srbic Croatia
# #     Nikita Nagornyy Russia

# daiki
# srbic
# nagornyy

In [140]:
import numpy as np

# Define the list of names
target_names = ['daiki', 'Tin', 'nagornyy']

# Create a new column "Medal" and set the values based on the condition
hb['Medal'] = np.where(hb['Name'].str.contains('|'.join(target_names)), 1, 0)

In [141]:
hb['Medal'].value_counts()

0    204
1      1
Name: Medal, dtype: int64

In [142]:
hb[hb['Medal']==1]

     Rank             Name  NOC    D      E  Pen.  Total  year  Medal
125   117  nikita nagornyy  RUS  5.5  7.866   0.0  13.36  2015      1

In [145]:
# hb.to_csv('wrld15champ_hb_clean.csv', index=False)
# sr.to_csv('wrld15champ_sr_clean.csv', index=False)
# fx.to_csv('wrld15champ_fx_clean.csv', index=False)
# vt.to_csv('wrld15champ_vt_clean.csv', index=False)
# pb.to_csv('wrld15champ_pb_clean.csv', index=False)
# ph.to_csv('wrld15champ_ph_clean.csv', index=False)