In [1]:
import pandas as pd
import numpy as np

In [2]:
fx = pd.read_csv('../../scraping/men/men23top/fx.csv')
sr = pd.read_csv('../../scraping/men/men23top/sr.csv')
hb = pd.read_csv('../../scraping/men/men23top/hb.csv')
ph = pd.read_csv('../../scraping/men/men23top/ph.csv')
pb = pd.read_csv('../../scraping/men/men23top/pb.csv')
vt_avg = pd.read_csv('../../scraping/men/men23top/vt_avg.csv')
vt_com_d = pd.read_csv('../../scraping/men/men23top/vt_combo_d.csv')
vt_sing = pd.read_csv('../../scraping/men/men23top/vt_single.csv')

fxd = pd.read_csv('../../scraping/men/men23top/fxd.csv')
hbd = pd.read_csv('../../scraping/men/men23top/hbd.csv')
iaa = pd.read_csv('../../scraping/men/men23top/iaa.csv')
pbd = pd.read_csv('../../scraping/men/men23top/pbd.csv')
phd = pd.read_csv('../../scraping/men/men23top/phd.csv')

iaa24 = pd.read_csv('../../Combine_Data/men/iaa2024.csv')

In [3]:
usa = iaa24[iaa24['Nation']=='USA']

In [4]:
usa2 = iaa24[iaa24['Nation']=='USA']

In [5]:
dfz=usa.copy()

In [6]:
usa = usa[usa['AA'] > 80]

In [7]:
usa=usa.drop(columns=['round', 'Nation', 'year'])

In [8]:
usa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 421 to 684
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     15 non-null     float64
 1   Athlete  15 non-null     object
 2   FX       15 non-null     float64
 3   PH       15 non-null     float64
 4   SR       15 non-null     float64
 5   VT       15 non-null     float64
 6   PB       15 non-null     float64
 7   HB       15 non-null     float64
 8   AA       15 non-null     float64
dtypes: float64(8), object(1)
memory usage: 1.2+ KB

In [9]:
dfs = usa.copy()

In [10]:
# dfs.to_csv('usa_men.csv', index=True)

In [11]:
grouped_means = usa.groupby('Athlete').mean()

In [12]:
athlete_names = ["asher aong", "fred richard", "khoi young", "vitaliy guimaraes", "yul moldauer"]

dfs = dfz[dfz['Athlete'].isin(athlete_names)]

In [13]:
dfs

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.400,83.950,final,USA,2022
422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.100,83.536,final,USA,2022
424,4.0,yul moldauer,13.400,13.789,14.116,13.400,15.543,11.400,81.648,final,USA,2022
448,28.0,fred richard,11.850,12.250,11.950,13.900,12.400,11.650,74.000,final,USA,2022
679,1.0,yul moldauer,14.400,13.957,14.114,14.250,15.121,13.500,85.342,final,USA,2023
680,2.0,fred richard,14.483,13.357,13.350,14.000,14.450,14.962,84.602,final,USA,2023
712,34.0,khoi young,0.000,11.200,0.000,14.802,0.000,0.000,26.002,final,USA,2023

In [14]:
dfs = dfs.drop(columns=['AA', 'round', 'Nation', 'year', 'Rank'])

In [15]:
asher_hong_data = {
    'Athlete': ['Asher Hong'] * 7,
    'FX': 13.116,
    'PH':12.728,
    'SR': 14.3495,
    'VT':15.7175,
    'PB':14.5275,
    'HB': 12.05,

}

# Convert the additional data to a DataFrame
asher_hong_df = pd.DataFrame(asher_hong_data)

# Concatenate the original DataFrame with the new data for 'Asher Hong'
dfs = pd.concat([dfs, asher_hong_df], ignore_index=True)

In [16]:
dff = dfs.iloc[:8]

In [17]:
average_scores = dff.groupby('Athlete').mean().reset_index()

In [18]:
df=average_scores.copy()

In [22]:
import pandas as pd
from pulp import LpProblem, LpVariable, lpSum, LpMaximize, LpInteger, LpStatus

# Assuming df is your average_scores DataFrame

def select_athletes_with_pulp(df):
    # Define the problem as a maximization problem
    prob = LpProblem("Athlete_Selection", LpMaximize)

    # Create binary decision variables for each athlete
    athletes = df['Athlete'].unique()
    selected = LpVariable.dicts("Selected", athletes, 0, 1, LpInteger)

    # Objective function: maximize the total number of selected athletes
    prob += lpSum(selected[athlete] for athlete in athletes)

    # Constraint: Select exactly 4 athletes
    prob += lpSum(selected[athlete] for athlete in athletes) == 5

    # Solve the problem
    status = prob.solve()

    # Check the status
    print("Status:", LpStatus[status])

    # Extract selected athletes
    selected_athletes = [athlete for athlete in athletes if selected[athlete].varValue == 1]

    # Display the result
    print("Selected Athletes:", selected_athletes)

# Call the function
select_athletes_with_pulp(df)

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/9abdede5547d49b2bff7d6af198c5f0e-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/9abdede5547d49b2bff7d6af198c5f0e-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 6 COLUMNS
At line 27 RHS
At line 29 BOUNDS
At line 35 ENDATA
Problem MODEL has 1 rows, 5 columns and 5 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 5 - 0.00 seconds
Cgl0004I processed model has 0 rows, 0 columns (0 integer (0 of which binary)) and 0 elements
Cbc3007W No integer variables - nothing to do
Cuts at root node changed objective from -5 to -1.79769e+308
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                5.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.01

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.01

Status: Optimal
Selected Athletes: ['Asher Hong', 'fred richard', 'khoi young', 'vitaliy guimaraes', 'yul moldauer']