In [1]:
import pandas as pd
import numpy as np

In [5]:
bb = pd.read_csv('../../../scraping/women/worldcup15cottbus/worldcup2015cott_bb.csv')
bbq = pd.read_csv('../../../scraping/women/worldcup15cottbus/worldcup2015cott_qual_bb.csv')

ub = pd.read_csv('../../../scraping/women/worldcup15cottbus/worldcup2015cott_ub.csv')
ubq = pd.read_csv('../../../scraping/women/worldcup15cottbus/worldcup2015cott_qual_ub.csv')

vt = pd.read_csv('../../../scraping/women/worldcup15cottbus/worldcup2015cott_vt.csv')
# vtq = pd.read_csv('../../scraping/worldcup19doha/worldcup2019doha_qual_vt.csv')

fx = pd.read_csv('../../../scraping/women/worldcup15cottbus/worldcup2015cott_fx.csv')
fxq = pd.read_csv('../../../scraping/women/worldcup15cottbus/worldcup2015cott_qual_fx.csv')

In [9]:
ub.head()

   Rank            Athlete      Nation    D      E  ND   Total
0     1     Jonna Adlerteg      Sweden  6.3  8.375 NaN  14.675
1     2  Kristina Pravdina  Azerbaijan  5.5  8.300 NaN  13.800
2     3     Filipa Martins    Portugal  5.6  7.875 NaN  13.475
3     4     Dorina Böczögö     Hungary  5.0  8.450 NaN  13.450
4     5         Paula Raya       Spain  5.3  8.000 NaN  13.300

In [8]:
ubq.head()

   Rank          Athlete    Nation    D      E  ND   Total
0     1   Jonna Adlerteg    Sweden  6.5  8.533 NaN  15.033
1     2   Filipa Martins  Portugal  5.6  8.233 NaN  13.833
2     3  Evangelia Plyta    Greece  6.0  7.466 NaN  13.466
3     4       Paula Raya     Spain  5.1  8.166 NaN  13.266
4     5   Dorina Böczögö   Hungary  4.9  8.300 NaN  13.200

In [12]:
ub['round']="final"
ubq['round']="qual"

In [13]:
combined_df = pd.concat([ub, ubq], axis=0)

In [14]:
ub=combined_df.copy()

In [16]:
ub["year"]=2015

In [17]:
ub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41 entries, 0 to 32
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     41 non-null     int64
 1   Athlete  41 non-null     object
 2   Nation   41 non-null     object
 3   D        41 non-null     float64
 4   E        41 non-null     float64
 5   ND       0 non-null      float64
 6   Total    41 non-null     float64
 7   round    41 non-null     object
 8   year     41 non-null     int64
dtypes: float64(4), int64(2), object(3)
memory usage: 3.2+ KB

In [18]:
ub.fillna(0, inplace=True)

In [20]:
ub['Nation'].unique()

array(['Sweden', 'Azerbaijan', 'Portugal', 'Hungary', 'Spain',
       'Switzerland', 'Greece', 'Slovenia', 'Turkey', 'Poland', 'Romania',
       'Israel', 'Germany', 'Norway', 'Argentina', 'Czech Republic',
       'Austria', 'Latvia', 'Georgia', 'Finland', 'Ireland'], dtype=object)

In [22]:

# Dictionary mapping nation names to NOC codes
nation_to_noc = {
    'Sweden': 'SWE',
    'Azerbaijan': 'AZE',
    'Portugal': 'POR',
    'Hungary': 'HUN',
    'Spain': 'ESP',
    'Switzerland': 'SUI',
    'Greece': 'GRE',
    'Slovenia': 'SLO',
    'Turkey': 'TUR',
    'Poland': 'POL',
    'Romania': 'ROU',
    'Israel': 'ISR',
    'Germany': 'GER',
    'Norway': 'NOR',
    'Argentina': 'ARG',
    'Czech Republic': 'CZE',
    'Austria': 'AUT',
    'Latvia': 'LAT',
    'Georgia': 'GEO',
    'Finland': 'FIN',
    'Ireland': 'IRL'
}

# Map the "Nations" column to NOC codes
ub['NOC'] = ub['Nation'].map(nation_to_noc)

In [24]:
ub=ub.drop(columns=["Nation"])
ub["Nation"] = ub["NOC"]
ub=ub.drop(columns=["NOC"])

In [25]:
ub

    Rank              Athlete    D      E   ND   Total  round  year Nation
0      1       Jonna Adlerteg  6.3  8.375  0.0  14.675  final  2015    SWE
1      2    Kristina Pravdina  5.5  8.300  0.0  13.800  final  2015    AZE
2      3       Filipa Martins  5.6  7.875  0.0  13.475  final  2015    POR
3      4       Dorina Böczögö  5.0  8.450  0.0  13.450  final  2015    HUN
4      5           Paula Raya  5.3  8.000  0.0  13.300  final  2015    ESP
5      6   Caterina Barloggio  5.0  8.025  0.0  13.025  final  2015    SUI
6      7      Evangelia Plyta  5.8  6.800  0.0  12.600  final  2015    GRE
7      8           Teja Belak  4.2  7.175  0.0  11.375  final  2015    SLO
0      1       Jonna Adlerteg  6.5  8.533  0.0  15.033   qual  2015    SWE
1      2       Filipa Martins  5.6  8.233  0.0  13.833   qual  2015    POR
2      3      Evangelia Plyta  6.0  7.466  0.0  13.466   qual  2015    GRE
3      4           Paula Raya  5.1  8.166  0.0  13.266   qual  2015    ESP
4      5       Dorina Böczögö  4.9  8.300  0.0  13.200   qual  2015    HUN
5      6   Caterina Barloggio  4.9  8.200  0.0  13.100   qual  2015    SUI
6      7           Teja Belak  4.9  8.133  0.0  13.033   qual  2015    SLO
7      8    Kristina Pravdina  5.5  7.500  0.0  13.000   qual  2015    AZE
8      9         Tutya Yilmaz  4.9  7.933  0.0  12.833   qual  2015    TUR
9     10  Marta Pihan-Kulesza  5.5  7.333  0.0  12.833   qual  2015    POL
10    11       Andreea Iridon  5.4  7.300  0.0  12.700   qual  2015    ROU
11    12          Tzuf Feldon  4.8  7.833  0.0  12.633   qual  2015    ISR
12    13        Pauline Tratz  4.9  7.666  0.0  12.566   qual  2015    GER
13    14       Boglarka Devai  4.4  8.000  0.0  12.400   qual  2015    HUN
14    15        Gaia Nesurini  4.1  8.166  0.0  12.266   qual  2015    SUI
15    16          Ekin Morova  4.7  7.500  0.0  12.200   qual  2015    TUR
16    17            Kim Janas  5.3  6.666  0.0  11.966   qual  2015    GER
17    18         Dina Nygaard  4.5  7.266  0.0  11.766   qual  2015    NOR
18    19  Maria Belen Stoffel  4.7  6.966  0.0  11.666   qual  2015    ARG
19    20        Petra Fialova  5.2  6.466  0.0  11.666   qual  2015    CZE
20    21           Lisa Ecker  4.5  7.066  0.0  11.566   qual  2015    AUT
21    22        Argyro Afrati  5.4  6.066  0.0  11.466   qual  2015    GRE
22    23     Veronika Cenkova  4.0  7.333  0.0  11.333   qual  2015    CZE
23    24        Ailen Valente  4.5  6.800  0.0  11.300   qual  2015    ARG
24    25            Ana Perez  5.6  5.433  0.0  11.033   qual  2015    ESP
25    26         Jasmin Mader  3.9  7.100  0.0  11.000   qual  2015    AUT
26    27       Yuliya Inshina  3.5  7.466  0.0  10.966   qual  2015    AZE
27    28     Diana Jerofejeva  2.5  7.900  0.0  10.400   qual  2015    LAT
28    29      Nato Dzidziguri  2.6  7.666  0.0  10.266   qual  2015    GEO
29    30           Anna Salmi  3.8  6.033  0.0   9.833   qual  2015    FIN
30    31       Mariana Pitrez  2.7  7.000  0.0   9.700   qual  2015    POR
31    32    Anastasija Dubova  2.4  7.033  0.0   9.433   qual  2015    LAT
32    33       Ellis O’Reilly  3.8  4.700  0.0   8.500   qual  2015    IRL

In [10]:
fx.head()

   Rank              Athlete     Nation    D      E   ND   Total
0     1  Marta Pihan-Kulesza     Poland  5.8  8.425  NaN  14.225
1     2     Andreea Munteanu    Romania  5.5  8.325  NaN  13.825
2     3       Filipa Martins   Portugal  5.3  8.175  NaN  13.475
3     4      Ayelen Tarabini  Argentina  5.3  8.125 -0.1  13.325
4     5           Lisa Ecker    Austria  5.0  7.950  NaN  12.950

In [11]:
fxq.head()

   Rank                       Athlete       Nation    D      E   ND   Total
0     1              Andreea Munteanu      Romania  5.8  8.600  NaN  14.400
1     2                     Kim Janas      Germany  5.9  7.966 -0.1  13.766
2     3  Katarzyna Jurkowska-Kowalska       Poland  5.6  8.033 -0.1  13.533
3     4            Caterina Barloggio  Switzerland  5.0  8.466  NaN  13.466
4     5                   Tzuf Feldon       Israel  5.4  7.933  NaN  13.333

In [26]:
fx['round']='final'
fxq['round']='qual'

In [27]:
combined_df = pd.concat([fx, fxq], axis=0)

In [28]:
fx=combined_df.copy()

In [30]:
fx['year']=2015

In [33]:
fx['ND'].fillna(0, inplace=True)

In [35]:
fx['Nation'].unique()

array(['Poland', 'Romania', 'Portugal', 'Argentina', 'Austria', 'Hungary',
       'Turkey', 'Greece', 'Germany', 'Switzerland', 'Israel', 'Spain',
       'Uzbekistan', 'Czech Republic', 'Finland', 'Norway', 'Latvia',
       'Slovenia', 'Georgia', 'Azerbaijan', 'Ireland'], dtype=object)

In [36]:
# Dictionary mapping nation names to NOC codes
nation_to_noc = {
    'Poland': 'POL',
    'Romania': 'ROU',
    'Portugal': 'POR',
    'Argentina': 'ARG',
    'Austria': 'AUT',
    'Hungary': 'HUN',
    'Turkey': 'TUR',
    'Greece': 'GRE',
    'Germany': 'GER',
    'Switzerland': 'SUI',
    'Israel': 'ISR',
    'Spain': 'ESP',
    'Uzbekistan': 'UZB',
    'Czech Republic': 'CZE',
    'Finland': 'FIN',
    'Norway': 'NOR',
    'Latvia': 'LAT',
    'Slovenia': 'SLO',
    'Georgia': 'GEO',
    'Azerbaijan': 'AZE',
    'Ireland': 'IRL'
}

# Map the "Nations" column to NOC codes
fx['NOC'] = fx['Nation'].map(nation_to_noc)

In [38]:
fx=fx.drop(columns=["Nation"])
fx["Nation"] = fx["NOC"]
fx=fx.drop(columns=["NOC"])

In [40]:
fx

,Rank,Athlete,D,E,ND,Total,round,year,Nation
0,1,Marta Pihan-Kulesza,5.8,8.425,0.0,14.225,final,2015,POL
1,2,Andreea Munteanu,5.5,8.325,0.0,13.825,final,2015,ROU
2,3,Filipa Martins,5.3,8.175,0.0,13.475,final,2015,POR
3,4,Ayelen Tarabini,5.3,8.125,-0.1,13.325,final,2015,ARG
4,5,Lisa Ecker,5.0,7.950,0.0,12.950,final,2015,AUT
5,6,Dorina Böczögö,5.2,7.750,-0.1,12.850,final,2015,HUN
6,7,Tutya Yilmaz,5.2,7.125,-0.4,11.925,final,2015,TUR
7,8,Argyro Afrati,4.9,7.175,-0.3,11.775,final,2015,GRE
0,1,Andreea Munteanu,5.8,8.600,0.0,14.400,qual,2015,ROU
1,2,Kim Janas,5.9,7.966,-0.1,13.766,qual,2015,GER
2,3,Katarzyna Jurkowska-Kowalska,5.6,8.033,-0.1,13.533,qual,2015,POL
3,4,Caterina Barloggio,5.0,8.466,0.0,13.466,qual,2015,SUI
4,5,Tzuf Feldon,5.4,7.933,0.0,13.333,qual,2015,ISR
5,6,Ana Perez,5.4,7.900,0.0,13.300,qual,2015,ESP
6,7,Ayelen Tarabini,5.4,7.866,0.0,13.266,qual,2015,ARG
7,8,Filipa Martins,5.1,8.033,0.0,13.133,qual,2015,POR
8,9,Dorina Böczögö,5.4,7.800,-0.1,13.100,qual,2015,HUN
9,10,Pauline Schäfer,5.8,7.266,0.0,13.066,qual,2015,GER
10,11,Oksana Chusovitina,5.4,7.533,0.0,12.933,qual,2015,UZB
11,12,Veronika Cenkova,5.1,7.566,0.0,12.666,qual,2015,CZE
12,13,Paula Plichta,5.4,7.300,-0.1,12.600,qual,2015,POL
13,14,Pauline Tratz,4.5,7.966,0.0,12.466,qual,2015,GER
14,15,Dilnoza Abdusalimova,5.4,7.166,-0.1,12.466,qual,2015,UZB
15,16,Vasiliki Millousi,5.5,7.066,-0.1,12.466,qual,2015,GRE
16,17,Andreea Iridon,5.6,6.766,0.0,12.366,qual,2015,ROU
17,18,Anna Salmi,4.5,7.600,0.0,12.100,qual,2015,FIN
18,19,Dina Nygaard,4.6,7.500,-0.1,12.000,qual,2015,NOR
19,20,Mariana Pitrez,4.5,7.333,0.0,11.833,qual,2015,POR
20,21,Tutya Yilmaz,5.7,6.033,0.0,11.733,qual,2015,TUR
21,22,Lisa Ecker,4.7,6.900,0.0,11.600,qual,2015,AUT
22,23,Gaia Nesurini,4.2,7.200,0.0,11.400,qual,2015,SUI
23,24,Maria Simou,4.6,6.733,0.0,11.333,qual,2015,GRE
24,25,Boglarka Devai,4.1,7.133,-0.1,11.133,qual,2015,HUN
25,26,Gaya Giladi,4.6,6.500,0.0,11.100,qual,2015,ISR
26,27,Diana Jerofejeva,4.0,6.866,0.0,10.866,qual,2015,LAT
27,28,Ekin Morova,4.9,6.033,-0.1,10.833,qual,2015,TUR
28,29,Anastasija Dubova,4.2,6.500,0.0,10.700,qual,2015,LAT
29,30,Nora Fernandez,4.9,5.633,0.0,10.533,qual,2015,ESP
30,31,Tjasa Kysselef,4.0,6.466,0.0,10.466,qual,2015,SLO
31,32,Nato Dzidziguri,5.0,5.433,-0.1,10.333,qual,2015,GEO
32,33,Kristina Pravdina,4.8,5.466,0.0,10.266,qual,2015,AZE
33,34,Ellis O’Reilly,4.8,5.433,-0.1,10.133,qual,2015,IRL
34,35,Maria Belen Stoffel,4.3,5.733,0.0,10.033,qual,2015,ARG
35,36,Jasmin Mader,5.1,4.833,0.0,9.933,qual,2015,AUT
36,37,Tatjana Holeczek,3.8,5.733,0.0,9.533,qual,2015,SLO

In [41]:
# fx.to_csv('clean_worldcup2015cott_fx.csv', index=False)
# ub.to_csv('clean_worldcup2015cott_ub.csv', index=False)

In [44]:
vt.fillna(0, inplace=True)

In [46]:
vt['year']=2015

In [48]:
vt['Nation'].unique()

array(['Uzbekistan', 'Slovenia', 'Poland', 'Germany', 'Hungary', 'Greece',
       'Spain'], dtype=object)

In [49]:
# Dictionary mapping nation names to NOC codes
nation_to_noc = {
    'Uzbekistan': 'UZB',
    'Slovenia': 'SLO',
    'Poland': 'POL',
    'Germany': 'GER',
    'Hungary': 'HUN',
    'Greece': 'GRE',
    'Spain': 'ESP'
}

# Map the "Nations" column to NOC codes
vt['NOC'] = vt['Nation'].map(nation_to_noc)

In [50]:
vt

,Rank,Athlete,Nation,D1,E1,ND1,Total1,d2,e2,pen2,score1,total,year,NOC
0,1,Oksana Chusovitina,Uzbekistan,5.8,9.125,0.0,14.925,5.5,9.325,0.0,14.825,14.875,2015,UZB
1,2,Tjasa Kysselef,Slovenia,5.0,8.900,0.0,13.900,5.0,9.100,0.0,14.100,14.000,2015,SLO
2,3,Teja Belak,Slovenia,5.3,8.950,0.0,14.250,5.3,8.650,-0.3,13.650,13.950,2015,SLO
3,4,Paula Plichta,Poland,5.0,8.650,0.0,13.650,5.2,8.550,0.0,13.750,13.700,2015,POL
4,5,Pauline Tratz,Germany,5.0,9.075,0.0,14.075,4.4,8.900,0.0,13.300,13.687,2015,GER
5,6,Boglarka Devai,Hungary,5.0,8.875,0.0,13.875,4.6,8.800,0.0,13.400,13.637,2015,HUN
6,7,Argyro Afrati,Greece,4.8,9.050,0.0,13.850,5.0,8.400,0.0,13.400,13.625,2015,GRE
7,7,Ana Perez,Spain,5.0,8.950,0.0,13.950,4.6,8.700,0.0,13.300,13.625,2015,ESP

In [51]:
vt=vt.drop(columns=["Nation"])
vt["Nation"] = vt["NOC"]
vt=vt.drop(columns=["NOC"])

In [52]:
vt

,Rank,Athlete,D1,E1,ND1,Total1,d2,e2,pen2,score1,total,year,Nation
0,1,Oksana Chusovitina,5.8,9.125,0.0,14.925,5.5,9.325,0.0,14.825,14.875,2015,UZB
1,2,Tjasa Kysselef,5.0,8.900,0.0,13.900,5.0,9.100,0.0,14.100,14.000,2015,SLO
2,3,Teja Belak,5.3,8.950,0.0,14.250,5.3,8.650,-0.3,13.650,13.950,2015,SLO
3,4,Paula Plichta,5.0,8.650,0.0,13.650,5.2,8.550,0.0,13.750,13.700,2015,POL
4,5,Pauline Tratz,5.0,9.075,0.0,14.075,4.4,8.900,0.0,13.300,13.687,2015,GER
5,6,Boglarka Devai,5.0,8.875,0.0,13.875,4.6,8.800,0.0,13.400,13.637,2015,HUN
6,7,Argyro Afrati,4.8,9.050,0.0,13.850,5.0,8.400,0.0,13.400,13.625,2015,GRE
7,7,Ana Perez,5.0,8.950,0.0,13.950,4.6,8.700,0.0,13.300,13.625,2015,ESP

In [53]:
# vt.to_csv('clean_worldcup2015cott_vt.csv', index=False)