In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('../../scraping/olympics/womens2020olympics/Gymnastics_ 2020_Olympics_women\'s_artistic_team_all-around.csv')

In [22]:
df.head()

,Rank,Team,vt,ub,bb,fx,Total
0,1.0,ROC,43.799 (1),44.699 (1),39.532 (4),41.498 (1),169.528
1,NaN,Lilia Akhaimova(ROC),14.733,NaN,NaN,NaN,NaN
2,NaN,Viktoria Listunova(ROC),NaN,14.9,14.333,14.166,NaN
3,NaN,Angelina Melnikova(ROC),14.6,14.933,12.566,13.966,NaN
4,NaN,Vladislava Urazova(ROC),14.466,14.866,12.633,13.366,NaN

In [31]:
new_df = df.iloc[::6]

# Reset index in the new DataFrame
new_df.reset_index(drop=True, inplace=True)