In [1]:
import pandas as pd
import numpy as np

In [2]:
pac16bb = pd.read_csv('../../Cleaning/qual_events/women/clean_pacific_rim2016bb.csv')
bc15bb = pd.read_csv('../../Cleaning/qual_events/women/clean_british_championship2015bb.csv')
jesolo15bb = pd.read_csv('../../Cleaning/qual_events/women/clean_jesolo2015bb.csv')
wc13cott_bb = pd.read_csv('../../Cleaning/qual_events/women/clean_wc13cott_bb.csv')
wc13doha_bb = pd.read_csv('../../Cleaning/qual_events/women/clean_wc14doha_bb.csv')
wc19doha_bb = pd.read_csv('../../Cleaning/qual_events/women/clean_worldcup2019doha_bb.csv')
eu20_bb = pd.read_csv('../../Cleaning/qual_events/women/euro2020bb.csv')
uni19_bb = pd.read_csv('../../Cleaning/qual_events/women/uni2019bb.csv')
wc19melb_bb = pd.read_csv('../../Cleaning/qual_events/women/clean_worldcup2019melbourne_bb.csv')
wc18jeso_bb = pd.read_csv('../../Cleaning/qual_events/women/clean_worldcup2018jesolo_bb.csv')
usopc_bb = pd.read_csv('../../Cleaning/USOPC/usopc_women_bb_october.csv')
bb_world_championship_w = pd.read_csv('../../Cleaning/World_Championships/bb_world_championship_w.csv')
# wc15cott_bb = pd.read_csv('../Cleaning/qual_events/clean_worldcup2015cott_bb.csv')
bb_euro_championship18 = pd.read_csv('../../Cleaning/qual_events/women/clean_european_championship2018bb.csv')
bb_euro_championship21 = pd.read_csv('../../Cleaning/qual_events/women/clean_european_championship2021bb.csv')
pam14am_bb = pd.read_csv('../../Cleaning/qual_events/women/clean_pan_american2014bb.csv')
euro19games_bb= pd.read_csv('../../Cleaning/qual_events/women/clean_european_games2019bb.csv')

clean_universiade2015bb= pd.read_csv('../../Cleaning/qual_events/women/clean_universiade2015bb.csv')
clean_euro15champ_bb= pd.read_csv('../../Cleaning/qual_events/women/clean_euro15champ_bb.csv')

In [3]:
eu20_bb.rename(columns={'Gymnast': 'Name', 'Position': 'Rank', 'Penalty': 'Pen.'}, inplace=True)
uni19_bb['nation'] = uni19_bb['Athlete'].str.extract(r'\((.*?)\)')
uni19_bb['Athlete'] = uni19_bb['Athlete'].str.replace(r'\(.*?\)', '', regex=True)
uni19_bb['year']=2019
eu20_bb['year']=2020
eu20_bb['nation']='eu'
uni19_bb.rename(columns={'Athlete': 'Name', }, inplace=True)
uni19_bb['round']='final'
eu20_bb['round']='final'

In [4]:
def rename_columns(dataframe):
    # Define the column name mapping
    column_name_mapping = {
        'Athlete': 'Name',
        'Gymnast': 'Name',
        'Nation': 'nation',
        'D': 'D Score',
        'E': 'E Score',
        'ND': 'Pen.',
        'Score': 'Total',
        'Position': 'Rank'
        # Add more columns as needed
    }

    return dataframe.rename(columns=column_name_mapping, inplace=True)

In [5]:
rename_columns(wc19melb_bb)

In [6]:
def reorder_columns(dataframe):
    # Define the desired column order
    desired_column_order = ['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year', 'round']

    return dataframe[desired_column_order]

In [7]:
wc19melb_bb = reorder_columns(wc19melb_bb)

Functions

    rename_columns(wc19melb_ub)

    wc19melb_ub = reorder_columns(wc19melb_ub)

In [8]:
rename_columns(pac16bb)

In [9]:
pac16bb = reorder_columns(pac16bb)

In [10]:
rename_columns(bc15bb)

In [11]:
bc15bb = reorder_columns(bc15bb)

In [12]:
rename_columns(jesolo15bb)

In [13]:
jesolo15bb = reorder_columns(jesolo15bb)

In [14]:
rename_columns(wc13cott_bb)

In [15]:
wc13cott_bb = reorder_columns(wc13cott_bb)

In [16]:
rename_columns(wc13doha_bb)

In [17]:
wc13doha_bb = reorder_columns(wc13doha_bb)

In [18]:
rename_columns(wc19doha_bb)

In [19]:
column_name_mapping = {
    'Round': 'round'
}

wc19doha_bb.rename(columns=column_name_mapping, inplace=True)

In [20]:
wc19doha_bb = reorder_columns(wc19doha_bb)

In [21]:
rename_columns(eu20_bb)

In [22]:
wc13doha_bb = reorder_columns(eu20_bb)

In [23]:
rename_columns(uni19_bb)

In [24]:
uni19_bb = reorder_columns(uni19_bb)

In [25]:
rename_columns(wc18jeso_bb)

In [26]:
wc18jeso_bb['year']=2018
wc18jeso_bb['round']='final'

In [27]:
wc18jeso_bb = reorder_columns(wc18jeso_bb)

In [28]:
rename_columns(bb_world_championship_w)

In [29]:
bb_world_championship_w = reorder_columns(bb_world_championship_w)

In [30]:
usopc_bb=usopc_bb.drop(columns=["Gender", 'Competition', 'Apparatus', ])
usopc_bb['year'] = usopc_bb['Date'].str[:4]
usopc_bb=usopc_bb.drop(columns=["Date"])

In [31]:
usopc_bb.rename(columns={'Country': 'nation', 'Round': 'round',
                           'E_Score': 'E Score','D_Score': 'D Score', 'Penalty': 'Pen.',
                        'Score': 'Total'}, inplace=True)

usopc_bb=usopc_bb[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [32]:
combined_df = pd.concat([wc19melb_bb, pac16bb,bc15bb,jesolo15bb, wc13cott_bb, wc13doha_bb])

In [33]:
bb = combined_df.copy()

In [34]:
bb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 94 entries, 0 to 7
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     94 non-null     int64
 1   Name     94 non-null     object
 2   nation   94 non-null     object
 3   D Score  94 non-null     float64
 4   E Score  94 non-null     float64
 5   Pen.     94 non-null     float64
 6   Total    94 non-null     float64
 7   year     94 non-null     int64
 8   round    94 non-null     object
dtypes: float64(4), int64(2), object(3)
memory usage: 7.3+ KB

In [35]:
combined_df = pd.concat([bb, wc19doha_bb, eu20_bb, uni19_bb, wc18jeso_bb, 
                         bb_world_championship_w, usopc_bb])

In [36]:
bb = combined_df.copy()

In [37]:
bb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2016 entries, 0 to 1802
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     2016 non-null   float64
 1   Name     2016 non-null   object
 2   nation   1991 non-null   object
 3   D Score  2016 non-null   float64
 4   E Score  2016 non-null   float64
 5   Pen.     2008 non-null   float64
 6   Total    2016 non-null   float64
 7   year     2016 non-null   object
 8   round    2016 non-null   object
dtypes: float64(5), object(4)
memory usage: 157.5+ KB

In [38]:
bb.head(1)

   Rank          Name nation  D Score  E Score  Pen.   Total  year  round
0   1.0  Zhao Shiting    CHN      5.0    8.566   0.0  13.566  2019  final

In [39]:
bb_euro_championship18.head()

,Rank,Athlete,Nation,D,E,ND,Total,year,round
0,1,Mélanie De Jesus Dos Santos,FRA,6.0,7.900,0.0,13.900,2021,final
1,2,Sanne Wevers,NED,5.6,8.266,0.0,13.866,2021,final
2,3,Anastasiia Bachynska,UKR,5.6,7.733,0.0,13.333,2021,final
3,4,Amelie Morgan,GBR,5.3,7.866,0.0,13.166,2021,final
4,5,Martina Maggio,ITA,4.9,8.100,0.0,13.000,2021,final

In [40]:
bb_euro_championship21.head()

,Rank,Athlete,Nation,D,E,ND,Total,year,round
0,1,Sanne Wevers,NED,5.6,8.300,0.0,13.900,2021,final
1,2,Nina Derwael,BEL,5.0,8.600,0.0,13.600,2021,final
2,3,Marine Boyer,FRA,5.8,7.366,0.0,13.166,2021,final
3,4,Melanie De Jesus Dos Santos,FRA,5.4,7.666,0.0,13.066,2021,final
4,5,Ilaria Käslin,SUI,5.1,7.466,-0.1,12.466,2021,final

In [41]:
rename_columns(bb_euro_championship18)

In [42]:
rename_columns(bb_euro_championship21)

In [43]:
combined_df = pd.concat([bb, bb_euro_championship18, bb_euro_championship21])

In [44]:
bb = combined_df.copy()

In [45]:
bb

    Rank              Name nation  D Score  E Score  Pen.   Total  year  round
0    1.0      Zhao Shiting    CHN      5.0    8.566   0.0  13.566  2019  final
1    2.0        Emma Nedov    AUS      5.4    8.100   0.0  13.500  2019  final
2    3.0       Mana Oguchi    JPN      5.1    7.966   0.0  13.066  2019  final
3    4.0  Elena Chipizubov    AUS      5.1    7.933   0.0  13.033  2019  final
4    5.0        Lai Pin-Ju    TPE      5.1    7.333   0.0  12.433  2019  final
..   ...               ...    ...      ...      ...   ...     ...   ...    ...
90  83.0    Greta Banishka    BUL      4.1    4.700   NaN   8.800  2021   qual
91  84.0      Thea Nygaard    NOR      4.7    4.100   NaN   8.800  2021   qual
92  85.0     Victoria Kajø    DEN      4.3    4.000   NaN   8.300  2021   qual
93  86.0  Linda Tugarinova    LAT      3.7    4.533   NaN   8.233  2021   qual
94  87.0  Marina Nekrasova    AZE      1.6    7.666  -6.5   2.766  2021   qual

[2219 rows x 9 columns]

In [46]:
bb.duplicated().sum()

21

In [47]:
bb = bb.drop_duplicates()

In [48]:
# pam14am_bb 
# euro19games_bb

In [49]:
rename_columns(pam14am_bb)
pam14am_bb = reorder_columns(pam14am_bb)

In [50]:
rename_columns(euro19games_bb)
euro19games_bb = reorder_columns(euro19games_bb)

In [51]:
combined_df = pd.concat([bb, pam14am_bb, euro19games_bb])

In [52]:
bb = combined_df.copy()

In [53]:
bb.duplicated().sum()

0

In [54]:
rename_columns(clean_universiade2015bb)
clean_universiade2015bb = reorder_columns(clean_universiade2015bb)

In [55]:
rename_columns(clean_euro15champ_bb)
clean_euro15champ_bb = reorder_columns(clean_euro15champ_bb)

In [56]:
combined_df = pd.concat([bb, clean_universiade2015bb, clean_euro15champ_bb])

In [57]:
bb = combined_df.copy()

In [58]:
bb.duplicated().sum()

0

In [59]:
# bb.to_csv('bb_w.csv', index=False)

In [60]:
bb

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
0,1.0,Zhao Shiting,CHN,5.0,8.566,0.0,13.566,2019,final
1,2.0,Emma Nedov,AUS,5.4,8.100,0.0,13.500,2019,final
2,3.0,Mana Oguchi,JPN,5.1,7.966,0.0,13.066,2019,final
3,4.0,Elena Chipizubov,AUS,5.1,7.933,0.0,13.033,2019,final
4,5.0,Lai Pin-Ju,TPE,5.1,7.333,0.0,12.433,2019,final
...,...,...,...,...,...,...,...,...,...
92,85.0,Alina Circene,LAT,4.4,4.566,0.0,8.966,2015,qual
93,86.0,Linnea Wang,DEN,4.6,4.266,0.0,8.866,2015,qual
94,87.0,Nato Dzidziguri,GEO,3.6,5.266,-0.1,8.766,2015,qual
95,88.0,Gabriele Blazyte,LTU,2.5,5.500,0.0,8.000,2015,qual
96,89.0,Kristina Pravdina,AZE,0.7,8.433,-8.0,1.133,2015,qual