In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('iaa2020.csv')

In [3]:
# sunisa lee United States
# rebeca andrade Brazil
# angelina melnikova ROC

In [4]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'sunisa lee':
        return 1
    elif name_lower == 'rebeca andrade':
        return 1
    elif name_lower == 'angelina melnikova':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df['medal'] = df['Athlete'].apply(assign_medal)

In [5]:
df['medal'].value_counts()

medal
0    529
1      8
Name: count, dtype: int64

In [6]:
df[df['medal'] == 1]

,Rank,Athlete,Nation,VT,UB,BB,FX,AA,round,year,medal
4,5,angelina melnikova,RUS,14.266,14.3,12.866,14.033,55.465,qual,2018,1
137,138,rebeca andrade,BRA,14.566,14.333,12.633,0.0,41.532,qual,2018,1
232,4,angelina melnikova,RUS,14.5,13.433,11.766,13.0,52.699,final,2018,1
237,1,angelina melnikova,RUS,14.433,13.866,12.666,13.5,54.465,final,2018,1
253,2,sunisa lee,USA,14.566,15,13.4,14.2,57.166,qual,2019,1
255,4,angelina melnikova,RUS,14.433,14.7,13.366,14.1,56.599,qual,2019,1
515,3,angelina melnikova,RUS,14.433,13.9,14.0,14.066,56.399,final,2019,1
520,8,sunisa lee,USA,14.466,13.133,13.833,14.2,55.632,final,2019,1

In [7]:
df['round'] = df['round'].str.lower()

In [8]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['Name_encoded'] = le.fit_transform(df['Athlete'])

# Store the mapping between integers and original objects
label_mapping = dict(zip(le.transform(df['Athlete']), df['Athlete']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [9]:
df=df.drop(columns=["Athlete"])
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [10]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['nation_encoded'] = le.fit_transform(df['Nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(df['Nation']), df['Nation']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [11]:
df=df.drop(columns=["Nation"])
df.rename(columns={'nation_encoded': 'Nation'}, inplace=True)

In [12]:
df_encoded = pd.get_dummies(df, columns=['round'], prefix='round')

In [13]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         537 non-null    int64
 1   VT           537 non-null    object
 2   UB           537 non-null    object
 3   BB           537 non-null    object
 4   FX           537 non-null    object
 5   AA           537 non-null    float64
 6   year         537 non-null    int64
 7   medal        537 non-null    int64
 8   Name         537 non-null    int64
 9   Nation       537 non-null    int64
 10  round_final  537 non-null    bool
 11  round_qual   537 non-null    bool
dtypes: bool(2), float64(1), int64(5), object(4)
memory usage: 43.1+ KB

In [14]:
# df_encoded.to_csv('iaa_encoded.csv', index=False)