### Total: 19


2016 
- 9

2020
- 10

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('fx_w.csv')
# df = pd.read_csv('mult_fx_w.csv')

## 2020 fx medalist
1. Jade Carey
2. Vanessa Ferrari
3. Mai Murakami


## 2016 fx medalist
1. Simone Biles
2. Aly Raisman
3. Amy Tinkler

In [3]:
df['year'].value_counts()

year
2023    851
2022    573
2021    138
2015    115
2019     95
2014     28
2013     28
2018     10
2017      7
2020      4
2011      3
2016      2
Name: count, dtype: int64

In [4]:
df

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
0,109.0,jana abdelsalam,EGY,4.4,7.466,0.1,11.766,2022,qual
1,131.0,jana abdelsalam,EGY,4.5,7.200,0.3,11.400,2023,qual
2,22.0,jana abdelsalam,EGY,4.5,7.366,0.0,11.866,2023,qual
3,16.0,ondine achampong,GBR,5.3,8.033,0.0,13.333,2022,qual
4,12.0,ondine achampong,GBR,5.2,7.600,0.3,12.500,2022,qual
...,...,...,...,...,...,...,...,...,...
1849,68.0,demet mutlu,TUR,4.9,6.366,0.0,11.266,2015,qual
1850,70.0,sofie bråten,NOR,4.4,6.833,0.0,11.233,2015,qual
1851,72.0,anastasija dubova,LAT,3.6,7.500,0.0,11.100,2015,qual
1852,74.0,ekin morova,TUR,5.1,6.333,-0.4,11.033,2015,qual
1853,75.0,anastasiya yekimenka,BLR,4.0,6.933,0.0,10.933,2015,qual

In [5]:
df['Name'] = df['Name'].str.lower()

In [6]:
df['year'].value_counts()

year
2023    851
2022    573
2021    138
2015    115
2019     95
2014     28
2013     28
2018     10
2017      7
2020      4
2011      3
2016      2
Name: count, dtype: int64

In [7]:
df['year'].value_counts()

year
2023    851
2022    573
2021    138
2015    115
2019     95
2014     28
2013     28
2018     10
2017      7
2020      4
2011      3
2016      2
Name: count, dtype: int64

In [8]:
df12 = df[df['year'].isin([2011])].copy()
df16 = df[df['year'].isin([2013, 2014, 2015, 2016])].copy()
df20 = df[df['year'].isin([2017, 2018, 2019, 2020])].copy()
df24 = df[df['year'].isin([2022, 2023])].copy()

In [9]:
df1 = df20.copy()

In [10]:
df16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 173 entries, 1424 to 1853
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     173 non-null    float64
 1   Name     173 non-null    object
 2   nation   173 non-null    object
 3   D Score  173 non-null    float64
 4   E Score  173 non-null    float64
 5   Pen.     173 non-null    float64
 6   Total    173 non-null    float64
 7   year     173 non-null    int64
 8   round    173 non-null    object
dtypes: float64(5), int64(1), object(3)
memory usage: 13.5+ KB

In [11]:
df16[df16['nation']=='GBR']

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
1570,8.0,claudia fragapane,GBR,6.0,7.400,0.3,13.100,2014,final
1573,6.0,ellie downie,GBR,6.0,8.733,0.0,14.733,2015,final
1574,7.0,claudia fragapane,GBR,6.2,8.366,-0.1,14.466,2015,final
1597,1.0,amy tinkler,GBR,5.7,8.750,0.0,14.450,2015,final
1598,2.0,claudia fragapane,GBR,6.1,8.450,-0.3,14.250,2015,final
1599,0.0,kelly simm,GBR,5.6,7.950,0.0,13.550,2015,final
1787,3.0,kelly simm,GBR,5.8,8.166,0.0,13.966,2015,final
1794,2.0,kelly simm,GBR,5.8,8.100,0.0,13.900,2015,qual
1805,2.0,claudia fragapane,GBR,6.3,8.333,0.0,14.633,2015,final
1809,6.0,amy tinkler,GBR,5.9,8.100,0.0,14.000,2015,final
1814,3.0,amy tinkler,GBR,5.9,8.300,0.0,14.200,2015,qual
1818,7.0,claudia fragapane,GBR,6.1,8.166,-0.3,13.966,2015,qual
1824,16.0,ellie downie,GBR,5.6,8.100,-0.3,13.400,2015,qual

In [12]:
df16[df16['Name']=='aly raisman']

      Rank         Name nation  D Score  E Score  Pen.  Total  year  round
1602   3.0  aly raisman    USA      6.3     8.85  -0.3  14.85  2015  final
1607   1.0  aly raisman    USA      6.2     8.90   0.0  15.10  2016  final

In [13]:
df16[df16['Name']=='simone biles']

      Rank          Name nation  D Score  E Score  Pen.   Total  year  round
1559   1.0  simone biles    USA      6.5    8.500   0.0  15.000  2013  final
1565   1.0  simone biles    USA      6.4    8.933   0.0  15.333  2014  final
1571   1.0  simone biles    USA      6.8    9.000   0.0  15.800  2015  final
1600   1.0  simone biles    USA      6.8    9.250   0.0  16.050  2015  final

In [14]:
df16[df16['Name']=='amy tinkler']

      Rank         Name nation  D Score  E Score  Pen.  Total  year  round
1597   1.0  amy tinkler    GBR      5.7     8.75   0.0  14.45  2015  final
1809   6.0  amy tinkler    GBR      5.9     8.10   0.0  14.00  2015  final
1814   3.0  amy tinkler    GBR      5.9     8.30   0.0  14.20  2015   qual

In [15]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
Index: 116 entries, 1455 to 1784
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     116 non-null    float64
 1   Name     116 non-null    object
 2   nation   116 non-null    object
 3   D Score  116 non-null    float64
 4   E Score  116 non-null    float64
 5   Pen.     116 non-null    float64
 6   Total    116 non-null    float64
 7   year     116 non-null    int64
 8   round    116 non-null    object
dtypes: float64(5), int64(1), object(3)
memory usage: 9.1+ KB

In [16]:
df20[df20["Name"]=='jade carey']

      Rank        Name nation  D Score  E Score  Pen.   Total  year  round
1455   1.0  jade carey    USA      6.2    8.266   0.0  14.466  2019  Final
1463   1.0  jade carey    USA      5.9    8.200  -0.1  14.000  2019   Qual
1577   2.0  jade carey      0      5.7    8.500   0.0  14.200  2017  final

In [17]:
df20[df20["Name"]=='mai murakami']

      Rank          Name nation  D Score  E Score  Pen.   Total  year  round
1576   1.0  mai murakami      0      5.9    8.333   0.0  14.233  2017  final
1584   3.0  mai murakami      0      5.7    8.166   0.0  13.866  2018  final

In [18]:
df20[df20["Name"]=='vanessa ferrari']

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
1457,3.0,vanessa ferrari,ITA,5.2,8.100,0.0,13.300,2019,Final
1469,7.0,vanessa ferrari,ITA,5.3,7.833,-0.1,13.033,2019,Qual
1536,1.0,vanessa ferrari,ITA,5.2,8.400,0.0,13.600,2019,final
1544,1.0,vanessa ferrari,ITA,5.2,8.100,0.0,13.300,2019,qual
1582,8.0,vanessa ferrari,0,2.0,8.233,-6.3,3.933,2017,final

In [19]:
df = df20.copy()

In [20]:
df.columns

Index(['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year',
       'round'],
      dtype='object')

In [21]:
# def assign_medal(name):
#     name_lower = name.lower()
#     if name_lower == 'jade carey':
#         return 3
#     elif name_lower == 'vanessa ferrari':
#         return 2
#     elif name_lower == 'mai murakami':
#         return 1
#     else:
#         return -10

# df['medal'] = df['Name'].apply(assign_medal)

In [22]:
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'jade carey':
        return 1
    elif name_lower == 'vanessa ferrari':
        return 1
    elif name_lower == 'mai murakami':
        return 1
    else:
        return 0

df['medal'] = df['Name'].apply(assign_medal)

In [23]:
df

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round,medal
1455,1.0,jade carey,USA,6.2,8.266,0.0,14.466,2019,Final,1
1456,2.0,lara mori,ITA,5.6,7.833,0.0,13.433,2019,Final,0
1457,3.0,vanessa ferrari,ITA,5.2,8.100,0.0,13.300,2019,Final,1
1458,4.0,marta pihan-kulesza,POL,5.4,7.933,-0.1,13.233,2019,Final,0
1459,5.0,marine boyer,FRA,5.0,8.200,0.0,13.200,2019,Final,0
...,...,...,...,...,...,...,...,...,...,...
1780,29.0,bianca frysak,AUT,4.2,7.166,0.0,11.366,2019,qual,0
1781,31.0,elvira katsali,GRE,4.4,6.833,0.0,11.233,2019,qual,0
1782,32.0,celeste mordenti,LUX,4.1,7.100,0.0,11.200,2019,qual,0
1783,33.0,ofir netzer,ISR,4.6,6.666,-0.1,11.166,2019,qual,0
1784,35.0,nazli savranbasi,TUR,4.8,6.300,0.0,11.100,2019,qual,0

In [24]:
df['medal'].value_counts()

medal
0    106
1     10
Name: count, dtype: int64

In [25]:
# medal
# -1    134
#  3      3

In [26]:
# -1 is 228
# 2 is 5
# 3 is 6
# 1 is 2

In [27]:
df20 = df.copy()

In [28]:
df = df16.copy()

In [29]:
# def assign_medal(name):
#     name_lower = name.lower()
#     if name_lower == 'simone biles':
#         return 3
#     elif name_lower == 'aly raisman':
#         return 2
#     elif name_lower == 'amy tinkler':
#         return 1
#     else:
#         return -10

# df['medal'] = df['Name'].apply(assign_medal)

In [30]:
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'simone biles':
        return 1
    elif name_lower == 'aly raisman':
        return 1
    elif name_lower == 'amy tinkler':
        return 1
    else:
        return 0

df['medal'] = df['Name'].apply(assign_medal)

In [31]:
df['medal'].value_counts()

medal
0    164
1      9
Name: count, dtype: int64

In [32]:
df16=df.copy()

In [33]:
df = pd.concat([df20, df16])

In [34]:
df['medal'].value_counts()

medal
0    270
1     19
Name: count, dtype: int64

---

In [35]:
df.nunique()

Rank        54
Name       131
nation      47
D Score     30
E Score    107
Pen.         9
Total      153
year         8
round        5
medal        2
dtype: int64

In [36]:
df['round'] = df['round'].str.lower()

In [37]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['Name_encoded'] = le.fit_transform(df['Name'])

label_mapping = dict(zip(le.transform(df['Name']), df['Name']))

In [38]:
df=df.drop(columns=["Name"])
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [39]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['nation_encoded'] = le.fit_transform(df['nation'])

label_mapping_nation = dict(zip(le.transform(df['nation']), df['nation']))

In [40]:
df=df.drop(columns=["nation"])
df.rename(columns={'nation_encoded': 'nation'}, inplace=True)

In [41]:
df_encoded = pd.get_dummies(df, columns=['round'], prefix='round')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 289 entries, 1455 to 1853
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     289 non-null    float64
 1   D Score  289 non-null    float64
 2   E Score  289 non-null    float64
 3   Pen.     289 non-null    float64
 4   Total    289 non-null    float64
 5   year     289 non-null    int64
 6   round    289 non-null    object
 7   medal    289 non-null    int64
 8   Name     289 non-null    int64
 9   nation   289 non-null    int64
dtypes: float64(5), int64(4), object(1)
memory usage: 24.8+ KB

# Feature Egnineering (?)

In [43]:

df_encoded['tot_final']=df_encoded['round_final']+df_encoded['Total']
df_encoded['tot_fin_d'] = df_encoded['tot_final'] * df_encoded['D Score']
df_encoded['tot_fin_ddiv'] = df_encoded['D Score'] * df_encoded['tot_final'] * df_encoded['tot_final'] 
df_encoded['tot_fin_ddiv_rank'] = (df_encoded['D Score'] * df_encoded['tot_final'] *
                                   df_encoded['tot_final'] ) + df_encoded['Rank']

In [44]:
correlations = df_encoded.corrwith(df['medal'])

correlations.sort_values(ascending=False)

medal                1.000000
tot_fin_ddiv         0.307165
tot_fin_ddiv_rank    0.307005
tot_fin_d            0.275104
E Score              0.267678
tot_final            0.226944
D Score              0.215655
round_final          0.207863
Total                0.193930
Name                 0.089898
year                 0.045250
nation               0.031849
round_0             -0.047559
Rank                -0.178897
round_qual          -0.189098
Pen.                -0.202670
dtype: float64

In [45]:
# medal 0 or 1

# medal          1.000000
# E Score        0.230683
# round_final    0.200594
# D Score        0.200197
# Total          0.181081
# Name           0.071345
# year           0.063914
# nation         0.022020
# round_0       -0.041464
# Pen.          -0.140075
# Rank          -0.166271
# round_qual    -0.180175

In [46]:
# # medal 3, 2, 1, 0
# medal          1.000000
# E Score        0.230070
# D Score        0.215587
# Total          0.193681
# round_final    0.191764
# Name           0.105429
# nation         0.079598
# year           0.056752
# round_0       -0.038727
# Pen.          -0.123677
# Rank          -0.158460
# round_qual    -0.172597
# dtype: float64

In [49]:
# df_encoded.to_csv('mult_fx_encoded.csv', index=False)

In [ ]:
# df_encoded.to_csv('fx_encoded.csv', index=False)

# Feature Importance

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.inspection import permutation_importance

In [ ]:
X = df_encoded.drop('medal', axis=1)
y = df_encoded['medal']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Create and train a Random Forest classifier
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)

In [ ]:
# Calculate feature importance using permutation importance
perm_importance = permutation_importance(clf, X_test, y_test, n_repeats=30, random_state=42)

# Get the results and feature names
importance_scores = perm_importance.importances_mean
feature_names = X.columns

# Combine the feature names and their importance scores
feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': importance_scores})

# Sort the features by importance in descending order
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)

In [ ]:
feature_importance_df

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)
feature_importance = clf.feature_importances_

In [ ]:
feature_importance

In [ ]:
import pandas as pd
import shap
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [ ]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

In [ ]:
# Convert non-numeric columns to numeric (e.g., using one-hot encoding for categorical columns)
X_train = pd.get_dummies(X_train, columns=['round_final', 'round_qual'])
X_test = pd.get_dummies(X_test, columns=['round_final', 'round_qual'])

# Handle missing values (NaNs) by either dropping or imputing
X_train = X_train.dropna()
X_test = X_test.dropna()

# Ensure all columns have a numeric data type
X_train = X_train.astype('float64')
X_test = X_test.astype('float64')

In [ ]:
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)

# Initialize a SHAP explainer
explainer = shap.Explainer(clf, X_train)

# Calculate SHAP values for the testing data
shap_values = explainer(X_test)

# Get the feature names corresponding to one-hot encoded columns
feature_names = X_test.columns

# Plot the summary plot to visualize feature importances
shap.summary_plot(shap_values, X_test, feature_names=feature_names)

In [ ]:
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X, y)

In [ ]:
importance = clf.feature_importances_

In [ ]:

for feature, importance in zip(X, importance):
    print(feature, importance)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.bar(range(X.shape[1]), clf.feature_importances_)
plt.xlabel('Features')
plt.ylabel('Importance')
plt.show

In [ ]:
import xgboost as xgb

# Create and train an XGBoost model
model = xgb.XGBClassifier()
model.fit(X_train, y_train)

# Get feature importance using 'weight'
weight_importance = model.get_booster().get_score(importance_type='weight')

# Get feature importance using 'gain'
gain_importance = model.get_booster().get_score(importance_type='gain')

# Print feature importance
print("Weight Feature Importance:")
for feature, importance in weight_importance.items():
    print(f"{feature}: {importance}")

print("\nGain Feature Importance:")
for feature, importance in gain_importance.items():
    print(f"{feature}: {importance}")

In [ ]:
import catboost
from catboost import CatBoostClassifier, CatBoostRegressor, Pool, cv
from catboost import MetricVisualizer

In [ ]:
data = Pool(data=X_train, label=y_train)

# Train a CatBoost model
model = CatBoostClassifier(iterations=1000, depth=6, learning_rate=0.1, loss_function='Logloss')
model.fit(data, verbose=100)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge

In [ ]:
features = X
target = y

X_train, X_val, y_train, y_val = train_test_split(
    X, y, random_state=0)
model = Ridge(alpha=1e-2).fit(X_train, y_train)
model.score(X_val, y_val)

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=0)

# Train a Ridge model
model = Ridge(alpha=1e-2).fit(X_train, y_train)

# Perform permutation importance
r = permutation_importance(model, X_val, y_val, n_repeats=30, random_state=0)

# Print feature importance values
for i in r.importances_mean.argsort()[::-1]:
    if r.importances_mean[i] - 2 * r.importances_std[i] > 0:
        print(f"Feature {i}: {r.importances_mean[i]:.3f} +/- {r.importances_std[i]:.3f}")

In [ ]:
features

Feature 12: 302.945 +/- 22.849: This line indicates that Feature 12 is the most important feature in your dataset, with an average importance value of approximately 302.945. The "+/- 22.849" represents the standard deviation or uncertainty associated with this importance value. It means that the model's performance is quite sensitive to variations in Feature 12, and it has a significant impact on the predictions.

Feature 13: 60.496 +/- 4.889: Feature 13 is the second most important feature, with an average importance value of about 60.496. The standard deviation, "+/- 4.889," suggests that it's also an important feature but with slightly less impact and variability compared to Feature 12.

In [ ]:
feature_names=features.columns

In [ ]:
# Accessing "Feature 12" (which is at index 11 in a zero-based index)
feature_12_name = feature_names[11]  # Note: Using index 11
print(f"Feature 12 corresponds to: {feature_12_name}")
feature_13_name = feature_names[12]  # Note: Using index 11
print(f"Feature 13 corresponds to: {feature_13_name}")

In [ ]:
df1.info()

In [ ]:
usa = df1[df1['nation']=='USA']

In [ ]:
usa