### Total: 17

2016
- 8

2020
- 9

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ub_w.csv')

## 2016

1. liya mustafina (RUS) 
2. madison kocian (USA) 	
3. sophie scheder (GER)

## 2020

1. nina derwael (BEL) 	
2. anastasia ilyankova (ROC)  - 1 comp	
3. sunisa lee (USA) - 1 comp

In [3]:
df['year'].value_counts()

year
2023    644
2022    586
2021    200
2015    197
2019    109
2014     54
2013     46
2018     16
2020      8
2011      8
2017      8
2016      8
Name: count, dtype: int64

In [4]:
df = pd.read_csv('ub_w.csv')
df['Name'] = df['Name'].str.lower()

In [5]:
df['Name'] = df['Name'].str.lower()

In [6]:
df12 = df[df['year'].isin([2011])].copy()
df16 = df[df['year'].isin([2013, 2014, 2015, 2016])].copy()
df20 = df[df['year'].isin([2017, 2018, 2019, 2020])].copy()
df24 = df[df['year'].isin([2022, 2023])].copy()

In [12]:
df1 = df20.copy()

In [13]:
# # Define a function to assign medal values based on the "Name" column
# def assign_medal(name):
#     name_lower = name.lower()
#     if name_lower == 'aliya mustafina':
#         return 3
#     elif name_lower == 'madison kocian':
#         return 2
#     elif name_lower == 'sophie scheder':
#         return 1
#     else:
#         return -1

# # Apply the function to create the "medal" column
# df16['medal'] = df16['Name'].apply(assign_medal)

In [14]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'aliya mustafina':
        return 1
    elif name_lower == 'madison kocian':
        return 1
    elif name_lower == 'sophie scheder':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df16['medal'] = df16['Name'].apply(assign_medal)

In [15]:
df16['medal'].value_counts()

medal
0    297
1      8
Name: count, dtype: int64

In [16]:
df16[df16['Name']== 'aliya mustafina']

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round,medal
1432,3.0,aliya mustafina,RUS,6.5,8.533,0.0,15.033,2013,final,1
1443,6.0,aliya mustafina,RUS,6.3,8.800,0.0,15.100,2014,final,1

In [17]:
df16[df16['Name']== 'madison kocian']

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round,medal
1449,1.0,madison kocian,USA,6.6,8.766,0.0,15.366,2015,final,1
1703,2.0,madison kocian,USA,6.3,8.525,0.0,14.825,2014,final,1

In [18]:
df16[df16['Name']== 'sophie scheder']

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round,medal
1363,5.0,sophie scheder,GER,6.2,7.100,0.0,13.300,2013,final,1
1368,2.0,sophie scheder,GER,6.2,8.100,0.0,14.300,2013,qual,1
1434,5.0,sophie scheder,GER,6.4,8.283,0.0,14.683,2013,final,1
1453,8.0,sophie scheder,GER,6.6,8.000,0.0,14.600,2015,final,1

In [19]:
# def assign_medal(name):
#     name_lower = name.lower()
#     if name_lower == 'nina derwael':
#         return 3
#     elif name_lower == 'anastasia ilyankova':
#         return 2
#     elif name_lower == 'sunisa lee':
#         return 1
#     else:
#         return -1

# # Apply the function to create the "medal" column
# df20['medal'] = df20['Name'].apply(assign_medal)

In [20]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'nina derwael':
        return 1
    elif name_lower == 'anastasia ilyankova':
        return 1
    elif name_lower == 'sunisa lee':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df20['medal'] = df20['Name'].apply(assign_medal)

In [21]:
df20['medal'].value_counts()

medal
0    132
1      9
Name: count, dtype: int64

In [22]:
# Assuming you have a DataFrame named 'df'
name_counts = df16['Name'].value_counts()

# Print the counts for each name
print("aliya Mustafina:", name_counts.get("aliya mustafina", 0))
print("Madison Kocian:", name_counts.get("madison kocian", 0))
print("Sophie Scheder:", name_counts.get("sophie scheder", 0))

aliya Mustafina: 2
Madison Kocian: 2
Sophie Scheder: 4

In [23]:
# Assuming you have a DataFrame named 'df'
name_counts = df20['Name'].value_counts()

print("nina derwael:", name_counts.get("nina derwael", 0))
print("anastasia ilyankova:", name_counts.get("anastasia ilyankova", 0))
print("sunisa lee:", name_counts.get("sunisa lee", 0))

nina derwael: 7
anastasia ilyankova: 1
sunisa lee: 1

In [24]:
combined_df = pd.concat([df20, df16], axis=0)

In [25]:
df = combined_df.copy()

In [26]:
df['medal'].value_counts()

medal
0    429
1     17
Name: count, dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 446 entries, 1271 to 1883
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     446 non-null    float64
 1   Name     446 non-null    object
 2   nation   446 non-null    object
 3   D Score  446 non-null    float64
 4   E Score  446 non-null    float64
 5   Pen.     446 non-null    float64
 6   Total    446 non-null    float64
 7   year     446 non-null    int64
 8   round    446 non-null    object
 9   medal    446 non-null    int64
dtypes: float64(5), int64(2), object(3)
memory usage: 38.3+ KB

In [28]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['Name_encoded'] = le.fit_transform(df['Name'])

# Store the mapping between integers and original objects
label_mapping = dict(zip(le.transform(df['Name']), df['Name']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [29]:
df=df.drop(columns=["Name"])

In [30]:
# Assuming df is your DataFrame
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [31]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['nation_encoded'] = le.fit_transform(df['nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(df['nation']), df['nation']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [32]:
df=df.drop(columns=["nation"])

In [33]:
# Assuming df is your DataFrame
df.rename(columns={'nation_encoded': 'nation'}, inplace=True)

In [34]:
df.nunique()

Rank        85
D Score     51
E Score    165
Pen.         3
Total      218
year         8
round        5
medal        2
Name       277
nation      76
dtype: int64

In [35]:
# Assuming df is your DataFrame
df['round'] = df['round'].str.lower()

In [36]:
df['Total'].nunique()

218

In [37]:
df['D Score'].nunique()

51

In [38]:
df['E Score'].nunique()

165

In [39]:
6.5/8.533

0.761748505801008

In [40]:
8.533/6.5

1.3127692307692307

In [41]:
df.head()

      Rank  D Score  E Score  Pen.   Total  year  round  medal  Name  nation
1271   1.0      6.5    8.533   0.0  15.033  2019  final      1   208       6
1272   2.0      6.5    8.433   0.0  14.933  2019  final      0   103      12
1273   3.0      6.3    8.400   0.0  14.700  2019  final      0    21      55
1274   4.0      6.0    8.216   0.0  14.216  2019  final      0   140      61
1275   5.0      6.0    8.000   0.0  14.000  2019  final      0   148      24

In [42]:
df['total_D'] = df['Total'] / df['D Score']
df['total_E'] = df['Total'] / df['E Score']
df['D_E'] =  df['E Score'] / df['D Score']

In [43]:

df_encoded = pd.get_dummies(df, columns=['round'], prefix='round')

In [44]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 446 entries, 1271 to 1883
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           446 non-null    float64
 1   D Score        446 non-null    float64
 2   E Score        446 non-null    float64
 3   Pen.           446 non-null    float64
 4   Total          446 non-null    float64
 5   year           446 non-null    int64
 6   medal          446 non-null    int64
 7   Name           446 non-null    int64
 8   nation         446 non-null    int64
 9   total_D        446 non-null    float64
 10  total_E        446 non-null    float64
 11  D_E            446 non-null    float64
 12  round_final    446 non-null    bool
 13  round_qual     446 non-null    bool
 14  round_unknown  446 non-null    bool
dtypes: bool(3), float64(8), int64(4)
memory usage: 46.6 KB

In [45]:
df['Pen.'].unique()

array([ 0. , -0.3, -0.1])

In [46]:

df_encoded['tot_final']=df_encoded['round_final']+df_encoded['Total']
df_encoded['tot_fin_d'] = df_encoded['tot_final'] * df_encoded['D Score']
df_encoded['tot_fin_ddiv'] = df_encoded['D Score'] * df_encoded['tot_final'] * df_encoded['tot_final'] 
df_encoded['tot_fin_ddiv_rank'] = (df_encoded['D Score'] * df_encoded['tot_final'] *
                                   df_encoded['tot_final'] ) + df_encoded['Rank']

In [47]:
correlations = df_encoded.corrwith(df['medal'])

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 446 entries, 1271 to 1883
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     446 non-null    float64
 1   D Score  446 non-null    float64
 2   E Score  446 non-null    float64
 3   Pen.     446 non-null    float64
 4   Total    446 non-null    float64
 5   year     446 non-null    int64
 6   round    446 non-null    object
 7   medal    446 non-null    int64
 8   Name     446 non-null    int64
 9   nation   446 non-null    int64
 10  total_D  446 non-null    float64
 11  total_E  446 non-null    float64
 12  D_E      446 non-null    float64
dtypes: float64(8), int64(4), object(1)
memory usage: 48.8+ KB

In [49]:
correlations.sort_values(ascending=False)

medal                1.000000
tot_fin_ddiv_rank    0.302044
tot_fin_ddiv         0.298809
tot_fin_d            0.279685
tot_final            0.246066
D Score              0.239582
Total                0.229803
round_final          0.204005
E Score              0.165649
Name                 0.108043
total_E              0.097242
nation               0.045960
year                 0.031364
Pen.                 0.020258
round_unknown       -0.038399
total_D             -0.073388
D_E                 -0.073456
Rank                -0.145906
round_qual          -0.184716
dtype: float64

In [50]:
# medals: 0 or 1
# # medal            1.000000
# # D Score          0.239582
# # Total            0.229803
# # round_final      0.204005
# # E Score          0.165649
# # Name             0.108043
# # nation           0.045960
# # year             0.031364
# # Pen.             0.020258
# # round_unknown   -0.038399
# # Rank            -0.145906
# # round_qual      -0.184716
# # dtype: float64

In [51]:
# medals: 3, 2, 1, 0
# medal            1.000000
# D Score          0.226139
# Total            0.222609
# round_final      0.186404
# E Score          0.165968
# year             0.072862
# Name             0.072479
# nation           0.045566
# Pen.             0.018810
# round_unknown   -0.035655
# Rank            -0.138958
# round_qual      -0.168561
# dtype: float64

In [52]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 446 entries, 1271 to 1883
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rank               446 non-null    float64
 1   D Score            446 non-null    float64
 2   E Score            446 non-null    float64
 3   Pen.               446 non-null    float64
 4   Total              446 non-null    float64
 5   year               446 non-null    int64
 6   medal              446 non-null    int64
 7   Name               446 non-null    int64
 8   nation             446 non-null    int64
 9   total_D            446 non-null    float64
 10  total_E            446 non-null    float64
 11  D_E                446 non-null    float64
 12  round_final        446 non-null    bool
 13  round_qual         446 non-null    bool
 14  round_unknown      446 non-null    bool
 15  tot_final          446 non-null    float64
 16  tot_fin_d          446 non-null    float64
 17  tot_fin_ddiv       446 non-null    float64
 18  tot_fin_ddiv_rank  446 non-null    float64
dtypes: bool(3), float64(12), int64(4)
memory usage: 60.5 KB

In [53]:
# df_encoded.to_csv('ub_encoded.csv', index=False)

In [54]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.inspection import permutation_importance

In [55]:

# Split the data into features (X) and the target variable (y)
X = df_encoded.drop('medal', axis=1)
y = df_encoded['medal']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [56]:
# Create and train a Random Forest classifier
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [57]:
# Calculate feature importance using permutation importance
perm_importance = permutation_importance(clf, X_test, y_test, n_repeats=30, random_state=42)

# Get the results and feature names
importance_scores = perm_importance.importances_mean
feature_names = X.columns

# Combine the feature names and their importance scores
feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': importance_scores})

# Sort the features by importance in descending order
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)

In [58]:
feature_importance_df

              Feature  Importance
6                Name    0.015185
1             D Score    0.010000
15          tot_fin_d    0.000370
9             total_E    0.000000
16       tot_fin_ddiv    0.000000
14          tot_final    0.000000
13      round_unknown    0.000000
11        round_final    0.000000
17  tot_fin_ddiv_rank    0.000000
7              nation    0.000000
4               Total    0.000000
3                Pen.    0.000000
10                D_E   -0.000370
5                year   -0.000741
2             E Score   -0.000741
8             total_D   -0.003704
0                Rank   -0.005185
12         round_qual   -0.005926

In [59]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)
feature_importance = clf.feature_importances_

In [60]:
import pandas as pd
import shap
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [61]:


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

In [62]:
# Convert non-numeric columns to numeric (e.g., using one-hot encoding for categorical columns)
X_train = pd.get_dummies(X_train, columns=['round_final', 'round_qual'])
X_test = pd.get_dummies(X_test, columns=['round_final', 'round_qual'])

# Handle missing values (NaNs) by either dropping or imputing
# Example: Drop rows with missing values
X_train = X_train.dropna()
X_test = X_test.dropna()

# Ensure all columns have a numeric data type
X_train = X_train.astype('float64')
X_test = X_test.astype('float64')

# Proceed with SHAP analysis

In [63]:
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)

# Initialize a SHAP explainer
explainer = shap.Explainer(clf, X_train)

# Calculate SHAP values for the testing data
shap_values = explainer(X_test)

# Get the feature names corresponding to one-hot encoded columns
feature_names = X_test.columns

# Plot the summary plot to visualize feature importances
shap.summary_plot(shap_values, X_test, feature_names=feature_names)

ExplainerError: Additivity check failed in TreeExplainer! Please ensure the data matrix you passed to the explainer is the same shape that the model was trained on. If your data shape is correct then please report this on GitHub. This check failed because for one of the samples the sum of the SHAP values was 0.650000, while the model output was 0.640000. If this difference is acceptable you can set check_additivity=False to disable this check.

In [ ]:
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X, y)

In [ ]:
importance = clf.feature_importances_

In [ ]:

for feature, importance in zip(X, importance):
    print(feature, importance)

In [65]:
df1

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
1271,1.0,nina derwael,BEL,6.5,8.533,0.0,15.033,2019,Final
1272,2.0,fan yilin,CHN,6.5,8.433,0.0,14.933,2019,Final
1273,3.0,anastasiia iliankova,RUS,6.3,8.400,0.0,14.700,2019,Final
1274,4.0,jonna adlerteg,SWE,6.0,8.216,0.0,14.216,2019,Final
1275,5.0,kim bui,GER,6.0,8.000,0.0,14.000,2019,Final
...,...,...,...,...,...,...,...,...,...
1747,32.0,bianca frysak,AUT,3.9,6.466,0.0,10.366,2019,qual
1748,33.0,tjasa kysselef,SLO,1.3,8.666,0.0,9.966,2019,qual
1749,34.0,jessica castles,SWE,4.5,4.933,0.0,9.433,2019,qual
1750,35.0,laney madsen,BUL,3.7,5.333,0.0,9.033,2019,qual
1751,36.0,elvira katsali,GRE,2.5,4.900,0.0,7.400,2019,qual

In [67]:
usa=df1[df1['nation']=='USA']

In [68]:
usa

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
1415,2.0,ragan smith,USA,6.0,8.567,0.0,14.567,2018,final
1417,4.0,alyona shchennikova,USA,6.0,8.167,0.0,14.167,2018,final