In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('men22_23.csv')

In [3]:
df['Gender'].value_counts()

m    15133
Name: Gender, dtype: int64

In [4]:
df = df.drop(columns=['Gender', 'Competition', 'Location', 'Total_Score'])

In [5]:
df['year'] = df['Date'].str[:4]

In [6]:
df = df.drop(columns=['Date'])

In [7]:
df.head()

,Name,Country,Round,Apparatus,Rank,D_Score,E_Score,Penalty,Score,year
0,Fredrik AAS,NOR,qual,HB,18.0,3.9,8.266,0.0,12.166,2022
1,Fredrik AAS,NOR,qual,HB,18.0,3.9,8.266,0.0,12.166,2022
2,Fredrik AAS,NOR,qual,PB,23.0,3.9,6.900,0.0,10.800,2022
3,Fredrik AAS,NOR,qual,PB,23.0,3.9,6.900,0.0,10.800,2022
4,Fredrik AAS,NOR,qual,PH,33.0,4.2,6.666,0.0,10.866,2022

In [8]:
df['Name'] = df['Name'].str.lower()

In [9]:
df['Country'].fillna('none', inplace=True)
df['year'].fillna(2023, inplace=True)

In [10]:
df['Apparatus'].unique()

array(['HB', 'PB', 'PH', 'FX', 'SR', 'VT1', 'VT', 'VT2', 'hb'],
      dtype=object)

In [11]:
df['Apparatus'] = df['Apparatus'].str.upper()

In [12]:
hb = df[df['Apparatus'] == 'HB']
ph = df[df['Apparatus'] == 'PH']
fx = df[df['Apparatus'] == 'FX']
pb = df[df['Apparatus'] == 'PB']
sr = df[df['Apparatus'] == 'SR']

In [13]:
hb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2344 entries, 0 to 15130
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       2344 non-null   object
 1   Country    2344 non-null   object
 2   Round      2344 non-null   object
 3   Apparatus  2344 non-null   object
 4   Rank       2344 non-null   float64
 5   D_Score    2344 non-null   float64
 6   E_Score    2344 non-null   float64
 7   Penalty    2344 non-null   float64
 8   Score      2344 non-null   float64
 9   year       2344 non-null   object
dtypes: float64(5), object(5)
memory usage: 201.4+ KB

In [14]:
values_to_remove = ['HB', 'PH', 'FX', 'PB', 'SR']

# Remove rows where 'Apparatus' is in values_to_remove
filtered_df = df[~df['Apparatus'].isin(values_to_remove)]

In [15]:
filtered_df['Apparatus'].value_counts()

VT1    1654
VT2     865
VT      580
Name: Apparatus, dtype: int64

In [16]:
vt = filtered_df.copy()

In [17]:
sr = sr.drop(columns=['Apparatus'])
pb = pb.drop(columns=['Apparatus'])
fx = fx.drop(columns=['Apparatus'])
vt = vt.drop(columns=['Apparatus'])
ph = ph.drop(columns=['Apparatus'])
hb = hb.drop(columns=['Apparatus'])

In [18]:
sr.rename(columns={'Country': 'nation', 'D_Score': 'D Score',
                            'E_Score': 'E Score', 'Penalty': 'Pen.',
                           'Score': 'Total', 'Round': 'round'}, inplace=True)

sr=sr[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [19]:
pb.rename(columns={'Country': 'nation', 'D_Score': 'D Score',
                            'E_Score': 'E Score', 'Penalty': 'Pen.',
                           'Score': 'Total', 'Round': 'round'}, inplace=True)

pb=pb[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [20]:
fx.rename(columns={'Country': 'nation', 'D_Score': 'D Score',
                            'E_Score': 'E Score', 'Penalty': 'Pen.',
                           'Score': 'Total', 'Round': 'round'}, inplace=True)

fx=fx[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [21]:
vt.rename(columns={'Country': 'nation', 'D_Score': 'D Score',
                            'E_Score': 'E Score', 'Penalty': 'Pen.',
                           'Score': 'Total', 'Round': 'round'}, inplace=True)

vt=vt[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [22]:
ph.rename(columns={'Country': 'nation', 'D_Score': 'D Score',
                            'E_Score': 'E Score', 'Penalty': 'Pen.',
                           'Score': 'Total', 'Round': 'round'}, inplace=True)

ph=ph[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [23]:
hb.rename(columns={'Country': 'nation', 'D_Score': 'D Score',
                            'E_Score': 'E Score', 'Penalty': 'Pen.',
                           'Score': 'Total', 'Round': 'round'}, inplace=True)

hb=hb[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [24]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
fx['Name_encoded'] = le.fit_transform(fx['Name'])

In [25]:
fxnames = fx[['Name', 'Name_encoded']]

In [26]:
fx=fx.drop(columns=["Name"])
fx.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [27]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

fx['nation_encoded'] = le.fit_transform(fx['nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(fx['nation']), fx['nation']))

In [28]:
fx=fx.drop(columns=["nation"])
fx.rename(columns={'nation_encoded': 'nation'}, inplace=True)

In [29]:
fx_encoded = pd.get_dummies(fx, columns=['round'], prefix='round')

In [30]:
fx_encoded['year'] = pd.to_numeric(fx_encoded['year'], errors='coerce').fillna(0).astype(int)

In [31]:
fx_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2439 entries, 8 to 15129
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             2439 non-null   float64
 1   D Score          2439 non-null   float64
 2   E Score          2439 non-null   float64
 3   Pen.             2439 non-null   float64
 4   Total            2439 non-null   float64
 5   year             2439 non-null   int64
 6   Name             2439 non-null   int64
 7   nation           2439 non-null   int64
 8   round_AAfinal    2439 non-null   uint8
 9   round_TeamFinal  2439 non-null   uint8
 10  round_TeamQual   2439 non-null   uint8
 11  round_final      2439 non-null   uint8
 12  round_qual       2439 non-null   uint8
dtypes: float64(5), int64(3), uint8(5)
memory usage: 183.4 KB

In [32]:
fx = fx_encoded.copy()

In [33]:
# fx.to_csv("encoded_m_olympics_fx.csv", index=False)  
# fxnames.to_csv("encoded_m_olympics_fxnames.csv", index=False)

In [34]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
hb['Name_encoded'] = le.fit_transform(hb['Name'])

In [35]:
hbnames = hb[['Name', 'Name_encoded']]

In [36]:
hb=hb.drop(columns=["Name"])
hb.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [37]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

hb['nation_encoded'] = le.fit_transform(hb['nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(hb['nation']), hb['nation']))

In [38]:
hb=hb.drop(columns=["nation"])
hb.rename(columns={'nation_encoded': 'nation'}, inplace=True)

In [39]:
hb_encoded = pd.get_dummies(hb, columns=['round'], prefix='round')
hb_encoded['year'] = pd.to_numeric(hb_encoded['year'], errors='coerce').fillna(0).astype(int)

In [40]:
hb_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2344 entries, 0 to 15130
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             2344 non-null   float64
 1   D Score          2344 non-null   float64
 2   E Score          2344 non-null   float64
 3   Pen.             2344 non-null   float64
 4   Total            2344 non-null   float64
 5   year             2344 non-null   int64
 6   Name             2344 non-null   int64
 7   nation           2344 non-null   int64
 8   round_AAfinal    2344 non-null   uint8
 9   round_TeamFinal  2344 non-null   uint8
 10  round_TeamQual   2344 non-null   uint8
 11  round_final      2344 non-null   uint8
 12  round_qual       2344 non-null   uint8
dtypes: float64(5), int64(3), uint8(5)
memory usage: 176.3 KB

In [41]:
hb = hb_encoded.copy()

In [42]:
# hb.to_csv("encoded_m_olympics_hb.csv", index=False)  
# hbnames.to_csv("encoded_m_olympics_hbnames.csv", index=False)

In [43]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
pb['Name_encoded'] = le.fit_transform(pb['Name'])

In [44]:
pbnames = pb[['Name', 'Name_encoded']]

In [45]:
pb=pb.drop(columns=["Name"])
pb.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [46]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

pb['nation_encoded'] = le.fit_transform(pb['nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(pb['nation']), pb['nation']))

In [47]:
pb=pb.drop(columns=["nation"])
pb.rename(columns={'nation_encoded': 'nation'}, inplace=True)

In [48]:
pb_encoded = pd.get_dummies(pb, columns=['round'], prefix='round')
pb_encoded['year'] = pd.to_numeric(pb_encoded['year'], errors='coerce').fillna(0).astype(int)

In [49]:
pb_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2374 entries, 2 to 15132
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             2374 non-null   float64
 1   D Score          2374 non-null   float64
 2   E Score          2374 non-null   float64
 3   Pen.             2374 non-null   float64
 4   Total            2374 non-null   float64
 5   year             2374 non-null   int64
 6   Name             2374 non-null   int64
 7   nation           2374 non-null   int64
 8   round_AAfinal    2374 non-null   uint8
 9   round_TeamFinal  2374 non-null   uint8
 10  round_TeamQual   2374 non-null   uint8
 11  round_final      2374 non-null   uint8
 12  round_qual       2374 non-null   uint8
dtypes: float64(5), int64(3), uint8(5)
memory usage: 178.5 KB

In [50]:
pb = pb_encoded.copy()

In [51]:
# pb.to_csv("encoded_m_olympics_pb.csv", index=False)  
# pbnames.to_csv("encoded_m_olympics_pbnames.csv", index=False)

In [54]:
import pandas as pd

# Assuming df is your DataFrame
ph['Name'] =ph['Name'].replace({
    'frederick richard': 'fred richard',
    'frederick nathaniel richard': 'fred richard'
})

In [56]:
import pandas as pd

# Assuming df is your DataFrame
ph['Name'] =ph['Name'].replace({
    'ian hunter skirkey': 'ian skirkey',
})

In [59]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
ph['Name_encoded'] = le.fit_transform(ph['Name'])

In [60]:
phnames = ph[['Name', 'Name_encoded']]
ph=ph.drop(columns=["Name"])
ph.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [61]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

ph['nation_encoded'] = le.fit_transform(ph['nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(ph['nation']), ph['nation']))

In [62]:
ph=ph.drop(columns=["nation"])
ph.rename(columns={'nation_encoded': 'nation'}, inplace=True)

In [63]:
ph_encoded = pd.get_dummies(ph, columns=['round'], prefix='round')
ph_encoded['year'] = pd.to_numeric(ph_encoded['year'], errors='coerce').fillna(0).astype(int)

In [64]:
ph = ph_encoded.copy()

In [66]:
# ph.to_csv("encoded_m_olympics_ph.csv", index=False)  
# phnames.to_csv("encoded_m_olympics_phnames.csv", index=False)

In [139]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
sr['Name_encoded'] = le.fit_transform(sr['Name'])

In [140]:
srnames = sr[['Name', 'Name_encoded']]
sr=sr.drop(columns=["Name"])
sr.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [141]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

sr['nation_encoded'] = le.fit_transform(sr['nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(sr['nation']), sr['nation']))

In [142]:
sr=sr.drop(columns=["nation"])
sr.rename(columns={'nation_encoded': 'nation'}, inplace=True)

In [143]:
sr_encoded = pd.get_dummies(sr, columns=['round'], prefix='round')
sr_encoded['year'] = pd.to_numeric(sr_encoded['year'], errors='coerce').fillna(0).astype(int)

In [144]:
sr = sr_encoded.copy()

In [146]:
# sr.to_csv("encoded_m_olympics_sr.csv", index=False)  
# srnames.to_csv("encoded_m_olympics_srnames.csv", index=False)

In [147]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
vt['Name_encoded'] = le.fit_transform(vt['Name'])

In [148]:
vtnames = vt[['Name', 'Name_encoded']]
vt=vt.drop(columns=["Name"])
vt.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [149]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

vt['nation_encoded'] = le.fit_transform(vt['nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(vt['nation']), vt['nation']))

In [150]:
vt=vt.drop(columns=["nation"])
vt.rename(columns={'nation_encoded': 'nation'}, inplace=True)

In [151]:
vt_encoded = pd.get_dummies(vt, columns=['round'], prefix='round')
vt_encoded['year'] = pd.to_numeric(vt_encoded['year'], errors='coerce').fillna(0).astype(int)

In [152]:
vt = vt_encoded.copy()

In [153]:
vt

,Rank,D Score,E Score,Pen.,Total,year,Name,nation,round_AAfinal,round_AAqual,round_TeamFinal,round_TeamQual,round_final,round_qual
13,69.0,4.0,8.966,0.0,12.966,2023,241,67,False,False,False,False,False,True
27,20.0,4.8,9.033,0.1,13.733,2022,502,30,True,False,False,False,False,False
28,97.0,4.8,9.000,0.3,13.500,2022,502,30,False,False,False,False,False,True
37,36.0,5.2,9.200,0.3,14.100,2022,502,30,False,False,False,False,False,True
43,126.0,5.2,8.000,0.0,13.200,2023,502,30,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15064,57.0,4.8,9.333,0.0,14.133,2023,332,32,False,False,False,False,False,True
15069,48.0,4.8,9.100,0.0,13.900,2023,332,32,False,False,False,False,False,True
15074,51.0,3.2,9.250,0.0,12.450,2023,332,32,False,False,False,False,False,True
15122,9.0,5.2,8.900,0.0,14.100,2023,18,91,False,False,False,False,False,True
15123,9.0,4.8,8.750,0.0,13.550,2023,18,91,False,False,False,False,False,True

In [154]:
vtnames

              Name  Name_encoded
13     fredrik aas           241
27     nestor abad           502
28     nestor abad           502
37     nestor abad           502
43     nestor abad           502
...            ...           ...
15064     jim zona           332
15069     jim zona           332
15074     jim zona           332
15122  ahmet önder            18
15123  ahmet önder            18

[3099 rows x 2 columns]

In [156]:
# vt.to_csv("encoded_m_olympics_vt.csv", index=False)  
# vtnames.to_csv("encoded_m_olympics_vtnames.csv", index=False)