# USA
- stephen nedoroscik
- khoi young

In [57]:
import pandas as pd
import numpy as np
from scipy import stats
from mlxtend.preprocessing import minmax_scaling
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.datasets import make_circles, make_classification, make_moons
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.inspection import DecisionBoundaryDisplay
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [58]:
df = pd.read_csv('../../Combine_Data/men/ph_encoded.csv')
olymp = pd.read_csv('../../Data/cleandata22-23/encoded_m_olympics_ph.csv')
phnames = pd.read_csv('../../Data/cleandata22-23/encoded_m_olympics_phnames.csv')
pholymp = pd.read_csv('../../Data/cleandata22-23/men22_23.csv')

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         414 non-null    int64
 1   D            414 non-null    float64
 2   E            414 non-null    float64
 3   ND           414 non-null    float64
 4   Total        414 non-null    float64
 5   year         414 non-null    int64
 6   medal        414 non-null    int64
 7   Name         414 non-null    int64
 8   Nation       414 non-null    int64
 9   round_final  414 non-null    bool
 10  round_qual   414 non-null    bool
dtypes: bool(2), float64(4), int64(5)
memory usage: 30.0 KB

In [86]:

# Assuming you already have your DataFrame 'df' and the target variable is 'medal'
y = df['medal']
X = df.drop(columns=['medal'])

# Split the data into training and testing sets
# CHANGED RANDOM STATE TO HAVE A LARGER NUMBER OF VALUES IN TEST DF
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Initialize classifiers
# classifiers = {
#     "Random Forest": RandomForestClassifier(),
#     "AdaBoost": AdaBoostClassifier(),
#     "SVM": SVC(),
#     "K-Nearest Neighbors": KNeighborsClassifier(),
#     "Decision Tree": DecisionTreeClassifier(),
#     "Naive Bayes": GaussianNB(),
#     "Neural Network": MLPClassifier(),
# }

# results = {}

# # Iterate through each classifier
# for name, clf in classifiers.items():
#     # Create a pipeline with StandardScaler for classifiers that require it
#     if name in ["SVM", "K-Nearest Neighbors", "Neural Network"]:
#         clf = make_pipeline(StandardScaler(), clf)

#     # Fit the model to the training data
#     clf.fit(X_train, y_train)

#     # Make predictions on the test data
#     y_pred = clf.predict(X_test)

#     # Evaluate the model's performance
#     accuracy = accuracy_score(y_test, y_pred)
#     report = classification_report(y_test, y_pred)
#     conf_matrix = confusion_matrix(y_test, y_pred)

#     results[name] = {
#         "accuracy": accuracy,
#         "classification_report": report,
#         "confusion_matrix": conf_matrix,
#     }

# # Print the results
# for name, result in results.items():
#     print(f"Classifier: {name}")
#     print(f"Accuracy: {result['accuracy']:.4f}")
#     print(f"Classification Report:\n{result['classification_report']}")
#     print(f"Confusion Matrix:\n{result['confusion_matrix']}\n")

Classifier: Random Forest
Accuracy: 0.9904

In [61]:
X_train.head()

,Rank,D,E,ND,Total,year,Name,Nation,round_final,round_qual
225,95,5.8,6.666,0.0,12.466,2019,159,45,False,True
355,12,6.1,6.600,0.0,12.700,2019,100,39,False,True
364,2,6.1,8.450,0.0,29.000,2020,19,72,True,False
274,144,4.9,6.600,0.0,11.500,2019,269,42,False,True
175,45,5.1,8.033,0.0,13.133,2019,9,58,False,True

In [62]:
olymp.head()

,Rank,D Score,E Score,Pen.,Total,year,Name,nation,round_AAfinal,round_TeamFinal,round_final,round_qual
0,44.0,4.4,7.800,0.0,12.200,2023,158,60,False,False,False,True
1,58.0,4.4,7.266,0.0,11.666,2023,159,60,False,False,False,True
2,21.0,5.1,6.166,0.0,11.266,2022,366,27,True,False,False,False
3,55.0,5.2,7.566,0.0,12.766,2022,366,27,False,False,False,True
4,105.0,5.0,5.500,0.0,10.500,2022,366,27,False,False,False,True

In [243]:
olymp = pd.read_csv('../../Data/cleandata22-23/encoded_m_olympics_ph.csv')

In [244]:
olymp.rename(columns={'D Score': 'D', 'E Score': 'E',
                     'Pen.': 'ND', 'nation': 'Nation'}, inplace=True)

In [245]:
olymp=olymp.drop(columns=['round_TeamFinal', 'round_AAfinal'])

In [246]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

# Load the dataset
data = df.copy()  # Assuming 'df' is your DataFrame

# Define the target variable and features
y = data['medal']  # Assuming 'medal' is your target variable
X = data.drop(columns=['medal'])

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=2)

# Initialize and train the RandomForestClassifier with a specific number of estimators
n_estimators = 5  # Adjust this value to control the number of results
rf_model = RandomForestClassifier(n_estimators=n_estimators, random_state=42)
rf_model.fit(X_train, y_train)

# Make predictions with the RandomForestClassifier
y_pred = rf_model.predict(X_test)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)

print(f"Accuracy of RandomForest Classifier: {accuracy:.4f}")

Accuracy of RandomForest Classifier: 0.9880

In [247]:
y_predz = rf_model.predict(olymp)

In [248]:
ypreds  = pd.Series(y_predz)
olymp['ypredz']=ypreds

In [249]:
olymp['ypredz'].value_counts()

ypredz
0    1430
1       8
Name: count, dtype: int64

In [250]:
filtered_df = olymp[olymp['ypredz'] == 1]

In [251]:
filtered_df['Name'].unique()

array([  2, 163,  81, 474, 279])

In [252]:
name_encoded_values =  [ 2, 163,  81, 474, 279]

# Filter the DataFrame to get the corresponding "Name" values
result = phnames.loc[phnames['Name_encoded'].isin(name_encoded_values), 'Name']

In [253]:
result.unique()

array(['abdulla azimov', 'gagik khachikyan', 'chih kai lee',
       'stephen nedoroscik', 'khoi young'], dtype=object)

In [254]:
pholymp["Name"]=pholymp["Name"].str.lower()

In [255]:
names_to_filter = ['abdulla azimov', 'gagik khachikyan', 'chih kai lee',
       'stephen nedoroscik', 'khoi young']

# Filter the DataFrame to get rows with the specified "Name" values
result = pholymp[pholymp['Name'].isin(names_to_filter)]

In [256]:
result['Country'].value_counts()

Country
USA    39
ARM    27
UZB    12
TPE    10
Name: count, dtype: int64

In [257]:
usas=result[result['Country']=='USA']

In [258]:
usas['Name'].unique()

array(['stephen nedoroscik', 'khoi young'], dtype=object)