# USA not likely to medal

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from mlxtend.preprocessing import minmax_scaling
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.datasets import make_circles, make_classification, make_moons
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.inspection import DecisionBoundaryDisplay
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv('../../Combine_Data/men/vt_encoded.csv')
olymp = pd.read_csv('../../Data/cleandata22-23/encoded_m_olympics_vt.csv')
vtnames = pd.read_csv('../../Data/cleandata22-23/encoded_m_olympics_vtnames.csv')
vtolymp = pd.read_csv('../../Data/cleandata22-23/men22_23.csv')

In [3]:
olymp=olymp.drop(columns=['round_AAfinal', 'round_AAqual', 'round_TeamFinal', 'round_final',
       'round_qual'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     83 non-null     int64
 1   D        83 non-null     float64
 2   E        83 non-null     float64
 3   ND       83 non-null     float64
 4   Total    83 non-null     float64
 5   D.1      83 non-null     float64
 6   E.1      83 non-null     float64
 7   ND.1     83 non-null     float64
 8   Total.1  83 non-null     float64
 9   Average  83 non-null     float64
 10  year     83 non-null     int64
 11  medal    83 non-null     int64
 12  Name     83 non-null     int64
 13  Nation   83 non-null     int64
dtypes: float64(9), int64(5)
memory usage: 9.2 KB

In [5]:
df=df.drop(columns=['Total', 'D.1', 'E.1','ND.1','Total.1'])

In [6]:
df.rename(columns={'D':'D Score', 'E':'E Score',
                    'ND': 'Pen.', 'Average': 'Total', 'Nation':'nation'}, inplace=True)

In [7]:

# # Assuming you already have your DataFrame 'df' and the target variable is 'medal'
# y = df['medal']
# X = df.drop(columns=['medal'])

# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=49)

# # Initialize classifiers
# classifiers = {
#     "Random Forest": RandomForestClassifier(),
#     "AdaBoost": AdaBoostClassifier(),
#     "SVM": SVC(),
#     "K-Nearest Neighbors": KNeighborsClassifier(),
#     "Decision Tree": DecisionTreeClassifier(),
#     "Naive Bayes": GaussianNB(),
#     "Neural Network": MLPClassifier(),
# }

# results = {}

# # Iterate through each classifier
# for name, clf in classifiers.items():
#     # Create a pipeline with StandardScaler for classifiers that require it
#     if name in ["SVM", "K-Nearest Neighbors", "Neural Network"]:
#         clf = make_pipeline(StandardScaler(), clf)

#     # Fit the model to the training data
#     clf.fit(X_train, y_train)

#     # Make predictions on the test data
#     y_pred = clf.predict(X_test)

#     # Evaluate the model's performance
#     accuracy = accuracy_score(y_test, y_pred)
#     report = classification_report(y_test, y_pred)
#     conf_matrix = confusion_matrix(y_test, y_pred)

#     results[name] = {
#         "accuracy": accuracy,
#         "classification_report": report,
#         "confusion_matrix": conf_matrix,
#     }

# # Print the results
# for name, result in results.items():
#     print(f"Classifier: {name}")
#     print(f"Accuracy: {result['accuracy']:.4f}")
#     print(f"Classification Report:\n{result['classification_report']}")
#     print(f"Confusion Matrix:\n{result['confusion_matrix']}\n")

Classifier: AdaBoost
Accuracy: 0.9643

In [8]:
df.head()

   Rank  D Score  E Score  Pen.   Total  year  medal  Name  nation
0     1      5.6    9.366   0.0  14.949  2019      0    27      22
1     2      5.6    9.400   0.0  14.900  2019      0    38       6
2     3      5.4    9.166   0.0  14.749  2019      0    15      25
3     4      6.0    8.525   0.0  14.579  2019      0    25      12
4     5      5.6    9.033   0.0  14.566  2019      1    58      19

In [9]:
olymp.head()

   Rank  D Score  E Score  Pen.   Total  year  Name  nation
0  69.0      4.0    8.966   0.0  12.966  2023   167      60
1  20.0      4.8    9.033   0.1  13.733  2022   373      26
2  97.0      4.8    9.000   0.3  13.500  2022   373      26
3  36.0      5.2    9.200   0.3  14.100  2022   373      26
4  22.0      5.2    7.900   0.1  13.000  2023   373      26

In [10]:

# Assuming you already have your DataFrame 'df' and the target variable is 'medal'
y = df['medal']
X = df.drop(columns=['medal'])

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=49)

# Initialize the AdaBoost classifier
# CHANGING LEARNIN RATE TO 0.31 RESULTS IN 1.000 
clf = AdaBoostClassifier()

# Fit the model to the training data
clf.fit(X_train, y_train)

# Make predictions on the test data
y_pred = clf.predict(X_test)

# Evaluate the model's performance
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

# Print the results
print("AdaBoost Classifier")
print(f"Accuracy: {accuracy:.4f}")
print(f"Classification Report:\n{report}")
print(f"Confusion Matrix:\n{conf_matrix}")

AdaBoost Classifier
Accuracy: 0.9643
Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.96      0.98        26
           1       0.67      1.00      0.80         2

    accuracy                           0.96        28
   macro avg       0.83      0.98      0.89        28
weighted avg       0.98      0.96      0.97        28

Confusion Matrix:
[[25  1]
 [ 0  2]]

In [11]:
y_pred = clf.predict(olymp)

In [12]:
ypreds  = pd.Series(y_pred)
olymp['ypred']=ypreds

In [13]:
olymp['ypred'].value_counts()

ypred
0    1748
1       9
Name: count, dtype: int64

In [14]:
filtered_df = olymp[olymp['ypred'] == 1]

In [15]:
filtered_df['Name'].unique()

array([196, 195,  58,  59])

In [18]:
name_encoded_values = [196, 195,  58,  59]

# Filter the DataFrame to get the corresponding "Name" values
result = vtnames.loc[vtnames['Name_encoded'].isin(name_encoded_values), 'Name']

In [19]:
result.unique()

array(['houssem eddine hamadouche', 'hillal metidji', 'bohdan suprun',
       'boheng zhang'], dtype=object)

In [21]:
vtolymp["Name"]=vtolymp["Name"].str.lower()

In [22]:
names_to_filter = ['houssem eddine hamadouche', 'hillal metidji', 'bohdan suprun',
       'boheng zhang']

# Filter the DataFrame to get rows with the specified "Name" values
result = vtolymp[vtolymp['Name'].isin(names_to_filter)]

In [24]:
result['Country'].value_counts()

Country
CHN    25
ALG    14
UKR    12
Name: count, dtype: int64