In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil import parser

In [2]:
df = pd.read_csv('../../scraping/women/gymnasts_results/chiles/chiles21.csv')

In [3]:
df

,Date,Competition,Unnamed: 2,VT,UB,BB,FX,AA
0,Jul 23-Aug 8,Olympic Games,TF,14.666,14.166,13.433,11.700,53.965
1,Jul 23-Aug 8,Olympic Games,QF,14.700,12.866,11.566,13.566,52.698
2,Jun 24-27,U.S. Olympic Trials,AA,14.933,14.433,13.900,14.233,57.499
3,Jun 24-27,U.S. Olympic Trials,QF,14.966,14.300,14.233,13.633,57.132
4,Jun 3-6,U.S. Championships,AA,14.900,14.600,14.050,14.000,57.550
5,Jun 3-6,U.S. Championships,QF,14.950,14.450,13.950,13.550,56.900
6,May 21-22,U.S. Classic,AA,14.950,14.150,14.050,13.950,57.100
7,Feb 26-28,Winter Cup,AA,14.900,14.050,14.500,13.600,57.050
8,6-Feb,WOGA Classic,AA,14.850,14.400,14.300,11.900,55.450

In [4]:
df["Year"] = 2021

In [5]:
df["Name"] = "Jordan Chiles"

In [6]:
df2 = pd.read_csv('../../scraping/women/gymnasts_results/chiles/chiles22.csv')

In [8]:
df2

,Date,Competition,Unnamed: 2,VT,UB,BB,FX,AA
0,Oct 29-Nov 6,World Championships,EF,14.350*,0.000,0.000,13.833,0.000
1,Oct 29-Nov 6,World Championships,TF,14.4,14.100,13.333,14.000,55.833
2,Oct 29-Nov 6,World Championships,QF,14.466,14.066,11.366,14.100,53.998
3,Oct 21-22,U.S. Worlds Trials,EF,0,14.250,13.600,0.000,0.000
4,Oct 21-22,U.S. Worlds Trials,AA,14.2,14.350,13.300,14.250,56.100
5,Sep 24-25,Paris Challenge Cup,EF,14.025*,13.750,0.000,14.050,0.000
6,Sep 24-25,Paris Challenge Cup,QF,13.950*,13.400,0.000,13.500,0.000
7,Aug 18-21,U.S. Championships,AA,14.3,14.100,13.450,13.900,55.750
8,Aug 18-21,U.S. Championships,QF,14.35,14.250,13.600,13.950,56.150

In [9]:
df2["Year"] = 2022

In [10]:
df2["Name"] = "Jordan Chiles"

In [7]:
df3 = pd.read_csv('../../scraping/women/gymnasts_results/chiles/chiles23.csv')

In [13]:
df3["Year"] = 2023

In [14]:
df3["Name"] = "Jordan Chiles"

In [15]:
result = pd.concat([df,df2, df3], ignore_index=True)

In [16]:
df = result.copy()

In [17]:
df.rename(columns={'Unnamed: 2': 'Round'}, inplace=True)

In [20]:
df.head()

,Date,Competition,Round,VT,UB,BB,FX,AA,Year,Name
0,Jul 23-Aug 8,Olympic Games,TF,14.666,14.166,13.433,11.700,53.965,2021,Jordan Chiles
1,Jul 23-Aug 8,Olympic Games,QF,14.7,12.866,11.566,13.566,52.698,2021,Jordan Chiles
2,Jun 24-27,U.S. Olympic Trials,AA,14.933,14.433,13.900,14.233,57.499,2021,Jordan Chiles
3,Jun 24-27,U.S. Olympic Trials,QF,14.966,14.300,14.233,13.633,57.132,2021,Jordan Chiles
4,Jun 3-6,U.S. Championships,AA,14.9,14.600,14.050,14.000,57.550,2021,Jordan Chiles

In [21]:
# Function to parse date entries
def parse_date(entry):
    try:
        return parser.parse(entry).strftime("%b %d")
    except ValueError:
        return entry

# Apply the parse_date function to the "Date" column
df["Date"] = df["Date"].apply(parse_date)

In [22]:
def extract_month_day(entry):
    parts = entry.split('-')
    return parts[0]

# Apply the extract_month_day function to the "Date" column
df["Date"] = df["Date"].apply(extract_month_day)

# Now, the "Date

In [23]:
df["Date"] = pd.to_datetime(df["Date"] + " " + df["Year"].astype(str), format="%b %d %Y")

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         21 non-null     datetime64[ns]
 1   Competition  21 non-null     object
 2   Round        21 non-null     object
 3   VT           21 non-null     object
 4   UB           21 non-null     float64
 5   BB           21 non-null     float64
 6   FX           21 non-null     float64
 7   AA           21 non-null     float64
 8   Year         21 non-null     int64
 9   Name         21 non-null     object
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 1.8+ KB

In [26]:
df=df.drop(columns=["Year"])

In [27]:
# Specify the desired column order
desired_order = ['Name', 'Date', 'Competition', 'Round', 'VT', 'UB', 'BB', 'FX', 'AA',
       ]

# Create a new DataFrame with columns in the desired order
df_reordered = df[desired_order]

In [28]:
df_reordered

,Name,Date,Competition,Round,VT,UB,BB,FX,AA
0,Jordan Chiles,2021-07-23,Olympic Games,TF,14.666,14.166,13.433,11.700,53.965
1,Jordan Chiles,2021-07-23,Olympic Games,QF,14.7,12.866,11.566,13.566,52.698
2,Jordan Chiles,2021-06-24,U.S. Olympic Trials,AA,14.933,14.433,13.900,14.233,57.499
3,Jordan Chiles,2021-06-24,U.S. Olympic Trials,QF,14.966,14.300,14.233,13.633,57.132
4,Jordan Chiles,2021-06-03,U.S. Championships,AA,14.9,14.600,14.050,14.000,57.550
5,Jordan Chiles,2021-06-03,U.S. Championships,QF,14.95,14.450,13.950,13.550,56.900
6,Jordan Chiles,2021-05-21,U.S. Classic,AA,14.95,14.150,14.050,13.950,57.100
7,Jordan Chiles,2021-02-26,Winter Cup,AA,14.9,14.050,14.500,13.600,57.050
8,Jordan Chiles,2021-02-06,WOGA Classic,AA,14.85,14.400,14.300,11.900,55.450
9,Jordan Chiles,2022-10-29,World Championships,EF,14.350*,0.000,0.000,13.833,0.000
10,Jordan Chiles,2022-10-29,World Championships,TF,14.4,14.100,13.333,14.000,55.833
11,Jordan Chiles,2022-10-29,World Championships,QF,14.466,14.066,11.366,14.100,53.998
12,Jordan Chiles,2022-10-21,U.S. Worlds Trials,EF,0,14.250,13.600,0.000,0.000
13,Jordan Chiles,2022-10-21,U.S. Worlds Trials,AA,14.2,14.350,13.300,14.250,56.100
14,Jordan Chiles,2022-09-24,Paris Challenge Cup,EF,14.025*,13.750,0.000,14.050,0.000
15,Jordan Chiles,2022-09-24,Paris Challenge Cup,QF,13.950*,13.400,0.000,13.500,0.000
16,Jordan Chiles,2022-08-18,U.S. Championships,AA,14.3,14.100,13.450,13.900,55.750
17,Jordan Chiles,2022-08-18,U.S. Championships,QF,14.35,14.250,13.600,13.950,56.150
18,Jordan Chiles,2023-08-24,U.S. Championships,AA,14.25,12.950,12.100,13.850,53.150
19,Jordan Chiles,2023-08-24,U.S. Championships,QF,14.3,14.200,13.000,13.100,54.600
20,Jordan Chiles,2023-08-04,U.S. Classic,AA,0.0,13.900,12.800,0.000,0.000

In [29]:
# df_reordered.to_csv('chiles.csv', index=False)