In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("../../Data/USOPC/data_2017_2021.csv")

In [6]:
df.head()

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,qual,"Tokyo, Japan",BB,76.0,4.8,6.766,NaN,11.566
1,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,qual,"Tokyo, Japan",FX,64.0,4.6,7.633,NaN,12.233
2,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,qual,"Tokyo, Japan",UE,74.0,5.1,6.500,NaN,11.600
3,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,qual,"Tokyo, Japan",VT,72.0,4.6,8.566,NaN,13.166
4,ABDUL HADI,Farah Ann,w,MAS,25 July 2021,Olympic Games,qual,"Tokyo, Japan",BB,76.0,4.8,6.766,NaN,11.566

In [7]:
df["Gender"].value_counts()

Gender
w    765
Name: count, dtype: int64

In [8]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_55398/579959469.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765 entries, 0 to 764
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     765 non-null    object
 1   FirstName    765 non-null    object
 2   Gender       765 non-null    object
 3   Country      765 non-null    object
 4   Date         765 non-null    datetime64[ns]
 5   Competition  765 non-null    object
 6   Round        765 non-null    object
 7   Location     765 non-null    object
 8   Apparatus    765 non-null    object
 9   Rank         761 non-null    float64
 10  D_Score      761 non-null    float64
 11  E_Score      761 non-null    float64
 12  Penalty      90 non-null     float64
 13  Score        758 non-null    float64
dtypes: datetime64[ns](1), float64(5), object(8)
memory usage: 83.8+ KB

In [10]:
df.head()

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,qual,"Tokyo, Japan",BB,76.0,4.8,6.766,NaN,11.566
1,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,qual,"Tokyo, Japan",FX,64.0,4.6,7.633,NaN,12.233
2,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,qual,"Tokyo, Japan",UE,74.0,5.1,6.500,NaN,11.600
3,ABDUL,HADI,w,MAS,2021-07-25,Olympic Games,qual,"Tokyo, Japan",VT,72.0,4.6,8.566,NaN,13.166
4,ABDUL HADI,Farah Ann,w,MAS,2021-07-25,Olympic Games,qual,"Tokyo, Japan",BB,76.0,4.8,6.766,NaN,11.566

In [11]:
df["Competition"].value_counts()

Competition
Olympic Games    765
Name: count, dtype: int64

In [ ]:
df["Apparatus"].value_counts()

In [ ]:
# # Define the values to be replaced and their replacements
# replace_dict = {'VT1': 'VT', 'VT2': 'VT'}

# # Use .replace() with the defined dictionary
# df['Apparatus'] = df['Apparatus'].replace(replace_dict)

In [ ]:
df["Apparatus"].value_counts()

In [ ]:
df["FirstName"].nunique()

In [ ]:
df["LastName"].nunique()

In [ ]:
df["FirstName"].isnull().sum()

In [ ]:
df["LastName"].isnull().sum()

In [ ]:
df["Name"] = df["FirstName"] + ' ' + df['LastName']

In [ ]:
df = df.drop(columns=["FirstName", "LastName"])

In [ ]:
df["Competition"].value_counts()

In [ ]:
df["Round"].value_counts()

In [ ]:
df["Location"].value_counts()

In [ ]:
df.head()

In [ ]:
df["Date"].value_counts()

In [ ]:
df = df.drop(columns=["Competition", "Location"])

In [ ]:
# df = df.drop(columns=["Gender"])

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df = df[[ 'Name','Country', 'Gender',  'Date', 'Round', 'Apparatus', 'Rank', 'D_Score',
       'E_Score', 'Penalty', 'Score',]]

In [ ]:
df.info()

In [ ]:
df['Penalty'].fillna(0, inplace=True)

In [ ]:
df.info()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.info()

In [ ]:
# df.to_csv('usopc_clean_women_olympic.csv', index=False)

In [ ]:
usa=df[df["Country"]=="USA"]

In [ ]:
# usa.to_csv('usopc_usa_women_olympic.csv', index=False)