In [1]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv("../../Data/cleandata22-23/data_2017_2021.csv")

In [6]:
df = pd.read_csv("../../Data/cleandata22-23/data_2022_2023.csv")

In [7]:
df1['Gender'].value_counts()

Gender
w    1049
Name: count, dtype: int64

In [8]:
df.head()

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,AAS,Fredrik,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,NaN,12.166
1,AAS,Fredrik,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,NaN,12.166
2,AAS,Fredrik,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,NaN,10.800
3,AAS,Fredrik,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,NaN,10.800
4,AAS,Fredrik,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PH,33.0,4.2,6.666,NaN,10.866

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24443 entries, 0 to 24442
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     24435 non-null  object
 1   FirstName    24421 non-null  object
 2   Gender       24443 non-null  object
 3   Country      24439 non-null  object
 4   Date         24443 non-null  object
 5   Competition  24443 non-null  object
 6   Round        24443 non-null  object
 7   Location     24443 non-null  object
 8   Apparatus    24443 non-null  object
 9   Rank         21526 non-null  float64
 10  D_Score      24443 non-null  float64
 11  E_Score      24443 non-null  float64
 12  Penalty      4666 non-null   float64
 13  Score        24443 non-null  float64
dtypes: float64(5), object(9)
memory usage: 2.6+ MB

In [10]:
df['LastName'].fillna('none', inplace=True)
df['FirstName'].fillna('none', inplace=True)

In [11]:
mens = df[df['Gender'] == "m"]

In [12]:
mens['Apparatus'].value_counts()

Apparatus
PH     2558
FX     2439
PB     2374
SR     2319
HB     2309
VT1    1654
VT2     865
VT      580
hb       35
Name: count, dtype: int64

In [13]:
df = mens.copy()

In [14]:
df['Apparatus'] = df['Apparatus'].str.upper()

In [15]:
df['Apparatus'].value_counts()

Apparatus
PH     2558
FX     2439
PB     2374
HB     2344
SR     2319
VT1    1654
VT2     865
VT      580
Name: count, dtype: int64

In [16]:
df['year'] = df['Date'].str[-4:]

In [17]:
df.head(1)

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,year
0,AAS,Fredrik,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,NaN,12.166,2022

In [18]:
df['LastName'] = df['LastName'].str.lower()
df['FirstName'] = df['FirstName'].str.lower()

In [19]:
df = df.drop(columns = ['Gender', 'Location'])

In [20]:
df['name'] = df['FirstName'] + " " + df['LastName'].str.lower()

In [21]:
df = df.drop(columns=["LastName", "FirstName", "Date"])

In [22]:
df["Competition"].unique()

array(['2022 Cottbus World Cup', '2023 Cottbus World Cup',
       '2023 FISU World University Games',
       '2022 51st FIG Artistic Gymnastics World Championships',
       '2022 Senior European Championships',
       '2023 52nd FIG Artistic Gymnastics World Championships',
       '2023 Senior European Championships',
       '2023 Tel Aviv World Challenge Cup', '2023 Baku World Cup',
       '2022 Cairo World Cup', '2022 Paris World Challenge Cup',
       '2023 Cairo World Cup',
       '2023 10th Senior Artistic Gymnastics Asian Championships',
       '2022 9th Senior Artistic Gymnastics Asian Championships',
       '2022 Baku World Cup', '2022 Doha World Cup',
       '2023 Varna World Challenge Cup', '2023 Doha World Cup',
       'HANGZHOU 2022 19th Asian Games',
       'BIRMINGHAM 2022 Commonwealth Games',
       '2023 Central American and Caribbean Games',
       '2023 Artistic Gymnastics Senior Pan American Championships',
       'SANTIAGO 2023 XIX Pan American Games', '2022 U.S. Classic',
       '2022 Mersin World Challenge Cup',
       '2023 Osijek World Challenge Cup',
       '2022 Osijek World Challenge Cup',
       '2022 Szombathely World Challenge Cup',
       '2022 Varna World Challenge Cup', '2023 Core Hydration Classic',
       '2022 U.S. Championships', '2023 U.S. Championships',
       '2023 Winter Cup', 'EnBW DTB Pokal Team Challenge 2023',
       '2022 Winter Cup', '2023 British Gymnastics Championships',
       '2022 Koper World Challenge Cup',
       '2022 British Gymnastics Championships',
       'Oceania Continental Championships 2023'], dtype=object)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15133 entries, 0 to 24434
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      15130 non-null  object
 1   Competition  15133 non-null  object
 2   Round        15133 non-null  object
 3   Apparatus    15133 non-null  object
 4   Rank         13267 non-null  float64
 5   D_Score      15133 non-null  float64
 6   E_Score      15133 non-null  float64
 7   Penalty      2704 non-null   float64
 8   Score        15133 non-null  float64
 9   year         15133 non-null  object
 10  name         15133 non-null  object
dtypes: float64(5), object(6)
memory usage: 1.4+ MB

In [24]:
df['Penalty'].fillna(0, inplace=True)

In [25]:
df['Country'].fillna('none', inplace=True)

In [26]:
df=df.dropna()

In [27]:
df

,Country,Competition,Round,Apparatus,Rank,D_Score,E_Score,Penalty,Score,year,name
0,NOR,2022 Cottbus World Cup,qual,HB,18.0,3.9,8.266,0.0,12.166,2022,fredrik aas
1,NOR,2022 Cottbus World Cup,qual,HB,18.0,3.9,8.266,0.0,12.166,2022,fredrik aas
2,NOR,2022 Cottbus World Cup,qual,PB,23.0,3.9,6.900,0.0,10.800,2022,fredrik aas
3,NOR,2022 Cottbus World Cup,qual,PB,23.0,3.9,6.900,0.0,10.800,2022,fredrik aas
4,NOR,2022 Cottbus World Cup,qual,PH,33.0,4.2,6.666,0.0,10.866,2022,fredrik aas
...,...,...,...,...,...,...,...,...,...,...,...
24430,TUR,2023 Tel Aviv World Challenge Cup,final,FX,8.0,4.8,7.050,0.0,11.850,2023,ahmet önder
24431,TUR,2023 Tel Aviv World Challenge Cup,qual,FX,3.0,5.8,7.950,0.1,13.650,2023,ahmet önder
24432,TUR,2023 Tel Aviv World Challenge Cup,qual,HB,10.0,5.0,6.250,0.0,11.250,2023,ahmet önder
24433,TUR,2023 Tel Aviv World Challenge Cup,final,PB,1.0,6.3,8.050,0.0,14.350,2023,ahmet önder
24434,TUR,2023 Tel Aviv World Challenge Cup,qual,PB,8.0,6.0,7.400,0.0,13.400,2023,ahmet önder

In [28]:
df['Apparatus'].value_counts()

Apparatus
PH     2262
FX     2148
PB     2067
HB     2046
SR     2022
VT1    1593
VT2     862
VT      267
Name: count, dtype: int64

In [29]:
hb = df[df['Apparatus'].str.contains('HB')]
ph = df[df['Apparatus'].str.contains('PH')]
fx = df[df['Apparatus'].str.contains('FX')]
pb = df[df['Apparatus'].str.contains('PB')]
sr = df[df['Apparatus'].str.contains('SR')]

In [30]:
# List of values to filter
values_to_filter = ['VT', 'VT1', 'VT2']

# Create a new DataFrame with 'Apparatus' containing specified values
vt = df[df['Apparatus'].isin(values_to_filter)]

In [32]:
# hb.to_csv('hb_men.csv', index=False)
# ph.to_csv('ph_men.csv', index=False)
# fx.to_csv('fx_men.csv', index=False)
# pb.to_csv('pb_men.csv', index=False)
# sr.to_csv('sr_men.csv', index=False)
# vt.to_csv('vt_men.csv', index=False)