In [20]:
import pandas as pd
import numpy as np

In [51]:
df1 = pd.read_csv("../../Data/USOPC/cleandata/data_2017_2021.csv")

In [21]:
df = pd.read_csv("../../Data/USOPC/cleandata/data_2022_2023.csv")

In [53]:
df1['Gender'].value_counts()

Gender
w    765
Name: count, dtype: int64

In [22]:
df.head()

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,AAS,Fredrik,m,NOR,23-26 Feb 2023,2023 Cottbus World Cup,qual,"Cottbus, Germany",HB,39.0,4.6,6.700,NaN,11.300
1,AAS,Fredrik,m,NOR,23-26 Feb 2023,2023 Cottbus World Cup,qual,"Cottbus, Germany",PH,44.0,4.4,7.800,NaN,12.200
2,AAS,Fredrik Bjornevik,m,NOR,1-5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",FX,54.0,4.0,8.566,NaN,12.566
3,AAS,Fredrik Bjornevik,m,NOR,1-5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",HB,44.0,4.6,8.166,NaN,12.766
4,AAS,Fredrik Bjornevik,m,NOR,1-5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",PB,54.0,4.4,8.066,NaN,12.466

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15450 entries, 0 to 15449
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     15442 non-null  object
 1   FirstName    15432 non-null  object
 2   Gender       15450 non-null  object
 3   Country      15236 non-null  object
 4   Date         15450 non-null  object
 5   Competition  15450 non-null  object
 6   Round        15450 non-null  object
 7   Location     15450 non-null  object
 8   Apparatus    15450 non-null  object
 9   Rank         13819 non-null  float64
 10  D_Score      15289 non-null  float64
 11  E_Score      15214 non-null  float64
 12  Penalty      3217 non-null   float64
 13  Score        15287 non-null  float64
dtypes: float64(5), object(9)
memory usage: 1.7+ MB

In [24]:
df['LastName'].fillna('none', inplace=True)
df['FirstName'].fillna('none', inplace=True)

In [25]:
mens = df[df['Gender'] == "m"]

In [26]:
mens['Apparatus'].value_counts()

Apparatus
PH     1643
FX     1526
PB     1476
SR     1471
HB     1454
VT1    1086
VT2     640
VT      279
hb       35
Name: count, dtype: int64

In [27]:
df = mens.copy()

In [28]:
df['Apparatus'] = df['Apparatus'].str.upper()

In [29]:
df['Apparatus'].value_counts()

Apparatus
PH     1643
FX     1526
HB     1489
PB     1476
SR     1471
VT1    1086
VT2     640
VT      279
Name: count, dtype: int64

In [30]:
df['year'] = df['Date'].str[-4:]

In [31]:
df.head(1)

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,year
0,AAS,Fredrik,m,NOR,23-26 Feb 2023,2023 Cottbus World Cup,qual,"Cottbus, Germany",HB,39.0,4.6,6.7,NaN,11.3,2023

In [32]:
df['LastName'] = df['LastName'].str.lower()
df['FirstName'] = df['FirstName'].str.lower()

In [33]:
df = df.drop(columns = ['Gender', 'Location'])

In [34]:
df['name'] = df['FirstName'] + " " + df['LastName'].str.lower()

In [35]:
df = df.drop(columns=["LastName", "FirstName", "Date"])

In [36]:
df["Competition"].unique()

array(['2023 Cottbus World Cup', '2023 FISU World University Games',
       '2022 51st FIG Artistic Gymnastics World Championships',
       '2022 Senior European Championships',
       '2023 Senior European Championships', '2023 Baku World Cup',
       '2023 Cairo World Cup', '2023 Varna World Challenge Cup',
       '2023 Doha World Cup', 'BIRMINGHAM 2022 Commonwealth Games',
       '2023 Central American and Caribbean Games',
       'EnBW DTB Pokal Team Challenge 2023',
       '2023 British Gymnastics Championships', '2022 Cottbus World Cup',
       '2023 Tel Aviv World Challenge Cup', '2022 Cairo World Cup',
       '2022 Baku World Cup', '2022 Doha World Cup',
       '2023 Osijek World Challenge Cup', '2022 U.S. Championships',
       '2023 U.S. Championships', '2023 Winter Cup', '2022 Winter Cup',
       '2022 British Gymnastics Championships',
       'Oceania Continental Championships 2023'], dtype=object)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8369 entries, 0 to 15441
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      8369 non-null   object
 1   Competition  8369 non-null   object
 2   Round        8369 non-null   object
 3   Apparatus    8369 non-null   object
 4   Rank         8369 non-null   float64
 5   D_Score      8369 non-null   float64
 6   E_Score      8369 non-null   float64
 7   Penalty      8369 non-null   float64
 8   Score        8369 non-null   float64
 9   year         8369 non-null   object
 10  name         8369 non-null   object
dtypes: float64(5), object(6)
memory usage: 784.6+ KB

In [38]:
df['Penalty'].fillna(0, inplace=True)

In [40]:
df['Country'].fillna('none', inplace=True)

In [44]:
df=df.dropna()

In [46]:
df

,Country,Competition,Round,Apparatus,Rank,D_Score,E_Score,Penalty,Score,year,name
0,NOR,2023 Cottbus World Cup,qual,HB,39.0,4.6,6.700,0.0,11.300,2023,fredrik aas
1,NOR,2023 Cottbus World Cup,qual,PH,44.0,4.4,7.800,0.0,12.200,2023,fredrik aas
2,NOR,2023 FISU World University Games,qual,FX,54.0,4.0,8.566,0.0,12.566,2023,fredrik bjornevik aas
3,NOR,2023 FISU World University Games,qual,HB,44.0,4.6,8.166,0.0,12.766,2023,fredrik bjornevik aas
4,NOR,2023 FISU World University Games,qual,PB,54.0,4.4,8.066,0.0,12.466,2023,fredrik bjornevik aas
...,...,...,...,...,...,...,...,...,...,...,...
15437,TUR,2023 Tel Aviv World Challenge Cup,final,FX,8.0,4.8,7.050,0.0,11.850,2023,ahmet önder
15438,TUR,2023 Tel Aviv World Challenge Cup,qual,FX,3.0,5.8,7.950,0.1,13.650,2023,ahmet önder
15439,TUR,2023 Tel Aviv World Challenge Cup,qual,HB,10.0,5.0,6.250,0.0,11.250,2023,ahmet önder
15440,TUR,2023 Tel Aviv World Challenge Cup,final,PB,1.0,6.3,8.050,0.0,14.350,2023,ahmet önder
15441,TUR,2023 Tel Aviv World Challenge Cup,qual,PB,8.0,6.0,7.400,0.0,13.400,2023,ahmet önder

In [47]:
df['Apparatus'].value_counts()

Apparatus
PH     1460
FX     1351
HB     1314
PB     1294
SR     1289
VT1     974
VT2     592
VT       95
Name: count, dtype: int64

In [48]:
hb = df[df['Apparatus'].str.contains('HB')]
ph = df[df['Apparatus'].str.contains('PH')]
fx = df[df['Apparatus'].str.contains('FX')]
pb = df[df['Apparatus'].str.contains('PB')]
sr = df[df['Apparatus'].str.contains('SR')]

In [49]:
# List of values to filter
values_to_filter = ['VT', 'VT1', 'VT2']

# Create a new DataFrame with 'Apparatus' containing specified values
vt = df[df['Apparatus'].isin(values_to_filter)]

,Country,Competition,Round,Apparatus,Rank,D_Score,E_Score,Penalty,Score,year,name
7,NOR,2023 FISU World University Games,qual,VT1,69.0,4.0,8.966,0.0,12.966,2023,fredrik bjornevik aas
18,ESP,2022 51st FIG Artistic Gymnastics World Champi...,AAfinal,VT,20.0,4.8,9.033,0.1,13.733,2022,nestor abad
19,ESP,2022 51st FIG Artistic Gymnastics World Champi...,qual,VT1,97.0,4.8,9.000,0.3,13.500,2022,nestor abad
28,ESP,2022 Senior European Championships,qual,VT1,36.0,5.2,9.200,0.3,14.100,2022,nestor abad
40,ESP,2023 Senior European Championships,AAfinal,VT1,22.0,5.2,7.900,0.1,13.000,2023,nestor abad
...,...,...,...,...,...,...,...,...,...,...,...
15319,FRA,EnBW DTB Pokal Team Challenge 2023,qual,VT2,51.0,0.0,0.000,0.0,0.000,2023,jim zona
15418,none,2023 Osijek World Challenge Cup,final,VT1,6.0,5.2,8.900,0.0,14.100,2023,bozhidar zlatanov
15419,none,2023 Osijek World Challenge Cup,qual,VT1,7.0,5.2,8.850,0.0,14.050,2023,bozhidar zlatanov
15420,none,2023 Osijek World Challenge Cup,final,VT2,6.0,4.8,8.966,0.0,13.766,2023,bozhidar zlatanov
15421,none,2023 Osijek World Challenge Cup,qual,VT2,7.0,4.8,9.000,0.0,13.800,2023,bozhidar zlatanov

In [55]:
# hb.to_csv('hb_men.csv', index=False)
# ph.to_csv('ph_men.csv', index=False)
# fx.to_csv('fx_men.csv', index=False)
# pb.to_csv('pb_men.csv', index=False)
# sr.to_csv('sr_men.csv', index=False)
# vt.to_csv('vt_men.csv', index=False)