In [1]:
import pandas as pd
import numpy as np

In [2]:
# df = pd.read_csv("../../Data/USOPC/cleandata/data_2017_2021.csv")

In [4]:
df = pd.read_csv("../../Data/cleandata22-23/data_2022_2023.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24443 entries, 0 to 24442
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     24435 non-null  object
 1   FirstName    24421 non-null  object
 2   Gender       24443 non-null  object
 3   Country      24439 non-null  object
 4   Date         24443 non-null  object
 5   Competition  24443 non-null  object
 6   Round        24443 non-null  object
 7   Location     24443 non-null  object
 8   Apparatus    24443 non-null  object
 9   Rank         21526 non-null  float64
 10  D_Score      24443 non-null  float64
 11  E_Score      24443 non-null  float64
 12  Penalty      4666 non-null   float64
 13  Score        24443 non-null  float64
dtypes: float64(5), object(9)
memory usage: 2.6+ MB

In [6]:
# Split the "Date" column into two separate columns
df[['StartDate', 'EndDate']] = df['Date'].str.split('-', n=1, expand=True)

# If a "-" is not present, set the same value for both columns
df['EndDate'].fillna(df['StartDate'], inplace=True)

In [7]:
df["Gender"].value_counts()

Gender
m    15133
w     9310
Name: count, dtype: int64

In [8]:
df['Date'] = df["EndDate"]

In [9]:
df = df.drop(columns=["EndDate", "StartDate"])

In [10]:
df.head()

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,AAS,Fredrik,m,NOR,27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,NaN,12.166
1,AAS,Fredrik,m,NOR,27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,NaN,12.166
2,AAS,Fredrik,m,NOR,27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,NaN,10.800
3,AAS,Fredrik,m,NOR,27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,NaN,10.800
4,AAS,Fredrik,m,NOR,27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PH,33.0,4.2,6.666,NaN,10.866

In [11]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [12]:
df["Competition"].value_counts()

Competition
2023 52nd FIG Artistic Gymnastics World Championships         2144
2022 51st FIG Artistic Gymnastics World Championships         2078
2023 Senior European Championships                            1638
2022 Senior European Championships                            1565
2023 FISU World University Games                               995
2023 Artistic Gymnastics Senior Pan American Championships     885
SANTIAGO 2023 XIX Pan American Games                           777
2023 U.S. Championships                                        671
BIRMINGHAM 2022 Commonwealth Games                             644
2023 Central American and Caribbean Games                      640
2023 10th Senior Artistic Gymnastics Asian Championships       601
HANGZHOU 2022 19th Asian Games                                 599
2022 U.S. Championships                                        595
2022 British Gymnastics Championships                          583
2023 Core Hydration Classic                                    574
2023 Cottbus World Cup                                         568
EnBW DTB Pokal Team Challenge 2023                             564
2022 9th Senior Artistic Gymnastics Asian Championships        544
2023 Baku World Cup                                            537
2022 Paris World Challenge Cup                                 521
2023 British Gymnastics Championships                          476
2023 Cairo World Cup                                           461
2023 Doha World Cup                                            454
2022 Baku World Cup                                            453
2022 Osijek World Challenge Cup                                428
2023 Osijek World Challenge Cup                                424
2022 Varna World Challenge Cup                                 420
2022 Cottbus World Cup                                         408
2022 Cairo World Cup                                           379
2023 Varna World Challenge Cup                                 342
2022 Koper World Challenge Cup                                 342
2022 Szombathely World Challenge Cup                           322
2022 Doha World Cup                                            315
2022 Winter Cup                                                313
2023 Winter Cup                                                303
2022 Mersin World Challenge Cup                                301
2023 Tel Aviv World Challenge Cup                              269
2022 U.S. Classic                                              263
Oceania Continental Championships 2023                          47
Name: count, dtype: int64

In [13]:
df['FirstName'].fillna('None', inplace=True)
df['LastName'].fillna('None', inplace=True)

In [14]:
df["Name"] = df["FirstName"] + ' ' + df['LastName']

In [15]:
df = df.drop(columns=["FirstName", "LastName"])

In [16]:
df = df.drop(columns=["Location"])

In [17]:
df.columns

Index(['Gender', 'Country', 'Date', 'Competition', 'Round', 'Apparatus',
       'Rank', 'D_Score', 'E_Score', 'Penalty', 'Score', 'Name'],
      dtype='object')

In [18]:
df = df[[ 'Name','Country', 'Gender',  'Date','Competition' , 'Round', 'Apparatus', 'Rank', 'D_Score',
       'E_Score', 'Penalty', 'Score',]]

In [19]:
df['Penalty'].fillna(0, inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24443 entries, 0 to 24442
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         24443 non-null  object
 1   Country      24439 non-null  object
 2   Gender       24443 non-null  object
 3   Date         21744 non-null  datetime64[ns]
 4   Competition  24443 non-null  object
 5   Round        24443 non-null  object
 6   Apparatus    24443 non-null  object
 7   Rank         21526 non-null  float64
 8   D_Score      24443 non-null  float64
 9   E_Score      24443 non-null  float64
 10  Penalty      24443 non-null  float64
 11  Score        24443 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 2.2+ MB

In [21]:
# df['Date'].fillna('2022-08-05 20:23:00', inplace=True)

In [22]:
df

,Name,Country,Gender,Date,Competition,Round,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,Fredrik AAS,NOR,m,2022-02-27,2022 Cottbus World Cup,qual,HB,18.0,3.9,8.266,0.0,12.166
1,Fredrik AAS,NOR,m,2022-02-27,2022 Cottbus World Cup,qual,HB,18.0,3.9,8.266,0.0,12.166
2,Fredrik AAS,NOR,m,2022-02-27,2022 Cottbus World Cup,qual,PB,23.0,3.9,6.900,0.0,10.800
3,Fredrik AAS,NOR,m,2022-02-27,2022 Cottbus World Cup,qual,PB,23.0,3.9,6.900,0.0,10.800
4,Fredrik AAS,NOR,m,2022-02-27,2022 Cottbus World Cup,qual,PH,33.0,4.2,6.666,0.0,10.866
...,...,...,...,...,...,...,...,...,...,...,...,...
24438,None None,AUS,w,2022-11-06,2022 51st FIG Artistic Gymnastics World Champi...,qual,UB,17.0,5.6,8.466,0.0,14.066
24439,None None,AUS,w,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,final,BB,1.0,5.1,8.366,0.0,13.466
24440,None None,AUS,w,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,qual,BB,5.0,5.0,7.950,0.0,12.950
24441,None None,AUS,w,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,final,UB,7.0,5.3,7.233,0.0,12.533
24442,None None,AUS,w,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,qual,UB,5.0,5.6,7.900,0.0,13.500

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24443 entries, 0 to 24442
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         24443 non-null  object
 1   Country      24439 non-null  object
 2   Gender       24443 non-null  object
 3   Date         21744 non-null  datetime64[ns]
 4   Competition  24443 non-null  object
 5   Round        24443 non-null  object
 6   Apparatus    24443 non-null  object
 7   Rank         21526 non-null  float64
 8   D_Score      24443 non-null  float64
 9   E_Score      24443 non-null  float64
 10  Penalty      24443 non-null  float64
 11  Score        24443 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 2.2+ MB

In [24]:
dff = df.copy()

In [25]:
dff.dropna(inplace=True)

In [26]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18866 entries, 0 to 24442
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         18866 non-null  object
 1   Country      18866 non-null  object
 2   Gender       18866 non-null  object
 3   Date         18866 non-null  datetime64[ns]
 4   Competition  18866 non-null  object
 5   Round        18866 non-null  object
 6   Apparatus    18866 non-null  object
 7   Rank         18866 non-null  float64
 8   D_Score      18866 non-null  float64
 9   E_Score      18866 non-null  float64
 10  Penalty      18866 non-null  float64
 11  Score        18866 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 1.9+ MB

In [27]:
df["Gender"].value_counts()

Gender
m    15133
w     9310
Name: count, dtype: int64

In [28]:
women = df[df["Gender"] == "w"]

In [29]:
men = df[df["Gender"] == "m"]

In [30]:
men.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15133 entries, 0 to 24434
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         15133 non-null  object
 1   Country      15130 non-null  object
 2   Gender       15133 non-null  object
 3   Date         13404 non-null  datetime64[ns]
 4   Competition  15133 non-null  object
 5   Round        15133 non-null  object
 6   Apparatus    15133 non-null  object
 7   Rank         13267 non-null  float64
 8   D_Score      15133 non-null  float64
 9   E_Score      15133 non-null  float64
 10  Penalty      15133 non-null  float64
 11  Score        15133 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 1.5+ MB

In [31]:
women.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9310 entries, 147 to 24442
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         9310 non-null   object
 1   Country      9309 non-null   object
 2   Gender       9310 non-null   object
 3   Date         8340 non-null   datetime64[ns]
 4   Competition  9310 non-null   object
 5   Round        9310 non-null   object
 6   Apparatus    9310 non-null   object
 7   Rank         8259 non-null   float64
 8   D_Score      9310 non-null   float64
 9   E_Score      9310 non-null   float64
 10  Penalty      9310 non-null   float64
 11  Score        9310 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 945.5+ KB

In [32]:
women["Country"].fillna("None", inplace=True)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_14465/4146035132.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  women["Country"].fillna("None", inplace=True)

In [33]:
women.dropna(inplace=True)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_14465/367845592.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  women.dropna(inplace=True)

In [34]:
women.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7309 entries, 147 to 24442
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         7309 non-null   object
 1   Country      7309 non-null   object
 2   Gender       7309 non-null   object
 3   Date         7309 non-null   datetime64[ns]
 4   Competition  7309 non-null   object
 5   Round        7309 non-null   object
 6   Apparatus    7309 non-null   object
 7   Rank         7309 non-null   float64
 8   D_Score      7309 non-null   float64
 9   E_Score      7309 non-null   float64
 10  Penalty      7309 non-null   float64
 11  Score        7309 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 742.3+ KB

In [35]:
men["Country"].fillna("None", inplace=True)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_14465/1062396297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  men["Country"].fillna("None", inplace=True)

In [36]:
men.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15133 entries, 0 to 24434
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         15133 non-null  object
 1   Country      15133 non-null  object
 2   Gender       15133 non-null  object
 3   Date         13404 non-null  datetime64[ns]
 4   Competition  15133 non-null  object
 5   Round        15133 non-null  object
 6   Apparatus    15133 non-null  object
 7   Rank         13267 non-null  float64
 8   D_Score      15133 non-null  float64
 9   E_Score      15133 non-null  float64
 10  Penalty      15133 non-null  float64
 11  Score        15133 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 1.5+ MB

In [37]:
men.dropna(inplace=True)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_14465/3298297671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  men.dropna(inplace=True)

In [38]:
men.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11559 entries, 0 to 24434
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         11559 non-null  object
 1   Country      11559 non-null  object
 2   Gender       11559 non-null  object
 3   Date         11559 non-null  datetime64[ns]
 4   Competition  11559 non-null  object
 5   Round        11559 non-null  object
 6   Apparatus    11559 non-null  object
 7   Rank         11559 non-null  float64
 8   D_Score      11559 non-null  float64
 9   E_Score      11559 non-null  float64
 10  Penalty      11559 non-null  float64
 11  Score        11559 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 1.1+ MB

In [39]:
women["Competition"].value_counts()

Competition
2023 52nd FIG Artistic Gymnastics World Championships    809
2022 51st FIG Artistic Gymnastics World Championships    776
2022 Senior European Championships                       660
2023 Senior European Championships                       646
2023 FISU World University Games                         320
SANTIAGO 2023 XIX Pan American Games                     309
2022 British Gymnastics Championships                    308
2023 Central American and Caribbean Games                282
HANGZHOU 2022 19th Asian Games                           250
BIRMINGHAM 2022 Commonwealth Games                       233
2023 British Gymnastics Championships                    220
2023 Baku World Cup                                      195
2023 Cairo World Cup                                     192
EnBW DTB Pokal Team Challenge 2023                       180
2023 Cottbus World Cup                                   177
2022 Baku World Cup                                      173
2023 Osijek World Challenge Cup                          173
2022 Varna World Challenge Cup                           155
2023 Varna World Challenge Cup                           147
2023 Doha World Cup                                      147
2022 Cairo World Cup                                     130
2023 Tel Aviv World Challenge Cup                        127
2022 Cottbus World Cup                                   127
2022 Mersin World Challenge Cup                          115
2022 Szombathely World Challenge Cup                     107
2022 Doha World Cup                                       98
2023 Winter Cup                                           92
2023 Core Hydration Classic                               90
2022 Winter Cup                                           71
Name: count, dtype: int64

In [54]:
# women.to_csv('usopc_women_october.csv', index=False)

In [55]:
# men.to_csv('usopc_men_october.csv', index=False)

In [45]:
women_bb = women[women["Apparatus"]== "BB"]

In [46]:
women_ub = women[women["Apparatus"]== "UB"]

In [47]:
women["Apparatus"].value_counts()

Apparatus
BB     1803
UB     1676
FX     1668
VT1    1402
VT2     637
VT      123
Name: count, dtype: int64

In [48]:
women_fx = women[women["Apparatus"]== "FX"]

In [49]:
condition = women['Apparatus'].isin(['VT', 'VT1', 'VT2'])
new_df = women[condition]

In [50]:
new_df["Apparatus"].value_counts()

Apparatus
VT1    1402
VT2     637
VT      123
Name: count, dtype: int64

In [51]:
women_vt = new_df.copy()

In [52]:
# women_bb.to_csv('usopc_women_bb_october.csv', index=False)
# women_ub.to_csv('usopc_women_ub_october.csv', index=False)
# women_fx.to_csv('usopc_women_fx_october.csv', index=False)
# women_vt.to_csv('usopc_women_vt_october.csv', index=False)