In [1]:
import pandas as pd
import numpy as np

In [2]:
# df = pd.read_csv("../../Data/USOPC/cleandata/data_2017_2021.csv")

In [3]:
df = pd.read_csv("../../Data/USOPC/cleandata/data_2022_2023.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15450 entries, 0 to 15449
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     15442 non-null  object
 1   FirstName    15432 non-null  object
 2   Gender       15450 non-null  object
 3   Country      15236 non-null  object
 4   Date         15450 non-null  object
 5   Competition  15450 non-null  object
 6   Round        15450 non-null  object
 7   Location     15450 non-null  object
 8   Apparatus    15450 non-null  object
 9   Rank         13819 non-null  float64
 10  D_Score      15289 non-null  float64
 11  E_Score      15214 non-null  float64
 12  Penalty      3217 non-null   float64
 13  Score        15287 non-null  float64
dtypes: float64(5), object(9)
memory usage: 1.7+ MB

In [5]:
# Split the "Date" column into two separate columns
df[['StartDate', 'EndDate']] = df['Date'].str.split('-', n=1, expand=True)

# If a "-" is not present, set the same value for both columns
df['EndDate'].fillna(df['StartDate'], inplace=True)

In [6]:
df["Gender"].value_counts()

Gender
m    9610
w    5840
Name: count, dtype: int64

In [7]:
df['Date'] = df["EndDate"]

In [8]:
df = df.drop(columns=["EndDate", "StartDate"])

In [9]:
df.head()

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,AAS,Fredrik,m,NOR,26 Feb 2023,2023 Cottbus World Cup,qual,"Cottbus, Germany",HB,39.0,4.6,6.700,NaN,11.300
1,AAS,Fredrik,m,NOR,26 Feb 2023,2023 Cottbus World Cup,qual,"Cottbus, Germany",PH,44.0,4.4,7.800,NaN,12.200
2,AAS,Fredrik Bjornevik,m,NOR,5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",FX,54.0,4.0,8.566,NaN,12.566
3,AAS,Fredrik Bjornevik,m,NOR,5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",HB,44.0,4.6,8.166,NaN,12.766
4,AAS,Fredrik Bjornevik,m,NOR,5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",PB,54.0,4.4,8.066,NaN,12.466

In [10]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [11]:
df["Competition"].value_counts()

Competition
2022 51st FIG Artistic Gymnastics World Championships    1814
2023 Senior European Championships                       1607
2022 Senior European Championships                       1509
2023 FISU World University Games                          956
2023 U.S. Championships                                   674
BIRMINGHAM 2022 Commonwealth Games                        646
EnBW DTB Pokal Team Challenge 2023                        643
2023 Central American and Caribbean Games                 627
2022 U.S. Championships                                   615
2022 British Gymnastics Championships                     583
2023 Cottbus World Cup                                    571
2023 Baku World Cup                                       541
2023 British Gymnastics Championships                     493
2023 Cairo World Cup                                      467
2023 Doha World Cup                                       455
2022 Baku World Cup                                       453
2022 Cottbus World Cup                                    409
2023 Osijek World Challenge Cup                           395
2022 Cairo World Cup                                      381
2023 Varna World Challenge Cup                            342
2022 Doha World Cup                                       320
2023 Winter Cup                                           318
2022 Winter Cup                                           313
2023 Tel Aviv World Challenge Cup                         271
Oceania Continental Championships 2023                     47
Name: count, dtype: int64

In [12]:
df['FirstName'].fillna('None', inplace=True)
df['LastName'].fillna('None', inplace=True)

In [13]:
df["Name"] = df["FirstName"] + ' ' + df['LastName']

In [14]:
df = df.drop(columns=["FirstName", "LastName"])

In [15]:
df = df.drop(columns=["Location"])

In [16]:
df.columns

Index(['Gender', 'Country', 'Date', 'Competition', 'Round', 'Apparatus',
       'Rank', 'D_Score', 'E_Score', 'Penalty', 'Score', 'Name'],
      dtype='object')

In [17]:
df = df[[ 'Name','Country', 'Gender',  'Date','Competition' , 'Round', 'Apparatus', 'Rank', 'D_Score',
       'E_Score', 'Penalty', 'Score',]]

In [18]:
df['Penalty'].fillna(0, inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15450 entries, 0 to 15449
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         15450 non-null  object
 1   Country      15236 non-null  object
 2   Gender       15450 non-null  object
 3   Date         15450 non-null  datetime64[ns]
 4   Competition  15450 non-null  object
 5   Round        15450 non-null  object
 6   Apparatus    15450 non-null  object
 7   Rank         13819 non-null  float64
 8   D_Score      15289 non-null  float64
 9   E_Score      15214 non-null  float64
 10  Penalty      15450 non-null  float64
 11  Score        15287 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 1.4+ MB

In [20]:
# df['Date'].fillna('2022-08-05 20:23:00', inplace=True)

In [21]:
df

,Name,Country,Gender,Date,Competition,Round,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,Fredrik AAS,NOR,m,2023-02-26,2023 Cottbus World Cup,qual,HB,39.0,4.6,6.700,0.0,11.300
1,Fredrik AAS,NOR,m,2023-02-26,2023 Cottbus World Cup,qual,PH,44.0,4.4,7.800,0.0,12.200
2,Fredrik Bjornevik AAS,NOR,m,2023-08-05,2023 FISU World University Games,qual,FX,54.0,4.0,8.566,0.0,12.566
3,Fredrik Bjornevik AAS,NOR,m,2023-08-05,2023 FISU World University Games,qual,HB,44.0,4.6,8.166,0.0,12.766
4,Fredrik Bjornevik AAS,NOR,m,2023-08-05,2023 FISU World University Games,qual,PB,54.0,4.4,8.066,0.0,12.466
...,...,...,...,...,...,...,...,...,...,...,...,...
15445,Kate None,AUS,w,2022-11-06,2022 51st FIG Artistic Gymnastics World Champi...,qual,UB,17.0,5.6,8.466,0.0,14.066
15446,Kate None,AUS,w,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,final,BB,1.0,5.1,8.366,0.0,13.466
15447,Kate None,AUS,w,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,qual,BB,5.0,5.0,7.950,0.0,12.950
15448,Kate None,AUS,w,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,final,UB,7.0,5.3,7.233,0.0,12.533
15449,Kate None,AUS,w,2022-08-02,BIRMINGHAM 2022 Commonwealth Games,qual,UB,5.0,5.6,7.900,0.0,13.500

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15450 entries, 0 to 15449
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         15450 non-null  object
 1   Country      15236 non-null  object
 2   Gender       15450 non-null  object
 3   Date         15450 non-null  datetime64[ns]
 4   Competition  15450 non-null  object
 5   Round        15450 non-null  object
 6   Apparatus    15450 non-null  object
 7   Rank         13819 non-null  float64
 8   D_Score      15289 non-null  float64
 9   E_Score      15214 non-null  float64
 10  Penalty      15450 non-null  float64
 11  Score        15287 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 1.4+ MB

In [23]:
dff = df.copy()

In [24]:
dff.dropna(inplace=True)

In [25]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13443 entries, 0 to 15449
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         13443 non-null  object
 1   Country      13443 non-null  object
 2   Gender       13443 non-null  object
 3   Date         13443 non-null  datetime64[ns]
 4   Competition  13443 non-null  object
 5   Round        13443 non-null  object
 6   Apparatus    13443 non-null  object
 7   Rank         13443 non-null  float64
 8   D_Score      13443 non-null  float64
 9   E_Score      13443 non-null  float64
 10  Penalty      13443 non-null  float64
 11  Score        13443 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 1.3+ MB

In [26]:
df["Gender"].value_counts()

Gender
m    9610
w    5840
Name: count, dtype: int64

In [27]:
women = df[df["Gender"] == "w"]

In [28]:
men = df[df["Gender"] == "m"]

In [29]:
men.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9610 entries, 0 to 15441
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         9610 non-null   object
 1   Country      9466 non-null   object
 2   Gender       9610 non-null   object
 3   Date         9610 non-null   datetime64[ns]
 4   Competition  9610 non-null   object
 5   Round        9610 non-null   object
 6   Apparatus    9610 non-null   object
 7   Rank         8450 non-null   float64
 8   D_Score      9495 non-null   float64
 9   E_Score      9475 non-null   float64
 10  Penalty      9610 non-null   float64
 11  Score        9493 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 976.0+ KB

In [30]:
women.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5840 entries, 98 to 15449
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         5840 non-null   object
 1   Country      5770 non-null   object
 2   Gender       5840 non-null   object
 3   Date         5840 non-null   datetime64[ns]
 4   Competition  5840 non-null   object
 5   Round        5840 non-null   object
 6   Apparatus    5840 non-null   object
 7   Rank         5369 non-null   float64
 8   D_Score      5794 non-null   float64
 9   E_Score      5739 non-null   float64
 10  Penalty      5840 non-null   float64
 11  Score        5794 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 593.1+ KB

In [31]:
women["Country"].fillna("None", inplace=True)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_88062/4146035132.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  women["Country"].fillna("None", inplace=True)

In [32]:
women.dropna(inplace=True)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_88062/367845592.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  women.dropna(inplace=True)

In [33]:
women.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5285 entries, 98 to 15449
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         5285 non-null   object
 1   Country      5285 non-null   object
 2   Gender       5285 non-null   object
 3   Date         5285 non-null   datetime64[ns]
 4   Competition  5285 non-null   object
 5   Round        5285 non-null   object
 6   Apparatus    5285 non-null   object
 7   Rank         5285 non-null   float64
 8   D_Score      5285 non-null   float64
 9   E_Score      5285 non-null   float64
 10  Penalty      5285 non-null   float64
 11  Score        5285 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 536.8+ KB

In [34]:
men["Country"].fillna("None", inplace=True)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_88062/1062396297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  men["Country"].fillna("None", inplace=True)

In [35]:
men.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9610 entries, 0 to 15441
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         9610 non-null   object
 1   Country      9610 non-null   object
 2   Gender       9610 non-null   object
 3   Date         9610 non-null   datetime64[ns]
 4   Competition  9610 non-null   object
 5   Round        9610 non-null   object
 6   Apparatus    9610 non-null   object
 7   Rank         8450 non-null   float64
 8   D_Score      9495 non-null   float64
 9   E_Score      9475 non-null   float64
 10  Penalty      9610 non-null   float64
 11  Score        9493 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 976.0+ KB

In [36]:
men.dropna(inplace=True)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_88062/3298297671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  men.dropna(inplace=True)

In [37]:
men.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8369 entries, 0 to 15441
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         8369 non-null   object
 1   Country      8369 non-null   object
 2   Gender       8369 non-null   object
 3   Date         8369 non-null   datetime64[ns]
 4   Competition  8369 non-null   object
 5   Round        8369 non-null   object
 6   Apparatus    8369 non-null   object
 7   Rank         8369 non-null   float64
 8   D_Score      8369 non-null   float64
 9   E_Score      8369 non-null   float64
 10  Penalty      8369 non-null   float64
 11  Score        8369 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 850.0+ KB

In [38]:
women["Competition"].value_counts()

Competition
2022 51st FIG Artistic Gymnastics World Championships    737
2022 Senior European Championships                       624
2023 Senior European Championships                       619
2022 British Gymnastics Championships                    308
2023 FISU World University Games                         295
2023 Central American and Caribbean Games                261
BIRMINGHAM 2022 Commonwealth Games                       233
EnBW DTB Pokal Team Challenge 2023                       217
2023 Baku World Cup                                      196
2023 Cairo World Cup                                     193
2023 Cottbus World Cup                                   179
2022 Baku World Cup                                      173
2023 Osijek World Challenge Cup                          159
2023 British Gymnastics Championships                    150
2023 Varna World Challenge Cup                           147
2023 Doha World Cup                                      147
2022 Cairo World Cup                                     131
2023 Tel Aviv World Challenge Cup                        128
2022 Cottbus World Cup                                   127
2022 Doha World Cup                                       98
2023 Winter Cup                                           92
2022 Winter Cup                                           71
Name: count, dtype: int64

In [39]:
# women.to_csv('usopc_women_october.csv', index=False)

In [40]:
# men.to_csv('usopc_men_october.csv', index=False)

In [43]:
women_bb = women[women["Apparatus"]== "BB"]

In [45]:
women_ub = women[women["Apparatus"]== "UB"]

In [44]:
women["Apparatus"].value_counts()

Apparatus
BB     1341
UB     1237
FX     1236
VT1     911
VT2     501
VT       59
Name: count, dtype: int64

In [46]:
women_fx = women[women["Apparatus"]== "FX"]

In [47]:
condition = women['Apparatus'].isin(['VT', 'VT1', 'VT2'])
new_df = women[condition]

In [49]:
new_df["Apparatus"].value_counts()

Apparatus
VT1    911
VT2    501
VT      59
Name: count, dtype: int64

In [50]:
women_vt = new_df.copy()

In [52]:
# women_bb.to_csv('usopc_women_bb_october.csv', index=False)
# women_ub.to_csv('usopc_women_ub_october.csv', index=False)
# women_fx.to_csv('usopc_women_fx_october.csv', index=False)
# women_vt.to_csv('usopc_women_vt_october.csv', index=False)