In [1]:
import pandas as pd 
import numpy as np

In [2]:
bb = pd.read_csv('../../scraping/worldcup19melbourne/worldcup2019melbourne_bb.csv')
bbq = pd.read_csv('../../scraping/worldcup19melbourne/worldcup2019melbourne_bb_qual.csv')

In [4]:
bb['round']='final'

In [5]:
bbq['round']='qual'

In [7]:
combined_df = pd.concat([bb, bbq])

In [8]:
bb = combined_df.copy()

In [9]:
bb['year']=2019

In [10]:
bb['ND'].fillna(0, inplace=True)

In [11]:
bb['Nation'].unique()

array(['China', 'Australia', 'Japan', 'Chinese Taipei', 'South Korea',
       'Ukraine', 'Uzbekistan', 'Italy', 'Kazakhstan'], dtype=object)

In [12]:
# Define a mapping dictionary for the provided nations and their NOC codes
nations_to_noc = {
    'China': 'CHN',
    'Australia': 'AUS',
    'Japan': 'JPN',
    'Chinese Taipei': 'TPE',  # Assuming this is Chinese Taipei's NOC code
    'South Korea': 'KOR',
    'Ukraine': 'UKR',
    'Uzbekistan': 'UZB',
    'Italy': 'ITA',
    'Kazakhstan': 'KAZ',
}

# Use the replace method to replace values in the "nations" column with the provided NOC codes
bb['Nation'] = bb['Nation'].replace(nations_to_noc)

In [14]:
ub = pd.read_csv('../../scraping/worldcup19melbourne/worldcup2019melbourne_ub.csv')
ubq = pd.read_csv('../../scraping/worldcup19melbourne/worldcup2019melbourne_ub_qual.csv')

In [17]:
ub['round']='final'

In [18]:
ubq['round']='qual'

In [19]:
combined_df = pd.concat([ub, ubq])

In [20]:
ub = combined_df.copy()

In [21]:
ub['year']=2019

In [22]:
ub['ND'].fillna(0, inplace=True)

In [23]:
ub['Nation'].unique()

array(['China', 'Australia', 'Sweden', 'Ukraine', 'Chinese Taipei',
       'Italy', 'South Korea'], dtype=object)

In [24]:
# Define a mapping dictionary for the provided nations and their NOC codes
nations_to_noc = {
    'China': 'CHN',
    'Australia': 'AUS',
    'Sweden': 'SWE',
    'Ukraine': 'UKR',
    'Chinese Taipei': 'TPE',  # Assuming this is Chinese Taipei's NOC code
    'Italy': 'ITA',
    'South Korea': 'KOR',
}

# Use the replace method to replace values in the "nations" column with the provided NOC codes
ub['Nation'] = ub['Nation'].replace(nations_to_noc)

In [26]:
fx = pd.read_csv('../../scraping/worldcup19melbourne/worldcup2019melbourne_fx.csv')
fxq = pd.read_csv('../../scraping/worldcup19melbourne/worldcup2019melbourne_fx_qual.csv')

In [27]:
fx['round']='final'

In [28]:
fxq['round']='qual'

In [29]:
combined_df = pd.concat([fx, fxq])
fx = combined_df.copy()

In [30]:
fx['year']=2019

In [31]:
fx['ND'].fillna(0, inplace=True)

In [32]:
fx['Nation'].unique()

array(['Italy', 'Puerto Rico', 'China', 'Australia', 'Chinese Taipei',
       'Ukraine', 'Kazakhstan', 'Japan'], dtype=object)

In [33]:
# Define a mapping dictionary for the provided nations and their NOC codes
nations_to_noc = {
    'Italy': 'ITA',
    'Puerto Rico': 'PUR',
    'China': 'CHN',
    'Australia': 'AUS',
    'Chinese Taipei': 'TPE',  # Assuming this is Chinese Taipei's NOC code
    'Ukraine': 'UKR',
    'Kazakhstan': 'KAZ',
    'Japan': 'JPN',
}

# Use the replace method to replace values in the "nations" column with the provided NOC codes
fx['Nation'] = fx['Nation'].replace(nations_to_noc)

In [36]:
vt = pd.read_csv('../../scraping/worldcup19melbourne/worldcup2019melbourne_vt.csv')

In [38]:
vt['Nation'].unique()

array(['South Korea', 'Uzbekistan', 'China', 'Mexico', 'Japan',
       'Slovenia', 'Puerto Rico'], dtype=object)

In [39]:
# Define a mapping dictionary for the provided nations and their NOC codes
nations_to_noc = {
    'South Korea': 'KOR',
    'Uzbekistan': 'UZB',
    'China': 'CHN',
    'Mexico': 'MEX',
    'Japan': 'JPN',
    'Slovenia': 'SLO',
    'Puerto Rico': 'PUR',
}

# Use the replace method to replace values in the "nations" column with the provided NOC codes
vt['Nation'] = vt['Nation'].replace(nations_to_noc)

In [41]:
vt['ND'].fillna(0,inplace=True)
vt['ND2'].fillna(0,inplace=True)

In [42]:
vt

,Rank,Athlete,Nation,D,E,ND,Total,D2,E2,ND2,Total2,Average
0,1,Yeo Seo-jeong,KOR,5.8,8.666,0.0,14.466,5.4,8.666,0.0,14.066,14.266
1,2,Oksana Chusovitina,UZB,5.4,8.900,0.0,14.300,5.2,8.900,0.0,14.100,14.200
2,3,Yu Linmin,CHN,5.4,8.833,0.0,14.233,5.2,8.733,0.0,13.933,14.083
3,4,Alexa Moreno,MEX,5.8,8.633,0.0,14.433,4.8,8.900,0.0,13.700,14.066
4,5,Ayaka Sakaguchi,JPN,5.4,8.700,0.0,14.100,4.8,8.766,0.0,13.566,13.833
5,6,Tjasa Kysselef,SLO,4.8,8.833,0.0,13.633,5.0,9.033,0.0,14.033,13.833
6,7,Paula Mejias,PUR,4.8,8.766,0.0,13.566,4.8,8.700,0.0,13.500,13.533
7,8,Asuka Ogawa,JPN,5.4,7.758,-0.3,12.858,4.8,8.366,-0.1,13.066,12.962

In [43]:
# vt.to_csv('clean_worldcup2019melbourne_vt.csv', index=False)
# fx.to_csv('clean_worldcup2019melbourne_fx.csv', index=False)
# ub.to_csv('clean_worldcup2019melbourne_ub.csv', index=False)
# bb.to_csv('clean_worldcup2019melbourne_bb.csv', index=False)