In [1]:
import pandas as pd
import numpy as np

In [3]:
wc19melb = pd.read_csv('../../Cleaning/qual_events/men/wc19bmelb_hb.csv')
wc20baku = pd.read_csv('../../Cleaning/qual_events/men/wc20baku_hb.csv')
# world18 = pd.read_csv('../../Cleaning/qual_events/men/world18championship_hb.csv')
world19cup = pd.read_csv('../../Cleaning/qual_events/men/world19cup_hb.csv')
wc19bmelb = pd.read_csv('../../Cleaning/qual_events/men/wc19bmelb_hb.csv')

winter20cup = pd.read_csv('../../Cleaning/qual_events/men/winter20cup_hb.csv')

In [3]:
hb = pd.concat([wc19melb, wc20baku, world18, world19cup, wc19bmelb])

In [4]:
hb

    Rank            Athlete Nation    D      E   ND   Total  year  round
0      1   hidetaka miyachi    JPN  6.2  8.533  0.0  14.733  2019  final
1      2    epke zonderland    NED  6.5  8.233  0.0  14.733  2019  final
2      3    zhang chenglong    CHN  6.5  7.833  0.0  14.333  2019  final
3      4   mitchell morgans    AUS  6.0  8.033  0.0  14.033  2019  final
4      5         tyson bull    AUS  5.8  8.166  0.0  13.966  2019  final
..   ...                ...    ...  ...    ...  ...     ...   ...    ...
20    13     hung shih-tung   none  5.0  7.633  0.0  12.633  2019   qual
21    14  lincoln liqht man    SIN  4.5  7.900  0.0  12.400  2019   qual
22    15   mikhail koudinov    NZL  5.1  6.800  0.0  11.900  2019   qual
23    16        lim kae-son    SKR  3.1  8.333  0.0  11.433  2019   qual
24    17   david vecsernyes    HUN  4.8  6.666 -0.3  11.166  2019   qual

[341 rows x 9 columns]

In [5]:
desired_order = ['Rank', 'Athlete', 'Nation', 'D', 'E', 'ND', 'Total', 'year', 'round']

# Rearrange the columns in-place
winter20cup = winter20cup[desired_order]

In [6]:
hb = pd.concat([hb, winter20cup])

In [7]:
hb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 381 entries, 0 to 39
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     381 non-null    int64
 1   Athlete  381 non-null    object
 2   Nation   381 non-null    object
 3   D        381 non-null    float64
 4   E        381 non-null    float64
 5   ND       381 non-null    float64
 6   Total    381 non-null    float64
 7   year     381 non-null    int64
 8   round    381 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 29.8+ KB

In [8]:
# hb.to_csv('hb.csv', index=False)