In [3]:
import pandas as pd
import numpy as np

In [4]:
wc19melb = pd.read_csv('../../Cleaning/qual_events/men/wc19bmelb_fx.csv')
wc20baku = pd.read_csv('../../Cleaning/qual_events/men/wc20baku_fx.csv')
world18 = pd.read_csv('../../Cleaning/qual_events/men/world18championship_fx.csv')
winter20cup = pd.read_csv('../../Cleaning/qual_events/men/winter20cup_fx.csv')
world19cup = pd.read_csv('../../Cleaning/qual_events/men/world19cup_fx.csv')
wc19bmelb = pd.read_csv('../../Cleaning/qual_events/men/wc19bmelb_fx.csv')

In [11]:
fx = pd.concat([wc19melb, wc20baku, world19cup, wc19bmelb, winter20cup, world18 ])

In [12]:
winter20cup.head()

   Rank       Athlete Nation    D     E   ND  Total  year  round
0     1     gage dyer    USA  6.0  8.40  0.0  29.05  2020  final
1     1     gage dyer    USA  6.0  8.65  0.0  29.05  2020  final
2     2   sam mikulak    USA  5.9  8.70  0.0  28.80  2020  final
3     2   sam mikulak    USA  6.2  8.30 -0.3  28.80  2020  final
4     3  cameron bock    USA  5.5  8.85  0.0  28.50  2020  final

In [13]:
fx.columns

Index(['Rank', 'Athlete', 'Nation', 'D', 'E', 'ND', 'Total', 'year', 'round'], dtype='object')

In [14]:
desired_order = ['Rank', 'Athlete', 'Nation', 'D', 'E', 'ND', 'Total', 'year', 'round']

# Rearrange the columns in-place
winter20cup = winter20cup[desired_order]

In [15]:
fx = pd.concat([fx, winter20cup])

In [16]:
fx

    Rank              Athlete Nation    D      E   ND   Total  year  round
0      1   carlos edriel yulo    PHI  6.2  8.366  0.0  14.566  2019  final
1      2    hibiki arayashiki    JPN  5.9  8.600  0.0  14.500  2019  final
2      3     rayderley zapata    ESP  6.1  8.400  0.0  14.500  2019  final
3      3  dominick cunningham   none  6.1  8.400  0.0  14.500  2019  final
4      5          kim han-sol    SKR  6.2  8.000  0.0  14.200  2019  final
..   ...                  ...    ...  ...    ...  ...     ...   ...    ...
39    20          sean melton    USA  5.5  6.650  0.0  25.400  2020  final
40    21          robert neff    USA  6.2  7.000  0.0  24.850  2020  final
41    21          robert neff    USA  6.4  5.250  0.0  24.850  2020  final
42    22          kiwan watts    USA  5.1  6.950  0.0  24.350  2020  final
43    22          kiwan watts    USA  5.1  7.200  0.0  24.350  2020  final

[616 rows x 9 columns]

In [17]:
fx.info()

<class 'pandas.core.frame.DataFrame'>
Index: 616 entries, 0 to 43
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     616 non-null    int64
 1   Athlete  616 non-null    object
 2   Nation   614 non-null    object
 3   D        616 non-null    float64
 4   E        616 non-null    float64
 5   ND       616 non-null    float64
 6   Total    616 non-null    float64
 7   year     616 non-null    int64
 8   round    616 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 48.1+ KB

In [19]:
fx[fx.duplicated()]

    Rank              Athlete Nation    D      E   ND   Total  year  round
0      1   carlos edriel yulo    PHI  6.2  8.366  0.0  14.566  2019  final
1      2    hibiki arayashiki    JPN  5.9  8.600  0.0  14.500  2019  final
2      3     rayderley zapata    ESP  6.1  8.400  0.0  14.500  2019  final
3      3  dominick cunningham   none  6.1  8.400  0.0  14.500  2019  final
4      5          kim han-sol    SKR  6.2  8.000  0.0  14.200  2019  final
..   ...                  ...    ...  ...    ...  ...     ...   ...    ...
39    20          sean melton    USA  5.5  6.650  0.0  25.400  2020  final
40    21          robert neff    USA  6.2  7.000  0.0  24.850  2020  final
41    21          robert neff    USA  6.4  5.250  0.0  24.850  2020  final
42    22          kiwan watts    USA  5.1  6.950  0.0  24.350  2020  final
43    22          kiwan watts    USA  5.1  7.200  0.0  24.350  2020  final

[78 rows x 9 columns]

In [20]:
df = fx.drop_duplicates()

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 538 entries, 0 to 208
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     538 non-null    int64
 1   Athlete  538 non-null    object
 2   Nation   536 non-null    object
 3   D        538 non-null    float64
 4   E        538 non-null    float64
 5   ND       538 non-null    float64
 6   Total    538 non-null    float64
 7   year     538 non-null    int64
 8   round    538 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 42.0+ KB

In [23]:
df['year'].value_counts()

year
2019    247
2018    209
2020     82
Name: count, dtype: int64

In [24]:
fx=df.copy()

In [25]:
# fx.to_csv('fx.csv', index=False)