In [106]:
import pandas as pd
import numpy as np

In [107]:
wc19melb = pd.read_csv('../../Cleaning/qual_events/men/wc19bmelb_fx.csv')
wc20baku = pd.read_csv('../../Cleaning/qual_events/men/wc20baku_fx.csv')
world18 = pd.read_csv('../../Cleaning/qual_events/men/world18championship_fx.csv')
winter20cup = pd.read_csv('../../Cleaning/qual_events/men/winter20cup_fx.csv')
world19cup = pd.read_csv('../../Cleaning/qual_events/men/world19cup_fx.csv')
wc19bmelb = pd.read_csv('../../Cleaning/qual_events/men/wc19bmelb_fx.csv')
wrd15champ = pd.read_csv('../../Scraping/men/world_championship2015/wrld15champ_fx_clean.csv')

In [108]:
winter20cup.columns

Index(['Rank', 'Athlete', 'D', 'E', 'ND', 'Score', 'Total', 'round', 'year',
       'Nation'],
      dtype='object')

In [109]:
winter20cup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     44 non-null     int64
 1   Athlete  44 non-null     object
 2   D        44 non-null     float64
 3   E        44 non-null     float64
 4   ND       44 non-null     float64
 5   Score    44 non-null     float64
 6   Total    44 non-null     float64
 7   round    44 non-null     object
 8   year     44 non-null     int64
 9   Nation   44 non-null     object
dtypes: float64(5), int64(2), object(3)
memory usage: 3.6+ KB

In [110]:
wrd15champ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     205 non-null    int64
 1   Athlete  205 non-null    object
 2   Nation   205 non-null    object
 3   D        205 non-null    float64
 4   E        205 non-null    float64
 5   ND       205 non-null    float64
 6   year     205 non-null    int64
 7   round    205 non-null    object
 8   Total    205 non-null    float64
 9   medal    205 non-null    int64
dtypes: float64(4), int64(3), object(3)
memory usage: 16.1+ KB

In [111]:
fx = pd.concat([wc19melb, wc20baku, world19cup, wc19bmelb, winter20cup, world18 ])

In [112]:
fx.duplicated().sum()

34

In [113]:
fx = fx.drop_duplicates()

In [114]:
fx.columns

Index(['Rank', 'Athlete', 'Nation', 'D', 'E', 'ND', 'Total', 'year', 'round',
       'Score'],
      dtype='object')

In [115]:
fx

,Rank,Athlete,Nation,D,E,ND,Total,year,round,Score
0,1,carlos edriel yulo,PHI,6.2,8.366,0.0,14.566,2019,final,NaN
1,2,hibiki arayashiki,JPN,5.9,8.600,0.0,14.500,2019,final,NaN
2,3,rayderley zapata,ESP,6.1,8.400,0.0,14.500,2019,final,NaN
3,3,dominick cunningham,none,6.1,8.400,0.0,14.500,2019,final,NaN
4,5,kim han-sol,SKR,6.2,8.000,0.0,14.200,2019,final,NaN
...,...,...,...,...,...,...,...,...,...,...
204,196,ahmed mosa,QAT,4.3,6.200,0.0,10.500,2018,qual,NaN
205,197,timur bairamov,AZE,3.9,6.533,0.0,10.433,2018,qual,NaN
206,198,han chung hyo,none,2.7,6.566,0.0,9.266,2018,qual,NaN
207,199,wei an terry tay,SIN,4.1,5.166,-0.2,9.066,2018,qual,NaN
208,200,abdullah al-dulaimi,IRQ,3.6,4.033,-0.2,7.433,2018,qual,NaN

In [116]:
fx['Score'] = fx['Score'].fillna(fx['D'] + fx['E'] - fx['ND'])

In [117]:
fx = fx.drop(columns='Total')

In [118]:
fx.rename(columns={'Score': 'Total'}, inplace=True)

In [119]:
desired_order = ['Rank', 'Athlete', 'Nation', 'D', 'E', 'ND', 'Total', 'year', 'round']

# Rearrange the columns in-place
winter20cup = winter20cup[desired_order]

In [120]:
fx

     Rank              Athlete Nation    D      E   ND  year  round   Total
0       1   carlos edriel yulo    PHI  6.2  8.366  0.0  2019  final  14.566
1       2    hibiki arayashiki    JPN  5.9  8.600  0.0  2019  final  14.500
2       3     rayderley zapata    ESP  6.1  8.400  0.0  2019  final  14.500
3       3  dominick cunningham   none  6.1  8.400  0.0  2019  final  14.500
4       5          kim han-sol    SKR  6.2  8.000  0.0  2019  final  14.200
..    ...                  ...    ...  ...    ...  ...   ...    ...     ...
204   196           ahmed mosa    QAT  4.3  6.200  0.0  2018   qual  10.500
205   197       timur bairamov    AZE  3.9  6.533  0.0  2018   qual  10.433
206   198        han chung hyo   none  2.7  6.566  0.0  2018   qual   9.266
207   199     wei an terry tay    SIN  4.1  5.166 -0.2  2018   qual   9.466
208   200  abdullah al-dulaimi    IRQ  3.6  4.033 -0.2  2018   qual   7.833

[538 rows x 9 columns]

In [121]:
fx['Total'].max()

15.3

In [122]:
fx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 538 entries, 0 to 208
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     538 non-null    int64
 1   Athlete  538 non-null    object
 2   Nation   536 non-null    object
 3   D        538 non-null    float64
 4   E        538 non-null    float64
 5   ND       538 non-null    float64
 6   year     538 non-null    int64
 7   round    538 non-null    object
 8   Total    538 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 42.0+ KB

In [123]:
fx[fx.duplicated()]

Empty DataFrame
Columns: [Rank, Athlete, Nation, D, E, ND, year, round, Total]
Index: []

In [124]:
df = fx.drop_duplicates()

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 538 entries, 0 to 208
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     538 non-null    int64
 1   Athlete  538 non-null    object
 2   Nation   536 non-null    object
 3   D        538 non-null    float64
 4   E        538 non-null    float64
 5   ND       538 non-null    float64
 6   year     538 non-null    int64
 7   round    538 non-null    object
 8   Total    538 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 42.0+ KB

In [126]:
df['year'].value_counts()

2019    247
2018    209
2020     82
Name: year, dtype: int64

In [127]:
fx['Total'].max()

15.3

In [128]:
fx=df.copy()

In [129]:
# fx.to_csv('fx.csv', index=False)

In [130]:
fx['medal']=0

In [131]:
fx

,Rank,Athlete,Nation,D,E,ND,year,round,Total,medal
0,1,carlos edriel yulo,PHI,6.2,8.366,0.0,2019,final,14.566,0
1,2,hibiki arayashiki,JPN,5.9,8.600,0.0,2019,final,14.500,0
2,3,rayderley zapata,ESP,6.1,8.400,0.0,2019,final,14.500,0
3,3,dominick cunningham,none,6.1,8.400,0.0,2019,final,14.500,0
4,5,kim han-sol,SKR,6.2,8.000,0.0,2019,final,14.200,0
...,...,...,...,...,...,...,...,...,...,...
204,196,ahmed mosa,QAT,4.3,6.200,0.0,2018,qual,10.500,0
205,197,timur bairamov,AZE,3.9,6.533,0.0,2018,qual,10.433,0
206,198,han chung hyo,none,2.7,6.566,0.0,2018,qual,9.266,0
207,199,wei an terry tay,SIN,4.1,5.166,-0.2,2018,qual,9.466,0
208,200,abdullah al-dulaimi,IRQ,3.6,4.033,-0.2,2018,qual,7.833,0

In [132]:
wrd15champ

,Rank,Athlete,Nation,D,E,ND,year,round,Total,medal
0,1,kenzo shirai,JPN,7.6,8.500,0.0,2015,qual,16.100,0
1,2,shudi deng,CHN,6.7,8.666,0.0,2015,qual,15.366,0
2,3,miguel zapata santana rayderley,ESP,6.7,8.566,0.0,2015,qual,15.266,1
3,4,hansol kim,KOR,6.8,8.466,0.0,2015,qual,15.266,0
4,5,tomas gonzalez,CHI,6.8,8.400,0.0,2015,qual,15.200,0
...,...,...,...,...,...,...,...,...,...,...
200,201,rok klavora,SLO,6.1,6.466,0.0,2015,qual,12.560,0
201,202,rachid moussa,MAR,4.9,7.633,0.0,2015,qual,12.530,0
202,203,christos chatziefstathiou georgios,GRE,5.1,7.400,0.0,2015,qual,12.500,0
203,204,vladyslav hryko,UKR,5.5,7.000,0.0,2015,qual,12.500,0
204,205,nestor rodriguez colon,PUR,5.3,7.266,0.0,2015,qual,12.460,0

In [133]:
combined_df = pd.concat([fx, wrd15champ], axis=0)

In [134]:
fx=combined_df.copy()

In [137]:
# fx.to_csv('fx.csv', index=False)

In [136]:
fx['year'].value_counts()

2019    247
2018    209
2015    205
2020     82
Name: year, dtype: int64