In [97]:
import pandas as pd
import numpy as np

In [98]:
wc19melb = pd.read_csv('../../Cleaning/qual_events/men/wc19bmelb_fx.csv')
wc20baku = pd.read_csv('../../Cleaning/qual_events/men/wc20baku_fx.csv')
world18 = pd.read_csv('../../Cleaning/qual_events/men/world18championship_fx.csv')
winter20cup = pd.read_csv('../../Cleaning/qual_events/men/winter20cup_fx.csv')
world19cup = pd.read_csv('../../Cleaning/qual_events/men/world19cup_fx.csv')
wc19bmelb = pd.read_csv('../../Cleaning/qual_events/men/wc19bmelb_fx.csv')

In [99]:
fx = pd.concat([wc19melb, wc20baku, world19cup, wc19bmelb, winter20cup, world18 ])

In [100]:
fx.duplicated().sum()

34

In [101]:
fx = fx.drop_duplicates()

In [102]:
fx.columns

Index(['Rank', 'Athlete', 'Nation', 'D', 'E', 'ND', 'Total', 'year', 'round',
       'Score'],
      dtype='object')

In [103]:
fx

,Rank,Athlete,Nation,D,E,ND,Total,year,round,Score
0,1,carlos edriel yulo,PHI,6.2,8.366,0.0,14.566,2019,final,NaN
1,2,hibiki arayashiki,JPN,5.9,8.600,0.0,14.500,2019,final,NaN
2,3,rayderley zapata,ESP,6.1,8.400,0.0,14.500,2019,final,NaN
3,3,dominick cunningham,none,6.1,8.400,0.0,14.500,2019,final,NaN
4,5,kim han-sol,SKR,6.2,8.000,0.0,14.200,2019,final,NaN
...,...,...,...,...,...,...,...,...,...,...
204,196,ahmed mosa,QAT,4.3,6.200,0.0,10.500,2018,qual,NaN
205,197,timur bairamov,AZE,3.9,6.533,0.0,10.433,2018,qual,NaN
206,198,han chung hyo,none,2.7,6.566,0.0,9.266,2018,qual,NaN
207,199,wei an terry tay,SIN,4.1,5.166,-0.2,9.066,2018,qual,NaN
208,200,abdullah al-dulaimi,IRQ,3.6,4.033,-0.2,7.433,2018,qual,NaN

In [104]:
fx['Score'] = fx['Score'].fillna(fx['D'] + fx['E'] - fx['ND'])

In [105]:
fx = fx.drop(columns='Total')

In [106]:
fx.rename(columns={'Score': 'Total'}, inplace=True)

In [107]:
desired_order = ['Rank', 'Athlete', 'Nation', 'D', 'E', 'ND', 'Total', 'year', 'round']

# Rearrange the columns in-place
winter20cup = winter20cup[desired_order]

In [108]:
fx

     Rank              Athlete Nation    D      E   ND  year  round   Total
0       1   carlos edriel yulo    PHI  6.2  8.366  0.0  2019  final  14.566
1       2    hibiki arayashiki    JPN  5.9  8.600  0.0  2019  final  14.500
2       3     rayderley zapata    ESP  6.1  8.400  0.0  2019  final  14.500
3       3  dominick cunningham   none  6.1  8.400  0.0  2019  final  14.500
4       5          kim han-sol    SKR  6.2  8.000  0.0  2019  final  14.200
..    ...                  ...    ...  ...    ...  ...   ...    ...     ...
204   196           ahmed mosa    QAT  4.3  6.200  0.0  2018   qual  10.500
205   197       timur bairamov    AZE  3.9  6.533  0.0  2018   qual  10.433
206   198        han chung hyo   none  2.7  6.566  0.0  2018   qual   9.266
207   199     wei an terry tay    SIN  4.1  5.166 -0.2  2018   qual   9.466
208   200  abdullah al-dulaimi    IRQ  3.6  4.033 -0.2  2018   qual   7.833

[538 rows x 9 columns]

In [109]:
fx['Total'].max()

15.3

In [110]:
fx.info()

<class 'pandas.core.frame.DataFrame'>
Index: 538 entries, 0 to 208
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     538 non-null    int64
 1   Athlete  538 non-null    object
 2   Nation   536 non-null    object
 3   D        538 non-null    float64
 4   E        538 non-null    float64
 5   ND       538 non-null    float64
 6   year     538 non-null    int64
 7   round    538 non-null    object
 8   Total    538 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 42.0+ KB

In [111]:
fx[fx.duplicated()]

Empty DataFrame
Columns: [Rank, Athlete, Nation, D, E, ND, year, round, Total]
Index: []

In [112]:
df = fx.drop_duplicates()

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 538 entries, 0 to 208
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     538 non-null    int64
 1   Athlete  538 non-null    object
 2   Nation   536 non-null    object
 3   D        538 non-null    float64
 4   E        538 non-null    float64
 5   ND       538 non-null    float64
 6   year     538 non-null    int64
 7   round    538 non-null    object
 8   Total    538 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 42.0+ KB

In [114]:
df['year'].value_counts()

year
2019    247
2018    209
2020     82
Name: count, dtype: int64

In [115]:
fx['Total'].max()

15.3

In [116]:
fx=df.copy()

In [117]:
# fx.to_csv('fx.csv', index=False)