In [ ]:
# df went from 381 to 322 to 502

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('hb.csv')

In [3]:
df['year'].value_counts()

year
2019    232
2018    205
2020     65
Name: count, dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     502 non-null    int64
 1   Athlete  502 non-null    object
 2   Nation   502 non-null    object
 3   D        502 non-null    float64
 4   E        502 non-null    float64
 5   ND       502 non-null    float64
 6   year     502 non-null    int64
 7   round    502 non-null    object
 8   Total    502 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 35.4+ KB

In [5]:
df.head()

   Rank           Athlete Nation    D      E   ND  year  round   Total
0     1  hidetaka miyachi    JPN  6.2  8.533  0.0  2019  final  14.733
1     2   epke zonderland    NED  6.5  8.233  0.0  2019  final  14.733
2     3   zhang chenglong    CHN  6.5  7.833  0.0  2019  final  14.333
3     4  mitchell morgans    AUS  6.0  8.033  0.0  2019  final  14.033
4     5        tyson bull    AUS  5.8  8.166  0.0  2019  final  13.966

In [6]:
# artem dolgopyat (ISR) 
# rayderley zapata (ESP) 
# xiao ruoteng (CHN)

In [7]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'daiki hashimoto':
        return 1
    elif name_lower == 'tin srbic':
        return 1
    elif name_lower == 'nikita nagornyy':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df['medal'] = df['Athlete'].apply(assign_medal)

In [8]:
df['medal'].value_counts()

medal
0    492
1     10
Name: count, dtype: int64

In [9]:
df[df['medal'] == 1]

     Rank          Athlete Nation    D      E   ND  year  round   Total  medal
6       7        tin srbic    CRO  6.1  7.466 -0.3  2019  final  13.866      1
9       2        tin srbic    CRO  5.9  8.733  0.0  2019   qual  14.633      1
53      4        tin srbic    CRO  6.4  8.100  0.0  2018  final  14.500      1
62      5        tin srbic    CRO  6.0  8.300  0.0  2018   qual  14.300      1
73     16  nikita nagornyy    RUS  5.8  8.166  0.0  2018   qual  13.966      1
256     2        tin srbic    CRO  6.2  8.466  0.0  2019  final  14.666      1
258     4  daiki hashimoto    JPN  6.2  8.033  0.0  2019  final  14.233      1
265     3        tin srbic    CRO  6.2  8.633  0.0  2019   qual  14.833      1
270     8  daiki hashimoto    JPN  6.1  8.266  0.0  2019   qual  14.366      1
273    11  nikita nagornyy    RUS  5.9  8.400  0.0  2019   qual  14.300      1

In [10]:
df['round'] = df['round'].str.lower()

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['Name_encoded'] = le.fit_transform(df['Athlete'])

# Store the mapping between integers and original objects
label_mapping = dict(zip(le.transform(df['Athlete']), df['Athlete']))

In [12]:
df=df.drop(columns=["Athlete"])
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [13]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['nation_encoded'] = le.fit_transform(df['Nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(df['Nation']), df['Nation']))

In [14]:
df=df.drop(columns=["Nation"])
df.rename(columns={'nation_encoded': 'Nation'}, inplace=True)

In [15]:
df_encoded = pd.get_dummies(df, columns=['round'], prefix='round')

In [16]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         502 non-null    int64
 1   D            502 non-null    float64
 2   E            502 non-null    float64
 3   ND           502 non-null    float64
 4   year         502 non-null    int64
 5   Total        502 non-null    float64
 6   medal        502 non-null    int64
 7   Name         502 non-null    int64
 8   Nation       502 non-null    int64
 9   round_final  502 non-null    bool
 10  round_qual   502 non-null    bool
dtypes: bool(2), float64(4), int64(5)
memory usage: 36.4 KB

In [18]:
# df_encoded.to_csv('hb_encoded.csv', index=False)