In [73]:
# Welcome to the CBC MILP Solver 
# Version: Trunk
# Build Date: Oct 28 2021 

# Starting solution of the Linear programming relaxation problem using Primal Simplex

# The problem does not have an optimal solution.

In [ ]:
# from ortools.linear_solver import pywraplp
# The problem does not have an optimal solution.

In [95]:
import pandas as pd
import numpy as np

In [96]:
df = pd.read_csv('usa_men.csv')

In [97]:
df

,Unnamed: 0,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA
0,421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.400,83.950
1,422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.100,83.536
2,423,3.0,asher hong,14.029,12.949,14.566,16.680,14.355,10.450,83.029
3,424,4.0,yul moldauer,13.400,13.789,14.116,13.400,15.543,11.400,81.648
4,425,5.0,colt walker,12.450,12.750,13.250,14.897,15.055,13.100,81.502
5,426,6.0,taylor burkhart,13.200,13.600,12.950,14.594,14.150,12.700,81.194
6,427,7.0,ian lasic-ellis,13.650,13.500,13.750,13.550,13.300,13.300,81.050
7,428,8.0,riley loos,12.700,13.600,13.600,14.747,14.100,12.300,81.047
8,429,9.0,colin van,13.450,11.700,13.300,14.847,13.700,13.150,80.147
9,679,1.0,yul moldauer,14.400,13.957,14.114,14.250,15.121,13.500,85.342
10,680,2.0,fred richard,14.483,13.357,13.350,14.000,14.450,14.962,84.602
11,681,3.0,asher hong,12.203,12.507,14.133,14.755,14.700,13.650,81.948
12,682,4.0,ian lasic-ellis,13.600,13.400,13.950,13.700,14.500,12.755,81.905
13,683,5.0,shane wiskus,13.700,13.250,14.250,13.750,14.050,12.200,81.200
14,684,6.0,riley loos,12.900,12.300,13.953,14.252,13.350,13.450,80.205

In [98]:
df2=df.copy()

In [99]:
# Asher Hong
# Fred Richard
# Khoi Young
# Vitaliy Guimaraes
# Yul Moldauer

In [100]:
selected_athletes = ['asher hong', 'fred richard', 'khoi young', 
                     'vitaliy guimaraes', 'yul moldauer']

# Filter DataFrame based on the list of athletes
filtered_df = df[df['Athlete'].isin(selected_athletes)]

In [6]:
df = filtered_df.copy()

In [7]:
df.iloc[4:5]

,Unnamed: 0,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA
9,679,1.0,yul moldauer,14.4,13.957,14.114,14.25,15.121,13.5,85.342

In [8]:
df

,Unnamed: 0,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA
0,421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.400,83.950
1,422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.100,83.536
2,423,3.0,asher hong,14.029,12.949,14.566,16.680,14.355,10.450,83.029
3,424,4.0,yul moldauer,13.400,13.789,14.116,13.400,15.543,11.400,81.648
9,679,1.0,yul moldauer,14.400,13.957,14.114,14.250,15.121,13.500,85.342
10,680,2.0,fred richard,14.483,13.357,13.350,14.000,14.450,14.962,84.602
11,681,3.0,asher hong,12.203,12.507,14.133,14.755,14.700,13.650,81.948

In [9]:
sorted_df = df.sort_values(by='AA', ascending=False)

In [10]:
df=sorted_df.copy()

In [11]:
df = df.iloc[0:5]

In [12]:
df=df.drop(columns=['Unnamed: 0', 'Rank'])

In [13]:
df= df.drop(columns=['AA'])

In [14]:
import pandas as pd
from itertools import combinations
import pandas as pd
from pyqubo import Array, Constraint, Placeholder, solve_qubo
from itertools import combinations

In [15]:
from pymoo.operators.crossover.sbx import SBX
from pymoo.operators.sampling.rnd import FloatRandomSampling
from pymoo.util import plotting

from pymoo.core.population import Population
from pymoo.core.problem import Problem
from pymoo.operators.mutation.pm import PolynomialMutation
import pandas as pd
from pyqubo import Array, Placeholder, Constraint
from pymoo.core.problem import Problem
from pymoo.algorithms.moo.nsga2 import NSGA2
from pymoo.operators.sampling.rnd import FloatRandomSampling
from pymoo.operators.crossover.sbx import SBX
from pymoo.operators.mutation.pm import PolynomialMutation
from pymoo.operators.repair.rounding import RoundingRepair
from pymoo.optimize import minimize

In [16]:
import pandas as pd
from pyqubo import Array, Constraint, Placeholder, solve_qubo
from itertools import combinations
from ortools.sat.python import cp_model

In [17]:
import pandas as pd
import networkx as nx
from networkx.algorithms import bipartite
from scipy.optimize import linear_sum_assignment

In [18]:
df

              Athlete      FX      PH      SR      VT      PB      HB
9        yul moldauer  14.400  13.957  14.114  14.250  15.121  13.500
10       fred richard  14.483  13.357  13.350  14.000  14.450  14.962
0   vitaliy guimaraes  14.250  14.350  13.600  14.450  13.900  13.400
1          khoi young  13.550  15.342  12.550  15.244  13.750  13.100
2          asher hong  14.029  12.949  14.566  16.680  14.355  10.450

In [19]:
import pandas as pd
import networkx as nx
from networkx.algorithms import bipartite



# Create a bipartite graph
B = nx.Graph()
B.add_nodes_from(df['Athlete'], bipartite=0)
B.add_nodes_from(df.columns[1:-1], bipartite=1)

# Add weighted edges
for i, row in df.iterrows():
    for j in range(1, len(df.columns)-1):
        B.add_edge(row['Athlete'], df.columns[j], weight=row[df.columns[j]])

# Solve the weighted bipartite matching problem
matching = bipartite.maximum_matching(B)

# Extract the selected athletes and their corresponding apparatus
selected_athletes = {athlete: apparatus for athlete, apparatus in matching.items() if isinstance(apparatus, str)}

# Print the selected athletes and their corresponding apparatus
for athlete, apparatus in selected_athletes.items():
    print(f"{athlete} will compete on {apparatus}")

khoi young will compete on FX
fred richard will compete on PH
asher hong will compete on SR
vitaliy guimaraes will compete on VT
yul moldauer will compete on PB
VT will compete on vitaliy guimaraes
PH will compete on fred richard
PB will compete on yul moldauer
SR will compete on asher hong
FX will compete on khoi young

In [20]:
data = {
    'Athlete': ['khoi young', 'fred richard', 'yul moldauer', 'vitaliy guimaraes', 
                'asher hong','vitaliy guimaraes', 'asher hong', 'fred richard',
                'yul moldauer', 'khoi young'],
    'Apparatus': ['FX', 'PH', 'SR', 'VT', 'PB', 'VT', 'PB', 'PH', 'SR', 'FX' ]
}

df = pd.DataFrame(data)

In [21]:
df['Apparatus'].value_counts()

Apparatus
FX    2
PH    2
SR    2
VT    2
PB    2
Name: count, dtype: int64

In [22]:
df['Athlete'].value_counts()

Athlete
khoi young           2
fred richard         2
yul moldauer         2
vitaliy guimaraes    2
asher hong           2
Name: count, dtype: int64

In [40]:
import pandas as pd
from pulp import LpProblem, LpVariable, lpSum, LpMaximize

# Sample DataFrame
data = {
    'Athlete': ['yul moldauer', 'fred richard', 'vitaliy guimaraes', 'khoi young', 'asher hong'],
    'FX': [14.400, 14.483, 14.250, 13.550, 14.029],
    'PH': [13.957, 13.357, 14.350, 15.342, 12.949],
    'SR': [14.114, 13.350, 13.600, 12.550, 14.566],
    'VT': [14.250, 14.000, 14.450, 15.244, 16.680],
    'PB': [15.121, 14.450, 13.900, 13.750, 14.355],
    'HB': [13.500, 14.962, 13.400, 13.100, 10.450],
}

df = pd.DataFrame(data)

# Number of athletes and apparatus
num_athletes = len(df)
num_apparatus = len(df.columns) - 1  # Exclude 'Athlete' column

# Binary decision variables
athlete_vars = {athlete: LpVariable(f'athlete_{athlete}', cat='Binary') for athlete in df['Athlete']}
apparatus_vars = {apparatus: LpVariable(f'apparatus_{apparatus}', cat='Binary') for apparatus in df.columns[1:]}

# Continuous decision variables for scores
score_vars = {(athlete, apparatus): LpVariable(f'score_{athlete}_{apparatus}', cat='Binary')
              for athlete in df['Athlete'] for apparatus in df.columns[1:]}

# Create the optimization problem
prob = LpProblem("Athlete_Apparatus_Assignment", LpMaximize)

# Objective function: maximize the total AA score
prob += lpSum(df.loc[i, apparatus] * score_vars[df['Athlete'][i], apparatus]
              for i in range(num_athletes) for apparatus in df.columns[1:]), "Total_Score"

# Constraints: each athlete competes on each apparatus exactly 3 times
for i in range(num_athletes):
    for apparatus in df.columns[1:]:
        prob += lpSum(score_vars[df['Athlete'][i], app] for app in df.columns[1:]) == 3 * athlete_vars[df['Athlete'][i]]

# Constraints: each apparatus is competed on exactly 3 times
for apparatus in df.columns[1:]:
    prob += lpSum(athlete_vars[athlete] for athlete in df['Athlete']) == 4, f'Apparatus_{apparatus}_constraint'

# Solve the problem
prob.solve()

# Extract the selected athletes and their corresponding apparatus
selected_athletes = [athlete for athlete, var in athlete_vars.items() if var.value() == 1]
selected_apparatus = [apparatus for apparatus, var in apparatus_vars.items() if var.value() == 1]



    
# Print the selected athletes and their corresponding apparatus
for athlete in selected_athletes:
    athlete_apparatus = [apparatus for apparatus in df.columns[1:] if score_vars[athlete, apparatus].value() == 1]
    print(f"{athlete} will compete on {', '.join(athlete_apparatus)}")

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/2a26c0f077934e3a82cf20bd41257403-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/2a26c0f077934e3a82cf20bd41257403-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 41 COLUMNS
At line 382 RHS
At line 419 BOUNDS
At line 455 ENDATA
Problem MODEL has 36 rows, 35 columns and 240 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 178.403 - 0.00 seconds
Cgl0004I processed model has 6 rows, 35 columns (35 integer (35 of which binary)) and 40 elements
Cutoff increment increased from 1e-05 to 0.000999
Cbc0038I Initial state - 3 integers unsatisfied sum - 1
Cbc0038I Pass   1: suminf.    1.00000 (3) obj. -178.403 iterations 1
Cbc0038I Pass   2: suminf.    1.00000 (3) obj. -178.403 iterations 3
Cbc0038I Pass   3: suminf.    1.00000 (3) obj. -173.029 iterations 8
Cbc0038I Pass   4: suminf.    1.00000 (3) obj. -173.029 iterations 1
Cbc0038I Pass   5: suminf.    1.00000 (3) obj. -173.029 iterations 1
Cbc0038I Pass   6: suminf.    0.66667 (2) obj. -168.724 iterations 4
Cbc0038I Pass   7: suminf.    0.66667 (2) obj. -168.724 iterations 4
Cbc0038I Pass   8: suminf.    0.66667 (2) obj. -168.724 iterations 3
Cbc0038I Pass   9: suminf.    0.66667 (2) obj. -167.241 iterations 9
Cbc0038I Pass  10: suminf.    0.66667 (2) obj. -167.241 iterations 2
Cbc0038I Pass  11: suminf.    0.66667 (2) obj. -167.241 iterations 1
Cbc0038I Pass  12: suminf.    1.00000 (3) obj. -165.56 iterations 7
Cbc0038I Pass  13: suminf.    1.00000 (3) obj. -165.56 iterations 1
Cbc0038I Pass  14: suminf.    1.00000 (3) obj. -165.56 iterations 2
Cbc0038I Pass  15: suminf.    0.66667 (2) obj. -166.517 iterations 5
Cbc0038I Pass  16: suminf.    0.66667 (2) obj. -166.517 iterations 2
Cbc0038I Pass  17: suminf.    0.66667 (2) obj. -166.517 iterations 2
Cbc0038I Pass  18: suminf.    1.00000 (3) obj. -169.239 iterations 10
Cbc0038I Pass  19: suminf.    1.00000 (3) obj. -169.239 iterations 1
Cbc0038I Pass  20: suminf.    1.00000 (3) obj. -169.239 iterations 2
Cbc0038I Pass  21: suminf.    0.66667 (2) obj. -171.308 iterations 15
Cbc0038I Pass  22: suminf.    0.66667 (2) obj. -171.308 iterations 3
Cbc0038I Pass  23: suminf.    0.66667 (2) obj. -171.308 iterations 1
Cbc0038I Pass  24: suminf.    0.66667 (2) obj. -172.082 iterations 11
Cbc0038I Pass  25: suminf.    0.66667 (2) obj. -172.082 iterations 2
Cbc0038I Pass  26: suminf.    0.66667 (2) obj. -172.082 iterations 3
Cbc0038I Pass  27: suminf.    0.00000 (0) obj. -170.884 iterations 10
Cbc0038I Solution found of -170.884
Cbc0038I Before mini branch and bound, 2 integers at bound fixed and 0 continuous
Cbc0038I Full problem 6 rows 35 columns, reduced to 6 rows 32 columns
Cbc0038I Mini branch and bound improved solution from -170.884 to -177.603 (0.01 seconds)
Cbc0038I Round again with cutoff of -177.684
Cbc0038I Reduced cost fixing fixed 12 variables on major pass 2
Cbc0038I Pass  28: suminf.    1.00000 (3) obj. -178.403 iterations 0
Cbc0038I Pass  29: suminf.    1.00000 (3) obj. -178.403 iterations 1
Cbc0038I Pass  30: suminf.    1.80811 (6) obj. -177.684 iterations 5
Cbc0038I Pass  31: suminf.    1.00000 (3) obj. -177.953 iterations 1
Cbc0038I Pass  32: suminf.    1.00000 (3) obj. -177.953 iterations 1
Cbc0038I Pass  33: suminf.    0.91073 (5) obj. -177.684 iterations 5
Cbc0038I Pass  34: suminf.    0.66667 (2) obj. -177.753 iterations 4
Cbc0038I Pass  35: suminf.    0.66667 (2) obj. -177.753 iterations 1
Cbc0038I Pass  36: suminf.    1.21947 (5) obj. -177.684 iterations 6
Cbc0038I Pass  37: suminf.    0.97863 (4) obj. -177.684 iterations 5
Cbc0038I Pass  38: suminf.    0.84018 (5) obj. -177.684 iterations 3
Cbc0038I Pass  39: suminf.    1.11236 (5) obj. -177.684 iterations 3
Cbc0038I Pass  40: suminf.    1.11236 (5) obj. -177.684 iterations 2
Cbc0038I Pass  41: suminf.    1.00000 (3) obj. -178.203 iterations 2
Cbc0038I Pass  42: suminf.    1.00000 (3) obj. -178.203 iterations 1
Cbc0038I Pass  43: suminf.    1.00000 (3) obj. -178.403 iterations 2
Cbc0038I Pass  44: suminf.    1.00000 (3) obj. -178.403 iterations 1
Cbc0038I Pass  45: suminf.    1.00000 (3) obj. -178.403 iterations 0
Cbc0038I Pass  46: suminf.    1.00000 (3) obj. -178.403 iterations 0
Cbc0038I Pass  47: suminf.    1.32761 (4) obj. -177.684 iterations 5
Cbc0038I Pass  48: suminf.    1.32761 (4) obj. -177.684 iterations 1
Cbc0038I Pass  49: suminf.    0.66667 (2) obj. -178.253 iterations 2
Cbc0038I Pass  50: suminf.    0.66667 (2) obj. -178.253 iterations 1
Cbc0038I Pass  51: suminf.    0.66667 (2) obj. -178.253 iterations 1
Cbc0038I Pass  52: suminf.    0.66667 (2) obj. -178.253 iterations 1
Cbc0038I Pass  53: suminf.    0.72981 (5) obj. -177.684 iterations 4
Cbc0038I Pass  54: suminf.    0.66667 (2) obj. -177.703 iterations 1
Cbc0038I Pass  55: suminf.    0.66667 (2) obj. -177.703 iterations 1
Cbc0038I Pass  56: suminf.    0.81395 (5) obj. -177.684 iterations 5
Cbc0038I Pass  57: suminf.    0.78534 (5) obj. -177.684 iterations 2
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 17 integers at bound fixed and 0 continuous
Cbc0038I Mini branch and bound did not improve solution (0.01 seconds)
Cbc0038I After 0.01 seconds - Feasibility pump exiting with objective of -177.603 - took 0.00 seconds
Cbc0012I Integer solution of -177.603 found by feasibility pump after 0 iterations and 0 nodes (0.01 seconds)
Cbc0001I Search completed - best objective -177.603, took 0 iterations and 0 nodes (0.01 seconds)
Cbc0035I Maximum depth 0, 11 variables fixed on reduced cost
Cuts at root node changed objective from -178.403 to -177.603
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                177.60300000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.01
Time (Wallclock seconds):       0.01

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.01   (Wallclock seconds):       0.01

yul moldauer will compete on FX, VT, PB
fred richard will compete on FX, PB, HB
khoi young will compete on PH, VT, PB
asher hong will compete on SR, VT, PB

In [42]:
df

             Athlete      FX      PH      SR      VT      PB      HB
0       yul moldauer  14.400  13.957  14.114  14.250  15.121  13.500
1       fred richard  14.483  13.357  13.350  14.000  14.450  14.962
2  vitaliy guimaraes  14.250  14.350  13.600  14.450  13.900  13.400
3         khoi young  13.550  15.342  12.550  15.244  13.750  13.100
4         asher hong  14.029  12.949  14.566  16.680  14.355  10.450

In [101]:
df2=df2.drop(columns=['Unnamed: 0', 'Rank'])

In [104]:
df_sorted = df2.sort_values(by='AA', ascending=False)

In [105]:
df_sorted

              Athlete      FX      PH      SR      VT      PB      HB      AA
9        yul moldauer  14.400  13.957  14.114  14.250  15.121  13.500  85.342
10       fred richard  14.483  13.357  13.350  14.000  14.450  14.962  84.602
0   vitaliy guimaraes  14.250  14.350  13.600  14.450  13.900  13.400  83.950
1          khoi young  13.550  15.342  12.550  15.244  13.750  13.100  83.536
2          asher hong  14.029  12.949  14.566  16.680  14.355  10.450  83.029
11         asher hong  12.203  12.507  14.133  14.755  14.700  13.650  81.948
12    ian lasic-ellis  13.600  13.400  13.950  13.700  14.500  12.755  81.905
3        yul moldauer  13.400  13.789  14.116  13.400  15.543  11.400  81.648
4         colt walker  12.450  12.750  13.250  14.897  15.055  13.100  81.502
13       shane wiskus  13.700  13.250  14.250  13.750  14.050  12.200  81.200
5     taylor burkhart  13.200  13.600  12.950  14.594  14.150  12.700  81.194
6     ian lasic-ellis  13.650  13.500  13.750  13.550  13.300  13.300  81.050
7          riley loos  12.700  13.600  13.600  14.747  14.100  12.300  81.047
14         riley loos  12.900  12.300  13.953  14.252  13.350  13.450  80.205
8           colin van  13.450  11.700  13.300  14.847  13.700  13.150  80.147

In [106]:
df_unique = df_sorted.drop_duplicates(subset='Athlete', keep='first')

In [109]:
dfs = df_unique.copy()

In [80]:
import pandas as pd
from ortools.linear_solver import pywraplp

# Define the scores dataframe
data = {
    'Athlete': ['yul moldauer', 'fred richard', 'vitaliy guimaraes', 'khoi young', 'asher hong'],
    'FX': [14.400, 14.483, 14.250, 13.550, 14.029],
    'PH': [13.957, 13.357, 14.350, 15.342, 12.949],
    'SR': [14.114, 13.350, 13.600, 12.550, 14.566],
    'VT': [14.250, 14.000, 14.450, 15.244, 16.680],
    'PB': [15.121, 14.450, 13.900, 13.750, 14.355],
    'HB': [13.500, 14.962, 13.400, 13.100, 10.450],
}

df = pd.DataFrame(data)

# Create a linear solver
solver = pywraplp.Solver.CreateSolver('CBC')

# Define decision variables (binary variables representing athlete selection)
athletes = range(len(df))
apparatus = df.columns[1:]
x = {}
for i in athletes:
    for j in apparatus:
        x[i, j] = solver.BoolVar(f'x_{i}_{j}')

# Define the objective function
solver.Maximize(solver.Sum(df[j][i] * x[i, j] for i in athletes for j in apparatus))

# Define the constraint: Each athlete competes on exactly 3 apparatus
for i in athletes:
    solver.Add(solver.Sum(x[i, j] for j in apparatus) == 3)

# Define the constraint: Each apparatus is used exactly 3 times
for j in apparatus:
    solver.Add(solver.Sum(x[i, j] for i in athletes) == 3)

# Define the constraint: Exactly 4 athletes are selected
solver.Add(solver.Sum(x[i, j] for i in athletes for j in apparatus) == 4)

# Solve the problem
status = solver.Solve()

# Extract and display the results
if status == pywraplp.Solver.OPTIMAL:
    selected_athletes = [df['Athlete'][i] for i in athletes for j in apparatus if x[i, j].solution_value() > 0.9]
    total_score = solver.Objective().Value()
    print(f"Selected Athletes: {selected_athletes}")
    print(f"Total Score: {total_score}")
else:
    print("The problem does not have an optimal solution.")

The problem does not have an optimal solution.

In [24]:
data = {
    'Athlete': ['yul moldauer', 'fred richard', 
                'khoi young', 'asher hong'],
    'Apparatus1': ['FX', 'FX', 'PH', 'SR', ],
    'Apparatus2': ['VT', 'PB', 'VT', 'VT', ],
    'Apparatus3': ['PB', 'HB', 'PB', 'PB', ]
}
df = pd.DataFrame(data)

In [25]:
df['Apparatus1'].value_counts()

Apparatus1
FX    2
PH    1
SR    1
Name: count, dtype: int64

In [115]:
df['Apparatus2'].value_counts()

Apparatus2
VT    3
PB    1
Name: count, dtype: int64

In [116]:
df['Apparatus3'].value_counts()

Apparatus3
PB    3
HB    1
Name: count, dtype: int64

In [ ]:
# VT = 3
#pb = 4
#hb=1
#fx=2
#

In [ ]:
# use python, pandas, PyQUBO, pymoo, itertools , OR-Tools ,  etc
# write algorithm code for cominatoral maximization for followin df to find 4 athletes thwt will compete . each apparatus needs to be competeed on 3 timres and a athlete can not compete on the same apparartus more than once. the goal is to gi the largest sum from using each appartus 3 times between 4 athletes

# Athlete 	FX 	PH 	SR 	VT 	PB 	HB 	AA
# 9 	yul moldauer 	14.400 	13.957 	14.114 	14.250 	15.121 	13.500 	85.342
# 10 	fred richard 	14.483 	13.357 	13.350 	14.000 	14.450 	14.962 	84.602
# 0 	vitaliy guimaraes 	14.250 	14.350 	13.600 	14.450 	13.900 	13.400 	83.950
# 1 	khoi young 	13.550 	15.342 	12.550 	15.244 	13.750 	13.100 	83.536
# 2 	asher hong 	14.029 	12.949 	14.566 	16.680 	14.355 	10.450 	83.029

In [ ]:
import sys
sys.path

In [51]:
# /Users/ryantalbot/opt/anaconda3/envs/tf2/bin/python3 -m pip install pymoo

In [ ]:
use python, pandas, PyQUBO, pymoo, itertools , OR-Tools ,  etc
write algorithm code for cominatoral maximization for followin df to find 4 athletes thwt will compete . each apparatus needs to be competeed on 3 timres and a athlete can not compete on the same apparartus more than once. the goal is to gi the largest sum from using each appartus 3 times between 4 athletes

Athlete 	FX 	PH 	SR 	VT 	PB 	HB 	AA
9 	yul moldauer 	14.400 	13.957 	14.114 	14.250 	15.121 	13.500 	85.342
10 	fred richard 	14.483 	13.357 	13.350 	14.000 	14.450 	14.962 	84.602
0 	vitaliy guimaraes 	14.250 	14.350 	13.600 	14.450 	13.900 	13.400 	83.950
1 	khoi young 	13.550 	15.342 	12.550 	15.244 	13.750 	13.100 	83.536
2 	asher hong 	14.029 	12.949 	14.566 	16.680 	14.355 	10.450 	83.029