In [7]:
import pandas as pd 
import numpy as np

In [8]:
df=pd.read_csv('../../Data/cleandata22-23/men22_23.csv')

In [9]:
df['Gender'].value_counts()

Gender
m    8578
Name: count, dtype: int64

In [10]:
df = df[df['Country']=='USA']

In [11]:
df

,Name,Country,Date,Gender,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Total_Score
525,Javier Alfonso,USA,2022-08-20,m,2022 U.S. Championships,qual,"Tampa, FL",FX,0.0,0.0,0.00,0.0,0.00,0.00
526,Javier Alfonso,USA,2022-08-20,m,2022 U.S. Championships,qual,"Tampa, FL",HB,0.0,0.0,0.00,0.0,0.00,0.00
527,Javier Alfonso,USA,2022-08-20,m,2022 U.S. Championships,qual,"Tampa, FL",PB,0.0,0.0,0.00,0.0,0.00,0.00
528,Javier Alfonso,USA,2022-08-20,m,2022 U.S. Championships,qual,"Tampa, FL",PH,0.0,0.0,0.00,0.0,0.00,0.00
529,Javier Alfonso,USA,2022-08-20,m,2022 U.S. Championships,qual,"Tampa, FL",SR,0.0,0.0,0.00,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8553,Oliver Zavel,USA,2023-08-27,m,2023 U.S. Championships,final,"San Jose, CA",PH,0.0,4.5,7.05,0.0,11.55,11.55
8554,Oliver Zavel,USA,2023-08-27,m,2023 U.S. Championships,qual,"San Jose, CA",SR,0.0,4.6,7.85,0.0,12.45,12.45
8555,Oliver Zavel,USA,2023-08-27,m,2023 U.S. Championships,final,"San Jose, CA",SR,0.0,4.6,8.25,0.0,12.85,12.85
8556,Oliver Zavel,USA,2023-08-27,m,2023 U.S. Championships,qual,"San Jose, CA",VT,0.0,4.8,8.70,0.3,13.20,13.20
8557,Oliver Zavel,USA,2023-08-27,m,2023 U.S. Championships,final,"San Jose, CA",VT,0.0,4.8,8.40,0.0,13.20,13.20

In [12]:
df = df[df['Score'] != 0]

In [13]:
df['Name']=df['Name'].str.lower()

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_17530/2167317410.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Name']=df['Name'].str.lower()

In [14]:
df

,Name,Country,Date,Gender,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Total_Score
530,javier alfonso,USA,2022-08-20,m,2022 U.S. Championships,final,"Tampa, FL",SR,0.0,4.5,8.50,0.0,13.00,13.00
532,javier alfonso,USA,2023-08-27,m,2023 U.S. Championships,qual,"San Jose, CA",FX,0.0,5.0,9.05,0.0,14.05,14.05
533,javier alfonso,USA,2023-08-27,m,2023 U.S. Championships,final,"San Jose, CA",FX,0.0,5.0,8.95,0.0,13.95,13.95
534,javier alfonso,USA,2023-08-27,m,2023 U.S. Championships,qual,"San Jose, CA",PB,0.0,4.7,7.85,0.0,12.55,12.55
535,javier alfonso,USA,2023-08-27,m,2023 U.S. Championships,final,"San Jose, CA",PB,0.0,5.0,8.80,0.0,13.80,13.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8553,oliver zavel,USA,2023-08-27,m,2023 U.S. Championships,final,"San Jose, CA",PH,0.0,4.5,7.05,0.0,11.55,11.55
8554,oliver zavel,USA,2023-08-27,m,2023 U.S. Championships,qual,"San Jose, CA",SR,0.0,4.6,7.85,0.0,12.45,12.45
8555,oliver zavel,USA,2023-08-27,m,2023 U.S. Championships,final,"San Jose, CA",SR,0.0,4.6,8.25,0.0,12.85,12.85
8556,oliver zavel,USA,2023-08-27,m,2023 U.S. Championships,qual,"San Jose, CA",VT,0.0,4.8,8.70,0.3,13.20,13.20
8557,oliver zavel,USA,2023-08-27,m,2023 U.S. Championships,final,"San Jose, CA",VT,0.0,4.8,8.40,0.0,13.20,13.20

In [21]:
dfs=df.drop(columns=['Country', 'Date', 'Gender', 'Competition', 'Round', 
                    'Location', 'Rank', 'D_Score', 'E_Score', 'Penalty', 'Total_Score'])

In [26]:
dfs['Apparatus'] = dfs['Apparatus'].replace(['VT1', 'VT2'], 'VT')

In [27]:
dfs['Apparatus'].value_counts()

Apparatus
PH    251
PB    243
HB    238
FX    231
VT    230
SR    230
Name: count, dtype: int64

In [30]:
# dfs.to_csv('all_usa.csv', index=False)

In [15]:
sr = df[df['Apparatus'] == 'SR']
fx = df[df['Apparatus'] == 'FX']
pb = df[df['Apparatus'] == 'PB']
ph = df[df['Apparatus'] == 'PH']
vt = df[df['Apparatus'] == 'VT']
hb = df[df['Apparatus'] == 'HB']

In [16]:
srt = sr.sort_values(by='Score', ascending=False)
fxt = fx.sort_values(by='Score', ascending=False)
pbt = pb.sort_values(by='Score', ascending=False)
pht = ph.sort_values(by='Score', ascending=False)
vtt = vt.sort_values(by='Score', ascending=False)
hbt = hb.sort_values(by='Score', ascending=False)

In [17]:
srtz = srt.head(10)
fxtz = fxt.head(10)
pbtz = pbt.head(10)
phtz = pht.head(10)
vttz = vtt.head(10)
hbtz = hbt.head(10)

In [18]:
srs = srt[['Name']].drop_duplicates()
fxs = fxt[['Name']].drop_duplicates()
pbs = pbt[['Name']].drop_duplicates()
phs = pht[['Name']].drop_duplicates()
vts = vtt[['Name']].drop_duplicates()
hbs = hbt[['Name']].drop_duplicates()

In [14]:
srtz['Name'].unique()

array(['donnell whittenburg', 'asher hong', 'alex diab'], dtype=object)

In [15]:
pbtz['Name'].unique()

array(['curran phillips', 'yul moldauer', 'blake sun', 'colt walker'],
      dtype=object)

In [16]:
phtz['Name'].unique()

array(['stephen nedoroscik', 'ian skirkey', 'khoi young', 'brody malone',
       'patrick hoopes'], dtype=object)

In [17]:
fxtz['Name'].unique()

array(['donnell whittenburg', 'paul juda', 'brody malone', 'yul moldauer',
       'khoi young', 'shane wiskus', 'asher hong'], dtype=object)

In [18]:
vttz['Name'].unique()

array(['khoi young', 'asher hong', 'taylor burkhart', 'riley loos',
       'curran phillips', 'dallas hale'], dtype=object)

In [19]:
hbtz['Name'].unique()

array(['brody malone', 'frederick nathaniel richard', 'fred richard',
       'frederick richard'], dtype=object)

In [20]:
sorted_names = ['donnell whittenburg', 'asher hong', 'alex diab']

# Filter the DataFrame based on the list of names
sr_names = sr[sr['Name'].isin(sorted_names)]

In [21]:
sorted_names =['curran phillips', 'yul moldauer', 'blake sun', 'colt walker']

pb_names = pb[pb['Name'].isin(sorted_names)]

In [22]:
sorted_names = ['stephen nedoroscik', 'ian skirkey', 'khoi young', 'brody malone',
       'patrick hoopes']

ph_names = ph[ph['Name'].isin(sorted_names)]

In [23]:
sorted_names = ['donnell whittenburg', 'paul juda', 'brody malone', 'yul moldauer',
       'khoi young', 'shane wiskus', 'asher hong']

fx_names = fx[fx['Name'].isin(sorted_names)]

In [24]:
sorted_names = ['khoi young', 'asher hong', 'taylor burkhart', 'riley loos',
       'curran phillips', 'dallas hale']

vt_names = vt[vt['Name'].isin(sorted_names)]

In [25]:
sorted_names = ['brody malone', 'frederick nathaniel richard', 'fred richard',
       'frederick richard']

hb_names = hb[hb['Name'].isin(sorted_names)]

In [26]:
average_totals = sr_names.groupby('Name')['Score'].mean()

# Create a new DataFrame from the Series
average_totals_df = average_totals.reset_index(name='Average Total')

In [27]:
sr=average_totals_df.sort_values(by='Average Total', ascending=False)

In [28]:
average_totals = ph_names.groupby('Name')['Score'].mean()

# Create a new DataFrame from the Series
average_totals_df = average_totals.reset_index(name='Average Total')

In [29]:
ph=average_totals_df.sort_values(by='Average Total', ascending=False)

In [30]:
average_totals = pb_names.groupby('Name')['Score'].mean()

# Create a new DataFrame from the Series
average_totals_df = average_totals.reset_index(name='Average Total')

In [31]:
pb=average_totals_df.sort_values(by='Average Total', ascending=False)

In [32]:
average_totals = fx_names.groupby('Name')['Score'].mean()

# Create a new DataFrame from the Series
average_totals_df = average_totals.reset_index(name='Average Total')

In [33]:
fx=average_totals_df.sort_values(by='Average Total', ascending=False)

In [34]:
average_totals = vt_names.groupby('Name')['Score'].mean()

# Create a new DataFrame from the Series
average_totals_df = average_totals.reset_index(name='Average Total')

In [35]:
vt=average_totals_df.sort_values(by='Average Total', ascending=False)

In [36]:
average_totals = hb_names.groupby('Name')['Score'].mean()

# Create a new DataFrame from the Series
average_totals_df = average_totals.reset_index(name='Average Total')

In [37]:
hb=average_totals_df.sort_values(by='Average Total', ascending=False)

In [47]:
sr['Apparatus']='SR'

In [48]:
hb['Apparatus']='HB'

In [49]:
fx['Apparatus']='FX'

In [50]:
ph['Apparatus']='PH'

In [51]:
pb['Apparatus']='PB'

In [52]:
vt['Apparatus']='VT'

In [53]:
top_men = pd.concat([sr, ph, pb, hb, fx, vt], axis=0)

In [54]:
top_men

                          Name  Average Total Apparatus
2          donnell whittenburg      14.592714        SR
1                   asher hong      14.199900        SR
0                    alex diab      14.158333        SR
4           stephen nedoroscik      14.726143        PH
0                 brody malone      13.929800        PH
1                  ian skirkey      13.783200        PH
2                   khoi young      13.460000        PH
3               patrick hoopes      13.420000        PH
2              curran phillips      15.156250        PB
1                  colt walker      15.019333        PB
3                 yul moldauer      14.678571        PB
0                    blake sun      13.973714        PB
3            frederick richard      14.183333        HB
0                 brody malone      14.171286        HB
2  frederick nathaniel richard      13.911000        HB
1                 fred richard      13.212500        HB
4                    paul juda      14.650000        FX
3                   khoi young      14.000000        FX
1                 brody malone      13.974750        FX
6                 yul moldauer      13.954125        FX
5                 shane wiskus      13.891667        FX
0                   asher hong      13.825778        FX
2          donnell whittenburg      13.694333        FX
3                   khoi young      14.860000        VT
2                  dallas hale      14.662500        VT
0                   asher hong      14.595143        VT
1              curran phillips      14.520000        VT
5              taylor burkhart      14.480000        VT
4                   riley loos      14.283333        VT

In [55]:
# top_men.to_csv('top_men.csv', index=False)